/* @import "../../../receipt-style.css";
@import "../../../assets/css/receipt-style.css"; */


/* .login-body { */


/* background: url(../../../../assets/images/dashboard2.jpg) no-repeat; */


/* overflow: hidden;
    background-position: left bottom;
    display: block;
    height: 100vh;
    background-size: cover;
    position: fixed;
    align-items: center;
} */

::ng-deep body {
    /* overflow: hidden; */
    display: block;
    /* height: 100vh; */
    background-size: cover;
}

.caps-lock {
    padding-bottom: 10px;
    font-size: 10px;
    color: #356a94;
}


/* form{ position:absolute;  margin-top:1%; margin-left: 19%; } */

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.margin-1em {
    margin: 1.1em 1em;
}

.font-white {
    color: #fff;
}

h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #356a94;
    /* font-weight: 600; */
}

.login {
    padding: 1.6em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    text-align: center;
    width: 400px;
    border: #e5e5e5 1px solid;
    border-bottom: #5783a6 5px solid;
    font-size: 15px;
}

.login-footer {
    text-align: right;
    width: 400px;
}

.login-footer a {
    color: #673ab7;
    /* font-size: 0.8em; */
    text-decoration: none;
    color: #356a94;
    font-size: 14px;
    text-decoration: none;
}

img.captcha {
    margin: 0em 0 1em 0;
    max-width: 80%;
}

button {
    border-radius: 0px !important;
}

.history {
    position: absolute;
    z-index: 9999999;
    bottom: 0%;
    width: 100%;
    left: 0px;
}

.history-content {
    padding: 1em;
    font-size: 12px;
}

.btn-h {
    padding: 2%;
}

.error-notification {
    width: 100%;
    /* margin-top: -14%; */
    background-color: #f5f5f5;
    border: #e5e5e5 1px solid;
}

.error-notification h4 {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #673ab7;
}

.mat-mini-fab:not([class*=mat-elevation-z]) {
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .2), 0 1px 3px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.invalid-error,
.alert {
    margin-bottom: 0px;
    padding: .25rem 0rem;
    font-size: 13px;
    color: red;
    text-align: right;
    margin-top: -20px;
}

.invalid-error {
    text-align: center;
    padding-top: 20px;
}

.border {
    border: 1px solid gray;
}

.captcha-img {
    width: 100%;
    height: 40px;
    /* background: url(../../../../assets/images/squre-pattern.png) repeat-x left top; */
    /* background-size:100%; */
    background-size: 52%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

@supports (-ms-ime-align:auto) {
    .captcha-img {
        background-size: 68%;
    }
}

.forgot-link {
    margin-top: 1.5em
}

.login-submit-btn {
    /* margin-top: 10px; */
    margin-top: 1em;
}

 ::ng-deep .login-body .login-body.mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgb(0, 0, 0);
}

.captcha-count .mat-form-field {
    width: 90% !important;
    margin-left: auto
}

.refresh-captcha {
    cursor: pointer;
    outline: none !important;
    outline-style: none !important;
    background-color: #f5f5f5;
    border-radius: 50% !important;
    background-color: lightsteelblue;
}

.refresh-captcha:hover {
    background-color: darkblue;
}

::ng-deep .login-body .mat-form-field-appearance-legacy .mat-form-field-infix {
    height: 45px;
}

.login-body .heading1 {
    font-size: 1.6em;
    text-transform: capitalize;
    margin-top: .35em;
    margin-bottom: 0;
    /* color: #5e5e5e; */
    color: #333333;
    font-weight: 600;
}

.login-body .heading2 {
    font-size: 1.0em;
    text-transform: uppercase;
    /* color: #5e5e5e; */
    color: #333333;
    font-weight: 600;
}

body .header-wrapper {
    display: none !important;
}

body .copyright {
    display: none !important;
}