
th, td {
    width: 6.25% !important;
}
.floatRgt {
float: right;
}
::ng-deep table.mat-table .mat-form-field-appearance-legacy .mat-form-field-infix {
    width: unset !important;
}
tr.example-detail-row {
    height: 0px !important;
    min-height: 0px;
  }
.classForBackground {
    background-color:#e2f0fb;
  
  }
  
  .pointerCursor {
    cursor: pointer;
  }

  .wordBreakForPanel td, th {
    word-break: break-all;
  }