<div class="container">
  <div class="form-wrapper">
    <div class="heading-section ng-star-inserted">
      <div> Preliminary Project Proposal Report </div>
    </div>
     <!-- header report  -->
     <div class="row header-report-detail">
      <div class="col-sm-9 colPadding" *ngFor="let item of headerview">
        <div class="col-sm-4 labelCSS">{{item.label}}</div>
        <div class="col-sm-8 paddingUnset"><strong>{{item.value}}</strong></div>
      </div>
      <div class="col-sm-3 colPadding text-right">
        <div class="font-heading"><strong> Date: {{ date | date: 'dd MMM yyyy'}}</strong></div>
      </div>
    </div>
    <div class="ppr-table-deatils">       
      <!-- table  -->
      <div class="row">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="srNo">
            <th mat-header-cell *matHeaderCellDef class="sr-number"  scope="row"> sNo </th>
            <td mat-cell *matCellDef="let data; let i = index" > <strong>{{data.srNo}}</strong> </td>
          </ng-container>
          <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef  scope="row"> item </th>
            <td mat-cell *matCellDef="let data; let i = index"  class="item-header"> <strong>{{data.item}}</strong>
            </td>
          </ng-container>
          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef  scope="row"> Date created </th>
            <td mat-cell *matCellDef="let data; let i = index" > {{data.details}}
            </td>

          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>      
        </table>
      </div>
      <!-- middle table -->
      <div class="row pprfinancial">
        <table mat-table [dataSource]="dataSourceFinancial" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef  scope="row"> No. </th>
            <td mat-cell *matCellDef="let element" class="sr-number"> <strong>{{element.position}} </strong></td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"  scope="row"> Name </th>
            <td mat-cell *matCellDef="let element">
              <span class="mat-cell-head"> <strong>{{element.name}}</strong></span>
              
              <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
                <!-- Tranche Column -->
                <ng-container matColumnDef="tranche">
                  <th mat-header-cell *matHeaderCellDef  scope="row"> Tranche </th>
                  <td mat-cell *matCellDef="let element"> {{element.tranche}} </td>
                </ng-container>
                <ng-container matColumnDef="normal"  scope="row">
                  <th mat-header-cell *matHeaderCellDef [attr.colspan]="7">In INR,</th>
                </ng-container>

                <!-- assistance  Column -->
                <ng-container matColumnDef="assistance"  scope="row">
                  <th mat-header-cell *matHeaderCellDef> Total external assistance sought </th>
                  <td mat-cell *matCellDef="let element"> {{element.assistance}} </td>
                </ng-container>

                <!-- Implementing Agency   Column -->
                <ng-container matColumnDef="implementing"  scope="row">
                  <th mat-header-cell *matHeaderCellDef> Implementing Agency </th>
                  <td mat-cell *matCellDef="let element"> {{element.implementing}} </td>
                </ng-container>

                <!-- State Govt  Column -->
                <ng-container matColumnDef="stategov"  scope="row">
                  <th mat-header-cell *matHeaderCellDef> State Govt </th>
                  <td mat-cell *matCellDef="let element"> {{element.stategov}} </td>
                </ng-container>


                <!-- Central Govt Column -->
                <ng-container matColumnDef="centralgov"  scope="row">
                  <th mat-header-cell *matHeaderCellDef> Central Govt </th>
                  <td mat-cell *matCellDef="let element"> {{element.centralgov}} </td>
                </ng-container>
                <!-- Others, if any Column -->
                <ng-container matColumnDef="any">
                  <th mat-header-cell *matHeaderCellDef  scope="row"> Others, if any </th>
                  <td mat-cell *matCellDef="let element"> {{element.any}} </td>
                </ng-container>
                <!-- Total Cost Column -->
                <ng-container matColumnDef="totalcost">
                  <th mat-header-cell *matHeaderCellDef  scope="row"> Total Cost </th>
                  <td mat-cell *matCellDef="let element"> {{element.totalcost}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                <tr mat-header-row *matHeaderRowDef="['normal']"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
              </table>
              <table mat-table [dataSource]="dataSourcetranche" class="mat-elevation-z8">
                <!-- Tranche Column -->
                <ng-container matColumnDef="tranche">
                  <th mat-header-cell *matHeaderCellDef  scope="row"> Tranche </th>
                  <td mat-cell *matCellDef="let element"> {{element.tranche}} </td>
                </ng-container>

                <ng-container matColumnDef="normal-amt">
                  <th mat-header-cell *matHeaderCellDef  scope="row" [attr.colspan]="7">‘Amount in USD milion</th>
                </ng-container>
                <ng-container matColumnDef="normal-usd">
                  <th mat-header-cell *matHeaderCellDef  scope="row" [attr.colspan]="7">One USD = 0.6400</th>
                </ng-container>

                <!-- assistance  Column -->
                <ng-container matColumnDef="assistance">
                  <th mat-header-cell *matHeaderCellDef  scope="row"> Total external assistance sought </th>
                  <td mat-cell *matCellDef="let element"> {{element.assistance}} </td>
                </ng-container>

                <!-- Implementing Agency   Column -->
                <ng-container matColumnDef="implementing">
                  <th mat-header-cell *matHeaderCellDef  scope="row"> Implementing Agency </th>
                  <td mat-cell *matCellDef="let element"> {{element.implementing}} </td>
                </ng-container>

                <!-- State Govt  Column -->
                <ng-container matColumnDef="stategov">
                  <th mat-header-cell *matHeaderCellDef  scope="row"> State Govt </th>
                  <td mat-cell *matCellDef="let element"> {{element.stategov}} </td>
                </ng-container>

                <!-- Central Govt Column -->
                <ng-container matColumnDef="centralgov">
                  <th mat-header-cell *matHeaderCellDef  scope="row"> Central Govt </th>
                  <td mat-cell *matCellDef="let element"> {{element.centralgov}} </td>
                </ng-container>
                <!-- Others, if any Column -->
                <ng-container matColumnDef="any">
                  <th mat-header-cell *matHeaderCellDef  scope="row"> Others, if any </th>
                  <td mat-cell *matCellDef="let element"> {{element.any}} </td>
                </ng-container>
                <!-- Total Cost Column -->
                <ng-container matColumnDef="totalcost">
                  <th mat-header-cell *matHeaderCellDef  scope="row"> Total Cost </th>
                  <td mat-cell *matCellDef="let element"> {{element.totalcost}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['normal-usd']"></tr>
                <tr mat-header-row *matHeaderRowDef="['normal-amt']"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnstranche;"></tr>
              </table>
              <br>
            </td>
          </ng-container>
          <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr> -->
          <tr mat-row *matRowDef="let row; columns: displayedFinancial;"></tr>
        </table>
      </div>
      <!-- middle table -->
      <div class="row pprutilisation">
        <table mat-table [dataSource]="dataSourceUtilisation" class="mat-elevation-z8">

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element" class="sr-number"> <strong>{{element.position}} </strong></td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element">
              <span class="mat-cell-head"> <strong>{{element.name}}</strong></span>
              <table mat-table [dataSource]="dataSourceyear" class="mat-elevation-z8">
                <!-- year Column -->
                <ng-container matColumnDef="year">
                  <th mat-header-cell *matHeaderCellDef> Year </th>
                  <td mat-cell *matCellDef="let element"> {{element.year}} </td>
                </ng-container>

                <!-- year1 Column -->
                <ng-container matColumnDef="yearone">
                  <th mat-header-cell *matHeaderCellDef> Year-1 </th>
                  <td mat-cell *matCellDef="let element"> {{element.yearone}} </td>
                </ng-container>

                <!-- year2 Column -->
                <ng-container matColumnDef="yeartwo">
                  <th mat-header-cell *matHeaderCellDef> year-2 </th>
                  <td mat-cell *matCellDef="let element"> {{element.yeartwo}} </td>
                </ng-container>

                <!-- year3 Column -->
                <ng-container matColumnDef="yearthree">
                  <th mat-header-cell *matHeaderCellDef> year-3 </th>
                  <td mat-cell *matCellDef="let element"> {{element.yearthree}} </td>
                </ng-container>

                <!-- year4 Column -->
                <ng-container matColumnDef="yearfour">
                  <th mat-header-cell *matHeaderCellDef> year-4 </th>
                  <td mat-cell *matCellDef="let element"> {{element.yearfour}} </td>
                </ng-container>

                <!-- year5 Column -->
                <ng-container matColumnDef="yearfive">
                  <th mat-header-cell *matHeaderCellDef> year-5 </th>
                  <td mat-cell *matCellDef="let element"> {{element.yearfive}} </td>
                </ng-container>

                <!-- year6 Column -->
                <ng-container matColumnDef="yearsix">
                  <th mat-header-cell *matHeaderCellDef> year-6 </th>
                  <td mat-cell *matCellDef="let element"> {{element.yearsix}} </td>
                </ng-container>

                <!-- year7 Column -->
                <ng-container matColumnDef="yearsev">
                  <th mat-header-cell *matHeaderCellDef> year-7 </th>
                  <td mat-cell *matCellDef="let element"> {{element.yearsev}} </td>
                </ng-container>

                <!-- total Column -->
                <ng-container matColumnDef="total">
                  <th mat-header-cell *matHeaderCellDef> Total </th>
                  <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                </ng-container>
                


                <tr mat-header-row *matHeaderRowDef="displayedColumnsyear"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsyear;"></tr>
              </table>
              <br>
            </td>
          </ng-container>
          <!-- <tr mat-header-row *matHeaderRowDef="displayedColumnsUtilisation"></tr> -->
          <tr mat-row *matRowDef="let row; columns: displayedColumnsUtilisation;"></tr>
        </table>
      </div>
      <!-- middle table -->
      <div class="row pprlower">
      <table mat-table [dataSource]="dataSourcelower" class="mat-elevation-z8">
        <ng-container matColumnDef="srNo">
          <th mat-header-cell *matHeaderCellDef class="sr-number"  scope="row"> sNo </th>
          <td mat-cell *matCellDef="let data; let i = index" class="sr-number"> <strong>{{data.srNo}}</strong> </td>
        </ng-container>
        <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef  scope="row"> item </th>
          <td mat-cell *matCellDef="let data; let i = index" class="item-header"> <strong>{{data.item}}</strong>
          </td>
        </ng-container>
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef  scope="row"> Date created </th>
          <td mat-cell *matCellDef="let data; let i = index"> {{data.details}}
          </td>
        </ng-container>        
        <tr mat-row *matRowDef="let row; columns: displayedColumnslower;"></tr>
      </table>
    </div>
    </div>
  </div>
</div>
