<div class="container">
    <div class="form-wrapper w800 registrationfom">

        <div class="panel-group">
            <form [formGroup]="userRegistration">

                <div class="justify-content-center ">

                    <div class="row">

                        <div class="formtitle">
                            <h1>User/Individual Registration</h1>
                        </div>

                        <div class="col-sm-4">
                            <mat-form-field class="full-width">
                                <input matInput name="firstName" formControlName="firstName" placeholder="First Name" maxlength="20" required>
                                <div class="error-wrapper" *ngIf="userRegistration.controls.firstName.touched && userRegistration.controls.firstName.errors">
                                    <mat-error *ngIf="userRegistration.controls.firstName.errors.required">
                                        {{errorMessages.FIRST_NAME}}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>


                        <div class="col-sm-4">
                            <mat-form-field class="full-width">
                                <input matInput name="middelName" formControlName="middelName" placeholder="Middle Name" maxlength="20">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-4">
                            <mat-form-field class="full-width">
                                <input matInput name="last Name" formControlName="lastName" placeholder="Last name" maxlength="60" required>
                                <div class="error-wrapper" *ngIf="userRegistration.controls.lastName.touched && userRegistration.controls.lastName.errors">
                                    <mat-error *ngIf="userRegistration.controls.lastName.errors.required">
                                        {{errorMessages.LAST_NAME}}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6">
                            <mat-form-field>
                                <textarea rows="2" matInput placeholder="Address Line 1" formControlName="address1" required></textarea>
                                <div class="error-wrapper" *ngIf="userRegistration.controls.address1.touched && userRegistration.controls.address1.errors">
                                    <mat-error *ngIf="userRegistration.controls.address1.errors.required">
                                        {{errorMessages.ADDRESS}} </mat-error>
                                </div>
                            </mat-form-field>
                        </div>


                        <div class="col-sm-6">
                            <mat-form-field>
                                <textarea rows="2" matInput placeholder="Address Line 2" formControlName="address2"></textarea>

                            </mat-form-field>
                        </div>

                        <div class="col-sm-6">
                            <mat-form-field class="full-width">
                                <mat-select formControlName="district" placeholder="District" required>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="districtCtrl" [placeholderLabel]="'Find District...'" [noEntriesFoundLabel]="'no matching District found'">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let district of districtList | filterSelectInput:districtCtrl.value" [value]="district.value">
                                        {{district.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <div class="error-wrapper" *ngIf="userRegistration.controls.district.touched && userRegistration.controls.district.errors">
                                    <mat-error *ngIf="userRegistration.controls.district.errors.required">
                                        {{errorMessages.DISTRICT}}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6">
                            <mat-form-field>
                                <mat-select formControlName="taluka" name="taluka" placeholder="Taluka" required>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="talukaCtrl" [placeholderLabel]="'Find Taluka Name...'" [noEntriesFoundLabel]="'no matching Taluka Name found'">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let talukaName of talukaList | filterSelectInput : talukaCtrl.value : 'viewValue'" [value]="talukaName.value">
                                        {{talukaName.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <div class="error-wrapper" *ngIf="userRegistration.controls.taluka.touched && userRegistration.controls.taluka.errors">
                                    <mat-error *ngIf="userRegistration.controls.taluka.errors.required">
                                        {{errorMessages.TALUKA}}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6">
                            <mat-form-field>
                                <input matInput name="City" placeholder="City" formControlName="city" maxlength="40" required>
                                <div class="error-wrapper" *ngIf="userRegistration.controls.city.touched && userRegistration.controls.city.errors">
                                    <mat-error *ngIf="userRegistration.controls.city.errors.required">
                                        {{errorMessages.CITY}}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6">
                            <mat-form-field class="full-width">
                                <input matInput type="number" name="pincode" formControlName="pincode" placeholder="PIN Code" maxlength="6" required>
                                <div class="error-wrapper" *ngIf="userRegistration.controls.pincode.touched && userRegistration.controls.pincode.errors">
                                    <mat-error *ngIf="userRegistration.controls.pincode.errors.required">
                                        {{errorMessages.PINCODE}}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6">
                            <mat-form-field class="full-width">
                                <input matInput type="number" name="stdCode" formControlName="stdCode" placeholder="STD Code" maxlength="4">

                            </mat-form-field>
                        </div>




                        <div class="col-sm-6">
                            <mat-form-field>
                                <input matInput type="number" placeholder="Contact Number (Landline)" formControlName="officePhoneNo" maxlength="10">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field>
                                <mat-select formControlName="countryCode" name="CountryCode" matTooltip="Coutry Code" placeholder="Country code">
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="countryCtrl" [placeholderLabel]="'Find Country Code...'" [noEntriesFoundLabel]="'no matching Country Code found'">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let coutry of countrycode_list | filterSelectInput : countryCtrl.value : 'viewValue'" [value]="coutry.value">
                                        {{coutry.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-5">
                            <mat-form-field>
                                <input matInput name="Mobile" placeholder="Mobile Number" formControlName="mobileNo" maxlength="10" required>
                                <div class="error-wrapper" *ngIf="userRegistration.controls.mobileNo.touched && userRegistration.controls.mobileNo.errors">
                                    <mat-error *ngIf="userRegistration.controls.mobileNo.errors.required">
                                        {{errorMessages.MOBILE_NO}}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-5">
                            <mat-form-field>
                                <input matInput name="AlternateMobile" placeholder="Alternate Mobile Number" formControlName="altMobileNo" maxlength="10">
                            </mat-form-field>
                        </div>


                        <div class="col-sm-6">
                            <mat-form-field class="full-width">
                                <input matInput type="email" placeholder=" Email ID" name="myEmail" email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" formControlName="emailID" maxlength="20" required>
                                <div class="error-wrapper" *ngIf="userRegistration.controls.emailID.touched && userRegistration.controls.emailID.errors">
                                    <mat-error *ngIf="userRegistration.controls.emailID.errors.required">
                                        {{errorMessages.DEPARTMENT_EMAIL}}
                                    </mat-error>
                                    <mat-error *ngIf="userRegistration.controls.emailID.errors && userRegistration.controls.emailID.errors.pattern">
                                        Please enter the valid Email ID.
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>


                        <div class="col-sm-6">
                            <mat-form-field class="full-width">
                                <input matInput type="email" placeholder="Alternate Email ID" name="AlternatEmail" email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" formControlName="alternateEmailId" maxlength="20">
                                <div class="error-wrapper" *ngIf="userRegistration.controls.emailID.touched && userRegistration.controls.emailID.errors">
                                    <mat-error *ngIf="userRegistration.controls.emailID.errors.required">
                                        {{errorMessages.DEPARTMENT_EMAIL}}
                                    </mat-error>
                                    <mat-error *ngIf="userRegistration.controls.emailID.errors && userRegistration.controls.emailID.errors.pattern">
                                        Please enter the valid Email ID.
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6">
                            <mat-form-field>
                                <input matInput name="AlternateMobile" placeholder="PAN Number" formControlName="panNo" maxlength="10">
                            </mat-form-field>
                        </div>


                        <div class="col-sm-6">
                            <mat-form-field>
                                <input matInput name="AadharNumber" placeholder="Aadhar Number" formControlName="aadharNo" maxlength="12">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-12">
                            <mat-form-field class="full-width">
                                <input matInput name="userName" formControlName="userName" placeholder="User Id" maxlength="20" required>
                                <div class="error-wrapper" *ngIf="userRegistration.controls.userName.touched && userRegistration.controls.userName.errors">
                                    <mat-error *ngIf="userRegistration.controls.userName.errors.required">
                                        {{errorMessages.USERNAME}}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>
                        <!-- password section -->
                        <div class="col-sm-12">
                            <mat-form-field class="full-width">
                                <input matInput type="password" name="password" formControlName="password" placeholder="Password" maxlength="15" required>
                                <div class="error-wrapper" *ngIf="userRegistration.controls.password.touched && userRegistration.controls.password.errors">
                                    <mat-error *ngIf="userRegistration.controls.password.errors.required">
                                        {{errorMessages.PASSWORD}}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-12">
                            <mat-form-field>
                                <input matInput placeholder="Confirm password" name="confirmPassword" formControlName="confirmPassword" type="password" maxlength="15" required>
                                <div class="error-wrapper" *ngIf="userRegistration.controls.confirmPassword.touched && userRegistration.controls.confirmPassword.errors">
                                    <mat-error *ngIf="userRegistration.controls.confirmPassword.errors.required">
                                        {{errorMessages.CONFIRMPAAWORD}}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>

                        <!-- captcha section -->
                        <div class="col-sm-6">
                            <div class="capcha-img">
                                <img src="assets/img/capcha_img.jpg" alt="capcha">
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <mat-form-field>
                                <input matInput placeholder="Enter Captcha" name="entercapcha" formControlName="entrcapcha" maxlength="6" required>
                                <div class="error-wrapper" *ngIf="userRegistration.controls.entrcapcha.touched && userRegistration.controls.entrcapcha.errors">
                                    <mat-error *ngIf="userRegistration.controls.entrcapcha.errors.required">
                                        {{errorMessages.ENTER_TOTAL}}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-1">
                            <div class="refresh-img">
                                <img src="assets/img/refresh.png" alt="capcha">
                            </div>
                        </div>

                        <!-- action button-->
                        <div class="form-action-button mgb15">
                            <button mat-raised-button type="submit" class="green">
                <i class="material-icons" aria-hidden="true" title="done">
                  done
                </i> Submit</button>
                            <button type="reset" mat-raised-button color="accent">
                <i class="material-icons" aria-hidden="true" title="reset">
                  restore
                </i>
                Reset
              </button>
                        </div>
                        <!-- action button ends-->

                    </div>


                </div>
            </form>

        </div>

    </div>

</div>