<div class="container">
  <div class="form-wrapper">
    <div class="heading-section ng-star-inserted">
      <div>Manual Entry - AO</div>
      <div class="font-heading"><b>Reference No:</b> 19-20/E-PAO/AO/001</div>
      <div class="font-heading"><b>Reference Date:</b> {{ initiatiomdate | date: 'dd-MMM-yyyy HH:mm'}}</div>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">E-PAO</a></li>
        <li class="breadcrumb-item active" aria-current="page">Manual Entry - AO</li>
      </ol>
    </nav>

    <form [formGroup]="entryMasterAoLinkForm">
      <div class="panel-group">
        <div class="box box-primary">
          <div class="box-header">Manual Entry - AO</div>
          <div class="box-body">

            <div class="row">


              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="CIN/ Ref No" formControlName="cinNo">

                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="Transaction Reference No" formControlName="refNo">

                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput [max]="eDate" [matDatepicker]="eDate" formControlName="eDate" placeholder="Date"
                    readonly>
                  <mat-datepicker-toggle matSuffix [for]="eDate"></mat-datepicker-toggle>
                  <mat-datepicker #eDate></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="Debit Head" formControlName="debitHead">

                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="Head Amount" formControlName="headAmt">

                </mat-form-field>
              </div>



              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="Total Amount" formControlName="totalAmt">

                </mat-form-field>
              </div>


              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="Credit Head" formControlName="creditHead">

                </mat-form-field>
              </div>



              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="Head Amount" formControlName="headAmt">

                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="Total Amount" formControlName="totalHeadAmt">

                </mat-form-field>
              </div>


              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="Remark" formControlName="remark" maxLength="30" required>
                  <div class="error-wrapper"
                    *ngIf="entryMasterAoLinkForm.controls.remark.touched || (entryMasterAoLinkForm.controls.remark.errors && isSubmitted)">
                    <mat-error *ngIf="entryMasterAoLinkForm.controls.remark.errors?.required">
                      {{errorMessages.REMARK}}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>

            </div>

          </div>
        </div>


        <div class="form-action-button">

          <button type="submit" mat-raised-button color="primary" (click)="onSave();">
            <i class="material-icons" aria-hidden="true" title="Next">
              done
            </i> Approve
          </button>

          <button type="button" mat-raised-button color="warn">
            <i class="material-icons" aria-hidden="true" title="Return">
              restore
            </i>
            Return
          </button>

          <button type="button" mat-raised-button color="accent">
            <i class="material-icons" aria-hidden="true">
              highlight_off
            </i>
            Reject
          </button>

          <button type="button" mat-raised-button class="btnClose">
            <i class="material-icons" aria-hidden="true" title="close">
              close
            </i>
            Close
          </button>
        </div>

      </div>
    </form>

  </div>
</div>
