<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>Feedback</div>
        </div>

        <div class="box box-primary">
            <div class="box-body">
                <form [formGroup]="feedbackForm" (ngSubmit)="feedbackFormData()">
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field class="full-width">
                                <mat-select formControlName="feedbackOption" placeholder="Feedback" #singleSelect1>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="feedbackOptionTypeCtrl" [placeholderLabel]="'Find feedbackOption Types...'" [noEntriesFoundLabel]="'no matching feedbackOption Types found'">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let feedbackOption of feedbackOption_list | filterSelectInput: feedbackOptionTypeCtrl.value" [value]="feedbackOption.viewValue">
                                        {{feedbackOption.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6">
                            <mat-form-field class="full-width">
                                <textarea matInput type="text" placeholder="Feedback Description" formControlName="feedbackDescription"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- Common Button -->
                    <div class="form-action-button">
                        <button mat-raised-button type="submit" class="green" title="Submit">
                          <i class="material-icons" title="Submit" aria-hidden="true">done</i> Submit</button>
                        <button type="button" mat-raised-button class="btnClose" title="Close">
                              <i class="material-icons" title="Close" aria-hidden="true">
                                close
                              </i>
                              Close
                            </button>
                    </div>
                    <!-- Common Button ends-->
                </form>
            </div>
        </div>

    </div>
</div>