<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>Jeevan Praman Pensioner Seen Details</div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item " aria-current="page"><a href="#">PPO</a></li>
                <li class="breadcrumb-item active" aria-current="page">Jeevan Praman Pensioner Seen Details</li>
            </ol>
        </nav>

        <div class="panel-group">
            <form [formGroup]="jeevanPramanForm" (ngSubmit)="jeevanPramanFormData()">
                <!-- search fields -->
                <mat-accordion class="colapsedata">
                    <mat-expansion-panel [expanded]="false" class="nopadding">
                        <mat-expansion-panel-header>
                            <div class="heading-section">Search</div>
                        </mat-expansion-panel-header>
                        <div class="box-body">
                            <div class="row">

                                <div class="col-sm-3">
                                    <mat-form-field class="full-width">
                                        <input type="text" matInput [(formControl)]="ppoNoCtrl" value="{{ppoNoVal}}" placeholder="PPO No" [matAutocomplete]="auto" (blur)="sendPPOData($event.target.value)">
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                            <span *ngIf="optionCtrl">
                                                <mat-option *ngFor="let option of filteredppoNo | async"
                                                    [value]="option">
                                                    {{option.ppoNo}}
                                                </mat-option>
                                            </span>
                                        </mat-autocomplete>
                                        <mat-icon matSuffix class="searchIcon" (click)="openPPODialog()">search
                                        </mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <input matInput name="accountNo" placeholder="Account No" formControlName="accountNo" maxlength="15" numbersOnly>

                                    </mat-form-field>
                                </div>

                                <div class="col-sm-3">
                                    <mat-form-field class="full-width">
                                        <mat-select formControlName="headCode" placeholder="Head Code ">
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="headCodeCtrl" [placeholderLabel]="'Find Head Code ...'" [noEntriesFoundLabel]="'No matching Head Code '">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option>-- None --</mat-option>

                                            <mat-option *ngFor="let HC  of headCodeType | filterSelectInput:headCodeCtrl.value" [value]="HC.value" matTooltip="{{HC.viewValue}}">
                                                {{HC.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <input matInput name="Bank Branch" placeholder="Bank Branch Code" formControlName="bancBranch">
                                    </mat-form-field>
                                </div>

                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <mat-select name="pensionCaseType" formControlName="pensionCaseType" placeholder="Pension Case Type">
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="pensionCaseCtrl" [placeholderLabel]="'Select Pension Type ...'" [noEntriesFoundLabel]="'no matching Pension type found'">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option>-- None --</mat-option>

                                            <mat-option *ngFor="let pensioType of pensionType_list | filterSelectInput : pensionCaseCtrl.value : 'viewValue'" [value]="pensioType.value">
                                                {{pensioType.viewValue}}
                                            </mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div>

                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <input matInput formControlName="fromDate" [matDatepicker]="picker1" placeholder="From Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1 [disabled]="false"></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <input matInput formControlName="toDate" [matDatepicker]="picker2" placeholder="To Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                </div>



                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <input matInput name="ledgerNo" placeholder="Ledger No" formControlName="ledgerNo" maxlength="2" numbersOnly>

                                    </mat-form-field>
                                </div>

                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <input matInput name="pageNo" placeholder="Page No" formControlName="pageNo" maxlength="3" numbersOnly>

                                    </mat-form-field>
                                </div>

                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <input matInput name="pramanId" placeholder="Praman Id" formControlName="pramanId" numbersOnly>

                                    </mat-form-field>
                                </div>




                            </div>
                            <div class="col-sm-12">
                                <div class="form-action-button">
                                    <button type="submit" mat-raised-button color="primary" title="Save As Draft">
                                        <i class="material-icons" aria-hidden="true">search</i> Search
                                    </button>
                                    <button type="reset" mat-raised-button color="accent">
                                        <i class="material-icons" aria-hidden="true">
                                            restore
                                        </i>
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>

                <br>
                <!-- filtered data table -->
                <div class="mat-elevation-z8 mt-2">
                    <table mat-table [dataSource]="pensionSeenDataSource" class="mat-elevation-z8 " aria-describedby="jeevanPramanPensionerSeenDetails">

                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef scope="row">
                                <mat-checkbox (change)="$event ? directiveObj.masterToggle(pensionSeenDataSource) : null" [checked]="directiveObj.selection.hasValue() && directiveObj.isAllSelected(pensionSeenDataSource)" [indeterminate]="directiveObj.selection.hasValue() && !directiveObj.isAllSelected(pensionSeenDataSource)"
                                    [aria-label]="directiveObj.checkboxLabel(pensionSeenDataSource)">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row" class="centerAlign">
                                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? directiveObj.selection.toggle(row) : null" [checked]="directiveObj.selection.isSelected(row)" [aria-label]="directiveObj.checkboxLabel(pensionSeenDataSource,row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="srno">
                            <th mat-header-cell *matHeaderCellDef scope="row">
                                Sr. No. </th>
                            <td mat-cell *matCellDef="let element; let i = index" class="centerAlign">
                                {{ i + 1 }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="pramanId">
                            <th mat-header-cell *matHeaderCellDef scope="row">Praman ID</th>
                            <td mat-cell *matCellDef="let element">
                                <a href="#">{{element.pramanId}}</a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef scope="row">Date</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.date}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="ppoNo">
                            <th mat-header-cell *matHeaderCellDef scope="row">PPO Number</th>
                            <td mat-cell *matCellDef="let element">
                                <a href="#">{{element.ppoNo}}</a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef scope="row">Name</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.name}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="seenDate">
                            <th mat-header-cell *matHeaderCellDef scope="row">Seen Date</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.seenDate}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="seenFlag">
                            <th mat-header-cell *matHeaderCellDef scope="row">Seen Flag</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.seenFlag}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="reEmployeementStatus">
                            <th mat-header-cell *matHeaderCellDef scope="row">Re-Employeement Status</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.reEmployeementStatus}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="reMerit">
                            <th mat-header-cell *matHeaderCellDef scope="row">Re-Merit</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.reMerit}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="accountNo">
                            <th mat-header-cell *matHeaderCellDef scope="row">Account No</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.accountNo}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="auditorName">
                            <th mat-header-cell *matHeaderCellDef scope="row">Auditor Name</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.auditorName}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="branchCode">
                            <th mat-header-cell *matHeaderCellDef scope="row">Branch Code</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.branchCode}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="remarks">
                            <th mat-header-cell *matHeaderCellDef scope="row">Remarks</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-form-field>
                                    <textarea matInput type="text" maxlength="100"></textarea>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- Data Fetch From .TS File to table -->
                        <tr mat-header-row *matHeaderRowDef="pensionSeenColumns"></tr>
                        <!-- Header Section Of table -->
                        <tr mat-row *matRowDef="let row; columns: pensionSeenColumns;"></tr>
                    </table>
                    <!-- table ends -->
                </div>
                <!-- Common Button -->
                <div class="form-action-button">

                    <button mat-raised-button type="submit" class="green" title="Submit">
                        <i class="material-icons" title="Submit" aria-hidden="true">done</i> Submit</button>
                    <button type="reset" mat-raised-button color="accent" title="Reset">
                        <i class="material-icons" title="Reset" aria-hidden="true">
                            restore
                        </i>
                        Reset
                    </button>

                    <button type="button" mat-raised-button class="btnClose" title="Close">
                        <i class="material-icons" title="Close" aria-hidden="true">
                            close
                        </i>
                        Close
                    </button>

                </div>
                <!-- Common Button ends-->
            </form>
        </div>

    </div>
</div>