@import "../../edp_common_style.css";

.subofficelisttable {
    margin-top: 5px;
}
.officeNameData {
    display:flex; 
    align-items:center;
}
.subOffice {
    margin-left: auto;
}
.phoneNo {
    display: inline-flex;
}
.phoneNoPaddingZero {
    padding-left: 0px;
    padding-right: 0px;
}
.legend {
    margin-bottom: 25px;
}
.mat-select-disabled .mat-select-value{
    color: rgba(0,0,0,.38) !important;
    font-weight: normal !important;
    
}

@media screen and (min-width:0\0) {

    ::ng-deep .mat-dialog-container{
        width: 900px !important;
    }
}
