<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>Auditor Bank Branch Mapping</div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item " aria-current="page"><a href="javascript:void(0)">PPO</a></li>
                <li class="breadcrumb-item active" aria-current="page">Auditor Bank Branch Mapping</li>
            </ol>
        </nav>

        <mat-accordion class="search-accordian">
            <mat-expansion-panel [expanded]="false">
                <mat-expansion-panel-header>
                    <div class="heading-section">
                        Auditor Bank Mapping
                    </div>
                </mat-expansion-panel-header>
                <div class=" form-datatable-list">
                    <form class="col-sm-12" [formGroup]="auditorBankMapping">
                        <div class="box-body">
                            <div class="row">

                                <div class="col-sm-3">
                                    <mat-form-field class="full-width">
                                        <mat-select formControlName="pensionScheme" placeholder="Pension Scheme" #singleSelect1 required>
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="pensionSchemeTypeCtrl" [placeholderLabel]="'Find pensionScheme Types...'" [noEntriesFoundLabel]="'no matching pensionScheme found'">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option *ngFor="let pensionScheme of pensionScheme_list | filterSelectInput: pensionSchemeTypeCtrl.value" [value]="pensionScheme.viewValue">
                                                {{pensionScheme.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-sm-3">
                                    <mat-form-field class="full-width">
                                        <mat-select formControlName="billType" placeholder="Bill Type" #singleSelect1 required>
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="billTypeCtrl" [placeholderLabel]="'Find Bill Types...'" [noEntriesFoundLabel]="'no matching Bill Types found'">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option *ngFor="let billType of billType_list | filterSelectInput: billTypeCtrl.value" [value]="billType.viewValue">
                                                {{billType.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>
                    </form>
                    <div class="box-body">
                        <div class="custom-list">
                            <!-- Auditor List -->
                            <div class="rolemappingbox ">
                                <cdk-virtual-scroll-viewport itemSize="50" class="select-list selectedvalue">
                                    <h3 class="sticky"> Auditor List</h3>
                                    <mat-list *ngFor="let item of auditor_list">
                                        <mat-list-item (click)="clickOnAuditor(item)" [ngClass]="(item.viewValue == selectedAuditor) ? 'selectedModule' : '' ">
                                            {{item.viewValue}} </mat-list-item>
                                    </mat-list>
                                </cdk-virtual-scroll-viewport>
                            </div>
                            <!-- Bank List -->
                            <div class="rolemappingbox">

                                <cdk-virtual-scroll-viewport itemSize="50" class="select-list selectedvalue">
                                    <h3 class="sticky">

                                        <mat-checkbox [hidden]="!subList" [checked]="allComplete" [indeterminate]="someComplete()" (change)="setAll($event.checked)">
                                        </mat-checkbox>Bank List
                                    </h3>
                                    <div *ngIf="subList">

                                        <ul style="padding-left:8px ;">
                                            <li *ngFor="let subtask of bank_list" style="list-style-type: none;">
                                                <mat-checkbox [(ngModel)]="subtask.completed" (click)="subMenu(subtask)" (ngModelChange)=" updateAllComplete() ">
                                                    {{subtask.viewValue}}
                                                </mat-checkbox>
                                            </li>
                                        </ul>
                                    </div>
                                </cdk-virtual-scroll-viewport>
                            </div>

                            <!-- Branch List -->
                            <div class="rolemappingbox ">
                                <cdk-virtual-scroll-viewport itemSize="50 " class="select-list ">
                                    <h3 class="sticky ">
                                        <mat-checkbox [hidden]="!menuCheckbox " [checked]="allCompleteBranch " [indeterminate]="someCompleteBranch() " (change)="setAllBranch($event.checked) ">
                                        </mat-checkbox> Branch List
                                    </h3>
                                    <div *ngIf="menuCheckbox ">

                                        <ul style="padding-left:8px ;">
                                            <li *ngFor="let subtask of branch_list " style="list-style-type: none;">
                                                <mat-checkbox [(ngModel)]="subtask.completed " (ngModelChange)="updateAllCompleteBranch() ">
                                                    {{subtask.viewValue}}
                                                </mat-checkbox>
                                            </li>
                                        </ul>
                                    </div>
                                </cdk-virtual-scroll-viewport>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Common Button -->

                <div class="form-action-button ">
                    <button mat-raised-button type="submit " class="green "><i class="material-icons "
              aria-hidden="true ">
              done
            </i> Submit
          </button>
                    <button type="button " mat-raised-button class="btnClose ">
            <i class="material-icons " title="EDP dashboard " aria-hidden="true ">
              close
            </i>
            Close
          </button>
                </div>
                <!-- Common Button ends-->

            </mat-expansion-panel>
        </mat-accordion>

    </div>
</div>