th, td {
  padding-left: 15px;
  padding-right: 15px;
}
.customPad /deep/ {
  padding-left: 7px !important;
  padding-right: 7px !important;
}
.mat-table td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, .mat-table th.mat-header-cell:first-of-type{
  padding-left: 7px;
  padding-right: 7px;
}

.mat-dialog-title .mat-icon {
    top: 5px;
    position: relative;
    cursor: grab;
}

.cursor-pointer {
    cursor: pointer;
}

#history-section .history-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}

.history-heading-name i {
    opacity: 0.7;
}

::ng-deep .cdk-overlay-pane {
    max-width: 90% !important;
}

.historyDataSource tr td.mat-cell:last-of-type,
.historyDataSource tr th.mat-header-cell:last-of-type {
    min-width: 100px;
    max-width: 500px;
}

.historyDataSource[_ngcontent-c22] tr[_ngcontent-c22] td.mat-cell[_ngcontent-c22]:last-of-type,
.historyDataSource[_ngcontent-c22] tr[_ngcontent-c22] th.mat-header-cell[_ngcontent-c22]:last-of-type {
    min-width: 330px;
    max-width: 500px;
}

/* ------ */

/* .history-table-list .historyDataSource {
  max-height: 500px;
  overflow: auto;
} */


/* .historyDataSource tr td.mat-cell:last-of-type,
.historyDataSource tr th.mat-header-cell:last-of-type{
  min-width:100px;
  max-width:500px;
} */


/* .history-table-list{
  max-height: 500px;
  overflow: auto;
}

.history-table-list ::ng-deep .mat-table{
  border:0px
} */


/* .cdk-global-overlay-wrapper .cdk-overlay-pane{
  max-width: 1000px !important;
  width: 1000px !important;
}

*/
.historyDataSource tr td.mat-cell:last-of-type, .historyDataSource tr th.mat-header-cell:last-of-type {
    min-width: 400px;
    max-width: 600px;
}

.btn-history{
    color: #ff9900;
    vertical-align: inherit;
    cursor: pointer;
}