.custom-list .rolemappingbox{ width: auto; display: inherit;}
.custom-list .cdk-virtual-scroll-content-wrapper{ height: auto !important;}
.select-list p{ background: none;}
.ddobill h4{ 
    width: 100%; 
    height:auto !important; 
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
    padding-top: 15px;
    font-weight: bold;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.10);
    background-color:rgba(0, 0, 0, 0.02) ;
}

.fullwidthchxbox .mat-checkbox{ display: inherit;}