

::ng-deep table.mat-table .mat-form-field-appearance-legacy .mat-form-field-infix {
  width: unset !important;
}
.newWidth th {
  width: 6.25% !important;
}

.newWidth td {
  width: 6.25% !important;
}
.newWidth1 th {
  width: 6.6666% !important;
}

.newWidth1 td {
  width: 6.6666% !important;
}

.unsetHeight{
  height: unset !important;
  background: #FFF;
}

.coldisable {
  background: #f1f1f1;
  color: #9199a1;
  -webkit-box-pack: end;
  justify-content: flex-end;
  min-width: 80px;
}


input{
font-weight: bold;
}
