<div class="container">
    <div class="form-wrapper report-background ddo-table">
        <div class="table-responsive">
            <table class="table-border-event">
                <tr>
                    <td width="100%">
                        <table class="table-border-event">
                            <tr>
                                <td align="right" class="font-15" colspan="2">
                                    <button (click)="onPrint()" id="printPageButton"> Print </button><br>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" class="font-12" colspan="2">
                                    <strong>Online Bill</strong>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" class="font-12">
                                    <strong>G.R.,F.D.,No TJR -1004-1226-z-847(05) dated 2-1-2006<br>ના. વિ. યાદી ક્રમાંક
                                        : તજર -૧૦૦૪-૧૨૨૬-ઝ-૮૪૭ (૦૫) તા. ૨-૧-૨૦૦૬.</strong>
                                </td>
                                <td align="right" class="font-12">
                                    <strong>Genl. 152 e.</strong>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <strong class="font-30">FORM G.T.R. 48</strong><br><strong class="font-20"><em>(See Rule
                                227)</em></strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table-border-event">
                            <tr>
                                <td width="50%" align="right"><strong>Bill Register No.</strong> {{bill_no}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table-border-event">
                            <tr>
                                <td><strong>Bill Transit Reg. Sr. No.</strong>{{bill_transit_sr_no}}</td>
                                <td><strong>Date</strong> {{todayDate | date: 'dd/MM/yyyy'}}</td>
                                <td><strong>Token No.</strong> {{token_no}}</td>
                                <td><strong>Date</strong> {{todayDate | date: 'dd/MM/yyyy'}}</td>
                            </tr>
                            <tr>
                                <td><strong>Bill Transit Reg. Sr. No.</strong>{{bill_transit_sr_no}}</td>
                                <td><strong>Date</strong> {{todayDate | date: 'dd/MM/yyyy'}}</td>
                                <td><strong>Token No.</strong> {{token_no}}</td>
                                <td><strong>Date</strong> {{todayDate | date: 'dd/MM/yyyy'}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Bill for Service Postage Stamps of the Office of the </strong>{{office_name}}<strong>
                            for the the month of </strong>{{postage_stamp_month | date: 'MMMM, yyyy'}}
                    </td>
                </tr>
                <tr>
                    <hr>
                </tr>
                <tr>
                    <td align="center">
                        <strong class="font-20"><span class="underline">COMPUTER INPUT DATA</span></strong><br>
                        <strong class="font-20"><em>(To be filled in by Treasury)</em></strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="width: 100%;">
                            <tr>
                                <td>1.<span class="ml-20"></span><strong>District :</strong><span
                                        class="ml-40"></span>{{district}}</td>
                                <td>2.<span class="ml-20"></span><strong>Month & Year :</strong><span
                                        class="ml-40"></span>{{treasury_month_year | date: 'MM/yyyy'}}</td>
                                <td>3.<span class="ml-20"></span><strong>Voucher No.:</strong><span
                                        class="ml-40"></span>{{voucher_no}}</td>
                                <td><span class="boxed-border"><strong>Cardex No.:</strong></span><span
                                        class="boxed-border">{{cardex_no}}</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table-border-event ">
                            <tr>
                                <td width="50% " style="border-right: 1px solid #000; ">
                                    <table class="table-border-event ">
                                        <tr>
                                            <td width="35%"><strong>4.<span class="ml-20"></span>Class Of
                                                    Expenditure</strong> </td>
                                            <td>:{{class_of_expenditure}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>5.<span class="ml-20"></span>Fund</strong></td>
                                            <td>:{{fund}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>6.<span class="ml-20"></span>Drawing Officer</strong></td>
                                            <td>:{{drawing_Officer}}</td>
                                        </tr>

                                        <tr>
                                            <td><strong>7.<span class="ml-20"></span>Demand No.</strong></td>
                                            <td>:{{demand_no}}</td>
                                        </tr>

                                        <tr>
                                            <td><strong>8.<span class="ml-20"></span>Type Of Budget</strong></td>
                                            <td>:{{type_of_budget}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>9.<span class="ml-20"></span>Scheme No.</strong></td>
                                            <td>:{{scheme_no}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>10.<span class="ml-13"></span>Head Chargable</strong></td>
                                            <td>:{{head_chargeble}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong><span class="ml-35">Sector</span></strong></td>
                                            <td>:{{sector}}</td>
                                        </tr>

                                        <tr>
                                            <td><strong><span class="ml-35">Major Head</span></strong></td>
                                            <td>:{{major_head}}</td>
                                        </tr>

                                        <tr>
                                            <td><strong><span class="ml-35">Sub-Major Head</span></strong></td>
                                            <td>:{{sub_major_Head}}</td>
                                        </tr>

                                        <tr>
                                            <td><strong><span class="ml-35">Minor Head</span></strong></td>
                                            <td>:{{minor_head}}</td>
                                        </tr>

                                        <tr>
                                            <td><strong><span class="ml-35">Sub Head</span></strong></td>
                                            <td>:{{sub_head}}</td>
                                        </tr>

                                        <tr>
                                            <td><strong><span class="ml-35">Detailed Head</span></strong></td>
                                            <td>:{{detailed_head}}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="50% ">
                                    <table class="amount-right-aligned ">
                                        <tr>
                                            <td style="padding: 10px; ">
                                                <table class="table-bordered text-center" width="100% ">
                                                    <tr align="center ">
                                                        <th>Budget Code</th>
                                                        <th>Particulars</th>
                                                        <th>EDP Code</th>
                                                        <th>Amount<br> RS. &nbsp;&nbsp;Ps. </th>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 5px; ">{{budget_code}} </td>
                                                        <td style="padding: 5px; text-align: left;">{{particulars}}
                                                        </td>
                                                        <td style="padding: 5px; ">{{edp_code}} </td>
                                                        <td style="padding: 5px; text-align: right;">
                                                            {{amount | number : '.2-2'}} </td>
                                                    </tr>
                                                    <tr>
                                                        <td> </td>
                                                        <td style="padding: 5px; " colspan="3">Rs.(In words)
                                                            {{amount_in_words}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left:10px">
                                                <table>
                                                    <tr>
                                                        <td width="45%">Amount of Allotment for 2019-2020</td>
                                                        <td>Rs. __________</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Total of present abstract</td>
                                                        <td>Rs. __________</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Total of previous abstract</td>
                                                        <td>Rs. __________</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Total upto date</td>
                                                        <td>Rs. __________</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Available Balance</td>
                                                        <td>Rs. __________</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 10px; ">
                                                INVALID PRINT COPY FOR TREASURY
                                                <br>
                                                <i>Note: The Grant and Expenditure Amount will not be Reflected in print
                                                    copy as print is taken prior to approval</i>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid #000; padding: 10px 0; ">
                        <table class="table-border-event ">
                            <tr>
                                <td width="100%">
                                    <table class="table-border-event ">
                                        <tr>
                                            <td class="p-10  pl-10 list-text-justify">
                                                1. Received Payment
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-10  pl-10 list-text-justify">
                                                2. Certified that amount drawn previously under Bill No
                                                {{previous_bill_no}} Dated {{previous_bill_date | date: 'dd/mm/yyyy'}}
                                                for Rs. {{previous_bill_amount}} encashed under Voucher No
                                                {{voucher_no}} dated {{treasury_month_year | date: 'dd/MM/yyyy'}}
                                                On account of service postage stamps has been paid to the Postal
                                                Department and the service postage stamps, the full value thereof have
                                                been obtained on {{obtained_date | date: 'dd/mm/yyyy'}} and the same
                                                have been entered on the same date in the Register of Service Postage
                                                stamp on Page 100
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <br><br>
                        <strong>{{office_name}}<br>Cardex Code No. {{cardex_no}}</strong>
                    </td>
                </tr>
            </table>
            <div class="pagebreak"></div>
            <table width="100%" class="table-border-event">
                <tr>
                    <td style="border-top: 1px solid #000; border-bottom: 1px solid #000; ">
                        <table class="table-border-event ">
                            <tr>
                                <td width="50% " style="vertical-align: initial;">
                                    <table class="table-border-event">
                                        <tr>
                                            <td> Pay Rupees {{amount}} <br> Rupees (in words) {{amount_in_words}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td class="height-100"></td>
                                                    </tr>
                                                    <tr>
                                                        <td> Date : {{todayDate | date: 'dd/MM/yyyy'}}</td>
                                                        <td style="text-align: center;"><strong>Accountant</strong></td>
                                                        <td style="text-align: right;"><strong>Treasury Officer<br>Sub
                                                                Treasury Officer</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="50% " style="border-left:1px solid #000; padding: 10px; ">
                                    <table class="table-border-event ">
                                        <tr>
                                            <td>
                                                <table class="table-border-event ">
                                                    <tr>
                                                        <td>
                                                            Payable in Cash/Cheque to
                                                            <br> Shri {{cheque_to}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center ">(Designation)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Whose Specimen signature below <br> is hereby attested.
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <hr>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 100px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table class="table-border-event ">
                                                    <tr></tr>
                                                    <tr>
                                                        <td>Signature of Messenger </td>
                                                        <td align="right ">
                                                            <strong>District Treasury
                                                                Officer<br>{{office_name}}<br>Cardex Code No.
                                                                {{cardex_no}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td align="center ">
                        <strong><i> (FOR USE IN ACCOUNTANT GENERAL'S OFFICE)</i></strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table-border-event ">
                            <tr>
                                <td>
                                    Admitted Rs {{admitted_rs}}
                                    <br><br> Objected Rs {{objected_rs}}<br>
                                </td>
                            </tr>
                            <br><br>
                            <tr>
                                <td align="left"><strong>Auditor</strong></td>
                                <td align="left"></td>
                                <td align="right"><strong>Superintendent</strong></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center ">
                        <strong>Reviewing Officer</strong>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>