<div class="container">
 <div class="form-wrapper">

        <div class="heading-section ng-star-inserted">
                <div class="col-md-4 col-sm-12 title">List of Revised Expenditure Estimates</div>
            </div>

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Budget</a></li>
                        <li class="breadcrumb-item active" aria-current="page">List of Revised Expenditure Estimates</li>
                    </ol>
                </nav>

                <!-- Search Section Starts-->
                <mat-accordion class="search-accordian">
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <div class="heading-section">
                                Search
                            </div>
                        </mat-expansion-panel-header>
                        <div class=" form-datatable-list">
                            <form class="col-sm-12" [formGroup]="searchListForm" (ngSubmit)="saveEstimate()">
                                <div class="row">

                                    <!--Financial Year-->
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <mat-form-field class="full-width">
                                            <mat-select formControlName="finYear" placeholder="Financial Year" #singleSelect1>
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="finYearCtrl" [placeholderLabel]="'Find Financial Year...'" [noEntriesFoundLabel]="'no matching Financial Year found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
    
                                                <mat-option *ngFor="let FY of filteredFinYear | async" [value]="FY.value">
                                                    {{FY.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                <!--type of estimate-->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <mat-form-field class="full-width">
                                        <mat-select formControlName="type" placeholder="Type of Estimate">
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="typeCtrl" [placeholderLabel]="'Find Budget Type...'" [noEntriesFoundLabel]="'no matching Type found'">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option *ngFor="let type of type_list | filterSelectInput: typeCtrl.value" [value]="type.value">
                                                {{type.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                 <!--Department-->
                                 <div class="col-md-3 col-sm-6 col-xs-12">
                                        <mat-form-field class="full-width">
                                            <mat-select formControlName="departmentCode" placeholder="Department" #singleSelect1>
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="departmentCodeCtrl" [placeholderLabel]="'Find Department...'" [noEntriesFoundLabel]="'no matching Department found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
    
                                                <mat-option *ngFor="let department of filteredDepartmentCode | async" [value]="department.value">
                                                    {{department.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        
                                        </mat-form-field>
                                    </div>

                                 <!--Demand--> 
                                 <div class="col-md-3 col-sm-6 col-xs-12">
                                        <mat-form-field class="full-width">
                                            <mat-select formControlName="demandCode" placeholder="Demand" #singleSelect1>
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="demandCodeCtrl" [placeholderLabel]="'Find Demand Code...'" [noEntriesFoundLabel]="'no matching Demand Code found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option matTooltip="{{demand.viewValue}}" *ngFor="let demand of filteredDemandCode | async" [value]="demand.value">
                                                    {{demand.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        
                                        </mat-form-field>
                                    </div>

                                    <!--Major Head-->  
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <mat-form-field class="full-width">
                                            <mat-select formControlName="majorHeadCode" placeholder="Major Head" #singleSelect1>
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="majorHeadCodeCtrl" [placeholderLabel]="'Find Major Head...'" [noEntriesFoundLabel]="'no matching Major Head found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option matTooltip="{{majorhead.viewValue}}"
                                                    *ngFor="let majorhead of filteredMajorHeadCode | async"
                                                    [value]="majorhead.value">
                                                    {{majorhead.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                           
                                        </mat-form-field>
                                    </div>

                                    <!--sub Major Head-->  
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <mat-form-field class="full-width">
                                            <mat-select formControlName="subMajorHeadCode" placeholder="Sub Major Head" #singleSelect1>
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="subMajorHeadCodeCtrl" [placeholderLabel]="'Find Sub Major Head...'" [noEntriesFoundLabel]="'no matching Sub Major Head found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option matTooltip="{{submajorhead.viewValue}}"
                                                    *ngFor="let submajorhead of filteredSubMajorHeadCode | async"
                                                    [value]="submajorhead.value">
                                                    {{submajorhead.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                          
                                        </mat-form-field>
                                    </div>

                                    <!--Minor Head-->  
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <mat-form-field class="full-width">
                                            <mat-select formControlName="minorHeadCode" placeholder="Minor Head" #singleSelect1>
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="minorHeadCodeCtrl" [placeholderLabel]="'Find Minor Head...'" [noEntriesFoundLabel]="'no matching Minor Head found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option matTooltip="{{minorhead.viewValue}}"
                                                    *ngFor="let minorhead of filteredMinorHeadCode | async"
                                                    [value]="minorhead.value">
                                                    {{minorhead.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                     </mat-form-field>
                                    </div>

                                 <!-- Detailed Head   -->
                                 <div class="col-md-3 col-sm-6 col-xs-12">
                                        <mat-form-field class="full-width">
                                            <mat-select formControlName="detailHeadCode" placeholder="Detailed Head" #singleSelect1>
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="detailHeadCodeCtrl" [placeholderLabel]="'Find Detailed Head...'" [noEntriesFoundLabel]="'no matching Detailed Head found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option *ngFor="let detailhead of filteredDetailHeadCode | async" [value]="detailhead.value">
                                                    {{detailhead.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
    
                             <!--Revenue/Capital-->
                                 <div class="col-md-3 col-sm-6 col-xs-12">
                                    <mat-form-field class="full-width">

                                        <mat-select formControlName="RevenueCapital" placeholder="Revenue/Capital" #singleSelect1>
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="revenueCapitalCtrl" [placeholderLabel]="'Find Revenue/Capital...'" [noEntriesFoundLabel]="'no matching Revenue/Capital'">
                                                </ngx-mat-select-search>
                                            </mat-option>

                                            <mat-option *ngFor="let revenue of filteredRevenueCapital | async" [value]="revenue.value">
                                                {{revenue.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                
                                <div class="col-sm-3">
                                    <mat-form-field class="full-width">
                                        <mat-select formControlName="status" placeholder="Status">
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="statusCtrl" [placeholderLabel]="'Find Status...'" [noEntriesFoundLabel]="'no matching Status found'">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option *ngFor="let status of status_list | filterSelectInput: statusCtrl.value" [value]="status.value">
                                                {{status.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                 <!-- Charged/Voted  -->
                 
                                 <div class="col-md-3 col-sm-6 col-xs-12">
                                    <mat-form-field class="full-width">

                                        <mat-select formControlName="chargedVoted" placeholder="Charged/Voted" #singleSelect1>
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="chargedVotedCtrl" [placeholderLabel]="'Find Charged/Voted...'" [noEntriesFoundLabel]="'no matching Charged/Voted'">
                                                </ngx-mat-select-search>
                                            </mat-option>

                                            <mat-option *ngFor="let Charged of filteredchargedVoted| async" [value]="Charged.value">
                                                {{Charged.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                </div>
                            </form>
                        </div>

                        <!-- Action Buttons -->
                        <div class="row displayBlock form-action-button">
                                <div class="centerAlign">
                                    <button type="submit" mat-raised-button color="primary"> 
                                        <i class="material-icons" aria-hidden="true">search</i>
                                        Search
                                    </button>

                                    <button type="reset" mat-raised-button color="accent" (click)="clearForm();">
                                        <i class="material-icons" aria-hidden="true">  restore </i>
                                        Reset
                                    </button>
                                </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <!-- Search Section Ends-->

                <div class="mat-elevation-z8 mt-2">
                        <!-- Table Section Starts -->
                        <table mat-table aria-describedby="revisedListingTable" [dataSource]="dataSource" width="100%" matSort>

                            <!-- Sr. No. -->
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Sr. No.</th>
                                <td mat-cell *matCellDef="let element;let i = index;" class="centerAlign"> {{element.position}} </td>
                            </ng-container>

                            <!-- Financial Year -->
                            <ng-container matColumnDef="finYear">
                                <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Financial Year</th>
                                <td mat-cell *matCellDef="let element;let i = index;"> {{element.finYear}} </td>
                            </ng-container>

                            <!-- Type of Estimate -->
                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Type of Estimate</th>
                                <td mat-cell *matCellDef="let element;let i = index;"> {{element.type}} </td>
                            </ng-container>

                            <!-- Budget Head -->
                            <ng-container matColumnDef="bHead">
                                <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Budget Head</th>
                                <td mat-cell *matCellDef="let element;let i = index;">2019-2020:<br>{{element.bHead}} </td>
                            </ng-container>

                            <!-- Item / Work Name -->
                            <ng-container matColumnDef="iName">
                                <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Item / Work Name</th>
                                <td mat-cell *matCellDef="let element;let i = index;"> {{element.iName}} </td>
                            </ng-container>

                            <!-- Reference Number -->
                            <ng-container matColumnDef="rNumber">
                                <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Reference Number</th>
                                <td mat-cell *matCellDef="let element;let i = index;"> {{element.rNumber}} </td>
                            </ng-container>

                            <!-- Workflow Status -->
                            <ng-container matColumnDef="wStatus">
                                <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Workflow Status</th>
                                <td mat-cell *matCellDef="let element;let i = index;"> {{element.wStatus}} </td>
                            </ng-container>

                            <!-- Estimation From  -->
                            <ng-container matColumnDef="receivedFrom">
                                <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Estimation From </th>
                                <td mat-cell *matCellDef="let element;let i = index;"> {{element.receivedFrom}} </td>
                            </ng-container>            

                            <!-- Demand  -->
                            <ng-container matColumnDef="demand">
                                <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Demand </th>
                                <td mat-cell *matCellDef="let element;let i = index;"> {{element.demand}} </td>
                            </ng-container>            

                            <!-- Major Head  -->
                            <ng-container matColumnDef="majorHead">
                                <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Major Head </th>
                                <td mat-cell *matCellDef="let element;let i = index;"> {{element.majorHead}} </td>
                            </ng-container>            

                            <!-- Sub Major Head  -->
                            <ng-container matColumnDef="subMajorHead">
                                <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Sub Major Head </th>
                                <td mat-cell *matCellDef="let element;let i = index;"> {{element.subMajorHead}} </td>
                            </ng-container>            

                            <!-- Minor Head  -->
                            <ng-container matColumnDef="minorHead">
                                <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Minor Head </th>
                                <td mat-cell *matCellDef="let element;let i = index;"> {{element.minorHead}} </td>
                            </ng-container>            

                            <!-- Sub Head  -->
                            <ng-container matColumnDef="subHead">
                                <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Sub Head </th>
                                <td mat-cell *matCellDef="let element;let i = index;"> {{element.subHead}} </td>
                            </ng-container>            

                            <!-- Detailed Head  -->
                            <ng-container matColumnDef="detailHead">
                                <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Detailed Head </th>
                                <td mat-cell *matCellDef="let element;let i = index;"> {{element.detailHead}} </td>
                            </ng-container>
            

                            <!-- Reference No.  -->
                            <ng-container matColumnDef="refNo">
                                <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Reference No. </th>
                                <td mat-cell *matCellDef="let element;let i = index;"> {{element.refNo}} </td>
                            </ng-container>

                            <!-- Lying with -->
                            <ng-container matColumnDef="lyingWith">
                                <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Lying with</th>
                                <td mat-cell *matCellDef="let element;let i = index;"> {{element.lyingWith}} </td>
                            </ng-container>

                            <!-- Status  -->
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Status </th>
                                <td mat-cell *matCellDef="let element;let i = index;"> {{element.status}} </td>
                            </ng-container>

                            <!-- Action  -->
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef scope="row" style="width: 10%;"> Action </th>
                                <td mat-cell *matCellDef="let element;let i = index;" class="action-btn-i centerAlign">
                                    <a [routerLink]="'../budget'"><i class="material-icons plus edit-icon"
                                          title="Edit"> edit </i></a>
                                    <a [routerLink]="'../revised-expenditure-view'"><i class="material-icons plus view-icon"
                                          title="View">remove_red_eye</i></a>
                                    <a [routerLink]="'../revised-expenditure-estimate'"><i class="material-icons plus view-icon"
                                        title="Initiate RE">open_in_new</i></a>            
                                </td>
                            </ng-container>
                            <!-- Header Section Of table -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <!-- Data Fetch From .TS File to table -->
                            <tr mat-row *matRowDef="let row; let i = index;columns: displayedColumns;" >
                            </tr>
                        </table>
                        <!-- Table Section Ends -->                
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>


</div>
</div>
