
td.mat-cell:first-of-type {
  padding-left: 24px;
  border-left: 5px solid transparent;
}

.incomplete td.mat-cell:first-of-type {
  border-left-color: #F08080;
}

.completed td.mat-cell:first-of-type {
  border-left-color: #8FBC8F;
}

