<div class="container">
  <div class="form-wrapper">

    <!-- heading section -->
    <div class="heading-section ng-star-inserted">
      Audit Para Register Listing
    </div>

    <!-- breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Local Fund</a></li>
        <li class="breadcrumb-item active" aria-current="page">Audit Para Register Listing </li>
      </ol>
    </nav>

    <!-- Search Criteria -->
    <mat-accordion class="search-accordian">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <div class="heading-section">
            Search Criteria
          </div>
        </mat-expansion-panel-header>

        <div class=" form-datatable-list">
          <form class="col-sm-12" [formGroup]="searchForm" (ngSubmit)="searchFormData()">
            <div class="row">

              <!-- district -->
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="districtName" placeholder="District">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="districtNameCtrl"
                        [placeholderLabel]="'Find District Name...'"
                        [noEntriesFoundLabel]="'No matching District Name found'" alphabetsSpaceOnly>
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let item of districtNameList |
                        filterSelectInput:districtNameCtrl.value" [value]="item.value" matTooltip="{{item.viewValue}}">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- audit year -->
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="auditYear" placeholder="Audit Year" numbersAlphabetsOnly>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="auditYearCtrl" [placeholderLabel]="'Find Audit Year...'"
                        [noEntriesFoundLabel]="'No matching Audit Year found'" numberHypenOnly>
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let item of auditYearList |
                        filterSelectInput:auditYearCtrl.value" [value]="item.value" matTooltip="{{item.viewValue}}">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- institute type -->
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="instituteType" placeholder="Institute Type">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="instituteTypeCtrl"
                        [placeholderLabel]="'Find Institute Type...'"
                        [noEntriesFoundLabel]="'No matching Institute Type found'" alphabetsSpaceOnly>
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let item of instituteTypeList |
                      filterSelectInput:instituteTypeCtrl.value" [value]="item.value" matTooltip="{{item.viewValue}}">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- institute name -->
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="instituteName" placeholder="Institute Name">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="instituteNameCtrl"
                        [placeholderLabel]="'Find Institute Name...'"
                        [noEntriesFoundLabel]="'No matching Institute Name found'" alphabetsSpaceOnly>
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let item of instituteNameList |
                      filterSelectInput:instituteNameCtrl.value" [value]="item.value" matTooltip="{{item.viewValue}}">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- audit report issue date -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="auditReportIssueDate" [matDatepicker]="auditReportIssueDate"
                    placeholder="Audit Report Issue Date">
                  <mat-datepicker-toggle matSuffix [for]="auditReportIssueDate">
                  </mat-datepicker-toggle>
                  <mat-datepicker #auditReportIssueDate></mat-datepicker>
                </mat-form-field>
              </div>

            </div>
          </form>
        </div>

        <div class="form-action-button">

          <button type="submit" mat-raised-button color="primary" (click)="onSearch();">
            <i class="material-icons" aria-hidden="true" title="search">search</i>
            Search
          </button>

          <button type="reset" mat-raised-button color="accent" (click)="clearForm();">
            <i class="material-icons" aria-hidden="true" title="reset">
              restore
            </i>
            Reset
          </button>

        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="box box-primary  mt-2">
      <!-- institute para list  -->
      <div class="box-header">Institute Para List</div>
      <div class="box-body">

        <!-- listing -->
        <div class="mat-elevation-z8 table-responsive mt-2">
          <table mat-table [dataSource]="dataSource" width="100%" matSort aria-describedby="auditRegisterListing">

            <!-- audit year -->
            <ng-container matColumnDef="auditYear">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Audit Year</th>
              <td mat-cell *matCellDef="let element;let i= index;">
                {{element.auditYear}}
              </td>
            </ng-container>

            <!-- institute name -->
            <ng-container matColumnDef="instituteName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Institute Name</th>
              <td mat-cell *matCellDef="let element;let i= index;">
                {{element.instituteName}}
              </td>
            </ng-container>

            <!-- institiute type -->
            <ng-container matColumnDef="instituteType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Institute Type</th>
              <td mat-cell *matCellDef="let element;let i= index;">
                {{element.instituteType}}
              </td>
            </ng-container>

            <!-- district -->
            <ng-container matColumnDef="district">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">District</th>
              <td mat-cell *matCellDef="let element;let i= index;">
                {{element.district}}
              </td>
            </ng-container>

            <!-- taluka -->
            <ng-container matColumnDef="taluka">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Taluka</th>
              <td mat-cell *matCellDef="let element;let i= index;">
                {{element.taluka}}
              </td>
            </ng-container>

            <!-- audit report issue date -->
            <ng-container matColumnDef="auditReportIssueDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Audit Report Issue Date</th>
              <td mat-cell *matCellDef="let element;let i= index;">
                {{element.auditReportIssueDate  | date: 'dd-MMM-yyyy'}}
              </td>
            </ng-container>

            <!-- Header Section Of table -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- Data Fetch From .TS File to table -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;let i= index;"></tr>
          </table>
        </div>

        <!-- dataSourceInstitueParaList -->
        <div class="mat-elevation-z8  mt-2 overflow-x-scroll">
          <table mat-table [dataSource]="dataSourceInstitueParaList" width="100%" matSort
            aria-describedby="institueParaList">

            <!-- serial no -->
            <ng-container matColumnDef="serialNo">
              <th mat-header-cell *matHeaderCellDef scope="row">
                Sr.No.
              </th>
              <td mat-cell *matCellDef="let row;let i =index" class="centerAlign">
                {{i+1}}
              </td>
            </ng-container>

            <!-- para no -->
            <ng-container matColumnDef="paraNo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Para No.</th>
              <td mat-cell *matCellDef="let element;let i= index;">
                {{element.paraNo}}
              </td>
            </ng-container>

            <!-- audit para subject -->
            <ng-container matColumnDef="auditParaSubject">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Audit Para Subject</th>
              <td mat-cell *matCellDef="let element;let i= index;">
                {{element.auditParaSubject}}
              </td>
            </ng-container>

            <!-- para description -->
            <ng-container matColumnDef="paraDescription">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Para Description</th>
              <td mat-cell *matCellDef="let element;let i= index;">
                {{element.paraDescription}}
              </td>
            </ng-container>

            <!-- adminstratve department -->
            <ng-container matColumnDef="administrativeDepartment">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Administrative Department</th>
              <td mat-cell *matCellDef="let element;let i= index;">
                {{element.administrativeDepartment}}
              </td>
            </ng-container>

            <!-- major head -->
            <ng-container matColumnDef="majorHead">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"> Major Head</th>
              <td mat-cell *matCellDef="let element;let i= index;">
                {{element.majorHead}}
              </td>
            </ng-container>

            <!-- objected amount -->
            <ng-container matColumnDef="objectAmount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Objected Amount</th>
              <td mat-cell *matCellDef="let element;let i= index;" class="rightAlign">
                {{element.objectAmount}}
              </td>
            </ng-container>

            <!-- recoverable amount -->
            <ng-container matColumnDef="recoverableAmount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Recoverable Amount</th>
              <td mat-cell *matCellDef="let element;let i= index;" class="rightAlign">
                <mat-form-field class="example-full-width" class="rightAlign">
                  <input matInput (keypress)="onlyNumber($event)" value="{{element.recoverableAmount}}"
                    [(ngModel)]="element.recoverableAmount">
                </mat-form-field>
              </td>
            </ng-container>

            <!-- received amount -->
            <ng-container matColumnDef="receivedAmount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Received Amount</th>
              <td mat-cell *matCellDef="let element;let i= index;" class="rightAlign">
                <mat-form-field class="example-full-width" class="rightAlign">
                  <input matInput (keypress)="onlyNumber($event)" value="{{element.receivedAmount}}"
                    [(ngModel)]="element.receivedAmount">
                </mat-form-field>
              </td>
            </ng-container>

            <!-- pending amount -->
            <ng-container matColumnDef="pendingAmount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Pending Amount</th>
              <td mat-cell *matCellDef="let element;let i= index;" class="rightAlign">
                <mat-form-field class="example-full-width" class="rightAlign">
                  <input matInput (keypress)="onlyNumber($event)" value="{{element.pendingAmount}}"
                    [(ngModel)]="element.pendingAmount">
                </mat-form-field>
              </td>
            </ng-container>

            <!-- clearance date -->
            <ng-container matColumnDef="clearanceDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Clearance Date</th>
              <td mat-cell *matCellDef="let element;let i= index;">
                <mat-form-field>
                  <input matInput [matDatepicker]="clearanceDate"
                    value=" {{element.clearanceDate | date: 'dd-MM-yyyy'}}" [(ngModel)]="element.clearanceDate">
                  <mat-datepicker-toggle matSuffix [for]="clearanceDate">
                  </mat-datepicker-toggle>
                  <mat-datepicker #clearanceDate></mat-datepicker>
                </mat-form-field>
              </td>
            </ng-container>

            <!-- clearance details -->
            <ng-container matColumnDef="clearanceDetails">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Clearance Detail</th>
              <td mat-cell *matCellDef="let element;let i= index;">
                <mat-form-field class="example-full-width">
                  <input matInput (keypress)="onlyNumber($event)" value=" {{element.clearanceDetails}}"
                    [(ngModel)]="element.clearanceDetails">
                </mat-form-field>
              </td>
            </ng-container>

            <!-- cleared through -->
            <ng-container matColumnDef="clearedThrough">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Clear Through</th>
              <td mat-cell *matCellDef="let element;let i= index;">
                <mat-form-field class="full-width">
                  <mat-select>
                    <mat-option *ngFor="let item of clearedThroughList" [value]="item.value"
                      matTooltip="{{item.viewValue}}">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </ng-container>

            <!-- remarks -->
            <ng-container matColumnDef="remarks">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Remarks</th>
              <td mat-cell *matCellDef="let element;let i= index;">
                <mat-form-field class="example-full-width">
                  <input matInput numbersAlphabetsOnly value="{{element.remarks}}" [(ngModel)]="element.remarks">
                </mat-form-field>
              </td>
            </ng-container>

            <!-- status -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Status</th>
              <td mat-cell *matCellDef="let element;let i= index;">
                {{element.status}}
              </td>
            </ng-container>

            <!-- action -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef scope="row"> Action </th>
              <td mat-cell *matCellDef="let element;let i = index;" class="action-btn-i centerAlign">
                <table class="iconTable" aria-describedby="actionBtn">
                  <tbody>
                    <tr>
                      <td>
                        <a [routerLink]=""><i class="material-icons plus view-icon" aria-hidden="true"
                            title="View">remove_red_eye</i></a>
                      </td>
                      <td width="30">
                        <a [routerLink]="['../audit-para']"><i class="material-icons plus add" aria-hidden="true"
                            (click)="onEdit(i)">
                            edit
                          </i></a>
                      </td>
                      <td width="30">
                        <i class="material-icons plus delete" title="delete" aria-hidden="true"
                          (click)="delete(i)">delete_forever</i>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </ng-container>

            <!-- Header Section Of table -->
            <tr mat-header-row *matHeaderRowDef="displayedColumnsInstitueParaList"></tr>
            <!-- Data Fetch From .TS File to table -->
            <tr mat-row *matRowDef="let row; columns: displayedColumnsInstitueParaList;let i= index;"></tr>
          </table>
          <!-- paginatior -->
          <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
          </mat-paginator>
        </div>

      </div>
    </div>
  </div>
</div>