<div class="container">
  <div class="form-wrapper statement">
    <!-- Header Section-->
    <div class="text-center">
      <h4><u>STATEMENT-I (LC Advice Details)</u></h4>
    </div>

      <!-- Statement 1 Table Starts -->
      <table class="table-striped"  style="width: 100%;">
        <tr>
          <td>Advice No.: </td>
          <td>{{adviceNO}}</td>
          <td>Advice Date:</td>
          <td>{{adviceDate  | date: 'dd-MMM-yyyy HH:mm'}}</td>
          </tr>
          
          <tr>
          <td>Department:</td>
          <td>{{department}}</td>
          <td>District:</td>
          <td>{{district}}</td>
          </tr>
          
          <tr>
          <td>Division name:</td>
          <td>{{divisionName}}</td>
          <td>Division Code:</td>
          <td>{{divisionCode}}</td>
          </tr>
          
          <tr>
          <td>L.C.Valid From:</td>
          <td>{{lcValidFrom  | date: 'dd-MMM-yyyy'}}</td>
          <td>Month:</td>
          <td>{{month}}</td>
          </tr>
          
          <tr>
          <td>Opening LC Balance:</td>
          <td colspan="3">{{openingLcBalance}}</td>
          </tr>
          
          <tr>
          <td>New LC:</td>
          <td colspan="3">{{newLC}}</td>
          </tr>
      </table>
      <!-- Statement 1 Table Ends -->

      <!-- Cheque Details Table Starts -->
      <table class="table-bordered" style="width: 100%;">
        <tr class="text-center grey-background">
          <th>Sr.No.</th>
          <th>Cheque Date</th>
          <th>Cheque No.</th>
          <th>Cheque Amount</th>
          <th>Party Name</th>
        </tr>
        <tr>
          <td>1</td>
          <td>02-Apr-2019</td>
          <td>AFR007-100100</td>
          <td  class="rightAlign">1,00,000.00</td>
          <td>WIPRO_TEST</td>
        </tr>
        <tr>
          <td>2</td>
          <td>10-Apr-2019</td>
          <td>AFR007-100099</td>
          <td  class="rightAlign">1.00</td>
          <td>W2</td>
        </tr>
        <tr class="text-center grey-background">
          <td><strong>Total</strong></td>
          <td></td>
          <td></td>
          <td class="rightAlign"><strong>1,00,001.00</strong></td>
          <td></td> 
        </tr>
      </table>
      <!-- Cheque Details Table Ends -->
      
    <hr>

    Closing LC Balance : 449899999.00

    <!-- Signature Table Starts -->
    <table style="width: 100%;">
      <tr>
        <td style="width: 50%;">
          Division Office: {{divisionName}}<br>
          District: {{district}}
        </td>
        <td>
          Drawing Officer: {{divisionName}}<br>
          Treasury Office: {{district}}<br>
          Bank: {{bank}}  
        </td>
      </tr>
    </table>
    <div class="height-50"></div>
    <table style="width: 100%;">
      <tr>
        <th style="width: 50%;">Divisional Account Officer</th>
        <th>{{divisionName}}</th>
      </tr>
    </table>

    <!-- Signature Table Ends -->
    <div class="height-50"></div>
    <div class="text-center">
      <h4><u>STATEMENT-II (Detailed Posting)</u></h4>
    </div>

    <!-- Statement 2 Table Starts -->
    <table class="table-bordered text-center" style="width: 100%;">
      <tr class="grey-background">
        <th>Sr. No.</th>
        <th>LC No.</th>
        <th>Drawing Officer</th>
        <th>Fund</th>
        <th>Class Of Exp.</th>
        <th>Budget Type</th>
        <th>Demand</th>
        <th>Major Head</th>
        <th>Sub Major Head</th>
        <th>Minor Head</th>
        <th>Sub Head</th>
        <th>Detailed Head</th>
        <th>Type of Estimate</th>
        <th>Item Name / Work Name</th>
        <th>Object Class</th>
        <th>Expenditure Amount (In Rs.)</th>
      </tr>
      <tr>
        <td>1</td>
        <td>LC57AFR0070001</td>
        <td>986</td>
        <td>Consolidated</td>
        <td>Voted</td>
        <td>State</td>
        <td>026</td>
        <td>2406</td>
        <td>01</td>
        <td>001</td>
        <td>01</td>
        <td>00</td>
        <td>New Work</td>
        <td>Construction of Govt. Hostel</td>
        <td>C1</td>
        <td class="text-right">100001.00</td>
      </tr>
      
      <tr class="grey-background">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td> <strong> Total (In Rs.)</strong> </td>
        <td></td>
        <td class="text-right"> <strong> 100001.00</strong></td>
      </tr>
      <tr class="grey-background">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td> <strong> Deductions (In Rs.)</strong> </td>
        <td></td>
        <td class="text-right"> <strong> 0.00</strong></td>
      </tr>
      <tr class="grey-background">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td> <strong> Net Total (In Rs.)</strong></td>
        <td></td>
        <td class="text-right"> <strong>100001.00</strong></td>
      </tr>
    </table>
    <!-- Statement 2 Table Ends -->

    <hr>

    <strong>Advice No. : 5</strong>

    <div class="height-50"></div>
    <!-- Signature Table Starts -->
    <table style="width: 100%;">
      <tr>
        <th style="width: 50%;">Divisional Account Officer</th>
        <th>{{divisionName}}</th>
      </tr>
    </table>
    <!-- Signature Table Ends -->
    

    <div class="text-center">
      <h4><u>Deduction Entry</u></h4>
    </div>

    <!-- Deduction Entry Table Starts -->
    <table class="table-bordered deduction-table" style="width: 100%;">
      <tr class="grey-background">
        <th>Sr. No.</th>
        <th>Description</th>
        <th>Amount (In Rs.)</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Professional Tax(9570)</td>
        <td>0.00</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Labour Class(9528)</td>
        <td>0.00</td>
      </tr>
      <tr>
        <td>3</td>
        <td>For All Major Heads(9998)</td>
        <td>0.00</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Income Tax(9510)</td>
        <td>0.00</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Surcharge On Income Tax(9520)</td>
        <td>0.00</td>
      </tr>
      <tr>
        <td>6</td>
        <td>G.P.F. Class IV(9531)</td>
        <td>0.00</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Rent Of Building(0216)(9550)</td>
        <td>0.00</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Govt. Insurance Scheme-1981-Insurance Fund(9581)</td>
        <td>0.00</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Govt. Insurance Scheme-1981-Saving Fund(9582)</td>
        <td>0.00</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Security Deposit(9600)</td>
        <td>0.00</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Establishment Charges(1100)</td>
        <td>0.00</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Machinary Charges(1200)</td>
        <td>0.00</td>
      </tr>
      <tr>
        <td>13</td>
        <td>Other Charges(1300)</td>
        <td>0.00</td>
      </tr>
      <tr class="grey-background">
        <th>Total</th>
        <th></th>
        <th class="text-right">0.00</th>
      </tr>
    </table>
    <!-- Deduction Entry Table Ends -->
    <hr>

    <strong>Advice No. : 5</strong>

    <div class="height-50"></div>
    <!-- Signature Table Starts -->
    <table style="width: 100%;">
      <tr>
        <th style="width: 50%;">Divisional Account Officer</th>
        <th>{{divisionName}}</th>
      </tr>
    </table>
    <!-- Signature Table Ends -->
    
  </div>
</div>