<div class="container">

  <div class="form-wrapper  ddo-table">
    <div class="table-responsive">
      <table class="table-border-event">
        <tr>
          <td align="center">
            <div class="font-20">District Treasury Office, Gandhinagar </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="font-16">Book Transfer Register</div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="font-16"> From Date: 13/04/2020 &nbsp; &nbsp;&nbsp;&nbsp;To Date : 13/05/2020</div>
          </td>
        </tr>
        <br>
        <div class="line"> </div>
        <tr>
          Major Head : 2014 - Administration Of Justice
        </tr>
        <tr>
          Edp Code : 9531 - G.P.F. Class Iv
        </tr>
        <div class="line"> </div>
        <tr>
          <td>

            <table class="table-bordered" width="100% ">
              <tr>
                <td style="border-bottom: 1px dotted #000000 !important ;"><strong>VrNo</strong></td>
                <td style="border-bottom: 1px dotted #000000 !important ;"><strong>Vr Dt</strong></td>
                <td style="border-bottom: 1px dotted #000000 !important ;"><strong>DDO Name</strong></td>
                <td style="text-align: right ;border-bottom: 1px dotted #000000 !important;"><strong>Tc Amount</strong>
                </td>
              </tr>

              <tr>
                <td>2020</td>
                <td>01/05</td>
                <td>Civil Judge, CIVIL JUDGE (J.D. ) & J.M.F.C. ,</td>
                <td style="text-align: right;">8,060.00 </td>
              </tr>
              <tr>
                <td>3004</td>
                <td>01/05</td>
                <td>Civil Judge, CIVIL JUDGE (J.D. ) COURT , Mansa, gandhinagar</td>
                <td style="text-align: right;">8,200.00 </td>
              </tr>

              <tr>
                <td>4001</td>
                <td>01/05</td>
                <td>Principal Senior Civil Judge, PRINCIPAL SENIOR CIVILJUDGE COURT, Kalol, Gandhinagar</td>
                <td style="text-align: right;">5,000.00 </td>
              </tr>

              <tr>
                <td>4002</td>
                <td>01/05</td>
                <td>Principal Senior Civil Judge, PRINCIPAL SENIOR CIVILJUDGE COURT, Kalol, Gandhinagar</td>
                <td style="text-align: right;">5,500.00 </td>
              </tr>

              <tr>
                <td style="border-bottom: 1px dotted #000000 !important ;">4008</td>
                <td style="border-bottom: 1px dotted #000000 !important ;">01/05</td>
                <td style="border-bottom: 1px dotted #000000 !important ;">ADDITIONAL DISTRICT JUDGE, ADDITIONAL
                  DISTRICT ANDSESSIONS COURT ,KALOL , Kalol, Gandhinagar</td>
                <td style="text-align: right; border-bottom: 1px dotted #000000 !important ;">5,000.00 </td>
              </tr>

              <tr>
                <td colspan="2"></td>
                <td> <strong>Total Numbers Of Vouchers 5</strong></td>
                <td style="text-align: right;"><strong>34,760.00</strong> </td>
              </tr>

            </table>

          </td>
        </tr>
        <div class="line"> </div>
        <tr>
          <td>
            <table>
              <tr>
                <td> </td>
                <td> </td>
                <td align="right">
                  <div class="font-15">A.T.O.</div>
                </td>

              </tr>

              <tr>
                <td> </td>
                <td> </td>
                <td align="right">
                  <div class="font-20">District Treasury Office, Gandhinagar</div>
                </td>
              </tr>


            </table>
          </td>
        </tr>




      </table>

    </div>
  </div>
</div>
