.ddo-table .table-bordered,
.ddo-table .table-bordered tr td,
.ddo-table .table-bordered tr td {
    border: none !important;
    text-align: left;
}

.table-bordered tr {
    border: none !important;
}

.table {
    border-collapse: none !important;
}

.line {
    width: 100%;
    border: 1px dotted #000000;
}