.tbl-fix,
.tbl-recovery {
    table-layout: fixed;
}
.file-input {
    visibility: hidden;
    display: contents;
}

.historyDataSource[_ngcontent-c26] tr[_ngcontent-c26] td.mat-cell[_ngcontent-c26]:last-of-type,
.historyDataSource[_ngcontent-c26] tr[_ngcontent-c26] th.mat-header-cell[_ngcontent-c26]:last-of-type {
    min-width: 400px;
    max-width: 500px;
}