@import "../../edp_common_style.css";

.subofficelisttable {
    margin-top: 5px;
}
.spacesINIcon{
    margin-right: 3px;
}
.to_level {
    padding-left: 15px;
}
.attechmentData{
    text-align: left;
}
.officeNameData {
    display:flex; 
    align-items:center;
}
.subOffice {
    margin-left: auto;
}
.legend {
    margin-bottom: 25px;
}
.starSign{
    color: #ff0000;
}