<div class="container">
  <div class="form-wrapper">
    <div class="heading-section ng-star-inserted">
      <div>Employment Details </div>
      <div class="font-heading"><b>Reference No:</b> 19-20/PSE/EMPD/001</div>
      <div class="font-heading"><b>Reference Date:</b> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}</div>
    </div>
    <!-- Navigations Starts -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">PSE</a></li>
        <li class="breadcrumb-item active" aria-current="page">Employment Details</li>
      </ol>
    </nav>
    <!-- Navigations Ends-->

    <mat-tab-group mat-stretch-tabs [selectedIndex]="selectedIndex" (selectedIndexChange)="getTabIndex($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          Employment Details
        </ng-template>

        <!-- employeement details -->


        <div class="panel-group">
          <form [formGroup]="employmentDetailsForm">

            <div class="box box-primary">
              <div class=" box-header"> Employment Details</div>
              <div class="box-body">
                <div class="row">

                  <div class="col-sm-3">
                    <mat-form-field>
                      <mat-select name='financialYear' formControlName='financialYear' placeholder='Financial Year'
                        required numbersOnly>
                        <mat-option>
                          <ngx-mat-select-search [formControl]='financialYearCtrl'
                            [placeholderLabel]="'Select Financial Year ...'"
                            [noEntriesFoundLabel]="'no matching Financial Year found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option
                          *ngFor="let item of financialYearList | filterSelectInput : financialYearCtrl.value : 'viewValue'"
                          [value]="item.value" >
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                      <div class="error-wrapper"
                        *ngIf="employmentDetailsForm.controls.financialYear.touched || (employmentDetailsForm.controls.financialYear.errors && isSubmitted)">
                        <mat-error *ngIf="employmentDetailsForm.controls.financialYear.errors?.required">
                          {{errorMessages.FIN_YEAR}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <!-- name of the  -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <mat-select name='psuName' formControlName='psuName' placeholder='PSU Name' required
                        (selectionChange)="onSelectingPsuName($event)" numbersAlphabetsOnly>
                        <mat-option>
                          <ngx-mat-select-search [formControl]='psuNameCtrl' [placeholderLabel]="'Select PSU Name ...'"
                            [noEntriesFoundLabel]="'no matching PSU Name found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option
                          *ngFor="let item of psuNameList | filterSelectInput : psuNameCtrl.value : 'viewValue'"
                          [value]="item.value" matTooltip="{{item.viewValue}}">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                      <div class="error-wrapper"
                        *ngIf="employmentDetailsForm.controls.psuName.touched || (employmentDetailsForm.controls.psuName.errors && isSubmitted)">
                        <mat-error *ngIf="employmentDetailsForm.controls.psuName.errors?.required">
                          {{errorMessages.PSU_NAME}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                </div>

                <div class="row" *ngIf="isSelected">


                  <div class="col-sm-3">
                    <mat-form-field class="full-width disabled">
                      <input matInput type="text" placeholder="ID" formControlName="id" maxlength="15" required
                        readonly>
                      <div class="error-wrapper"
                        *ngIf="employmentDetailsForm.controls.id.touched || (employmentDetailsForm.controls.id.errors && isSubmitted)">
                        <mat-error *ngIf="employmentDetailsForm.controls.id.errors?.required">
                          {{errorMessages.ID}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>


                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <input matInput type="text" placeholder="Executives" formControlName="executives" required
                        numbersOnly maxlength="10">
                      <div class="error-wrapper"
                        *ngIf="employmentDetailsForm.controls.executives.touched || (employmentDetailsForm.controls.executives.errors && isSubmitted)">
                        <mat-error *ngIf="employmentDetailsForm.controls.executives.errors?.required">
                          {{errorMessages.EXECUTIVES}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <input matInput type="text" placeholder="Supervisors" formControlName="supervisors" required
                        numbersOnly maxlength="10">
                      <div class="error-wrapper"
                        *ngIf="employmentDetailsForm.controls.supervisors.touched || (employmentDetailsForm.controls.supervisors.errors && isSubmitted)">
                        <mat-error *ngIf="employmentDetailsForm.controls.supervisors.errors?.required">
                          {{errorMessages.SUPERVISORES}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <input matInput type="text" placeholder="Workmen / Others" formControlName="workmenOthers"
                        required numbersOnly maxlength="10">
                      <div class="error-wrapper"
                        *ngIf="employmentDetailsForm.controls.workmenOthers.touched || (employmentDetailsForm.controls.workmenOthers.errors && isSubmitted)">
                        <mat-error *ngIf="employmentDetailsForm.controls.workmenOthers.errors?.required">
                          {{errorMessages.WORKMEN_OTHER}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width disabled">
                      <input matInput type="text" placeholder="Total" formControlName="total" required numbersOnly
                        maxlength="10" value={{calculateTotal()}} readonly>
                      <div class="error-wrapper"
                        *ngIf="employmentDetailsForm.controls.total.touched && (employmentDetailsForm.controls.total.errors)">
                        <mat-error *ngIf="employmentDetailsForm.controls.total.errors?.required">
                          {{errorMessages.TOTAL}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <input matInput type="text" placeholder="SC" formControlName="sc" required numbersOnly
                        maxlength="10">
                      <div class="error-wrapper"
                        *ngIf="employmentDetailsForm.controls.sc.touched || (employmentDetailsForm.controls.sc.errors && isSubmitted)">
                        <mat-error *ngIf="employmentDetailsForm.controls.sc.errors?.required">
                          {{errorMessages.SC}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <input matInput type="text" placeholder="ST" formControlName="st" required numbersOnly
                        maxlength="10">
                      <div class="error-wrapper"
                        *ngIf="employmentDetailsForm.controls.st.touched || (employmentDetailsForm.controls.st.errors && isSubmitted)">
                        <mat-error *ngIf="employmentDetailsForm.controls.st.errors?.required">
                          {{errorMessages.ST}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <input matInput type="text" placeholder="OBC" formControlName="obc" required numbersOnly
                        maxlength="10">
                      <div class="error-wrapper"
                        *ngIf="employmentDetailsForm.controls.obc.touched || (employmentDetailsForm.controls.obc.errors && isSubmitted)">
                        <mat-error *ngIf="employmentDetailsForm.controls.obc.errors?.required">
                          {{errorMessages.OBC}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <textarea matInput type="text" placeholder="Remarks" formControlName="remarks"
                        numbersAlphabetsOnly maxlength="1000"></textarea>
                    </mat-form-field>
                  </div>

                </div>
              </div>
            </div>
          </form>
        </div>
      </mat-tab>

      <!--Attachment tab start  -->
      <mat-tab label="Attachment">
        <app-common-attachment [attachemntValue]="attachmentTypeCode"></app-common-attachment>
      </mat-tab>

    </mat-tab-group>


    <!-- Common Action Button Starts -->
    <div class="form-action-button">
      <button type="submit" mat-raised-button color="primary" title="Save As Draft">
        <i class="material-icons" title="Save As Draft" aria-hidden="true">
          save
        </i>
        Save as Draft
      </button>
      <button mat-raised-button type="button" class="green" title="Submit" (click)="onSubmit()">
        <i class="material-icons" title="Submit" aria-hidden="true">done</i>
        Submit
      </button>
      <button type="reset" mat-raised-button color="accent" title="Reset">
        <i class="material-icons" title="Reset" aria-hidden="true">restore</i>
        Reset
      </button>
      <button type="button" mat-raised-button color="warn" title="Listing" [routerLink]="['../../psu-details/employment-details-listing']">
        <i class="material-icons" title="Listing" aria-hidden="true">list</i>
        Listing
      </button>
      <button type="button" mat-raised-button class="btnClose" title="Close">
        <i class="material-icons" title="Close" aria-hidden="true">close</i>
        Close
      </button>

    </div>
  </div>
</div>