<div class="container">
  <div class="form-wrapper">

    <div class="heading-section ng-star-inserted">
      <div>Request for Deposit of Articles</div>
      <div class="font-heading">
        <b>Reference No:</b> 19-20/STM/ORWV/001</div>
      <div class="font-heading">
        <b>Reference Date:</b> {{ date | date: 'dd-MMM-yyyy HH:mm'}}</div>
    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Stamp Processing</a></li>
        <li class="breadcrumb-item active" aria-current="page">Request for Deposit of Articles</li>
      </ol>
    </nav>

    <div class="panel-group">
      <form [formGroup]="onlineForm">

          <mat-tab-group mat-stretch-tabs>

            <!-- Request for Deposit of Articles Entry Section Starts-->
            <mat-tab label="Request for Deposit of Articles" class="full-width">
              <!-- Deposit Request Details section Starts-->
              <div class="box box-primary">
                  <div class="box-header">Deposit Request Details</div>
                  <div class="box-body">
                    <div #parentGrids class="mb-3">
                        <div class="row">
                          <div class="col-sm-3">
                            <mat-form-field class="full-width disabled">
                              <input matInput type="text" formControlName="finYear" placeholder="Financial Year" required
                                readonly>

                              <div class="error-wrapper"
                                *ngIf="onlineForm.controls.finYear.touched && (onlineForm.controls.finYear.errors)">
                                <mat-error *ngIf="onlineForm.controls.finYear.errors.required">
                                  {{errorMessages.FIN_YEAR}}
                                </mat-error>
                              </div>
                            </mat-form-field>
                          </div>

                          <div class="col-sm-3">
                            <mat-form-field class="full-width disabled">
                              <mat-label>Name of Office / Department</mat-label>
                              <input matInput formControlName="dept" [value]="deptVal" required readonly>

                              <div class="error-wrapper"
                                *ngIf="onlineForm.controls.dept.touched && (onlineForm.controls.dept.errors)">
                                <mat-error *ngIf="onlineForm.controls.dept.errors.required">
                                  {{errorMessages.DEPT}}
                                </mat-error>
                              </div>
                            </mat-form-field>
                          </div>

                          <div class="col-sm-3">
                            <mat-form-field class="full-width disabled">
                              <input matInput type="text" formControlName="reqNo" [value]="reqNoVal"
                                placeholder="Deposit Request Number" required readonly>

                              <div class="error-wrapper"
                                *ngIf="onlineForm.controls.reqNo.touched && (onlineForm.controls.reqNo.errors)">
                                <mat-error *ngIf="onlineForm.controls.reqNo.errors.required">
                                  {{errorMessages.REQ_NO}}
                                </mat-error>
                              </div>
                            </mat-form-field>
                          </div>

                          <div class="col-sm-3">
                            <mat-form-field class="full-width disabled">
                              <input matInput type="text" formControlName="dateName" [value]="date | date: 'dd-MMM-yyyy'"
                                placeholder="Request Date of Deposit" required readonly>

                              <div class="error-wrapper"
                                *ngIf="onlineForm.controls.dateName.touched && (onlineForm.controls.dateName.errors)">
                                <mat-error *ngIf="onlineForm.controls.dateName.errors.required">
                                  {{errorMessages.DATE}}
                                </mat-error>
                              </div>
                            </mat-form-field>
                          </div>

                          <div class="col-sm-3">
                              <mat-form-field class="full-width">
                                  <mat-select formControlName="treSubTre" placeholder="Articles Submitted To Treasury / Sub Treasury"
                                      required>
                                      <mat-option>
                                          <ngx-mat-select-search [formControl]="treSubTreCtrl"
                                              [placeholderLabel]="'Find Articles Submitted To Treasury / Sub Treasury...'"
                                              [noEntriesFoundLabel]="'no matching Articles Submitted To Treasury / Sub Treasury found'">
                                          </ngx-mat-select-search>
                                      </mat-option>
                                      <mat-option
                                          *ngFor="let tre of treSubTre_List | filterSelectInput:treSubTreCtrl.value"
                                          [value]="tre.value">
                                          {{tre.viewValue}}
                                      </mat-option>
                                  </mat-select>
                                  <div class="error-wrapper"
                                      *ngIf="onlineForm.controls.treSubTre.touched && (onlineForm.controls.treSubTre.errors)">
                                      <mat-error *ngIf="onlineForm.controls.treSubTre.errors.required">
                                          {{errorMessages.TRE_OR_SUB}}
                                      </mat-error>
                                  </div>
                              </mat-form-field>
                          </div>
          
                          <div class="col-sm-3" *ngIf="onlineForm.controls.treSubTre.value=='1'">
                            <mat-form-field class="full-width">
                              <input matInput formControlName="troffice"  placeholder="Treasury Office" required readonly>
          
                            <div class="error-wrapper"
                              *ngIf="onlineForm.controls.troffice.touched && (onlineForm.controls.troffice.errors)">
                              <mat-error *ngIf="onlineForm.controls.troffice.errors.required">
                                {{errorMessages.TRE}}
                              </mat-error>
                            </div>
                            </mat-form-field>
                          </div>
          
                          <div class="col-sm-3" *ngIf="onlineForm.controls.treSubTre.value=='2'">
                            <mat-form-field class="full-width">
                              <input matInput formControlName="trofficeForSub"  placeholder="Treasury Office" required readonly>
          
                            <div class="error-wrapper"
                              *ngIf="onlineForm.controls.trofficeForSub.touched && (onlineForm.controls.trofficeForSub.errors)">
                              <mat-error *ngIf="onlineForm.controls.trofficeForSub.errors.required">
                                {{errorMessages.TRE}}
                              </mat-error>
                            </div>
                            </mat-form-field>
                          </div>
          
                          <div class="col-sm-3" *ngIf="onlineForm.controls.treSubTre.value=='2' &&
                              onlineForm.controls.trofficeForSub.valid">
                              <mat-form-field class="full-width">
                                  <mat-select formControlName="subTreOff" placeholder="Sub Treasury Office" required>
                                      <mat-option>
                                          <ngx-mat-select-search [formControl]="subTreOffCtrl"
                                              [placeholderLabel]="'Find Sub Treasury Office...'"
                                              [noEntriesFoundLabel]="'no matching Sub Treasury Office found'">
                                          </ngx-mat-select-search>
                                      </mat-option>
                                      <mat-option
                                          *ngFor="let subTre of subTre_List | filterSelectInput:subTreOffCtrl.value"
                                          matTooltip="{{subTre.viewValue}}" [value]="subTre.value">
                                          {{subTre.viewValue}}
                                      </mat-option>
                                  </mat-select>
                                  <div class="error-wrapper"
                                      *ngIf="onlineForm.controls.subTreOff.touched && (onlineForm.controls.subTreOff.errors)">
                                      <mat-error *ngIf="onlineForm.controls.subTreOff.errors.required">
                                          {{errorMessages.SUB_TRE}}
                                      </mat-error>
                                  </div>
                              </mat-form-field>
          
                          </div>

                          <div class="col-sm-3">
                            <mat-form-field class="full-width disabled">
                              <input matInput type="text" formControlName="valSubBy" [value]="valSubValBy"
                                placeholder="Articles Submitted By" required readonly>

                              <div class="error-wrapper"
                                *ngIf="onlineForm.controls.valSubBy.touched && (onlineForm.controls.valSubBy.errors)">
                                <mat-error *ngIf="onlineForm.controls.valSubBy.errors.required">
                                  {{errorMessages.VAL_SUBMITBY}}
                                </mat-error>
                              </div>
                            </mat-form-field>
                          </div>

                          <div class="col-sm-3">
                            <mat-form-field class="full-width disabled">
                              <input matInput type="text" formControlName="desig" [value]="desigVal" placeholder="Designation"
                                required readonly>

                              <div class="error-wrapper"
                                *ngIf="onlineForm.controls.desig.touched && (onlineForm.controls.desig.errors)">
                                <mat-error *ngIf="onlineForm.controls.desig.errors.required">
                                  {{errorMessages.DESIGNATION}}
                                </mat-error>
                              </div>
                            </mat-form-field>
                          </div>

                          <div class="col-sm-3">
                            <mat-form-field class="full-width disabled">
                              <input matInput type="text" formControlName="email" [value]="emailVal" placeholder="Email-ID"
                                readonly>
                            </mat-form-field>
                          </div>

                          <div class="col-sm-3">
                            <mat-form-field class="full-width disabled">
                              <input matInput type="number" formControlName="phone" [value]="phoneVal"
                                placeholder="Phone Number" required readonly>

                              <div class="error-wrapper"
                                *ngIf="onlineForm.controls.phone.touched && (onlineForm.controls.phone.errors)">
                                <mat-error *ngIf="onlineForm.controls.phone.errors.required">
                                  {{errorMessages.PHONE}}
                                </mat-error>
                              </div>
                            </mat-form-field>
                          </div>

                        </div>
                    </div>
                  </div>
                </div>
                <!-- Deposit Request Details section Ends-->
                
              <!-- Articles Details section Starts-->
              <div class="box box-primary">
                <div class="box-header">Articles Details</div>
                <div class="box-body">
                  <div #parentGrids class="mb-3">
                      <div class="row">

                        <div class="col-sm-3">
                          <mat-form-field class="full-width">
                            <mat-select formControlName="valName" placeholder="Articles Name / Category" required>
                              <mat-option>
                                <ngx-mat-select-search [formControl]="valNameCtrl"
                                  [placeholderLabel]="'Find Articles Name / Category...'"
                                  [noEntriesFoundLabel]="'no Articles Name / Category found'">
                                </ngx-mat-select-search>
                              </mat-option>
                              <mat-option *ngFor="let req of valName_List | filterSelectInput:valNameCtrl.value"
                                [value]="req.value">
                                {{req.viewValue}}
                              </mat-option>
                            </mat-select>

                            <div class="error-wrapper"
                              *ngIf="onlineForm.controls.valName.touched && (onlineForm.controls.valName.errors)">
                              <mat-error *ngIf="onlineForm.controls.valName.errors.required">
                                {{errorMessages.CATEGORY}}
                              </mat-error>
                            </div>
                          </mat-form-field>
                        </div>

                        <div class="col-sm-3" *ngIf="onlineForm.controls.valName.value==3">
                          <mat-form-field class="full-width">
                            <mat-select formControlName="valSubName" placeholder="Articles Sub Category" required>
                              <mat-option>
                                <ngx-mat-select-search [formControl]="valSubNameCtrl"
                                  [placeholderLabel]="'Find Articles Sub Category...'"
                                  [noEntriesFoundLabel]="'no Articles Sub Category found'">
                                </ngx-mat-select-search>
                              </mat-option>
                              <mat-option *ngFor="let req of valSubName_List | filterSelectInput:valSubNameCtrl.value"
                                [value]="req.value">
                                {{req.viewValue}}
                              </mat-option>
                            </mat-select>

                            <div class="error-wrapper"
                              *ngIf="onlineForm.controls.valSubName.touched && (onlineForm.controls.valSubName.errors)">
                              <mat-error *ngIf="onlineForm.controls.valSubName.errors.required">
                                {{errorMessages.CATEGORY}}
                              </mat-error>
                            </div>
                          </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                          <mat-form-field class="full-width">
                            <input matInput type="text" formControlName="valReg" placeholder="Articles Registration No"
                              required>

                            <div class="error-wrapper"
                              *ngIf="onlineForm.controls.valReg.touched && (onlineForm.controls.valReg.errors)">
                              <mat-error *ngIf="onlineForm.controls.valReg.errors.required">
                                {{errorMessages.REG}}
                              </mat-error>
                            </div>
                          </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                          <mat-form-field class="full-width">
                            <input matInput type="number" min="0" formControlName="qtyVal"
                              placeholder="Quantity of Articles" required>

                            <div class="error-wrapper"
                              *ngIf="onlineForm.controls.qtyVal.touched && (onlineForm.controls.qtyVal.errors)">
                              <mat-error *ngIf="onlineForm.controls.qtyVal.errors.required">
                                {{errorMessages.QTY}}
                              </mat-error>
                            </div>
                          </mat-form-field>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <!-- Articles Details section Ends-->
                
              <!-- Messenger Details section Starts-->
              <div class="box box-primary">
                <div class="box-header">Messenger Details</div>
                <div class="box-body">
                  <div #parentGrids class="mb-3">
                      <div class="row">

                        <div class="col-sm-3">
                          <mat-form-field class="full-width">
                            <input matInput type="text" formControlName="messenger" placeholder="Name of Messenger"
                              required>

                            <div class="error-wrapper"
                              *ngIf="onlineForm.controls.messenger.touched && (onlineForm.controls.messenger.errors)">
                              <mat-error *ngIf="onlineForm.controls.messenger.errors.required">
                                {{errorMessages.NAME}}
                              </mat-error>
                            </div>
                          </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                          <mat-form-field class="full-width">
                            <mat-select formControlName="messengerdes" placeholder="Designation of Messenger" required>
                              <mat-option>
                                <ngx-mat-select-search [formControl]="messengerdesCtrl"
                                  [placeholderLabel]="'Find Designation of Messenger...'"
                                  [noEntriesFoundLabel]="'no Designation of Messenger found'">
                                </ngx-mat-select-search>
                              </mat-option>
                              <mat-option *ngFor="let req of messengerdes_List | filterSelectInput:messengerdesCtrl.value"
                                [value]="req.value">
                                {{req.viewValue}}
                              </mat-option>
                            </mat-select>

                            <div class="error-wrapper"
                              *ngIf="onlineForm.controls.messengerdes.touched && (onlineForm.controls.messengerdes.errors)">
                              <mat-error *ngIf="onlineForm.controls.messengerdes.errors.required">
                                {{errorMessages.DESIGNATION}}
                              </mat-error>
                            </div>
                          </mat-form-field>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <!-- Messenger Details section Ends-->
                
              <!-- Remarks section Starts-->
              <div class="box box-primary">
                <div class="box-header">Remarks</div>
                <div class="box-body">
                  <div #parentGrids class="mb-3">
                      <div class="row">
                        <!-- Toggle for Eng/Guj -->
                            <div class="text-right col-sm-12 ">
                              <button mat-raised-button type="button" class="lang-btn"
                                (click)="toggleLanguage()">{{currentLang.value == 'Eng' ? 'Guj' : 'Eng' }}</button>
                            </div>
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width">
                                <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="8" placeholder="Remarks"
                                    formControlName="remark" (focus)="setGujaratiDefault()"
                                    (focusout)="hasFocusSet=1;setEnglishOnFocusOut()" [ngClass]="hasFocusSet == 1 ? 'hasfocus' : ''" required></textarea>
                                    <div class="error-wrapper"
                                        *ngIf="onlineForm.controls.remark.touched && onlineForm.controls.remark.errors">
                                        <mat-error *ngIf="onlineForm.controls.remark.errors.required">
                                            {{errorMessages.REMARK}} 
                                        </mat-error>
                                    </div>
                            </mat-form-field>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <!-- Remarks section Ends-->

              <!-- Action Buttons -->
              <div class="form-action-button">
                <button type="submit" mat-raised-button color="primary">
                  <i class="material-icons" aria-hidden="true" title="Save">
                    save
                  </i>
                  Save as Draft
                </button>

                <button mat-raised-button type="submit" (click)="sumbitRequestWorkkflow()" class="green">
                  <i class="material-icons" aria-hidden="true">
                    done
                  </i> Submit
                </button>

                <button type="button" mat-raised-button (click)="gotoListing()" color="warn">
                  <i class="material-icons" aria-hidden="true" title="Listing">
                    list
                  </i>
                  Listing
                </button>
              </div>
            </mat-tab>
            <!-- Request for Deposit of Articles Entry Section Ends-->


            <!-- Attachments Section Starts-->
            <mat-tab label="Attachments" class="full-width">
              <app-common-attachment [attachemntValue]="attachmentType_list"></app-common-attachment>
              <div class="form-action-button">
                <button type="submit" mat-raised-button color="primary">
                  <i class="material-icons" aria-hidden="true" title="Save">
                    save
                  </i>
                  Upload
                </button>
                <button type="button" mat-raised-button (click)="gotoListing()" color="warn">
                  <i class="material-icons" aria-hidden="true" title="Listing">
                    list
                  </i>
                  Listing
                </button>
                <button type="button" mat-raised-button (click)="directiveObject.closeConfirmationPopup()" class="btnClose">
                  <i class="material-icons" aria-hidden="true" title="Budget dashboard">
                    close
                  </i>
                  Close
                </button>
              </div>
            </mat-tab>

            <!-- Attachments Section Ends-->
          </mat-tab-group>
        </form>
    </div>

  </div>
</div>