<div class="container">
  <div class="form-wrapper">

    <div class="heading-section ng-star-inserted">
      <div>Printing Press Master</div>
    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Stamp Processing</a></li>
        <li class="breadcrumb-item active" aria-current="page">Printing Press Master</li>
      </ol>
    </nav>

    <div class="panel-group">

      <div class="box box-primary">
        <!-- Printing Press Master Entry Section Starts-->
        <div class="box-header">Printing Press Master</div>
        <div class="box-body">
          <form [formGroup]="printPressForm">
            <div class="row">

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" formControlName="printPress" placeholder="Printing Press Name" required>
                  <div class="error-wrapper"
                    *ngIf="printPressForm.controls.printPress.touched && (printPressForm.controls.printPress.errors)">
                    <mat-error *ngIf="printPressForm.controls.printPress.errors.required">
                      {{errorMessages.NAME}}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="status" placeholder="Status" required>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="statusCtrl" [placeholderLabel]="'Find Status...'"
                        [noEntriesFoundLabel]="'no matching Status found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let tre of status_List | filterSelectInput:statusCtrl.value"
                      [value]="tre.value">
                      {{tre.viewValue}}
                    </mat-option>
                  </mat-select>
                  <div class="error-wrapper"
                    *ngIf="printPressForm.controls.status.touched && (printPressForm.controls.status.errors)">
                    <mat-error *ngIf="printPressForm.controls.status.errors.required">
                      {{errorMessages.STATUS}}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>

            </div>
          </form>
        </div>
        <!-- Printing Press Master Entry Section Ends-->
      </div>



      <!-- Action Buttons -->
      <div class="form-action-button">
        <button type="submit" mat-raised-button color="primary" (click)="directiveObject.saveConfirmationPopup()">
          <i class="material-icons" aria-hidden="true" title="Save">
            save
          </i>
          Save
        </button>
        <button type="button" mat-raised-button (click)="gotoListing()" color="warn">
          <i class="material-icons" aria-hidden="true" title="Listing">
            list
          </i>
          Listing
        </button>
        <button type="button" mat-raised-button (click)="directiveObject.closeConfirmationPopup()" class="btnClose">
          <i class="material-icons" aria-hidden="true" title="Dashboard">
            close
          </i>
          Close
        </button>
      </div>
    </div>

  </div>
</div>