::ng-deep .mat-content {
  flex: unset !important;
}

::ng-deep .mat-expansion-indicator {
  margin-left: auto;
}

::ng-deep .mat-checkbox {
  margin-left: 10px;
}

::ng-deep .officername {
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding: 10px 0px;
}

::ng-deep .form-action-button {
  margin-bottom: 5px;
}

::ng-deep .mat-radio-button {
  left: 5px;
}

::ng-deep .mat-radio-label {
  margin-left: 10px;
}

.mat-table td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
.mat-table th.mat-header-cell:first-of-type {
  word-break: break-all;
}

.history-list.mat-table td.mat-cell,
.history-list td.mat-footer-cell {
  max-width: 80px;
}
