<div class="container">
  <div class="form-wrapper">

    <div class="heading-section ng-star-inserted">
      Audit Planning
    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Local Fund</a></li>
        <li class="breadcrumb-item active" aria-current="page">Audit Planning</li>
      </ol>
    </nav>

    <!-- search criteria -->
    <mat-accordion class="search-accordian">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <div class="heading-section">
            Search Criteria
          </div>
        </mat-expansion-panel-header>
        <div class=" form-datatable-list">
          <form class="col-sm-12" [formGroup]="searchCriteriaForm" (ngSubmit)="submitFormData()">

            <div class="row">


              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="instituteType" placeholder="Institute Type">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="instituteTypeCtrl"
                        [placeholderLabel]="'Find Institute Type...'"
                        [noEntriesFoundLabel]="'No matching Institute Type found'" alphabetsSpaceOnly>
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let item of instituteTypeList |
                      filterSelectInput:instituteTypeCtrl.value" [value]="item.value" matTooltip="{{item.viewValue}}">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>




              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="instituteName" placeholder="Institute name">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="instituteNameCtrl"
                        [placeholderLabel]="'Find Institute Name...'"
                        [noEntriesFoundLabel]="'No matching Institute Name found'" alphabetsSpaceOnly>
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let item of instituteNameList |
                      filterSelectInput:instituteNameCtrl.value" [value]="item.value" matTooltip="{{item.viewValue}}">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="auditYear" placeholder="Audit Year">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="auditYearCtrl" [placeholderLabel]="'Find Audit Year...'"
                        [noEntriesFoundLabel]="'No matching Audit Year found'" numberHypenOnly>
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let item of auditYearList |
                      filterSelectInput:auditYearCtrl.value" [value]="item.value" matTooltip="{{item.viewValue}}">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="auditStartDate" [matDatepicker]="auditStartDate"
                    placeholder="Audit Start Date">
                  <mat-datepicker-toggle matSuffix [for]="auditStartDate">
                  </mat-datepicker-toggle>
                  <mat-datepicker #auditStartDate></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="auditEndDate" [matDatepicker]="auditEndDate"
                    placeholder="Audit End Date">
                  <mat-datepicker-toggle matSuffix [for]="auditEndDate">
                  </mat-datepicker-toggle>
                  <mat-datepicker #auditEndDate></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="districtName" placeholder="District Name"
                    (selectionChange)="selectDistrict()">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="districtNameCtrl"
                        [placeholderLabel]="'Find District Name...'"
                        [noEntriesFoundLabel]="'No matching District Name found'" alphabetsSpaceOnly>
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let item of districtNameList |
                      filterSelectInput:districtNameCtrl.value" [value]="item.value" matTooltip="{{item.viewValue}}">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="talukaName" placeholder="Taluka Name">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="talukaNameCtrl" [placeholderLabel]="'Find Taluka Name...'"
                        [noEntriesFoundLabel]="'No matching Taluka Name found'" alphabetsSpaceOnly>
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let item of talukaNameList |
                      filterSelectInput:talukaNameCtrl.value" [value]="item.value" matTooltip="{{item.viewValue}}">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>


              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="village" placeholder="Village">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="villageCtrl" [placeholderLabel]="'Find Village...'"
                        [noEntriesFoundLabel]="'No matching Village found'" alphabetsSpaceOnly>
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let item of villageList |
                      filterSelectInput:villageCtrl.value" [value]="item.value" matTooltip="{{item.viewValue}}">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </div>
          </form>
        </div>
        <div class="form-action-button">
          <button type="submit" mat-raised-button color="primary" (click)="onSearch()">
            <i class="material-icons" aria-hidden="true" title="search">search</i>
            Search
          </button>
          <button type="reset" mat-raised-button color="accent" (click)="clearForm();">
            <i class="material-icons" aria-hidden="true" title="reset">
              restore
            </i>
            Reset
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <br>

    <!-- listing -->
    <div class="mat-elevation-z8 table-responsive mt-2">
      <table mat-table [dataSource]="dataSource" width="100%" matSort
        aria-describedby="auditReportPlanningSearchCriteria">

        <!-- sr no -->
        <ng-container matColumnDef="serialNo">
          <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef scope="row">
            Sr. No.
          </th>
        </ng-container>

        <!-- audit year -->
        <ng-container matColumnDef="auditYear">
          <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef scope="row">
            Audit Year
          </th>
        </ng-container>

        <!-- district -->
        <ng-container matColumnDef="district">
          <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef scope="row">
            District
          </th>
        </ng-container>

        <!-- taluka -->
        <ng-container matColumnDef="taluka">
          <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef scope="row">
            Taluka
          </th>
        </ng-container>

        <!-- village -->
        <ng-container matColumnDef="village">
          <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef scope="row">
            Village
          </th>
        </ng-container>

        <!-- institute type -->
        <ng-container matColumnDef="instituteType">
          <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef scope="row">
            Institute Type
          </th>
        </ng-container>

        <!-- institute name -->
        <ng-container matColumnDef="instituteName">
          <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef scope="row">
            Institute Name
          </th>
        </ng-container>

        <!-- audit start date -->
        <ng-container matColumnDef="auditStartDate">
          <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef scope="row">
            Audit Start Date
          </th>
        </ng-container>

        <!-- audit end date -->
        <ng-container matColumnDef="auditEndDate">
          <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef scope="row">
            Audit End Date
          </th>
        </ng-container>

        <!-- Audit Unit -->
        <ng-container matColumnDef="auditUnit">
          <th mat-header-cell [attr.colspan]="2" *matHeaderCellDef scope="row">
            Audit Unit
          </th>
        </ng-container>

        <!-- total Audit Unit -->
        <ng-container matColumnDef="totalAuditUnit">
          <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef scope="row">
            Total Audit Unit
          </th>
        </ng-container>

        <!--  action -->
        <ng-container matColumnDef="action">
          <th mat-header-cell [attr.rowspan]="2" *matHeaderCellDef scope="row">
            Action
          </th>
        </ng-container>

        <!-- proposed audit uinit -->
        <ng-container matColumnDef="proposedAuditUnit">
          <th mat-header-cell *matHeaderCellDef scope="row">
            Proposed Audit Unit
          </th>
        </ng-container>

        <!-- suggested audit uinit -->
        <ng-container matColumnDef="suggestedAuditUnit">
          <th mat-header-cell *matHeaderCellDef scope="row">
            Suggested Audit Unit
          </th>
        </ng-container>

        <!-- serial no -->
        <ng-container matColumnDef="serialNo1">
          <td mat-cell *matCellDef="let row;let i =index" class="centerAlign">
            {{i+1}}
          </td>
        </ng-container>

        <!-- audit year -->
        <ng-container matColumnDef="auditYear1">
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.auditYear1}}
          </td>
        </ng-container>

        <!-- district -->
        <ng-container matColumnDef="district1">
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.district1}}
          </td>
        </ng-container>

        <!-- taluka -->
        <ng-container matColumnDef="taluka1">
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.taluka1}}
          </td>
        </ng-container>

        <!-- village -->
        <ng-container matColumnDef="village1">
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.village1}}
          </td>
        </ng-container>

        <!-- institute type -->
        <ng-container matColumnDef="instituteType1">
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.instituteType1}}
          </td>
        </ng-container>

        <!-- institute name -->
        <ng-container matColumnDef="instituteName1">
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.instituteName1}}
          </td>
        </ng-container>

        <!-- audit start date -->
        <ng-container matColumnDef="auditStartDate1">
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.auditStartDate1}}
          </td>
        </ng-container>

        <!-- audit end date -->
        <ng-container matColumnDef="auditEndDate1">
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.auditEndDate1}}
          </td>
        </ng-container>

        <!--  propsed audit unit -->
        <ng-container matColumnDef="proposedAuditUnit1">
          <td mat-cell *matCellDef="let element">
            {{element.proposedAuditUnit1}}
          </td>
        </ng-container>

        <!-- suggested audit unit -->
        <ng-container matColumnDef="suggestedAuditUnit1">
          <td mat-cell *matCellDef="let element">
            {{element.suggestedAuditUnit1}}
          </td>
        </ng-container>

        <!-- total -->
        <ng-container matColumnDef="total1">
          <td mat-cell *matCellDef="let element">
            {{element.total1}}
          </td>
        </ng-container>

        <!-- action -->
        <ng-container matColumnDef="action1">
          <td mat-cell *matCellDef="let element">
            <a [routerLink]=""><i class="material-icons plus view-icon" aria-hidden="true"
                title="View">remove_red_eye</i></a>

            <a [routerLink]=""><i class="material-icons plus add" aria-hidden="true" title="Edit">
                edit
              </i></a>

          </td>
        </ng-container>

        <!-- Header Section Of table -->
        <tr mat-header-row *matHeaderRowDef="header1"></tr>
        <!-- Header Section Of table -->
        <tr mat-header-row *matHeaderRowDef="['proposedAuditUnit','suggestedAuditUnit']"></tr>
        <!-- Data Fetch From .TS File to table -->
        <tr mat-row *matRowDef="let row; columns: displayColumns;let i= index;">
        </tr>
      </table>

      <!-- paginator -->
      <mat-paginator [length]="20" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
      </mat-paginator>
    </div>

  </div>
</div>