<div class="container">
  <div class="form-wrapper">
    <div class="heading-section ng-star-inserted">
      <div>AGCA Details </div>
      <!-- <div class="font-heading"><strong>Reference Number:</strong> 19-20/DPPF-HBA/AD/001</div> -->
      <div class="font-heading"><strong>Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}
      </div>

    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item " aria-current="page">DPPF-HBA</li>
        <li class="breadcrumb-item active" aria-current="page">AGCA Details </li>
      </ol>
    </nav>



    <div class="panel-group">
      <form [formGroup]="agcaDetailsForm" (ngSubmit)="agcaDetailsData()">
        <!-- Inward Details -->
        <div class="box box-primary">
          <div class="box-header">Inward Details</div>
          <div class="box-body">
            <div class="row">
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput name="inwardNo" placeholder="Inward No. " formControlName="inwardNo">
                  <mat-icon matSuffix class="searchIcon" (click)="inwardNo()">search
                  </mat-icon>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" formControlName="inwardDate" placeholder="Inward Date ">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Month" formControlName="month">
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Year" formControlName="year">
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput placeholder="HBA/MCA" formControlName="hbaMca">
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput placeholder="AGCA Amount" formControlName="agcaAmount">
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput placeholder="AGAC Amount" formControlName="agacAmount">
                </mat-form-field>
              </div>



            </div>
          </div>
        </div>
        <!-- End Inward Details -->
        <!-- Treasury Details -->
        <div class="box box-primary">
          <div class="box-header">Treasury Details</div>
          <div class="box-body">
            <div class="row">
              <div class="col-sm-12">
                <!-- Treasury Details Table -->
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
                  aria-describedby="treasuryDetailsTable">

                  <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef scope="row"> Code</th>
                    <td mat-cell *matCellDef="let element;let i = index;">
                      <mat-form-field>
                        <input matInput [(ngModel)]="element.code" [ngModelOptions]="{standalone: true}"
                          [disabled]="true">
                      </mat-form-field>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="trasury">
                    <th mat-header-cell *matHeaderCellDef scope="row"> Treasury Name</th>
                    <td mat-cell *matCellDef="let element;let i = index;">
                      <mat-form-field>
                        <input matInput [(ngModel)]="element.trasury" [ngModelOptions]="{standalone: true}"
                          [disabled]="true">
                      </mat-form-field>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="agcaAamount">
                    <th mat-header-cell *matHeaderCellDef scope="row"> AGCA Amount</th>
                    <td mat-cell *matCellDef="let element;let i = index;">
                      <mat-form-field class="rightAlign">
                        <input matInput [(ngModel)]="element.agcaAamount" [ngModelOptions]="{standalone: true}"
                          decimalLimitTwoOnly decimalPoint2>
                      </mat-form-field>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="agacAamount">
                    <th mat-header-cell *matHeaderCellDef scope="row"> AGAC Amount</th>
                    <td mat-cell *matCellDef="let element;let i = index;">
                      <mat-form-field class="rightAlign">
                        <input matInput [(ngModel)]="element.agacAamount" [ngModelOptions]="{standalone: true}"
                          decimalLimitTwoOnly decimalPoint2>
                      </mat-form-field>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef scope="row"> Remarks</th>
                    <td mat-cell *matCellDef="let element;let i = index;">
                      <mat-form-field>
                        <input matInput [(ngModel)]="element.remarks" [ngModelOptions]="{standalone: true}">
                      </mat-form-field>
                    </td>
                  </ng-container>
                  <!-- Header Section Of table -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <!-- Data Fetch From .TS File to table -->
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <!-- End Treasury Details Table -->
                <br>
                <div class="row">
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput placeholder="AGCA Total  " formControlName="agcaTotal">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput placeholder="AGAC Total  " formControlName="agacTotal">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Treasury Details -->
        <!-- Common Button -->
        <div class="form-action-button">
          <button mat-raised-button type="submit" class="green" (click)="directiveObject.commentGrantDetails()"><i
              class="material-icons" aria-hidden="true" title="Submit">
              done
            </i> Submit
          </button>

          <button type="reset" mat-raised-button color="accent">
            <i class="material-icons" aria-hidden="true" title="Reset">
              restore
            </i>
            Reset
          </button>

          <button type="button" mat-raised-button color="warn" (click)="navigate()">
            <i class="material-icons" aria-hidden="true" title="Listing">
              list
            </i>
            Listing
          </button>

          <button type="button" mat-raised-button class="btnClose" title="Close">
            <i class="material-icons" title="Close" aria-hidden="true">
              close
            </i>
            Close
          </button>
        </div>
        <!-- End Common Button -->
      </form>
    </div>
  </div>
</div>