<div class="col-sm-12">
  <form class="example-form">
      
      <div class="mat-typography">
          <p>Do you want to Submit the details?</p>
      </div>
      <div class="form-action-button mgb15">
           <button type="button" mat-raised-button (click)="onCancel()" class="btnClose"><i class="material-icons" aria-hidden="true" title="Budget dashboard">close</i>No</button>
          <button type="submit" mat-raised-button color="primary" (click)="onyes()" cdkFocusInitial><i class="material-icons" aria-hidden="true" title="save">check</i>Yes</button>
      </div>
  </form>
</div>