<div class="container">
  <div class="form-wrapper">
    <div class="heading-section ng-star-inserted">
      <div>Grant Release Finance Department to Administrative Department </div>
    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Grant</a></li>
        <li class="breadcrumb-item active" aria-current="page">From Finance Department to Administrative Department</li>
      </ol>
    </nav>
    <mat-accordion class="search-accordian">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <div class="heading-section">
            Search
          </div>
        </mat-expansion-panel-header>
        <div class="form-datatable-list">
          <form class="col-sm-12" [formGroup]="searchGrantOrder" (ngSubmit)="searchGrantOrderDetails()">
            <div class="row">

              <!-- Financial Year -->
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="finYear" placeholder="Financial year">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="finYearCtrl" [placeholderLabel]="'Find Financial year...'"
                        [noEntriesFoundLabel]="'no matching Financial Year'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let rc of finYear_list | filterSelectInput: finYearCtrl.value"
                      [value]="rc.value">
                      {{rc.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- Revenue Capital  -->
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="revenueCapital" placeholder="Revenue/Capital">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="revenueCapitalCtrl"
                        [placeholderLabel]="'Find Revenue/Capital...'"
                        [noEntriesFoundLabel]="'no matching Revenue/Capital'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let rc of revenueCapital_list | filterSelectInput: revenueCapitalCtrl.value"
                      [value]="rc.value">
                      {{rc.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- Grant Order -->
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Grant Order">
                </mat-form-field>
              </div>

              <!-- Grant Order Id -->
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Grant Order Id">
                </mat-form-field>
              </div>

              <!--- Lying With -->
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Lying With">
                </mat-form-field>
              </div>

              <!-- Status -->
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="status" placeholder="Status">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="statusCtrl" [placeholderLabel]="'Find Status...'"
                        [noEntriesFoundLabel]="'no matching status'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let status of status_list | filterSelectInput: statusCtrl.value"
                      [value]="status.value">
                      {{status.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </div>

            <!-- Search Action button -->
            <div class="form-action-button">
              <button type="submit" mat-raised-button color="primary" title="Search">
                <i class="material-icons" title="Search" aria-hidden="true">search</i>Search</button>
              <button type="reset" mat-raised-button color="accent" title="Reset">
                <i class="material-icons" title="Reset" aria-hidden="true">
                  restore
                </i>
                Reset
              </button>
            </div>
          </form>
        </div>
      </mat-expansion-panel>
    </mat-accordion>


    <div class="mat-elevation-z8 mt-2 ">
      <table mat-table [dataSource]="grantOrderDataSource" matSort aria-describedby="fdtoDepartment">

        <ng-container matColumnDef="srNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Sr No.</th>
          <td mat-cell *matCellDef="let element;let i=index"  class="centerAlign"> {{i+1}}</td>
        </ng-container>

        <ng-container matColumnDef="grantOrderId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Grant Order Id </th>
          <td mat-cell *matCellDef="let element"> {{element.grantOrderId}} </td>
        </ng-container>

        <ng-container matColumnDef="grantOrderNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Grant Order</th>
          <td mat-cell *matCellDef="let element"> {{element.grantOrderNo}} </td>
        </ng-container>

        <ng-container matColumnDef="grantReleaseFor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Grant Release For </th>
          <td mat-cell *matCellDef="let element"> {{element.grantReleaseFor}} </td>
        </ng-container>

        <ng-container matColumnDef="orderReleaseDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Order Released Date </th>
          <td mat-cell *matCellDef="let element"> {{element.orderReleaseDate}} </td>
        </ng-container>

        <ng-container matColumnDef="revenueCapital">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Revenue/Capital </th>
          <td mat-cell *matCellDef="let element"> {{element.revenueCapital}} </td>
        </ng-container>

        <ng-container matColumnDef="lyingWith">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Lying With </th>
          <td mat-cell *matCellDef="let element"> {{element.lyingWith}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Status</th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef style="width: 13%;" scope="row"> Action </th>
          <td mat-cell *matCellDef="let element;let i = index;" class="action-btn-i centerAlign">
            <a><i class="material-icons plus edit-icon" title="Edit">
                edit </i></a>
            <a><i class="material-icons plus view-icon" title="View">remove_red_eye</i></a>
            <a><i class="material-icons plus copy-icon" title="copy">content_copy</i></a>
            <a [routerLink]="['../../grant-release-fd-to-administrative-department/grant-release-order']"
              routerLinkActive="router-link-active" class="delete-icon"><i class="material-icons plus "
                title="Preview Order">fullscreen</i></a>
            <a class="delete-icon"><i class="material-icons plus " title="cancle">cancel</i></a>
          </td>
        </ng-container>

        <!-- No Record Found Section-->
        <ng-container matColumnDef="noData">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"></th>
          <td mat-cell *matCellDef="let element" colspan="8">No Data Available</td>
        </ng-container>

        <!-- Fetch Data from .TS File -->
        <tr mat-header-row *matHeaderRowDef="grantReleaseDisplayColumn"></tr>
        <tr mat-row *matRowDef="let row; let i = index;columns:grantReleaseDisplayColumn"></tr>
      </table>

      <!-- Pagination Section -->
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
