.w800{
    width: 650px;
}
.registrationfom{
    border: 1px solid #cccccc;
    padding: 15px;
    text-align: center;
}

.formtitle{
    width: 100%;
    text-align: center;
}

.registrationfom h1{
 color: #356a94;
 font-size: 18px;
 font-weight: bold;

}

.capcha-img{
    padding: 12px 0px 0px 0px;
}

.refresh-img{
    width: 25px;
    margin-right: 20px;
}
.refresh-img img{
    width: 20px;
    padding-top: 15px;
}
.mat-input-element:disabled, input:read-only {
    color: rgba(0,0,0,.38) !important;
}