.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.mat-accordion[_ngcontent-c3][_ngcontent-c3] {
    width: 100%;
    position: relative;
}

.mat-expansion-panel-header {
    font-size: 13px;
    font-weight: 600;
    color: #444;
    padding: 6px;
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
    padding-right: 13px;
}

.mat-expansion-panel-body .mat-checkbox label.mat-checkbox-layout {
    margin-top: 15px !important;
}

.buttontype {
    display: flex;
    justify-content: center;
}

.buttontype button {
    margin: 15px 5px 0px;
}

.margintop {
    margin-top: 5px;
}


.box-header {
    font-size: 13px !important;
    margin-bottom: 0px;
}

.box.nopadding[_ngcontent-c3] {
    padding: 0px 0px 0px !important;
}

/* .mat-expansion-panel-content .mat-expansion-panel-body {
    padding: 5px 10px 0px !important;
} */

/* .box-body {
    padding: 10px 24px !important;
} */

.mat-expansion-panel-header .mat-expansion-indicator::after {
    position: absolute;
    bottom: -25px;
    left: 55px;
}

.space[_ngcontent-c3] {
    display: flex;
    margin: auto;
}

.change-direction{
    margin-left: auto;
}

.doted-border{
    padding: 20px 30px;
    text-align: left;
    border: dashed 3px #C1C3C5;
}

.upload-pic-txt{
    font-size:14px;
    font-weight: 600;
    text-transform: uppercase;
}

.user-pic{
    font-size: 8em;
    color: #cbe1ff;
    border: 1px dotted #CCC;
}

.btn-browse i {
    font-size: 21px;
    color: #6e86a7;
    vertical-align: bottom;
    line-height: normal;
}

.file-info{
    font-size: smaller;
}


.search-grid {
    border-top: 3px solid #989898 !important;
}

.search-grid .box-header{
    color: #464646;
    justify-content: left;
    background: unset !important;
}

.search-grid th{
    background: #e8e8e8;
    color: #464646;
    border-bottom: 1px solid #989898;
    border-right: 1px solid #989898 !important;
}

.starSign{
    color: #ff0000;
}