<div class="container fixwidthxontainer">
  <div class="centerpage">
  <div class="row">
    <div class="col-md-4 stcker-bg">
      <div class="name"> Smt Ansuya Shah</div>
      <div class="stcker-adress">
        <h3>Pensioner Address</h3>
        <p>
          Smt. Ansuya Shah<br>
          karmyogu Bhavan <br>
          A- 404, Near SVP School <br>
          Gota, Ahmedabad Gujarat<br>
          Pin - 381003
        </p>
      </div>
    </div>

    <div class="col-md-4 stcker-bg">
      <div class="name"> PPO No PR-2/02/2/0220/000191</div>
      <div class="stcker-adress">
        <h3>Office Address</h3>
        <p>
          District Ecuation Office,<br>
          Block No 12<br>
          Dr Jivraj  Mehata Bhavan <br>
          Old Sachivalay<br>
          Gandhinagar, Gujarat<br>
          Pin - 382010
        </p>
      </div>
    </div>

    <div class="col-md-4 stcker-bg">
      <div class="name"> Outward Date 18/03/2020 </div>
      <div class="stcker-adress">
        <h3>Tresury Office/ PPO</h3>
        <p>
          Pension Payment Office <br>
          Ahmedabad<br>
          B Block, Ground floor, Multi Story<br>
          Building, Lal Darwaja<br>
          Ahmedabad- 320001
        </p>
      </div>
    </div>

    <div class="col-md-4 stcker-bg">
      <div class="name"> Smt Ansuya Shah</div>
      <div class="stcker-adress">
        <h3>Pensioner Address</h3>
        <p>
          Smt. Ansuya Shah<br>
          karmyogu Bhavan <br>
          A- 404, Near SVP School <br>
          Gota, Ahmedabad Gujarat<br>
          Pin - 381003
        </p>
      </div>
    </div>

    <div class="col-md-4 stcker-bg">
      <div class="name"> PPO No PR-2/02/2/0220/000191</div>
      <div class="stcker-adress">
        <h3>Office Address</h3>
        <p>
          District Ecuation Office,<br>
          Block No 12<br>
          Dr Jivraj  Mehata Bhavan <br>
          Old Sachivalay<br>
          Gandhinagar, Gujarat<br>
          Pin - 382010
        </p>
      </div>
    </div>

    <div class="col-md-4 stcker-bg">
      <div class="name"> Outward Date 18/03/2020 </div>
      <div class="stcker-adress">
        <h3>Tresury Office/ PPO</h3>
        <p>
          Pension Payment Office <br>
          Ahmedabad<br>
          B Block, Ground floor, Multi Story<br>
          Building, Lal Darwaja<br>
          Ahmedabad- 320001
        </p>
      </div>
    </div>

    
    <div class="col-md-4 stcker-bg">
      <div class="name"> Smt Ansuya Shah</div>
      <div class="stcker-adress">
        <h3>Pensioner Address</h3>
        <p>
          Smt. Ansuya Shah<br>
          karmyogu Bhavan <br>
          A- 404, Near SVP School <br>
          Gota, Ahmedabad Gujarat<br>
          Pin - 381003
        </p>
      </div>
    </div>

    <div class="col-md-4 stcker-bg">
      <div class="name"> PPO No PR-2/02/2/0220/000191</div>
      <div class="stcker-adress">
        <h3>Office Address</h3>
        <p>
          District Ecuation Office,<br>
          Block No 12<br>
          Dr Jivraj  Mehata Bhavan <br>
          Old Sachivalay<br>
          Gandhinagar, Gujarat<br>
          Pin - 382010
        </p>
      </div>
    </div>

    <div class="col-md-4 stcker-bg">
      <div class="name"> Outward Date 18/03/2020 </div>
      <div class="stcker-adress">
        <h3>Tresury Office/ PPO</h3>
        <p>
          Pension Payment Office <br>
          Ahmedabad<br>
          B Block, Ground floor, Multi Story<br>
          Building, Lal Darwaja<br>
          Ahmedabad- 320001
        </p>
      </div>
    </div>


    

   
    

  </div>
</div>
 </div>   
