::ng-deep table.mat-table .mat-form-field-appearance-legacy .mat-form-field-infix {
    width: unset !important;
}

.newWidth th {
    width: 7.14285% !important;
}

.newWidth td {
    width: 7.14285% !important;
}

.newWidth1 th {
    width: 7.6923 !important;
}

.newWidth1 td {
    width: 7.6923 !important;
}