<div class="container">
  <div class="form-wrapper">
    <div class="heading-section ng-star-inserted">
      <div>Physical Target Details</div>
      <div class="font-heading">
        <b>Reference No:</b> 19-20/BUD/MO/001</div>
      <div class="font-heading">
        <b>Reference Date:</b> {{ date | date: 'dd-MMM-yyyy HH:mm'}}</div>
    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Budget</a></li>
        <li class="breadcrumb-item active">Physical Target Details</li>
      </ol>
    </nav>

    <form [formGroup]="macroOutcomeForm" (ngSubmit)="macroOutcomeFormData()">
      <div class="form-datatable-list">
      <!-- Physical Target Details Entry Section Starts-->
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <div class="heading-section">
              Physical Target Details
            </div>
          </mat-expansion-panel-header>

          <div class="box-body">
            <div class="row">

              <div class="col-sm-6 col-md-3">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Financial Year" formControlName="finYear" readonly>
                </mat-form-field>
              </div>

              <div class="col-sm-6 col-md-3">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Department" #deptVal formControlName="dept"
                  matTooltip="{{deptVal.value}}" readonly>
                </mat-form-field>
              </div>

              <div class="col-sm-6 col-md-3">
                <mat-form-field class="full-width">
                  <input matInput placeholder="BPN Code" #bpnVal formControlName="bpnCode"
                  matTooltip="{{bpnVal.value}}" readonly>
                </mat-form-field>
              </div>

              <div class="col-sm-6 col-md-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="demand" placeholder="Demand" (selectionChange)="updateScheme()" required>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="demandCtrl" [placeholderLabel]="'Demand...'"
                        [noEntriesFoundLabel]="'No matching Demand'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let demandListName of demandList " [value]="demandListName.value"
                    matTooltip="{{demandListName.viewValue}}">
                      {{demandListName.viewValue}}
                    </mat-option>
                  </mat-select>
                  <div class="error-wrapper" *ngIf="macroOutcomeForm.controls.demand.touched && (macroOutcomeForm.controls.demand.errors)">
                    <mat-error *ngIf="macroOutcomeForm.controls.demand.errors.required">
                        {{errorMessages.DEMAND}}
                    </mat-error>
                </div>
                </mat-form-field>
              </div>

              <div class="col-sm-6 col-md-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="majorHead" placeholder="Major Head" (selectionChange)="updateScheme()" required>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="majorHeadCtrl" [placeholderLabel]="'Major Head...'"
                        [noEntriesFoundLabel]="'No matching Major Head'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let majorHeadListName of majorHeadList " [value]="majorHeadListName.value"
                    matTooltip="{{majorHeadListName.viewValue}}">
                      {{majorHeadListName.viewValue}}
                    </mat-option>
                  </mat-select>
                  <div class="error-wrapper" *ngIf="macroOutcomeForm.controls.majorHead.touched && (macroOutcomeForm.controls.majorHead.errors)">
                    <mat-error *ngIf="macroOutcomeForm.controls.majorHead.errors.required">
                        {{errorMessages.MAJOR_HEAD}}
                    </mat-error>
                </div>
                </mat-form-field>
              </div>

              <div class="col-sm-6 col-md-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="subMajorHead" placeholder="Sub Major Head"
                    (selectionChange)="updateScheme()" required>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="subMajorHeadCtrl" [placeholderLabel]="'Sub Major Head...'"
                        [noEntriesFoundLabel]="'No matching Sub Major Head'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let subMajorHeadListName of subMajorHeadList "
                      [value]="subMajorHeadListName.value" matTooltip="{{subMajorHeadListName.viewValue}}">
                      {{subMajorHeadListName.viewValue}}
                    </mat-option>
                  </mat-select>
                  <div class="error-wrapper" *ngIf="macroOutcomeForm.controls.subMajorHead.touched && (macroOutcomeForm.controls.subMajorHead.errors)">
                    <mat-error *ngIf="macroOutcomeForm.controls.subMajorHead.errors.required">
                        {{errorMessages.SUB_MAJOR_HEAD}}
                    </mat-error>
                </div>
                </mat-form-field>
              </div>

              <div class="col-sm-6 col-md-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="minorHead" placeholder="Minor Head" (selectionChange)="updateScheme()" required>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="minorHeadCtrl" [placeholderLabel]="'Minor Head...'"
                        [noEntriesFoundLabel]="'No matching Minor Head'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let minorHeadListName of minorHeadList " [value]="minorHeadListName.value"
                    matTooltip="{{minorHeadListName.viewValue}}">
                      {{minorHeadListName.viewValue}}
                    </mat-option>
                  </mat-select>
                  <div class="error-wrapper" *ngIf="macroOutcomeForm.controls.minorHead.touched && (macroOutcomeForm.controls.minorHead.errors)">
                    <mat-error *ngIf="macroOutcomeForm.controls.minorHead.errors.required">
                        {{errorMessages.MINOR_HEAD}}
                    </mat-error>
                </div>
                </mat-form-field>
              </div>

              <div class="col-sm-6 col-md-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="subHead" placeholder="Sub Head" (selectionChange)="updateScheme()" required>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="subHeadCtrl" [placeholderLabel]="'Sub Head...'"
                        [noEntriesFoundLabel]="'No matching Sub Head'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let subHeadListName of subHeadList " [value]="subHeadListName.value"
                    matTooltip="{{subHeadListName.viewValue}}">
                      {{subHeadListName.viewValue}}
                    </mat-option>
                  </mat-select>
                  <div class="error-wrapper" *ngIf="macroOutcomeForm.controls.subHead.touched && (macroOutcomeForm.controls.subHead.errors)">
                    <mat-error *ngIf="macroOutcomeForm.controls.subHead.errors.required">
                        {{errorMessages.SUB_HEAD}}
                    </mat-error>
                </div>
                </mat-form-field>
              </div>

              <div class="col-sm-6 col-md-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="detailedHead" placeholder="Detailed Head"
                    (selectionChange)="updateScheme()" required>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="detailedHeadCtrl" [placeholderLabel]="'Detailed Head...'"
                        [noEntriesFoundLabel]="'No matching Detailed Head'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let detailedHeadListName of detailedHeadList "
                      [value]="detailedHeadListName.value" matTooltip="{{detailedHeadListName.viewValue}}">
                      {{detailedHeadListName.viewValue}}
                    </mat-option>
                  </mat-select>
                  <div class="error-wrapper" *ngIf="macroOutcomeForm.controls.detailedHead.touched && (macroOutcomeForm.controls.detailedHead.errors)">
                    <mat-error *ngIf="macroOutcomeForm.controls.detailedHead.errors.required">
                        {{errorMessages.DETAILED_HEAD}}
                    </mat-error>
                </div>
                </mat-form-field>
              </div>

              <div class="col-sm-6 col-md-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="schemeType" placeholder="Type Of Scheme" required>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="schemeTypeCtrl" [placeholderLabel]="'Type Of Scheme...'"
                        [noEntriesFoundLabel]="'No matching Type Of Scheme'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let va of typeOfSchemeList " [value]="va.value">
                      {{va.viewValue}}
                    </mat-option>
                  </mat-select>
                  <div class="error-wrapper" *ngIf="macroOutcomeForm.controls.schemeType.touched && (macroOutcomeForm.controls.schemeType.errors)">
                    <mat-error *ngIf="macroOutcomeForm.controls.schemeType.errors.required">
                        {{errorMessages.SCHEME}}
                    </mat-error>
                </div>
                </mat-form-field>
              </div>

              <div class="col-sm-6 col-md-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="lang" placeholder="Language" required>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="langCtrl" [placeholderLabel]="'Language...'"
                        [noEntriesFoundLabel]="'No matching Language'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let va of langList " [value]="va.value">
                      {{va.viewValue}}
                    </mat-option>
                  </mat-select>
                  <div class="error-wrapper" *ngIf="macroOutcomeForm.controls.lang.touched && (macroOutcomeForm.controls.lang.errors)">
                    <mat-error *ngIf="macroOutcomeForm.controls.lang.errors.required">
                        {{errorMessages.LANG}}
                    </mat-error>
                </div>
                </mat-form-field>
              </div>

              <!-- Buttons for Search and Reset Starts -->
              <div class="col-sm-12">
                <div class="form-action-button">
                  <button type="submit" mat-raised-button color="primary" title="Save As Draft" (click)="search()">
                    <i class="material-icons" aria-hidden="true">add</i> Add
                  </button>
                </div>
              </div>
              <!-- Buttons for Search and Reset Ends -->

            </div>
          </div>

        </mat-expansion-panel>
      <!-- Physical Target Details Entry Section Ends-->

        <br>

        <mat-tab-group mat-stretch-tabs [selectedIndex]="selectedIndex" (selectedIndexChange)="getTabIndex($event)"
          *ngIf="showTabs">
          <!-- 100% State Sponsored Scheme Tab -->
          <mat-tab>
            <ng-template mat-tab-label>
              100% State Sponsored Scheme
            </ng-template>

            <div class="mat-elevation-z8 mt-2">
              <!-- Macro Outcome Listing Table Starts -->
              <table mat-table [dataSource]="SchemeDataSource" class="mat-elevation-z8" area-describedby="Scheme">

                <!-- Main Header -->
                <ng-container matColumnDef="parent1">
                  <th mat-header-cell *matHeaderCellDef [attr.colspan]="10" scope="row">100% State Sponsored Scheme
                  </th>
                </ng-container>

                <ng-container matColumnDef="parent2">
                  <th mat-header-cell *matHeaderCellDef [attr.colspan]="5" scope="row">Physical Target
                  </th>
                </ng-container>

                <!-- Serial Number -->
                <ng-container matColumnDef="srno">
                  <th mat-header-cell *matHeaderCellDef scope="row" [ngStyle]="{'display': 'none'}">
                    Sr. No.
                  </th>
                  <td mat-cell *matCellDef="let element; let i = index" class="centerAlign">
                    {{ i + 1 }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="srno1">
                  <th mat-header-cell *matHeaderCellDef scope="row" [attr.rowspan]="2" scope="row">Sr. No.</th>
                </ng-container>

                <!-- Type Of Scheme -->
                <ng-container matColumnDef="typeOfScheme">
                  <th mat-header-cell *matHeaderCellDef scope="row" [ngStyle]="{'display': 'none'}">Type Of Scheme</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.typeOfScheme}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="typeOfScheme1">
                  <th mat-header-cell *matHeaderCellDef scope="row" [attr.rowspan]="2" scope="row">Type Of Scheme</th>
                </ng-container>

                <!-- Budget Head -->
                <ng-container matColumnDef="budgetHead">
                  <th mat-header-cell *matHeaderCellDef scope="row" [ngStyle]="{'display': 'none'}">Budget Head</th>
                  <td mat-cell *matCellDef="let element" style="max-width: 200px;" matTooltip="{{element.nameOfScheme}}">
                    {{element.budgetHead}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="budgetHead1">
                  <th mat-header-cell *matHeaderCellDef scope="row" [attr.rowspan]="2" scope="row">Budget Head</th>
                </ng-container>
                
                <!-- Financial Provision for the year 2020-2021 (Rs. In Crore) -->
                <ng-container matColumnDef="financialProvision">
                  <th mat-header-cell *matHeaderCellDef scope="row" [ngStyle]="{'display': 'none'}">Financial Provision
                    for the year 2020-2021 (Rs. In Crore)</th>
                  <td mat-cell *matCellDef="let element">
                    <!-- {{element.financialProvision}} -->
                    <mat-form-field class="example-full-width mt-5">
                      <input matInput [(ngModel)]="element.financialProvision" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                  </td>
                </ng-container>
                <ng-container matColumnDef="financialProvision1">
                  <th mat-header-cell *matHeaderCellDef scope="row" [attr.rowspan]="2" scope="row">Financial
                    Provision<br>for the<br>year 2020-2021<br>(Rs. In Crore)</th>
                </ng-container>

                <!-- Physical Target Details -->
                <ng-container matColumnDef="physicalTarget">
                  <th mat-header-cell *matHeaderCellDef scope="row">Physical Target Details</th>
                  <td mat-cell *matCellDef="let element" [ngStyle]="{'width':'35%'}">
                    <!-- {{element.physicalTarget}} -->
                    <mat-form-field class="example-full-width">
                      <textarea matInput [(ngModel)]="element.physicalTarget" cdkTextareaAutosize cdkAutosizeMinRows="5"
                        [ngModelOptions]="{standalone: true}"></textarea>
                    </mat-form-field>
                  </td>
                </ng-container>

                <!-- unit -->
                <ng-container matColumnDef="unit">
                  <th mat-header-cell *matHeaderCellDef scope="row" [ngStyle]="{'width':'10%'}">Unit</th>
                  <td mat-cell *matCellDef="let element">
                    
                    <div *ngIf="unitDropVal.value=='14'">
                      <mat-form-field class="full-width">
                        <input matInput formControlName="unitVal">
                      </mat-form-field>
                    </div>
                    <mat-form-field [ngClass]="unitClass">
                      <mat-select formControlName="unit" #unitDropVal (selectionChange)="classChange()">
                        <mat-option>
                          <ngx-mat-select-search [formControl]="unitCtrl" [placeholderLabel]="'Unit...'"
                            [noEntriesFoundLabel]="'No matching Unit'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let unitListName of unitList " [value]="unitListName.value">
                          {{unitListName.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    
                  </td>
                </ng-container>

                <!-- 2020-2021 -->
                <ng-container matColumnDef="year2021">
                  <th mat-header-cell *matHeaderCellDef scope="row">2020-2021</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-form-field class="example-full-width mt-5">
                      <input matInput [(ngModel)]="element.year2021" numbersAlphabetsOnly
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                  </td>
                </ng-container>

                <!-- 2021-2022 -->
                <ng-container matColumnDef="year2122">
                  <th mat-header-cell *matHeaderCellDef scope="row">2021-2022</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-form-field class="example-full-width mt-5">
                      <input matInput [(ngModel)]="element.year2122" numbersAlphabetsOnly
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                  </td>
                </ng-container>

                <!-- 2022-2023 -->
                <ng-container matColumnDef="year2223">
                  <th mat-header-cell *matHeaderCellDef scope="row">2022-2023</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-form-field class="example-full-width mt-5">
                      <input matInput [(ngModel)]="element.year2223" numbersAlphabetsOnly
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                  </td>
                </ng-container>

                <!-- Action Edit/Delete -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef scope="row" [ngStyle]="{'display': 'none'}">
                    Action</th>
                  <td mat-cell *matCellDef="let element; let i=index">
                    <table class="iconTable" aria-describedby="actionBtn">
                      <tbody>
                        <tr>
                          <td width="30">
                            <i class="material-icons plus delete" title="Delete" (click)="deletExpenditureRow(i)" aria-hidden="true"
                              *ngIf="(SchemeDataSource.data.length > 1)">
                              delete
                            </i>
                          </td>
                          <td width="30">
                            <i class="material-icons plus add" title="Copy" (click)="copyDetails(element, i)">
                              content_copy
                            </i>
                          </td>
                          <td width="30">
                            <i *ngIf="SchemeDataSource && SchemeDataSource.data && (i == SchemeDataSource.data.length - 1)"
                            class="material-icons plus add" title="Add" (click)="addDetails()">
                              add
                            </i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>
                <ng-container matColumnDef="action1">
                  <th mat-header-cell *matHeaderCellDef scope="row" [attr.rowspan]="2" scope="row">Action</th>
                </ng-container>



                <!-- Header and Footer Row Definition -->
                <!-- Main Header -->
                <tr mat-header-row *matHeaderRowDef="['parent1']"></tr>
                <!-- Sub header -->
                <tr mat-header-row
                  *matHeaderRowDef="['srno1','typeOfScheme1', 'budgetHead1', 'financialProvision1', 'parent2', 'action1']">
                </tr>
                <!-- Sub header -->
                <tr mat-header-row *matHeaderRowDef="['srno', 'typeOfScheme', 'budgetHead', 'financialProvision',
                    'physicalTarget','unit', 'year2021', 'year2122', 'year2223', 'action']"></tr>
                <!-- Data Fetch From .TS File to table -->
                <tr mat-row *matRowDef="let row; columns: SchemeDataColumn;"></tr>

              </table>
              <!-- Paginator -->
              <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
              <!-- Macro Outcome Listing Table Ends -->
            </div>

            <!-- Action Buttons -->
            <div class="form-action-button">
              <button type="submit" mat-raised-button color="primary" (click)="nextTab()">
                Save & Proceed
                <i class="material-icons" aria-hidden="true" title="Next">
                  chevron_right
                </i>
              </button>
            </div>
          </mat-tab>

          <!-- 100% Centrally Sponsored Scheme Tab -->
          <mat-tab>
            <ng-template mat-tab-label>
              100% Centrally Sponsored Scheme
            </ng-template>

            <div class="mat-elevation-z8 mt-2">
              <!-- Macro Outcome Listing Table Starts -->
              <table mat-table [dataSource]="SchemeDataSource" class="mat-elevation-z8" area-describedby="Scheme">

                <!-- Main Header -->
                <ng-container matColumnDef="parent1">
                  <th mat-header-cell *matHeaderCellDef [attr.colspan]="10" scope="row">100% State Sponsored Scheme
                  </th>
                </ng-container>

                <ng-container matColumnDef="parent2">
                  <th mat-header-cell *matHeaderCellDef [attr.colspan]="5" scope="row">Physical Target
                  </th>
                </ng-container>

                <!-- Serial Number -->
                <ng-container matColumnDef="srno">
                  <th mat-header-cell *matHeaderCellDef scope="row" [ngStyle]="{'display': 'none'}">
                    Sr. No.
                  </th>
                  <td mat-cell *matCellDef="let element; let i = index" class="centerAlign">
                    {{ i + 1 }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="srno1">
                  <th mat-header-cell *matHeaderCellDef scope="row" [attr.rowspan]="2" scope="row">Sr. No.</th>
                </ng-container>

                <!-- Type Of Scheme -->
                <ng-container matColumnDef="typeOfScheme">
                  <th mat-header-cell *matHeaderCellDef scope="row" [ngStyle]="{'display': 'none'}">Type Of Scheme</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.typeOfScheme}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="typeOfScheme1">
                  <th mat-header-cell *matHeaderCellDef scope="row" [attr.rowspan]="2" scope="row">Type Of Scheme</th>
                </ng-container>

                <!-- Budget Head -->
                <ng-container matColumnDef="budgetHead">
                  <th mat-header-cell *matHeaderCellDef scope="row" [ngStyle]="{'display': 'none'}">Budget Head</th>
                  <td mat-cell *matCellDef="let element" style="max-width: 200px;" matTooltip="{{element.nameOfScheme}}">
                    {{element.budgetHead}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="budgetHead1">
                  <th mat-header-cell *matHeaderCellDef scope="row" [attr.rowspan]="2" scope="row">Budget Head</th>
                </ng-container>
                
                <!-- Financial Provision for the year 2020-2021 (Rs. In Crore) -->
                <ng-container matColumnDef="financialProvision">
                  <th mat-header-cell *matHeaderCellDef scope="row" [ngStyle]="{'display': 'none'}">Financial Provision
                    for the year 2020-2021 (Rs. In Crore)</th>
                  <td mat-cell *matCellDef="let element">
                    <!-- {{element.financialProvision}} -->
                    <mat-form-field class="example-full-width mt-5">
                      <input matInput [(ngModel)]="element.financialProvision" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                  </td>
                </ng-container>
                <ng-container matColumnDef="financialProvision1">
                  <th mat-header-cell *matHeaderCellDef scope="row" [attr.rowspan]="2" scope="row">Financial
                    Provision<br>for the<br>year 2020-2021<br>(Rs. In Crore)</th>
                </ng-container>

                <!-- Physical Target Details -->
                <ng-container matColumnDef="physicalTarget">
                  <th mat-header-cell *matHeaderCellDef scope="row">Physical Target Details</th>
                  <td mat-cell *matCellDef="let element" [ngStyle]="{'width':'35%'}">
                    <!-- {{element.physicalTarget}} -->
                    <mat-form-field class="example-full-width">
                      <textarea matInput [(ngModel)]="element.physicalTarget" cdkTextareaAutosize cdkAutosizeMinRows="5"
                        [ngModelOptions]="{standalone: true}"></textarea>
                    </mat-form-field>
                  </td>
                </ng-container>

                <!-- unit -->
                <ng-container matColumnDef="unit">
                  <th mat-header-cell *matHeaderCellDef scope="row" [ngStyle]="{'width':'10%'}">Unit</th>
                  <td mat-cell *matCellDef="let element">
                    
                    <div *ngIf="unitDropVal.value=='14'">
                      <mat-form-field class="full-width">
                        <input matInput formControlName="unitVal">
                      </mat-form-field>
                    </div>
                    <mat-form-field [ngClass]="unitClass">
                      <mat-select formControlName="unit" #unitDropVal (selectionChange)="classChange()">
                        <mat-option>
                          <ngx-mat-select-search [formControl]="unitCtrl" [placeholderLabel]="'Unit...'"
                            [noEntriesFoundLabel]="'No matching Unit'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let unitListName of unitList " [value]="unitListName.value">
                          {{unitListName.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </ng-container>

                <!-- 2020-2021 -->
                <ng-container matColumnDef="year2021">
                  <th mat-header-cell *matHeaderCellDef scope="row">2020-2021</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-form-field class="example-full-width mt-5">
                      <input matInput [(ngModel)]="element.year2021" numbersAlphabetsOnly
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                  </td>
                </ng-container>

                <!-- 2021-2022 -->
                <ng-container matColumnDef="year2122">
                  <th mat-header-cell *matHeaderCellDef scope="row">2021-2022</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-form-field class="example-full-width mt-5">
                      <input matInput [(ngModel)]="element.year2122" numbersAlphabetsOnly
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                  </td>
                </ng-container>

                <!-- 2022-2023 -->
                <ng-container matColumnDef="year2223">
                  <th mat-header-cell *matHeaderCellDef scope="row">2022-2023</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-form-field class="example-full-width mt-5">
                      <input matInput [(ngModel)]="element.year2223" numbersAlphabetsOnly
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                  </td>
                </ng-container>

                <!-- Action Edit/Delete -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef scope="row" [ngStyle]="{'display': 'none'}">
                    Action</th>
                  <td mat-cell *matCellDef="let element; let i=index">
                    <table class="iconTable" aria-describedby="actionBtn">
                      <tbody>
                        <tr>
                          <td width="30">
                            <i class="material-icons plus delete" title="Delete" (click)="deletExpenditureRow(i)" aria-hidden="true"
                              *ngIf="(SchemeDataSource.data.length > 1)">
                              delete
                            </i>
                          </td>
                          <td width="30">
                            <i class="material-icons plus add" title="Copy" (click)="copyDetails(element, i)">
                              content_copy
                            </i>
                          </td>
                          <td width="30">
                            <i *ngIf="SchemeDataSource && SchemeDataSource.data && (i == SchemeDataSource.data.length - 1)"
                            class="material-icons plus add" title="Add" (click)="addDetails()">
                              add
                            </i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>
                <ng-container matColumnDef="action1">
                  <th mat-header-cell *matHeaderCellDef scope="row" [attr.rowspan]="2" scope="row">Action</th>
                </ng-container>



                <!-- Header and Footer Row Definition -->
                <!-- Main Header -->
                <tr mat-header-row *matHeaderRowDef="['parent1']"></tr>
                <!-- Sub header -->
                <tr mat-header-row
                  *matHeaderRowDef="['srno1','typeOfScheme1', 'budgetHead1', 'financialProvision1', 'parent2', 'action1']">
                </tr>
                <!-- Sub header -->
                <tr mat-header-row *matHeaderRowDef="['srno', 'typeOfScheme', 'budgetHead', 'financialProvision',
                    'physicalTarget','unit', 'year2021', 'year2122', 'year2223', 'action']"></tr>
                <!-- Data Fetch From .TS File to table -->
                <tr mat-row *matRowDef="let row; columns: SchemeDataColumn;"></tr>

              </table>
              <!-- Paginator -->
              <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
              <!-- Macro Outcome Listing Table Ends -->
            </div>

            <div class="form-action-button">
              <button type="submit" mat-raised-button color="primary" (click)="nextTab()">
                Save & Proceed
                <i class="material-icons" aria-hidden="true" title="Next">
                  chevron_right
                </i>
              </button>
            </div>
          </mat-tab>

           <!-- Partially Sponsored Scheme Tab -->
          <mat-tab>
            <ng-template mat-tab-label>
              Partially Sponsored Scheme
            </ng-template>

            <div class="mat-elevation-z8 mt-2">
              <!-- Macro Outcome Listing Table Starts -->
              <table mat-table [dataSource]="SchemeDataSource" class="mat-elevation-z8" area-describedby="Scheme">

                <!-- Main Header -->
                <ng-container matColumnDef="parent1">
                  <th mat-header-cell *matHeaderCellDef [attr.colspan]="10" scope="row">100% State Sponsored Scheme
                  </th>
                </ng-container>

                <ng-container matColumnDef="parent2">
                  <th mat-header-cell *matHeaderCellDef [attr.colspan]="5" scope="row">Physical Target
                  </th>
                </ng-container>

                <!-- Serial Number -->
                <ng-container matColumnDef="srno">
                  <th mat-header-cell *matHeaderCellDef scope="row" [ngStyle]="{'display': 'none'}">
                    Sr. No.
                  </th>
                  <td mat-cell *matCellDef="let element; let i = index" class="centerAlign">
                    {{ i + 1 }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="srno1">
                  <th mat-header-cell *matHeaderCellDef scope="row" [attr.rowspan]="2" scope="row">Sr. No.</th>
                </ng-container>

                <!-- Type Of Scheme -->
                <ng-container matColumnDef="typeOfScheme">
                  <th mat-header-cell *matHeaderCellDef scope="row" [ngStyle]="{'display': 'none'}">Type Of Scheme</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.typeOfScheme}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="typeOfScheme1">
                  <th mat-header-cell *matHeaderCellDef scope="row" [attr.rowspan]="2" scope="row">Type Of Scheme</th>
                </ng-container>

                <!-- Budget Head -->
                <ng-container matColumnDef="budgetHead">
                  <th mat-header-cell *matHeaderCellDef scope="row" [ngStyle]="{'display': 'none'}">Budget Head</th>
                  <td mat-cell *matCellDef="let element" style="max-width: 200px;" matTooltip="{{element.nameOfScheme}}">
                    {{element.budgetHead}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="budgetHead1">
                  <th mat-header-cell *matHeaderCellDef scope="row" [attr.rowspan]="2" scope="row">Budget Head</th>
                </ng-container>
                
                <!-- Financial Provision for the year 2020-2021 (Rs. In Crore) -->
                <ng-container matColumnDef="financialProvision">
                  <th mat-header-cell *matHeaderCellDef scope="row" [ngStyle]="{'display': 'none'}">Financial Provision
                    for the year 2020-2021 (Rs. In Crore)</th>
                  <td mat-cell *matCellDef="let element">
                    <!-- {{element.financialProvision}} -->
                    <mat-form-field class="example-full-width mt-5">
                      <input matInput [(ngModel)]="element.financialProvision" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                  </td>
                </ng-container>
                <ng-container matColumnDef="financialProvision1">
                  <th mat-header-cell *matHeaderCellDef scope="row" [attr.rowspan]="2" scope="row">Financial
                    Provision<br>for the<br>year 2020-2021<br>(Rs. In Crore)</th>
                </ng-container>

                <!-- Physical Target Details -->
                <ng-container matColumnDef="physicalTarget">
                  <th mat-header-cell *matHeaderCellDef scope="row">Physical Target Details</th>
                  <td mat-cell *matCellDef="let element" [ngStyle]="{'width':'35%'}">
                    <!-- {{element.physicalTarget}} -->
                    <mat-form-field class="example-full-width">
                      <textarea matInput [(ngModel)]="element.physicalTarget" cdkTextareaAutosize cdkAutosizeMinRows="5"
                        [ngModelOptions]="{standalone: true}"></textarea>
                    </mat-form-field>
                  </td>
                </ng-container>

                <!-- unit -->
                <ng-container matColumnDef="unit">
                  <th mat-header-cell *matHeaderCellDef scope="row" [ngStyle]="{'width':'10%'}">Unit</th>
                  <td mat-cell *matCellDef="let element">
                    
                    <div *ngIf="unitDropVal.value=='14'">
                      <mat-form-field class="full-width">
                        <input matInput formControlName="unitVal">
                      </mat-form-field>
                    </div>
                    <mat-form-field [ngClass]="unitClass">
                      <mat-select formControlName="unit" #unitDropVal (selectionChange)="classChange()">
                        <mat-option>
                          <ngx-mat-select-search [formControl]="unitCtrl" [placeholderLabel]="'Unit...'"
                            [noEntriesFoundLabel]="'No matching Unit'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let unitListName of unitList " [value]="unitListName.value">
                          {{unitListName.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </ng-container>

                <!-- 2020-2021 -->
                <ng-container matColumnDef="year2021">
                  <th mat-header-cell *matHeaderCellDef scope="row">2020-2021</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-form-field class="example-full-width mt-5">
                      <input matInput [(ngModel)]="element.year2021" numbersAlphabetsOnly
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                  </td>
                </ng-container>

                <!-- 2021-2022 -->
                <ng-container matColumnDef="year2122">
                  <th mat-header-cell *matHeaderCellDef scope="row">2021-2022</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-form-field class="example-full-width mt-5">
                      <input matInput [(ngModel)]="element.year2122" numbersAlphabetsOnly
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                  </td>
                </ng-container>

                <!-- 2022-2023 -->
                <ng-container matColumnDef="year2223">
                  <th mat-header-cell *matHeaderCellDef scope="row">2022-2023</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-form-field class="example-full-width mt-5">
                      <!-- (keypress)="decimalKeyPress($event)" -->
                      <input matInput [(ngModel)]="element.year2223" numbersAlphabetsOnly
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                  </td>
                </ng-container>

                <!-- Action Edit/Delete -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef scope="row" [ngStyle]="{'display': 'none'}">
                    Action</th>
                  <td mat-cell *matCellDef="let element; let i=index">
                    <table class="iconTable" aria-describedby="actionBtn">
                      <tbody>
                        <tr>
                          <td width="30">
                            <i class="material-icons plus delete" title="Delete" (click)="deletExpenditureRow(i)" aria-hidden="true"
                              *ngIf="(SchemeDataSource.data.length > 1)">
                              delete
                            </i>
                          </td>
                          <td width="30">
                            <i class="material-icons plus add" title="Copy" (click)="copyDetails(element, i)">
                              content_copy
                            </i>
                          </td>
                          <td width="30">
                            <i *ngIf="SchemeDataSource && SchemeDataSource.data && (i == SchemeDataSource.data.length - 1)"
                            class="material-icons plus add" title="Add" (click)="addDetails()">
                              add
                            </i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>
                <ng-container matColumnDef="action1">
                  <th mat-header-cell *matHeaderCellDef scope="row" [attr.rowspan]="2" scope="row">Action</th>
                </ng-container>



                <!-- Header and Footer Row Definition -->
                <!-- Main Header -->
                <tr mat-header-row *matHeaderRowDef="['parent1']"></tr>
                <!-- Sub header -->
                <tr mat-header-row
                  *matHeaderRowDef="['srno1','typeOfScheme1', 'budgetHead1', 'financialProvision1', 'parent2', 'action1']">
                </tr>
                <!-- Sub header -->
                <tr mat-header-row *matHeaderRowDef="['srno', 'typeOfScheme', 'budgetHead', 'financialProvision',
                    'physicalTarget','unit', 'year2021', 'year2122', 'year2223', 'action']"></tr>
                <!-- Data Fetch From .TS File to table -->
                <tr mat-row *matRowDef="let row; columns: SchemeDataColumn;"></tr>

              </table>
              <!-- Paginator -->
              <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
              <!-- Macro Outcome Listing Table Ends -->
            </div>

            <div class="form-action-button">
              <button type="button" mat-raised-button color="primary" title="Save as Draft">
                <i class="material-icons" title="Save as Draft" aria-hidden="true">
                  save
                </i>
                Save as Draft
              </button>
              <button mat-raised-button type="submit" class="green" title="Submit" (click)="openWorkflow()">
                <i class="material-icons" title="Submit" aria-hidden="true">done</i> Submit</button>

              <button type="button" mat-raised-button class="btnClose" title="Close" (click)="goToScreen()">
                <i class="material-icons" title="Close" aria-hidden="true">
                  close
                </i>
                Close
              </button>
            </div>
          </mat-tab>

        </mat-tab-group>


      </div>
    </form>

  </div>
</div>