<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>Item Continuous Create Budget Estimate List
            </div>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Budget</a></li>
                <li class="breadcrumb-item active" aria-current="page">Item Continuous Create Budget Estimate List</li>
            </ol>
        </nav>
        <mat-accordion class="search-accordian">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <div class="heading-section">
                        Search Item Continuous Create Budget Estimate
                    </div>
                </mat-expansion-panel-header>
                <div class=" form-datatable-list">
                    <form class="col-sm-12" [formGroup]="searchListForm" (ngSubmit)="saveEstimate()">
                        <div class="row">
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="finYear" placeholder="Financial Year" #singleSelect1>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="finYearCtrl" [placeholderLabel]="'Find Financial Year...'" [noEntriesFoundLabel]="'no matching Financial Year found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let FY of finYearlist | filterSelectInput:finYearCtrl.value" [value]="FY.value">
                                            {{FY.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="departmentCode" placeholder="Department" #singleSelect1>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="departmentCodeCtrl" [placeholderLabel]="'Find Department...'" [noEntriesFoundLabel]="'no matching Department found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let department of departmentlist| filterSelectInput:departmentCodeCtrl.value" [value]="department.value">
                                            {{department.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="branchCode" placeholder="Name of the Branch" #singleSelect1>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="branchCodeCtrl" [placeholderLabel]="'Find Branch Name...'" [noEntriesFoundLabel]="'no matching Branch Name found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let branch of branchlist| filterSelectInput:branchCodeCtrl.value" [value]="branch.value">
                                            {{branch.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="estimationFrom" placeholder="Estimation From" #singleSelect1>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="estimationFromCtrl" [placeholderLabel]="'Find Estimation From...'" [noEntriesFoundLabel]="'no matching Estimation From found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let estimationfrom of estimationlist | filterSelectInput:estimationFromCtrl.value" [value]="estimationfrom.value">
                                            {{estimationfrom.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="estimationFor" placeholder="Estimation For" #singleSelect1>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="estimationForCtrl" [placeholderLabel]="'Find Estimation For...'" [noEntriesFoundLabel]="'no matching Estimation For found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let estimationfor of estimationForlist | filterSelectInput:estimationForCtrl.value" [value]="estimationfor.value">
                                            {{estimationfor.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="demandCode" placeholder="Demand" #singleSelect1>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="demandCodeCtrl" [placeholderLabel]="'Find Demand Code...'" [noEntriesFoundLabel]="'no matching Demand Code found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option matTooltip="{{demand.viewValue}}" *ngFor="let demand of filteredDemandList | filterSelectInput:demandCodeCtrl.value" [value]="demand.value">
                                            {{demand.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="bpnCode" placeholder="BPN Code" #singleSelect1>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="bpnCodeCtrl" [placeholderLabel]="'Find BPN Code...'" [noEntriesFoundLabel]="'no matching BPN Code found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option matTooltip="{{bpn.viewValue}}" *ngFor="let bpn of bpnlist | filterSelectInput:bpnCodeCtrl.value" [value]="bpn.value">
                                            {{bpn.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="majorHeadCode" placeholder="Major Head" #singleSelect1>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="majorHeadCodeCtrl" [placeholderLabel]="'Find Major Head...'" [noEntriesFoundLabel]="'no matching Major Head found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option matTooltip="{{majorhead.viewValue}}" *ngFor="let majorhead of majorHeadlist | filterSelectInput:majorHeadCodeCtrl.value" [value]="majorhead.value">
                                            {{majorhead.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="subMajorHeadCode" placeholder="Sub Major Head" #singleSelect1>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="subMajorHeadCodeCtrl" [placeholderLabel]="'Find Sub Major Head...'" [noEntriesFoundLabel]="'no matching Sub Major Head found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option matTooltip="{{submajorhead.viewValue}}" *ngFor="let submajorhead of subMajorHeadlist | filterSelectInput:subMajorHeadCodeCtrl.value" [value]="submajorhead.value">
                                            {{submajorhead.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="minorHeadCode" placeholder="Minor Head" #singleSelect1>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="minorHeadCodeCtrl" [placeholderLabel]="'Find Minor Head...'" [noEntriesFoundLabel]="'no matching Minor Head found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option matTooltip="{{minorhead.viewValue}}" *ngFor="let minorhead of minorHeadlist | filterSelectInput:minorHeadCodeCtrl.value" [value]="minorhead.value">
                                            {{minorhead.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="subHeadCode" placeholder="Sub Head" #singleSelect1>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="subHeadCodeCtrl" [placeholderLabel]="'Find Sub Head...'" [noEntriesFoundLabel]="'no matching Sub Head found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option matTooltip="{{subhead.viewValue}}" *ngFor="let subhead of subHeadlist | filterSelectInput:subHeadCodeCtrl.value" [value]="subhead.value">
                                            {{subhead.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="detailHeadCode" placeholder="Detailed Head" #singleSelect1>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="detailHeadCodeCtrl" [placeholderLabel]="'Find Detailed Head...'" [noEntriesFoundLabel]="'no matching Detailed Head found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let detailhead of detailHeadlist | filterSelectInput:detailHeadCodeCtrl.value" [value]="detailhead.value">
                                            {{detailhead.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="chargedVoted" placeholder="Charged/Voted" #singleSelect1>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="chargedVotedCtrl" [placeholderLabel]="'Find Charged/Voted ...'" [noEntriesFoundLabel]="'no matching Charged/Voted found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let chargevote of votedlist | filterSelectInput:chargedVotedCtrl.value" [value]="chargevote.value">
                                            {{chargevote.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="items" placeholder="Item Name" #singleSelect1>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="itemsCtrl" [placeholderLabel]="'Find Item Name...'" [noEntriesFoundLabel]="'no matching Item Name found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let NoItem of itemNo | filterSelectInput:itemsCtrl.value" [value]="NoItem.value">
                                            {{NoItem.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row displayBlock form-action-button">
                    <div class="centerAlign">
                        <button type="submit" mat-raised-button color="primary">
                              <i class="material-icons" aria-hidden="true">search</i>
                              Search
                          </button>
                        <button type="reset" mat-raised-button color="accent" (click)="clearForm();">
                              <i class="material-icons" aria-hidden="true">
                                  restore
                              </i>
                              Reset
                          </button>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" width="100%" matSort class="table-responsive">
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sr. No.</th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
                <ng-container matColumnDef="item">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Item</th>
                    <td mat-cell *matCellDef="let element"> {{element.item}} </td>
                </ng-container>
                <ng-container matColumnDef="finYear">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Financial Year</th>
                    <td mat-cell *matCellDef="let element"> {{element.finYear}} </td>
                </ng-container>
                <ng-container matColumnDef="estimateFrom">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estimates From </th>
                    <td mat-cell *matCellDef="let element"> {{element.estimateFrom}} </td>
                </ng-container>
                <ng-container matColumnDef="demand">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Demand </th>
                    <td mat-cell *matCellDef="let element"> {{element.demand}} </td>
                </ng-container>
                <ng-container matColumnDef="majorHead">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Major Head </th>
                    <td mat-cell *matCellDef="let element"> {{element.majorHead}} </td>
                </ng-container>
                <ng-container matColumnDef="subMajorHead">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub Major Head </th>
                    <td mat-cell *matCellDef="let element"> {{element.subMajorHead}} </td>
                </ng-container>
                <ng-container matColumnDef="minorHead">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Minor Head </th>
                    <td mat-cell *matCellDef="let element"> {{element.minorHead}} </td>
                </ng-container>
                <ng-container matColumnDef="subHead">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub Head </th>
                    <td mat-cell *matCellDef="let element"> {{element.subHead}} </td>
                </ng-container>
                <ng-container matColumnDef="detailHead">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Detail Head </th>
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="'../item-continuous-view'">{{element.detailHead}} </a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="chargeVoted">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Charged/ Voted </th>
                    <td mat-cell *matCellDef="let element"> {{element.chargeVoted}} </td>
                </ng-container>
                <ng-container matColumnDef="css">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CSS </th>
                    <td mat-cell *matCellDef="let element"> {{element.css}} </td>
                </ng-container>

                <ng-container matColumnDef="refNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Reference No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.refNo}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element;let i = index;" class="icontab action-btn-i centerAlign">
                        <a [routerLink]="'../item-continuous-estimate'"><i class="material-icons plus edit-icon" title="Edit"> edit </i></a>
                        <a [routerLink]="'../item-continuous-view'"><i class="material-icons plus view-icon" title="View">remove_red_eye</i></a>
                        <a class="delete-icon" *ngIf="element.status !== '100%'" (click)="delete(element)"><i class="material-icons plus delete" title="delete">delete_forever</i></a>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; let i = index;columns: displayedColumns;" [ngClass]="{'completed': (row.status === '100%'),'incomplete': (row.status !== '100%')}"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>