<div class="container">
  <div class="form-wrapper">
    <div class="heading-section ng-star-inserted">
      <div>New Work Estimate View</div>
      <div class="font-heading"><strong>Reference Number:</strong> 19-20/BUD/NWE/001</div>
      <div class="font-heading"><strong>Reference Date:</strong> {{ date | date: 'dd-MMM-yyyy HH:mm'}}</div>
    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Budget</a></li>
        <li class="breadcrumb-item active" aria-current="page">New Work Estimate View</li>
      </ol>
    </nav>
    <div class="row header-detail">
      <div class="col-sm-6 colPadding" *ngFor="let item of headerJson">
        <div class="col-sm-4 labelCSS">{{item.label}}<span class="floatRight">:</span></div>
        <div class="col-sm-8 paddingUnset">{{item.value}}</div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12">
      <mat-tab-group mat-stretch-tabs class="standing-est-tabing">
          
        <mat-tab label="Item Category Checklist">
  
            <table border="1" width="100%" class="catTable">
              <tbody>
                <tr>
                  <td colspan="3" class="text-center tabLable">બાંધકામ અંગેની નવી બાબતો માટેનું ચેક લીસ્ટ<br>(નાણા વિભાગનો
                    તા.૧૪/૧૦/૨૦૧૯નો પરિપત્ર ક્રમાંક: ખરચ/૧૦/૨૦૧૯/૧૪૦૭/ઝ.૧)</td>
                </tr>
                <tr>
                  <td rowspan="10">1</td>
                  <td class="leftAlign tdCkListStyle" colspan="2">
                    મૂળભૂત વિગતો
                  </td>
                </tr>
  
                <tr>
                  <td class="leftAlign">
                    યોજનાનું નામ
                  </td>
                  <td>
                    <mat-form-field class="full-width">
                      <input type="text" placeholder="" value="New Work" readonly matInput>
                    </mat-form-field>
                  </td>
                </tr>
  
                <tr>
                  <td class="leftAlign">
                    વિભાગનું નામ
                  </td>
                  <td>
                    <mat-form-field class="full-width">
                      <input type="text" placeholder="Agriculture, Famers welfare and Co-operation Department" matInput
                        readonly>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="leftAlign">
                    અંદાજપત્ર પ્રકાશન નંબર
                  </td>
                  <td>
                    <mat-form-field class="full-width">
                      <input type="text" placeholder="03:Agriculture, Famers welfare and Co-operation Department" matInput
                        readonly>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="leftAlign">
                    માંગણી ક્રમાંક
                  </td>
                  <td>
                    <mat-form-field class="full-width">
                      <input type="text" placeholder="01:Agriculture and Co-operation Department" matInput readonly>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="leftAlign">
                    અંદાજપત્રીય મુખ્ય સદર
                  </td>
                  <td>
                    <mat-form-field class="full-width">
                      <input type="text" placeholder="2401:Crop Husbandry" matInput readonly>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="leftAlign">
                    પેટા મુખ્ય સદર
                  </td>
                  <td>
                    <mat-form-field class="full-width">
                      <input type="text" placeholder="001:Direction And Administration" matInput readonly>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="leftAlign">
                    ગૌણ સદર
                  </td>
                  <td>
                    <mat-form-field class="full-width">
                      <input type="text" placeholder="01:Directorate of Agriculture Establishment" matInput readonly>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="leftAlign">
                    વિગતવાર સદર
                  </td>
                  <td>
                    <mat-form-field class="full-width">
                      <input type="text" placeholder="00:Directorate of Agriculture Establishment" matInput readonly>
                    </mat-form-field>
                  </td>
                </tr>
  
                <tr>
                  <td class="leftAlign">
                    બજેટ જોગવાઈ
                  </td>
                  <td>
                    <mat-form-field class="full-width">
                      <input type="text" placeholder="Rs. 150 Lakhs" matInput readonly>
                    </mat-form-field>
                  </td>
                </tr>
  
                <tr>
                  <td>2</td>
                  <td>યોજનાનો હેતુ અને કારણો (જસ્ટીફીકેશન)</td>
                  <td>
                    <mat-form-field class="full-width">
                      <input type="text" matInput value="Purpose" readonly>
                    </mat-form-field>
                  </td>
                </tr>
  
                <tr>
                  <td>3</td>
                  <td>જે હેતુ માટે મકાન બાંધવાનું છે તે અંગેની જરૂરી સ્ટાફ વિગતોનું માળખું</td>
                  <td>
  
                    <mat-form-field class="full-width">
                      <input type="number" min="0" matInput value="Details" readonly>
                    </mat-form-field>
                  </td>
                </tr>
  
                <tr>
                  <td rowspan="7">4</td>
                  <td colspan="2" class="leftAlign tdCkListStyle">બાંધકામ અંગેના કામોની વિગત</td>
  
                </tr>
  
  
                <tr>
                  <td class="leftAlign">(૧) મકાન બાંધકામ અંગે બિલ્ડ-અપ એરિયા (સ્ક્વેરફૂટ)</td>
                  <td>
                    <mat-form-field class="full-width">
                      <input type="number" min="0" matInput value="2" readonly>
                    </mat-form-field>
                  </td>
                </tr>
  
                <tr>
                  <td class="leftAlign">(૨) એસ. ઓ. આર. વર્ષ ૨૦૧૯-૨૦૨૦ મુજબ અંદાજિત ખર્ચ</td>
                  <td>
                    <mat-form-field class="full-width">
                      <input type="number" min="0" matInput value="2" readonly>
                    </mat-form-field>
                  </td>
                </tr>
  
                <tr>
                  <td class="leftAlign">(૩) વર્ષવાર કરવાની થતી જોગવાઈની વિગત</td>
                  <td>
                    <mat-form-field class="full-width">
                      <input type="text" matInput  value="Details" readonly>
                    </mat-form-field>
                  </td>
                </tr>
  
                <tr>
                  <td class="leftAlign">(૧) વર્ષ ૨૦૨૦-૨૦૨૧</td>
                  <td>
                    <mat-form-field class="full-width">
                      <input type="text" matInput value="1" readonly>
                    </mat-form-field>
                  </td>
                </tr>
  
                <tr>
                  <td class="leftAlign">(૨) વર્ષ ૨૦૨૧-૨૦૨૨</td>
                  <td>
                    <mat-form-field class="full-width">
                      <input type="text" matInput value="2" readonly>
                    </mat-form-field>
                  </td>
                </tr>
  
                <tr>
                  <td class="leftAlign">(૩) વર્ષ ૨૦૨૨-૨૦૨૩</td>
                  <td>
                    <mat-form-field class="full-width">
                      <input type="text" matInput value="3" readonly>
                    </mat-form-field>
                  </td>
                </tr>
  
                <tr>
                  <td rowspan="4">5</td>
                  <td colspan="2" class="leftAlign tdCkListStyle">જમીન ઉપલબ્ધતા</td>
                </tr>
  
                <tr>
                  <td class="leftAlign">(૧) આ કામ અંગે જમીનની જરૂરીયાત (ચો. ફુટ)</td>
                  <td>
                    <mat-form-field floatLabel="never">
                      <input type="number" min="0" matInput value="100" readonly>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="leftAlign">(૨) હાલ કેટલી જમીન ઉપલબ્ધ છે. (ચો. ફુટ)</td>
                  <td>
                    <mat-form-field floatLabel="never">
                      <input type="number" min="0" matInput value="500" readonly>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="leftAlign">(૩) જો જમીન ઉપલબ્ધ થયેલ ન હોય તો તે અંગે કરવામાં આવેલ કાર્યવાહીની વિગત</td>
                  <td>
                    <mat-form-field floatLabel="never">
                      <input type="text" matInput value="NA" readonly>
                    </mat-form-field>
                  </td>
                </tr>
  
                <tr>
                  <td rowspan="4">6</td>
                  <td colspan="2" class="leftAlign tdCkListStyle">પ્રાથમિક અંદાજો</td>
                  <!-- <td>
                                      <mat-form-field class="full-width">                                           
                                          <input type="number" min="0" matInput>
                                      </mat-form-field>
                                  </td> -->
                </tr>
  
                <tr>
                  <td class="leftAlign">(૧) આ કામ અંગે કેટલો ખર્ચ થનાર છે? (એસ. ઓ. આર. મુજબ પ્લીન્થ એરિયા આધારિત)</td>
                  <td>
                    <mat-form-field class="full-width">
                      <input type="number" min="0" matInput value="10000" readonly>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="leftAlign">(i) બાંધકામનો ખર્ચ (પ્રતિ ચો.મી)</td>
                  <td>
                    <mat-form-field class="full-width">
                      <input type="number" min="0" matInput value="7000" readonly>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="leftAlign">(ii) બાંધકામ તથા વિજળી ફર્નિચર, સિવિલ વર્ક વિગેરે સાથેનો ખર્ચ (Completion Cost)
                    પ્રતિ ચો. મી.</td>
                  <td>
                    <mat-form-field class="full-width">
                      <input type="number" min="0" matInput value="3000" readonly>
                    </mat-form-field>
                  </td>
                </tr>
  
                <tr>
                  <td>7</td>
                  <td>અન્ય સમાન પ્રકારની યોજનાઓ:<br>
                    આજ પ્રકારની યોજના સરકાર / રાજ્ય સરકારના અન્ય વિભાગો કે અન્ય સંસ્થા ધ્વારા હાથ ધરવામાં આવેલ છે કે કેમ?
                    જો હા, તો તે યોજના અંગેની વિગતો રજૂ કરવી. પ્રસ્તુત યોજના હાથ ધરવા અંગેનું જસ્ટીફીકેશન રજૂ કરવું
                  </td>
                  <td>
                    <!-- <mat-form-field class="full-width">                                           
                                          <input type="text" matInput>
                                      </mat-form-field> -->
                    <mat-form-field>
                      <mat-select [(value)]="selNo1" placeholder="Yes/No" disabled>
                        <mat-option value="no1">NO</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>કેન્દ્ર સરકાર પુરસ્કૃત યોજના:<br>
                    જો આ યોજના કેન્દ્ર સરકાર પુરસ્કૃત હોય તો યોજનાની સંપૂણ વિગતો તેમજ ભારત સરકારની ગાઈડ લાઈન્સ્ની નકલ રજુ
                    કરવી.
                  </td>
                  <td>
                    <!-- <mat-form-field class="full-width">                                           
                                          <input type="number" min="0" matInput>
                                      </mat-form-field> -->
                    <mat-form-field>
                      <mat-select [(value)]="selNo2" placeholder="Yes/No" disabled>
                        <mat-option value="no2">NO</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td rowspan="3">9</td>
                  <td colspan="2" class="leftAlign tdCkListStyle">નાણાકીય સ્ત્રોત વિગત:</td>
                  <!-- <td>
                                     
                                      <mat-form-field  class="full-width">                                           
                                          <input type="text" matInput>
                                      </mat-form-field>
                                  </td> -->
                </tr>
  
                <tr>
                  <td class="leftAlign">(૧) આ કામ માટે ભંડોળ વર્ષવાર જરૂરીયાત</td>
                  <td>
                    <mat-form-field class="full-width">
                      <input type="text" matInput value="Requirement" readonly>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="leftAlign">(૨) આ યોજના / કામ માટે ભંડોળ ક્યાંથી મેળવવામાં આવનાર છે. (સ્પષ્ટ વિગતો રજુ કરવી)
                  </td>
                  <td>
                    <mat-form-field class="full-width">
                      <input type="text" matInput value="Ahmedabad" readonly>
                    </mat-form-field>
                  </td>
                </tr>
  
                <tr>
                  <td rowspan="4">10</td>
                  <td colspan="2" class="leftAlign tdCkListStyle">ગુણવત્તાનું પ્રમાણન:</td>
  
                </tr>
  
                <tr>
                  <td class="leftAlign tdCkListStyle">(૧) વિભાગીય રીતે કરવાનું છે?</td>
                  <td rowspan="3">
                    <!-- <mat-form-field class="full-width">                                           
                                          <input type="number" matInput>
                                      </mat-form-field> -->
                    <mat-form-field>
                      <mat-select [(value)]="selPmc" disabled>
                        <mat-option value="pmc">PMC Agency</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="leftAlign tdCkListStyle">(૨) થર્ડપાર્ટી ઇન્સ્પેક્શનથી કરવાનું?</td>
  
                </tr>
                <tr>
                  <td class="leftAlign tdCkListStyle">(૩) પ્રોજેકટ મોનીટરીંગ કન્સલટન્સી એજન્સી મારફત કરવાનું છે? (આ અંગે
                    થનાર ખર્ચને વિગતો રજૂ કરવી)</td>
  
                </tr>
  
                <tr>
                  <td rowspan="3">11</td>
                  <td class="leftAlign">(૧) આ યોજના અન્વયે ઉભા થનાર માળખા નિભાવણી અને જાળવણી અંગે શું વ્યવસ્થા વિચારેલ છે?
                  </td>
                  <td>
                    <mat-form-field floatLabel="never">
                      <input type="text" matInput value="Yes" readonly>
                    </mat-form-field>
                  </td>
                </tr>
  
                <tr>
                  <td class="leftAlign">(૨) આ અંગે વર્ષવાર થનાર ખર્ચ</td>
                  <td>
                    <mat-form-field floatLabel="never">
                      <input type="text" matInput value="2000" readonly>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="leftAlign">(૩) રેવન્યુ ઇપ્લીકેશન ઓફ કેપીટલ એક્ષ્પેન્ડીચર.</td>
                  <td>
                    <mat-form-field floatLabel="never">
                      <input type="text" matInput value="6000" readonly>
                    </mat-form-field>
                  </td>
                </tr>
  
              </tbody>
            </table>
  
            <table mat-table [dataSource]="ViewCatogarySourceData" class="mat-elevation-z8 mt-5">
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef scope="row"> No. </th>
                <td mat-cell *matCellDef="let element let i = index" class="centerAlign"> {{i + 1}}</td>
              </ng-container>
  
              <ng-container matColumnDef="checklist">
                <th mat-header-cell *matHeaderCellDef scope="row"> Name </th>
                <td mat-cell *matCellDef="let element">
                  {{element.name}}
                </td>
              </ng-container>
  
  
  
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef scope="row"> Action </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <!-- <a [routerLink]="''"><i class="material-icons plus edit-icon mr-2" title="Edit"> edit </i></a> -->
                  <a><i class="material-icons plus view-icon mr-2" title="View">remove_red_eye</i></a>
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="itemViewCatogary"></tr>
              <tr mat-row *matRowDef="let row; columns: itemViewCatogary;"></tr>
            </table>
        </mat-tab>
        <mat-tab label="New Work List">
            <mat-tab-group mat-stretch-tabs class="standing-est-tabing">
                <mat-tab label="State">
          <div class="rsClass"> (₹ in Lakhs) </div>
                        <table mat-table #table multiTemplateDataRows [dataSource]="dataSource" class="mat-elevation-z8 customresponsive">
                            <ng-container matColumnDef="{{column.value}}" *ngFor="let column of displayedColumnsExecel">
                                <ng-container>
                                    <th mat-header-cell *matHeaderCellDef> {{column.viewValue}} </th>
                                    <td mat-cell [ngClass]="column.class" *matCellDef="let element">
                                       <ng-container *ngIf="column.class == 'rightAlign' && column.viewValue != 'Amount Proposed For 2020-2021'">
                                         {{element[column.value] | number : '1.2-2'}}</ng-container>

                                       <ng-container *ngIf="column.class == 'rightAlign' && column.viewValue == 'Amount Proposed For 2020-2021'">
                                         <div class="rightAlign">
                                           {{element[column.value] | number : '1.2-2'}}
                                           <i class="material-icons btn-history" title="View History" (click)="openHistory(element)">history</i>
                                       </div>
                                       </ng-container>
                                       <ng-container *ngIf="column.class !== 'rightAlign'">{{element[column.value]}}</ng-container> 
                                    </td>
                                </ng-container>
                            </ng-container>
                            <ng-container matColumnDef="expandedDetail">
                                <tr>
                                <td mat-cell *matCellDef="let element" [attr.colspan]="11">
                                    <div class="example-element-detail"
                                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" [style.height]="element.expanded ? 'unset' : '0 !important'">
                                        <div class="row">
                                                <div class="example-element-description col-sm-3">
                                                    <span>Work Description (Eng)</span><br>
                                                    {{element.workDescEng}}
                                                </div>
                                                <div class="example-element-description col-sm-3">
                                                    <span>Work Description (Guj)</span><br>
                                                    {{element.workDescGuj}}
                                                </div>
                                                <div class="example-element-description col-sm-3">
                                                    <span>Remarks (Eng)</span> <br>
                                                    {{element.remarksEng}}
                                                </div>
                                                <div class="example-element-description col-sm-3">
                                                    <span>Remarks (Guj)</span><br>
                                                    {{element.remarksGuj}}
                                                </div>
                                            </div>
                                    </div>
                                </td>
                                </tr>
                            </ng-container>
                            <ng-container matColumnDef="1">
                                <th mat-header-cell *matHeaderCellDef class="tblwithoutBg">1</th>
                            </ng-container>
                            <ng-container matColumnDef="2">
                                <th mat-header-cell *matHeaderCellDef class="tblwithoutBg">2</th>
                            </ng-container>
                            <ng-container matColumnDef="3">
                                <th mat-header-cell *matHeaderCellDef class="tblwithoutBg">3</th>
                            </ng-container>
                            <ng-container matColumnDef="4">
                                <th mat-header-cell *matHeaderCellDef class="tblwithoutBg">4</th>
                            </ng-container>
                            <ng-container matColumnDef="5">
                                <th mat-header-cell *matHeaderCellDef class="tblwithoutBg">5</th>
                            </ng-container>
                            <ng-container matColumnDef="6">
                                <th mat-header-cell *matHeaderCellDef class="tblwithoutBg">6</th>
                            </ng-container>
                            <ng-container matColumnDef="7">
                                <th mat-header-cell *matHeaderCellDef class="tblwithoutBg">7</th>
                            </ng-container>
                            <ng-container matColumnDef="8">
                                <th mat-header-cell *matHeaderCellDef class="tblwithoutBg">8</th>
                            </ng-container>
                            <ng-container matColumnDef="9">
                                <th mat-header-cell *matHeaderCellDef class="tblwithoutBg">9</th>
                            </ng-container>
                            <ng-container matColumnDef="10">
                                <th mat-header-cell *matHeaderCellDef class="tblwithoutBg">10</th>
                            </ng-container>
                            <ng-container matColumnDef="11">
                                <th mat-header-cell *matHeaderCellDef class="tblwithoutBg">11</th>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsHeaders" ></tr>
                            <tr mat-header-row class="unsetHeight" *matHeaderRowDef="['1','2','3','4','5','6','7','8','9']"></tr>
                            <tr mat-row class="workIDs" *matRowDef="let element; columns: displayedColumnsHeaders;"
                                class="example-element-row" [class.example-expanded-row]="expandedElement === element"
                                (click)="expandedElement = expandedElement === element ? null : element">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                        </table>
                </mat-tab>
            </mat-tab-group>
        </mat-tab>
        <mat-tab label="Attachments">
                <table mat-table [dataSource]="dataSourceBrowse" width="100%" id="browseTable">
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef>Sr. No.</th>
                      <td mat-cell *matCellDef="let item; let i = index" class="centerAlign">
                        {{ i + 1 }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="financialYear">
                        <th mat-header-cell *matHeaderCellDef>Financial Year</th>
                        <td mat-cell *matCellDef="let item;let i = index;">
                            {{item.financialYear}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="fileName">
                        <th mat-header-cell *matHeaderCellDef>File name</th>
                        <td mat-cell *matCellDef="let item">
                            {{item.fileName}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Action</th>
                        <td mat-cell *matCellDef="let item; let i = index">
                            <table class="iconTable">
                                <tbody>
                                    <tr>
                                        <td width="30" class="centerAlign">
                                            <i class="material-icons plus" (click)="view()" title="view">
                                              visibility
                                            </i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedBrowseColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedBrowseColumns;"></tr>
                </table>
              </mat-tab>
      </mat-tab-group>
      <div class="form-action-button">
          <button type="button" mat-raised-button (click)="gotoListing()" color="warn">
              <i class="material-icons" aria-hidden="true" title="Listing">
                  list
              </i>
              Listing
          </button>
        <button type="button" mat-raised-button (click)="goToDashboard()" class="btnClose">
            <i class="material-icons" aria-hidden="true" title="Budget dashboard">
                close
            </i>
            Close
        </button>
    </div>
    </div>
    </div>
  </div>
</div>