<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>User Roll Mapping</div>
        </div>
        <div class="form-datatable-list">
            <form [formGroup]="userMappingForm" (ngSubmit)="onSubmit(userMappingForm.value)">
                <div class="row">
                    <div class="col-sm-3">
                        <mat-form-field class="full-width">
                            <mat-select formControlName="department" placeholder="Department">
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="departmentCtrl" [placeholderLabel]="'Find Department...'" [noEntriesFoundLabel]="'No Matching Department found'">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let dp of department_list | filterSelectInput:departmentCtrl.value" [value]="dp.value">
                                    {{dp.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <mat-form-field class="full-width">
                            <mat-select formControlName="hod" placeholder="HOD">
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="hodCtrl" [placeholderLabel]="'Find Hod...'" [noEntriesFoundLabel]="'No Matching Hod found'">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let hd of hod_list | filterSelectInput:hodCtrl.value" [value]="hd.value">
                                    {{hd.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <mat-form-field class="full-width">
                            <mat-select formControlName="office" placeholder="Office">
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="officeCtrl" [placeholderLabel]="'Find Office...'" [noEntriesFoundLabel]="'No Matching Office found'">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let office of office_list | filterSelectInput:officeCtrl.value" [value]="office.value">
                                    {{office.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <mat-form-field class="full-width">
                            <mat-select formControlName="activities" placeholder="Activities">
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="activitiesCtrl" [placeholderLabel]="'Find Activities...'" [noEntriesFoundLabel]="'No Matching Activities found'">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let Acti of activities_list | filterSelectInput:activitiesCtrl.value" [value]="Acti.value">
                                    {{Acti.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="heading-section ng-star-inserted">
                    <div>Search Mapping</div>
                </div>
                <div class="row">
                    <div class="col-sm-12 filterfield">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="User Login Name" formControlName="userLoginName"  [(ngModel)]="searchText">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Add User" formControlName="addUser">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 textcenter">
                        <button type="button" mat-raised-button color="primary" (click)="cancelSearch()">
                            <i class="material-icons" aria-hidden="true">
                            clear
                            </i>
                            Cancel Search
                        </button>
                        <button type="submit" mat-raised-button color="primary">
                            <i class="material-icons" aria-hidden="true">
                            add_circle_outline
                            </i>
                            Add User
                        </button>
                    </div>
                </div>
                <hr>
            </form>
            <div class="row">
                <div class="col-sm-3">
                    <mat-label><b>All User for the Activity</b>
                    </mat-label>
                    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport selectedvalue">
                        <div class="example-item" *ngFor="let item of array | filter:searchText">
                            <p> {{item.AddUser2}}</p>
                        </div>
                    </cdk-virtual-scroll-viewport>
                </div>
                <div class="col-sm-3">
                    <mat-label><b>Role</b>
                    </mat-label>
                    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                        <div *cdkVirtualFor="let role of role" class="example-item">
                            <mat-checkbox>{{role.viewvalue}} </mat-checkbox>
                        </div>
                    </cdk-virtual-scroll-viewport>
                </div>
                <div class="col-sm-3">
                    <mat-label><b>All Sub Activity</b>
                    </mat-label>
                    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                        <div *cdkVirtualFor="let subAct of sub_activity" class="example-item">
                            <mat-checkbox>{{subAct.viewvalue}} </mat-checkbox>
                        </div>
                    </cdk-virtual-scroll-viewport>
                </div>
                <div class="col-sm-3">
                    <mat-label><b>All Sub Activity Mapped to the User</b>
                    </mat-label>
                    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                        <div *cdkVirtualFor="let item of allSubMapped" class="example-item">
                            <p>{{item.viewvalue}} </p>
                        </div>
                    </cdk-virtual-scroll-viewport>
                </div>
            </div>
            <br>
            <div class="row displayBlock form-action-button">
                <div class="col-sm-12">
                    <p>User Post Name: <b>{{designation}}</b></p>
                    <div class="centerAlign">
                        <button type="button" mat-raised-button color="primary">
                            Apply Change
                        </button>
                        <button type="reset" mat-raised-button color="accent" (click)="clearForm()">
                            <i class="material-icons" aria-hidden="true">
                            clear
                            </i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>