<div class="container">
  <div class="form-wrapper">

    <div class="heading-section ng-star-inserted">
      <div class="col-md-4 col-sm-12 title">Stamp Issue by SSO to Treasury Office</div>
    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Stamp Processing</a></li>
        <li class="breadcrumb-item active" aria-current="page">Stamp Issue by SSO to Treasury Office</li>
      </ol>
    </nav>

    <div class="row header-detail">
      <div class="col-sm-6 colPadding" *ngFor="let item of headerJso">
        <div class="col-sm-4 labelCSS">{{item.label}}<span class="floatRight">:</span></div>
        <div class="col-sm-8 paddingUnset">{{item.value}}</div>
      </div>
    </div>


    <div class="panel-group mt-3">

      <mat-tab-group mat-stretch-tabs>

        <mat-tab label="Stamp Issue by SSO to Treasury Office" class="full-width">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" aria-describedby="stampIssueBy">
            <!-- Sr. No.  -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef scope="row">Sr. No. </th>
              <td mat-cell *matCellDef="let element;let i=index" class="centerAlign"> {{i + 1}} </td>
            </ng-container>

            <!-- Type Of Stamp -->
            <ng-container matColumnDef="typeOfStamp">
              <th mat-header-cell *matHeaderCellDef width="8%" scope="row">Type Of Stamp</th>
              <td mat-cell *matCellDef="let element" class="leftAlign"> {{element.typeOfStamp}} </td>
            </ng-container>

            <!-- Denomination -->
            <ng-container matColumnDef="denominationvalue">
              <th mat-header-cell *matHeaderCellDef scope="row">Denomination Value</th>
              <td mat-cell *matCellDef="let element" class="leftAlign"> {{element.denominationvalue}} </td>
            </ng-container>

            <!-- Stock provided against previous indent -->
            <ng-container matColumnDef="availQty">
              <th mat-header-cell *matHeaderCellDef scope="row">Stock provided against previous indent</th>
              <td mat-cell *matCellDef="let element" class="leftAlign"> {{element.availQty}} </td>
            </ng-container>

            <!-- Quantity due against previous indent -->
            <ng-container matColumnDef="authQty">
              <th mat-header-cell *matHeaderCellDef scope="row">Quantity due against previous indent</th>
              <td mat-cell *matCellDef="let element" class="leftAlign"> {{element.authQty}} </td>
            </ng-container>

            <!-- Reuested Quantity by Treasury Office -->
            <ng-container matColumnDef="requestedQuantity">
              <th mat-header-cell *matHeaderCellDef scope="row">Requested Quantity by Treasury Office</th>
              <td mat-cell *matCellDef="let element" class="leftAlign"> {{element.requestedQuantity}} </td>
            </ng-container>
            <!-- Quantity to be issued (Label / Stamp) -->
            <ng-container matColumnDef="qtyapproved">
              <th mat-header-cell *matHeaderCellDef scope="row">Quantity to be issued (Label / Stamp)</th>
              <td mat-cell *matCellDef="let element" class="leftAlign">{{element.requestedQuantity}}
              </td>
            </ng-container>

            <!-- From Series -->
            <ng-container matColumnDef="from">
              <th mat-header-cell *matHeaderCellDef scope="row">From Series</th>
              <td mat-cell *matCellDef="let element" class="centerAlign">{{element.from}}
              </td>
            </ng-container>
            <!-- To Series -->
            <ng-container matColumnDef="to">
              <th mat-header-cell *matHeaderCellDef scope="row">To Series</th>
              <td mat-cell *matCellDef="let element" class="centerAlign">{{element.to}}
              </td>
            </ng-container>

            <!-- Quantity approved by scrutiny officer -->
            <ng-container matColumnDef="qtyApprScr">
              <th mat-header-cell *matHeaderCellDef scope="row">Quantity approved by scrutiny officer</th>
              <td mat-cell *matCellDef="let element" class="rightAlign">{{element.qtyApprScr}}
              </td>
            </ng-container>

            <!-- Amount -->
            <ng-container matColumnDef="amt">
              <th mat-header-cell *matHeaderCellDef scope="row">Amount</th>
              <td mat-cell *matCellDef="let element" class="rightAlign">
                {{element.requestedQuantity * element.denominationvalue}} </td>
            </ng-container>
            <!-- Header Section Of table -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- Data Fetch From .TS File to table -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-tab>

        <mat-tab label="Attachments" class="full-width">
          <app-common-attachment [attachemntValue]="attachmentObj"></app-common-attachment>
        </mat-tab>
      </mat-tab-group>

      <div class="form-action-button">

        <button type="button" mat-raised-button (click)="gotoListing()" color="warn">
          <i class="material-icons" aria-hidden="true" title="Listing">
            list
          </i>
          Listing
        </button>
        <button type="button" mat-raised-button class="print-btn" title="Print">
          <i class="material-icons" title="Print" aria-hidden="true">print</i>
          Print
        </button>
        <button type="button" mat-raised-button (click)="closeConfirmationPopup()" class="btnClose">
          <i class="material-icons" aria-hidden="true" title="Dashboard">
            close
          </i>
          Close
        </button>

      </div>
    </div>

  </div>
</div>