<div class="container">
  <div class="form-wrapper">
    <div class="heading-section ng-star-inserted">
      <div>Annexure - 2K</div>
      <div class="font-heading"><strong>Reference No:</strong> 19-20/DPPF-NPS/AN2K/001</div>
      <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}</div>
    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item " aria-current="page"><a href="javascript:void(0)">DPPF - NPS</a></li>
        <li class="breadcrumb-item active" aria-current="page">Annexure - 2K</li>
      </ol>
    </nav>

    <div class="panel-group">
      <form [formGroup]="annexuryTwoKForm" (ngSubmit)="annexuryTwoKFormData()">
        <mat-tab-group mat-stretch-tabs [selectedIndex]="selectedIndex" (selectedIndexChange)="getTabIndex($event)">
          <!-- Annexure - 2K -->
          <mat-tab>
            <ng-template mat-tab-label>
              Annexure - 2K
            </ng-template>

            <!-- Employee Details Starts -->
            <div class="box box-primary">
              <div class="box-header">Employee Details</div>
              <div class="box-body">
                <div class="row">

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <input matInput type="text" formControlName="payFixationEmployeeNumber"
                        placeholder="Pay Fixation Employee Number" numbersOnly required>
                      <mat-icon matSuffix class="searchIcon" (click)="openDialogEmployeeNumber()">
                        search</mat-icon>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.payFixationEmployeeNumber.touched || (annexuryTwoKForm.controls.payFixationEmployeeNumber.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.payFixationEmployeeNumber.errors?.required">
                          {{errorMessages.PAY_FIXATION_EMPLOYEE_NUMBER}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput placeholder="Reference Number" formControlName="ragNumber" readonly
                        charactersOnly>
                      <mat-icon matSuffix class="searchIcon" (click)="openDialogEmployeeNumber()">
                        search</mat-icon>
                    </mat-form-field>
                  </div>

                </div>

                <div class="row">

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput placeholder="First Name" formControlName="firstName" charactersOnly required>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.firstName.touched || (annexuryTwoKForm.controls.firstName.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.firstName.errors?.required">
                          {{errorMessages.FIRST_NAME}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput placeholder="Middle Name" formControlName="middleName" charactersOnly required>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.middleName.touched || (annexuryTwoKForm.controls.middleName.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.middleName.errors?.required">
                          {{errorMessages.MIDDLE_NAME}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput placeholder="Last Name" formControlName="lastName" charactersOnly required>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.lastName.touched || (annexuryTwoKForm.controls.lastName.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.lastName.errors?.required">
                          {{errorMessages.LAST_NAME}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="designation" placeholder="Designation" required>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="designationCTRL"
                            [placeholderLabel]="'Find Designation...'"
                            [noEntriesFoundLabel]="'No matching Designation found'" alphabetsNumberSpaceSpecialOnly>
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option
                          *ngFor="let designationName of designationList | filterSelectInput:designationCTRL.value"
                          [value]="designationName.value">
                          {{designationName.viewValue}}
                        </mat-option>
                      </mat-select>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.designation.touched || (annexuryTwoKForm.controls.designation.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.designation.errors?.required">
                          {{errorMessages.DESIGNATION}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>


                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="class" placeholder="Class" required>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="classCTRL" [placeholderLabel]="'Find class...'"
                            [noEntriesFoundLabel]="'No matching Designation found'" numbersAlphabetsOnly>
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of classList | filterSelectInput:classCTRL.value"
                          [value]="item.value">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.class.touched || (annexuryTwoKForm.controls.class.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.class.errors?.required">
                          {{errorMessages.CLASS}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="dateOfBirth" [matDatepicker]="picker1"
                        placeholder="Date of Birth" required>
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1 [disabled]="false"></mat-datepicker>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.dateOfBirth.touched || (annexuryTwoKForm.controls.dateOfBirth.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.dateOfBirth.errors?.required">
                          {{errorMessages.DATE_OF_BIRTH}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="maritalStatus" placeholder="Marital Status" required>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="maritalStatusCtrl"
                            [placeholderLabel]="'Find Marital Status...'"
                            [noEntriesFoundLabel]="'no matching Marital Status found'" charactersOnly>
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option
                          *ngFor="let maritalStatus of maritalStatus_list | filterSelectInput: maritalStatusCtrl.value"
                          [value]="maritalStatus.value">
                          {{maritalStatus.viewValue}}
                        </mat-option>
                      </mat-select>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.maritalStatus.touched && annexuryTwoKForm.controls.maritalStatus.errors">
                        <mat-error *ngIf="annexuryTwoKForm.controls.maritalStatus.errors.required">
                          {{errorMessages.MARITAL_STATUS}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput placeholder="Mobile Number" formControlName="employeeMobileNumber" maxlength="10"
                        numbersOnly required>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.employeeMobileNumber.touched || (annexuryTwoKForm.controls.employeeMobileNumber.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.employeeMobileNumber.errors?.required">
                          {{errorMessages.EMPLOYEE_MOBILE_NUMBER}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput placeholder="Aadhar Number" formControlName="aadharNo" maxlength="12" numbersOnly>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput placeholder="PAN Number" formControlName="panNo" maxlength="10" numbersOnly>
                    </mat-form-field>
                  </div>


                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <input matInput type="text" formControlName="bankName" placeholder=" Bank Name">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <input matInput type="text" formControlName="branchAddress" placeholder="Branch Address">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <input matInput type="text" formControlName="accountNumber" placeholder="Account Number">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput placeholder="IFSC Code" formControlName="ifscCode">
                    </mat-form-field>
                  </div>



                </div>
              </div>
            </div>
            <!-- Employee Details Ends -->

            <!-- Department Details Starts -->
            <div class="box box-primary">
              <div class="box-header">Department Details</div>
              <div class="box-body">
                <div class="row">

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="department" placeholder="Department" required>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="deparmentCTRL" [placeholderLabel]="'Find Department...'"
                            [noEntriesFoundLabel]="'No matching Department found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option
                          *ngFor="let departmentName of departmentList | filterSelectInput:deparmentCTRL.value"
                          [value]="departmentName.value">
                          {{departmentName.viewValue}}
                        </mat-option>
                      </mat-select>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.department.touched || (annexuryTwoKForm.controls.department.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.department.errors?.required">
                          {{errorMessages.DEPARTMENT}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="headOfDepartment" placeholder="Head of Department" required>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="headOfDeparmentCTRL"
                            [placeholderLabel]="'Find Head of Department...'"
                            [noEntriesFoundLabel]="'No matching Head of Department found'" numbersAlphabetsSpaceOnly>
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option
                          *ngFor="let departmentName of headOfDepartmentList | filterSelectInput:headOfDeparmentCTRL.value"
                          [value]="departmentName.value">
                          {{departmentName.viewValue}}
                        </mat-option>
                      </mat-select>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.headOfDepartment.touched || (annexuryTwoKForm.controls.headOfDepartment.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.headOfDepartment.errors?.required">
                          {{errorMessages.HEAD_OF_DEPARTMENT}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="officeName" placeholder="Office Name" required>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="officeNameCTRL"
                            [placeholderLabel]="'Find Office Name...'"
                            [noEntriesFoundLabel]="'No matching Office Name found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option
                          *ngFor="let departmentName of officeNameList | filterSelectInput:officeNameCTRL.value"
                          [value]="departmentName.value">
                          {{departmentName.viewValue}}
                        </mat-option>
                      </mat-select>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.officeName.touched || (annexuryTwoKForm.controls.officeName.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.officeName.errors?.required">
                          {{errorMessages.OFFICE_NAME}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field>
                      <input matInput placeholder="DDO Name" formControlName="ddoName" required>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.ddoName.touched || (annexuryTwoKForm.controls.ddoName.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.ddoName.errors?.required">
                          {{errorMessages.DDO_EMAIL_ID}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field>
                      <input matInput placeholder="DDO Email ID" formControlName="ddoEmailId" required>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.ddoEmailId.touched || (annexuryTwoKForm.controls.ddoEmailId.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.ddoEmailId.errors?.required">
                          {{errorMessages.DDO_EMAIL_ID}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <input matInput placeholder="Code Number given by EDP Cell" formControlName="codeNumberByEDPCell"
                        required>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.codeNumberByEDPCell.touched || (annexuryTwoKForm.controls.codeNumberByEDPCell.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.codeNumberByEDPCell.errors?.required">
                          {{errorMessages.CODE_NUMBER_BY_EDP_CELL}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field>
                      <input matInput placeholder="Code Number given to Department by EDP Cell"
                        formControlName="codeNumberGivenToDepartmentByEDPCell" required>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.codeNumberGivenToDepartmentByEDPCell.touched || (annexuryTwoKForm.controls.codeNumberGivenToDepartmentByEDPCell.errors && isSubmitted)">
                        <mat-error
                          *ngIf="annexuryTwoKForm.controls.codeNumberGivenToDepartmentByEDPCell.errors?.required">
                          {{errorMessages.CODE_NUMBER_GIVEN_TO_DEP_BY_EDP_CELL}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="district" placeholder="District" required>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="districtCtrl" [placeholderLabel]="'Find District...'"
                            [noEntriesFoundLabel]="'No matching District found'" charactersOnly>
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of districtList |
                          filterSelectInput:districtCtrl.value" [value]="item.value" matTooltip="{{item.viewValue}}">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="category" placeholder="Category" required>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="categoryCtrl" [placeholderLabel]="'Find District...'"
                            [noEntriesFoundLabel]="'No matching Category found'" alphabetSpaceOnly>
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of categoryList |
                            filterSelectInput:categoryCtrl.value" [value]="item.value" matTooltip="{{item.viewValue}}">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>


                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="joiningDateFix" [matDatepicker]="picker2"
                        placeholder="Date of Joining (Fix Pay)" required>
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2 [disabled]="false"></mat-datepicker>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.joiningDateFix.touched || (annexuryTwoKForm.controls.joiningDateFix.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.joiningDateFix.errors?.required">
                          {{errorMessages.JOINING_DATE_FIX}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="joiningDateFull" [matDatepicker]="picker3"
                        placeholder="Date Of Joining (Full Pay)" required>
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3 [disabled]="false"></mat-datepicker>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.joiningDateFull.touched || (annexuryTwoKForm.controls.joiningDateFull.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.joiningDateFull.errors?.required">
                          {{errorMessages.JOINING_DATE_FULL}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="dateOfRetirement" [matDatepicker]="picker4"
                        placeholder="Date of Retirement" required>
                      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                      <mat-datepicker #picker4 [disabled]="false"></mat-datepicker>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.dateOfRetirement.touched || (annexuryTwoKForm.controls.dateOfRetirement.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.dateOfRetirement.errors?.required">
                          {{errorMessages.DATE_OF_RETIREMENT}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="payCommission" placeholder="Pay Commission" required>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="paycommissionCTRL"
                            [placeholderLabel]="'Find Pay Commission...'"
                            [noEntriesFoundLabel]="'No matching Pay Commission found'" numbersAlphabetsOnly>
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option
                          *ngFor="let payCommissionName of payCommissionList | filterSelectInput:paycommissionCTRL.value"
                          [value]="payCommissionName.value">
                          {{payCommissionName.viewValue}}
                        </mat-option>
                      </mat-select>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.payCommission.touched || (annexuryTwoKForm.controls.payCommission.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.payCommission.errors?.required">
                          {{errorMessages.PAY_COMMISSION}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3" *ngIf="annexuryTwoKForm.controls.payCommission.value == '1'">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="payScale" placeholder="Pay Scale" required>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="payScaleCtrl" [placeholderLabel]="'Find pay scale..'"
                            [noEntriesFoundLabel]="'no match found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of payScaleList | filterSelectInput :payScaleCtrl.value "
                          [value]="item.value" matTooltip="{{item.viewValue}}">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.payScale.touched || (annexuryTwoKForm.controls.payScale.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.payScale.errors?.required">
                          {{errorMessages.PAY_SCALE}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3" *ngIf="annexuryTwoKForm.controls.payCommission.value == '1'">
                    <mat-form-field class="full-width">
                      <input matInput type="text" formControlName="basicPay" placeholder="Basic Pay" required>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.basicPay.touched || (annexuryTwoKForm.controls.basicPay.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.basicPay.errors?.required">
                          {{errorMessages.BASIC_PAY}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>


                  <div class="col-sm-3" *ngIf="annexuryTwoKForm.controls.payCommission.value == '2'">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="payBand" placeholder="Pay Band" required>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="payBandCTRL" [placeholderLabel]="'Find Pay Band...'"
                            [noEntriesFoundLabel]="'No matching Pay Band found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let payBandName of payBandList | filterSelectInput:payBandCTRL.value"
                          [value]="payBandName.value">
                          {{payBandName.viewValue}}
                        </mat-option>
                      </mat-select>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.payBand.touched || (annexuryTwoKForm.controls.payBand.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.payBand.errors?.required">
                          {{errorMessages.PAY_BAND}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3" *ngIf="annexuryTwoKForm.controls.payCommission.value == '2'">
                    <mat-form-field>
                      <input matInput placeholder="Pay Band Value" formControlName="payBandValue" numbersOnly required>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.payBandValue.touched || (annexuryTwoKForm.controls.payBandValue.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.payBandValue.errors?.required">
                          {{errorMessages.PAY_BAND_VALUE}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3" *ngIf="annexuryTwoKForm.controls.payCommission.value == '2'">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="gradPay" placeholder="Grad Pay" required>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="gradPayCTRL" [placeholderLabel]="'Find Grad Pay...'"
                            [noEntriesFoundLabel]="'No matching Grad Pay found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let gradPayName of gradPayList | filterSelectInput:gradPayCTRL.value"
                          [value]="gradPayName.value">
                          {{gradPayName.viewValue}}
                        </mat-option>
                      </mat-select>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.gradPay.touched || (annexuryTwoKForm.controls.gradPay.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.gradPay.errors?.required">
                          {{errorMessages.GRAND_PAY}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3" *ngIf="annexuryTwoKForm.controls.payCommission.value == '2'">
                    <mat-form-field>
                      <input matInput placeholder="Basic Pay" formControlName="basicPay" numbersOnly required>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.basicPay.touched || (annexuryTwoKForm.controls.basicPay.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.basicPay.errors?.required">
                          {{errorMessages.BASIC_PAY}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3" *ngIf="annexuryTwoKForm.controls.payCommission.value == '3'">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="payLevel" placeholder="Pay Level" required>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="payLevelCTRL" [placeholderLabel]="'Find Pay Level...'"
                            [noEntriesFoundLabel]="'No matching Pay Level found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let payLevelName of payLevelList | filterSelectInput:payLevelCTRL.value"
                          [value]="payLevelName.value">
                          {{payLevelName.viewValue}}
                        </mat-option>
                      </mat-select>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.payLevel.touched || (annexuryTwoKForm.controls.payLevel.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.payLevel.errors?.required">
                          {{errorMessages.PAY_LEVEL}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3" *ngIf="annexuryTwoKForm.controls.payCommission.value == '3'">
                    <mat-form-field class="full-width">
                      <mat-select formControlName="cellId" placeholder="Cell Id" required>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="cellIdCTRL" [placeholderLabel]="'Find Cell ID...'"
                            [noEntriesFoundLabel]="'No matching Cell ID found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let cellIdName of cellIdList | filterSelectInput:cellIdCTRL.value"
                          [value]="cellIdName.value">
                          {{cellIdName.viewValue}}
                        </mat-option>
                      </mat-select>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.cellId.touched || (annexuryTwoKForm.controls.cellId.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.cellId.errors?.required">
                          {{errorMessages.CELL_ID}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3" *ngIf="annexuryTwoKForm.controls.payCommission.value == '3'">
                    <mat-form-field>
                      <input matInput placeholder="Basic Pay" formControlName="basicPay" numbersOnly required>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.basicPay.touched || (annexuryTwoKForm.controls.basicPay.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.basicPay.errors?.required">
                          {{errorMessages.BASIC_PAY}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                </div>
              </div>
            </div>
            <!-- Department Details Ends -->

            <!-- Nominee Details Starts -->
            <div class="box box-primary">
              <div class="box-header">Nominee Details</div>
              <div class="box-body">
                <table mat-table [dataSource]="familDetailsDataSource" matSort>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Nominee Name</th>
                    <td mat-cell *matCellDef="let element;let i=index">
                      {{element.name}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="dateOfBirth">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Date Of Birth
                    </th>
                    <td mat-cell *matCellDef="let element;let i=index">
                      {{element.dateOfBirth}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Age</th>
                    <td mat-cell *matCellDef="let element;let i=index">
                      {{element.age}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="percentage">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Percentage</th>
                    <td mat-cell *matCellDef="let element;let i=index">
                      {{element.percentage}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="relation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Relation</th>
                    <td mat-cell *matCellDef="let element;let i=index">
                      {{element.relation}}
                    </td>
                  </ng-container>


                  <tr mat-header-row *matHeaderRowDef="familyDetailColumns"></tr>
                  <tr mat-row *matRowDef="let row; let i = index;columns:familyDetailColumns"></tr>
                </table>
              </div>
            </div>
            <!-- Nominee Details Ends -->

            <!-- Remarks -->
            <div class="box box-primary">
              <div class="box-header">Remarks</div>
              <div class="box-body">
                <div class="row">

                  <div class="col-md-6">
                    <mat-form-field>
                      <textarea matInput formControlName="specialNote" placeholder="Special Note" required></textarea>
                      <div class="error-wrapper"
                        *ngIf="annexuryTwoKForm.controls.specialNote.touched || (annexuryTwoKForm.controls.specialNote.errors && isSubmitted)">
                        <mat-error *ngIf="annexuryTwoKForm.controls.specialNote.errors?.required">
                          {{errorMessages.SPECIAL_NOTE}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <!-- Remarks Ends -->

            <div class="form-action-button">
              <button type="submit" mat-raised-button color="primary" (click)="goToNext()">
                Save & Proceed
                <i class="material-icons" aria-hidden="true" title="Next">
                  chevron_right
                </i>
              </button>
            </div>
          </mat-tab>
          <!-- End Annexure - 2K -->
          <!-- Attachment -->
          <mat-tab>
            <ng-template mat-tab-label>
              Attachment
            </ng-template>
            <app-common-attachment [attachemntValue]="attachmentTypeCode"></app-common-attachment>
          </mat-tab>
          <!-- End Attachment -->
        </mat-tab-group>
        <!-- Common Button -->
        <div class="form-action-button">
          <button mat-raised-button color="primary" title="Save as Draft">
            <i class="material-icons" title="Save as Draft" aria-hidden="true">
              save
            </i>
            Save as Draft
          </button>
          <button mat-raised-button type="button" class="green" (click)="workflowDetails()" title="Submit">
            <i class="material-icons" title="Submit" aria-hidden="true">done</i> Submit
          </button>
          <button type="reset" mat-raised-button color="accent" title="Reset"
            (click)="directiveObj.resetForm(annexuryTwoKForm)">
            <i class="material-icons" title="Reset" aria-hidden="true">
              restore
            </i>
            Reset
          </button>
          <button type="button" mat-raised-button color="warn" title="Listing"
            (click)="directiveObj.goToScreen('/dppf-nps/annexure-two-k-listing')">
            <i class="material-icons" title="Listing" aria-hidden="true">
              list
            </i>
            Listing
          </button>
          <button type="button" mat-raised-button class="print-btn" title="Print"
            (click)="directiveObj.goToScreen('/dppf-nps/print-forwarding-annexure-two-k')">
            <i class="material-icons" title="Print" aria-hidden="true">
              print
            </i>
            Print
          </button>
          <button type="button" mat-raised-button class="btnClose" title="Close">
            <i class="material-icons" title="Close" aria-hidden="true">
              close
            </i>
            Close
          </button>
        </div>
        <!-- ENd Common Button -->
      </form>
    </div>
  </div>
</div>