.background-yellow{
    background-color:#F1F171;
}
.ddo-table .text-center{
    text-align: center;
}
.ddo-table .text-left{
    text-align: left;
}
.ddo-table .text-right{
    text-align: right;
}
.ddo-table .bottom-border{
    border-bottom: 2px solid #000;
}
.ddo-table .right-border{
    border-right: 2px solid #000;
}
.ddo-table .underline {
    text-decoration: underline;
}
.ddo-table .extra-padding th{
    padding: 1px 35px;
}
@media print {
    .myPageBreak{
        height: 200px;
    }
}