<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>Admin Pension Case Entry</div>
            <div class="font-heading"><strong>Reference No:</strong> 19-20/PPO/APC/001</div>
            <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}</div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item " aria-current="page"><a href="javascript:void(0)">PPO</a></li>
                <li class="breadcrumb-item active" aria-current="page">Admin Pension Case Entry</li>
            </ol>
        </nav>

        <mat-accordion class="search-accordian">
            <mat-expansion-panel [expanded]="false">
                <mat-expansion-panel-header>
                    <div class="heading-section">
                        Admin Pension Case Entry
                    </div>
                </mat-expansion-panel-header>
                <div class=" form-datatable-list">
                    <form class="col-sm-12" [formGroup]="adminPensionCaseEntry" (ngSubmit)="adminPensionCaseEntryForm()">
                        <div class="row">
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="PPO No." formControlName="ppoNo" required>
                                    <div class="error-wrapper" *ngIf="adminPensionCaseEntry.controls.ppoNo.touched && adminPensionCaseEntry.controls.ppoNo.errors">
                                        <mat-error *ngIf="adminPensionCaseEntry.controls.ppoNo.errors.required">
                                            {{errorMessages.PPO_NUM}}
                                        </mat-error>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="lastPaidDate" [matDatepicker]="lastPaidDate" placeholder="Last Paid Date" required>
                                    <mat-datepicker-toggle matSuffix [for]="lastPaidDate">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #lastPaidDate></mat-datepicker>
                                    <div class="error-wrapper" *ngIf="adminPensionCaseEntry.controls.lastPaidDate.touched && adminPensionCaseEntry.controls.lastPaidDate.errors">
                                        <mat-error *ngIf="adminPensionCaseEntry.controls.lastPaidDate.errors.required">
                                            {{errorMessages.LAST_PAID_DATE}}
                                        </mat-error>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="Last Paid Month (YYYY-MM)" formControlName="lastPaidMonth" required>
                                    <div class="error-wrapper" *ngIf="adminPensionCaseEntry.controls.lastPaidMonth.touched && adminPensionCaseEntry.controls.lastPaidMonth.errors">
                                        <mat-error *ngIf="adminPensionCaseEntry.controls.lastPaidMonth.errors.required">
                                            {{errorMessages.LAST_PAID_MONTH}}
                                        </mat-error>
                                    </div>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="registrationDate" [matDatepicker]="registrationDate" placeholder="Registration Date" required>
                                    <mat-datepicker-toggle matSuffix [for]="registrationDate">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #registrationDate></mat-datepicker>
                                    <div class="error-wrapper" *ngIf="adminPensionCaseEntry.controls.registrationDate.touched && adminPensionCaseEntry.controls.registrationDate.errors">
                                        <mat-error *ngIf="adminPensionCaseEntry.controls.registrationDate.errors.required">
                                            {{errorMessages.REGISTRATION_DATE}}
                                        </mat-error>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="CVP Monthly Amount" formControlName="cvpMonthlyAmount" required>
                                    <div class="error-wrapper" *ngIf="adminPensionCaseEntry.controls.cvpMonthlyAmount.touched && adminPensionCaseEntry.controls.cvpMonthlyAmount.errors">
                                        <mat-error *ngIf="adminPensionCaseEntry.controls.cvpMonthlyAmount.errors.required">
                                            {{errorMessages.CVP_AMOUNT}}
                                        </mat-error>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="Bank/Branch Code" formControlName="bankBranchCode" required>
                                    <div class="error-wrapper" *ngIf="adminPensionCaseEntry.controls.bankBranchCode.touched && adminPensionCaseEntry.controls.bankBranchCode.errors">
                                        <mat-error *ngIf="adminPensionCaseEntry.controls.bankBranchCode.errors.required">
                                            {{errorMessages.BANK_BRANCH_CODE}}
                                        </mat-error>
                                    </div>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="Account No" formControlName="accountNo" required>
                                    <div class="error-wrapper" *ngIf="adminPensionCaseEntry.controls.accountNo.touched && adminPensionCaseEntry.controls.accountNo.errors">
                                        <mat-error *ngIf="adminPensionCaseEntry.controls.accountNo.errors.required">
                                            {{errorMessages.ACCOUNT_NO}}
                                        </mat-error>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="Bank" formControlName="bank" required>
                                    <div class="error-wrapper" *ngIf="adminPensionCaseEntry.controls.bank.touched && adminPensionCaseEntry.controls.bank.errors">
                                        <mat-error *ngIf="adminPensionCaseEntry.controls.bank.errors.required">
                                            {{errorMessages.BANK}}
                                        </mat-error>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="Branch" formControlName="branch" required>
                                    <div class="error-wrapper" *ngIf="adminPensionCaseEntry.controls.branch.touched && adminPensionCaseEntry.controls.branch.errors">
                                        <mat-error *ngIf="adminPensionCaseEntry.controls.branch.errors.required">
                                            {{errorMessages.BRANCH}}
                                        </mat-error>
                                    </div>
                                </mat-form-field>
                            </div>

                        </div>
                    </form>
                </div>
                <!-- Common Button -->

                <div class="form-action-button">

                    <button type="button" mat-raised-button color="primary">
            <i class="material-icons" aria-hidden="true" title="Budget book">
              save as draft
            </i>
            Save
          </button>
                    <button type="button" mat-raised-button class="btnClose">
            <i class="material-icons" aria-hidden="true" title="close">
              close
            </i>
            Close
          </button>
                </div>
                <!-- Common Button ends-->

            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>