.lang-btn{
    background: #356a94;
      color: #FFF;
      font-weight: 600;
  }
  /* .forward-dialog-left {
   
    width: 100% !important;
    border-right: none;
}
.common-workflow-section .forward-dialog-left {
 
  width: 100% !important;
 
} */

