<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>Outcome Budget Introduction</div>
            <div class="font-heading">
              <b>Reference No:</b> 19-20/BUD/OBI/001</div>
          <div class="font-heading">
              <b>Reference Date:</b> 14-Apr-2020 12:00</div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Budget</a></li>
                <li class="breadcrumb-item active" aria-current="page">Outcome Budget Introduction</li>
            </ol>
        </nav>
        <div class="panel-group">
            <div class="box-top">
                <div>
                    <!-- Entry Section Starts-->
                    <form [formGroup]="budgetIntroductionForm">
                        <div class="box box-primary">
                            <div class="box-header">Outcome Budget Introduction</div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <mat-form-field class="full-width">
                                            <mat-select formControlName="disclaimerFinYear" placeholder="Financial Year"
                                                required>
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="disclaimerFinYearCtrl"
                                                        [placeholderLabel]="'Find Financial Year...'"
                                                        [noEntriesFoundLabel]="'no matching Financial Year found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option
                                                    *ngFor="let FY of filteredDisclaimerFinYear | filterSelectInput:disclaimerFinYearCtrl.value"
                                                    [value]="FY.value">
                                                    {{FY.viewValue}}
                                                </mat-option>
                                              </mat-select>
                                            <div class="error-wrapper"
                                                *ngIf="budgetIntroductionForm.controls.disclaimerFinYear.touched && budgetIntroductionForm.controls.disclaimerFinYear.errors">
                                                <mat-error
                                                    *ngIf="budgetIntroductionForm.controls.disclaimerFinYear.errors.required">
                                                    {{errorMessages.FIN_YEAR}}
                                                </mat-error>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    
                                    <div class="col-sm-3">
                                        <mat-form-field class="full-width">
                                            <mat-select formControlName="budgetPublicationNumber"
                                                placeholder="BPN Code" disabled>
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="outcomeNumberCtrl"
                                                        [placeholderLabel]="'Find Budget Publication Number...'"
                                                        [noEntriesFoundLabel]="'no matching Financial Year found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option
                                                    *ngFor="let FY of filteredOutcomeNumber | filterSelectInput:outcomeNumberCtrl.value"
                                                    [value]="FY.value">
                                                    {{FY.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="error-wrapper"
                                                *ngIf="budgetIntroductionForm.controls.budgetPublicationNumber.touched && budgetIntroductionForm.controls.budgetPublicationNumber.errors">
                                                <mat-error
                                                    *ngIf="budgetIntroductionForm.controls.budgetPublicationNumber.errors.required">
                                                    {{errorMessages.BPN}}
                                                </mat-error>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    
                                    <div class="col-sm-6">
                                        <mat-form-field class="example-full-width">
                                            <textarea matInput placeholder="Write-up (English)" formControlName="remark" required></textarea>
                                            
                                        <div class="error-wrapper"
                                        *ngIf="budgetIntroductionForm.controls.remark.touched && budgetIntroductionForm.controls.remark.errors">
                                        <mat-error
                                            *ngIf="budgetIntroductionForm.controls.remark.errors.required">
                                            {{errorMessages.WRITE_UP_ENG}}
                                        </mat-error>
                                        </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6">
                                        <mat-form-field>
                                            <textarea rows="2" matInput placeholder="Write-up (Gujarati)" #codeGJ
                                                formControlName="writeUpGuj" (focus)="nomenclatureGJFocus()"
                                                (focusout)="nomenclatureGJFocusOut()"
                                                (blur)="checkGujarati(codeGJ.value);" required></textarea>
                                        <div class="error-wrapper"
                                            *ngIf="budgetIntroductionForm.controls.writeUpGuj.touched && budgetIntroductionForm.controls.writeUpGuj.errors">
                                            <mat-error
                                                *ngIf="budgetIntroductionForm.controls.writeUpGuj.errors.required">
                                                {{errorMessages.WRITE_UP_GUJ}} </mat-error>
                                        </div>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Entry Section Ends-->

                    <!-- Action Buttons -->
                    <div class="form-action-button">
                        <button type="submit" mat-raised-button color="primary">
                            <i aria-hidden="true" class="material-icons" title="Save">
                                save
                            </i>
                            Save as Draft
                        </button>
                        <button mat-raised-button type="submit" class="green" (click)="submitDetails()">
                            <i aria-hidden="true" class="material-icons">
                                done </i> Submit
                        </button>
                        <button type="button" mat-raised-button class="btnClose">
                            <i aria-hidden="true" class="material-icons" title="Close">close</i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>