<div class="container">
  <div class="form-wrapper">
    <div class="heading-section ng-star-inserted">
      <div>MLA Arrear Details </div>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">PAO</a></li>
        <li class="breadcrumb-item active" aria-current="page">MLA Arrear Details </li>
      </ol>
    </nav>
    <div class="panel-group">
      <form [formGroup]="arrearMLAForm" (ngSubmit)="arrearMLAeData()">
        <div class="box box-primary">
          <div class="box-header">Search</div>
          <div class="box-body">
            <div class="row">
              <div class="col-sm-3">
                <mat-form-field>
                  <mat-select name="fromMonth" formControlName="fromMonth" placeholder="From Month" required>
                    <mat-option *ngFor="let month of fromMonth_list" [value]="month.value"
                      [matTooltip]="month.viewValue">
                      {{month.viewValue}}
                    </mat-option>
                  </mat-select>
                  <div class="error-wrapper"
                    *ngIf="arrearMLAForm.controls.fromMonth.touched && arrearMLAForm.controls.fromMonth.errors">
                    <mat-error *ngIf="arrearMLAForm.controls.fromMonth.errors.required">
                      {{errorMessages.FROM_MONTH}}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>


              <div class="col-sm-3">
                <mat-form-field>
                  <mat-select name="fromYear" formControlName="fromYear" placeholder="From Year" required>
                    <mat-option *ngFor="let year of fromYear_list" [matTooltip]="year.viewValue" [value]="year.value">
                      {{year.viewValue}}
                    </mat-option>
                  </mat-select>
                  <div class="error-wrapper"
                    *ngIf="arrearMLAForm.controls.fromYear.touched && arrearMLAForm.controls.fromYear.errors">
                    <mat-error *ngIf="arrearMLAForm.controls.fromYear.errors.required">
                      {{errorMessages.FROM_YEAR}}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                  <mat-select name="toMonth" formControlName="toMonth" placeholder="To Month" required>
                    <mat-option *ngFor="let tomonth of toMonth_list" [matTooltip]="tomonth.viewValue"
                      [value]="tomonth.value">
                      {{tomonth.viewValue}}
                    </mat-option>
                  </mat-select>
                  <div class="error-wrapper"
                    *ngIf="arrearMLAForm.controls.toMonth.touched && arrearMLAForm.controls.toMonth.errors">
                    <mat-error *ngIf="arrearMLAForm.controls.toMonth.errors.required">
                      {{errorMessages.TO_MONTH}}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                  <mat-select name="toYear" formControlName="toYear" placeholder="To Year" required>
                    <mat-option *ngFor="let tyear of toYear_list" [matTooltip]="tyear.viewValue" [value]="tyear.value">
                      {{tyear.viewValue}}
                    </mat-option>
                  </mat-select>
                  <div class="error-wrapper"
                    *ngIf="arrearMLAForm.controls.toYear.touched && arrearMLAForm.controls.toYear.errors">
                    <mat-error *ngIf="arrearMLAForm.controls.toYear.errors.required">
                      {{errorMessages.TO_YEAR}}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="current" maxlength="3" numbersOnly placeholder="Current CA/DA% "
                    required>
                  <div class="error-wrapper"
                    *ngIf="arrearMLAForm.controls.current.touched && arrearMLAForm.controls.current.errors">
                    <mat-error *ngIf="arrearMLAForm.controls.current.errors.required">
                      {{errorMessages.CURRENT_CA_DA}}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="newcurrent" maxlength="3" numbersOnly
                    placeholder="New Current CA/DA%  Arrear" required>
                  <div class="error-wrapper"
                    *ngIf="arrearMLAForm.controls.newcurrent.touched && arrearMLAForm.controls.newcurrent.errors">
                    <mat-error *ngIf="arrearMLAForm.controls.newcurrent.errors.required">
                      {{errorMessages.NEW_CURRENT_CA_DA}}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                  <mat-select name="financialYear" formControlName="financialYear" placeholder="Financial Year"
                    required>
                    <mat-option *ngFor="let tyear of finaYear_list" [matTooltip]="tyear.viewValue"
                      [value]="tyear.value">
                      {{tyear.viewValue}}
                    </mat-option>
                  </mat-select>
                  <div class="error-wrapper"
                    *ngIf="arrearMLAForm.controls.financialYear.touched && arrearMLAForm.controls.financialYear.errors">
                    <mat-error *ngIf="arrearMLAForm.controls.financialYear.errors.required">
                      {{errorMessages.FINANICIAL_YEAR}}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                  <mat-select name="paymentMonath" formControlName="paymentMonath" placeholder="Payment Month" required>
                    <mat-option *ngFor="let tomonth of toMonth_list" [matTooltip]="tomonth.viewValue"
                      [value]="tomonth.value">
                      {{tomonth.viewValue}}
                    </mat-option>
                  </mat-select>
                  <div class="error-wrapper"
                    *ngIf="arrearMLAForm.controls.paymentMonath.touched && arrearMLAForm.controls.paymentMonath.errors">
                    <mat-error *ngIf="arrearMLAForm.controls.paymentMonath.errors.required">
                      {{errorMessages.PAYMENT_MONTH}}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-sm-12">
                <div class="form-action-button">
                  <button type="submit" mat-raised-button (click)="calculate()" color="primary">
                    Calculate CA/DA Arrear
                  </button>
                  <button type="reset" mat-raised-button color="accent">
                    <i class="material-icons" aria-hidden="true">
                      restore
                    </i>
                    Reset
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="legend">
          <b>Note :</b>Parameter Marked With a * are mandatory
        </div>
        <br>
        <!-- Table Calulate -->
        <div *ngIf="isvisible">
          <table mat-table [dataSource]="dataSourceBrowse" width="100%" id="browseTable" aria-describedby="mlaArrear">
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef scope="row">
                <mat-checkbox (change)="$event ? directiveObject.masterToggle(ELEMENT_DATA) : null"
                  [checked]="directiveObject.selection.hasValue() && directiveObject.isAllSelected(ELEMENT_DATA)"
                  [indeterminate]="directiveObject.selection.hasValue() && !directiveObject.isAllSelected(ELEMENT_DATA)"
                  [aria-label]="directiveObject.checkboxLabel(ELEMENT_DATA)">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row" class="text-center">
                <mat-checkbox (click)="$event.stopPropagation()"
                  (change)="$event ? directiveObject.selection.toggle(row) : null"
                  [checked]="directiveObject.selection.isSelected(row) "
                  [aria-label]="directiveObject.checkboxLabel(ELEMENT_DATA, row)">
                </mat-checkbox>
              </td>
            </ng-container>
            <!-- SR No. -->
            <ng-container matColumnDef="srNo">
              <th mat-header-cell *matHeaderCellDef scope="row">
                SR No.
              </th>
              <td mat-cell *matCellDef="let element; let i = index; ">
                {{i + 1}}
              </td>
            </ng-container>
            <!-- MLA No -->
            <ng-container matColumnDef="mlaNo">
              <th mat-header-cell *matHeaderCellDef scope="row">
                MLA No
              </th>
              <td mat-cell *matCellDef="let element; ">
                {{element.mlaNo}}
              </td>
            </ng-container>
            <!-- Assembly No -->
            <ng-container matColumnDef="assemblyNo">
              <th mat-header-cell *matHeaderCellDef scope="row">
                Assembly No
              </th>
              <td mat-cell *matCellDef="let element; ">
                {{element.assemblyNo}}
              </td>
            </ng-container>
            <!-- MLA Name -->
            <ng-container matColumnDef="mlaName">
              <th mat-header-cell *matHeaderCellDef scope="row">
                MLA Name
              </th>
              <td mat-cell *matCellDef="let element; ">
                {{element.mlaName}}
              </td>
            </ng-container>
            <!-- Designation -->
            <ng-container matColumnDef="designation">
              <th mat-header-cell *matHeaderCellDef scope="row">
                Designation
              </th>
              <td mat-cell *matCellDef="let element; ">
                {{element.designation}}
              </td>
            </ng-container>
            <!-- Department -->
            <ng-container matColumnDef="department">
              <th mat-header-cell *matHeaderCellDef scope="row">
                Department
              </th>
              <td mat-cell *matCellDef="let element; ">
                {{element.department}}
              </td>
            </ng-container>
            <!-- Major Head -->
            <ng-container matColumnDef="majorHead">
              <th mat-header-cell *matHeaderCellDef scope="row">
                Major Head
              </th>
              <td mat-cell *matCellDef="let element; ">
                {{element.majorHead}}
              </td>
            </ng-container>
            <!-- Difference CA/DA Arrear Amount -->
            <ng-container matColumnDef="difference">
              <th mat-header-cell *matHeaderCellDef scope="row">
                Difference CA/DA Arrear Amount
              </th>
              <td mat-cell *matCellDef="let element; " class="rightAlign">
                {{element.difference}}
              </td>
            </ng-container>
            <!-- Header Section Of table -->
            <tr mat-header-row *matHeaderRowDef="displayedBrowseColumns"></tr>
            <!-- Data Fetch From .TS File to table -->
            <tr mat-row *matRowDef="let row; columns: displayedBrowseColumns;"></tr>
          </table>
          <!-- Common Button -->
          <div class="form-action-button">
            <button mat-raised-button type="submit" class="green"><i class="material-icons">
                done
              </i>Generate Bill</button>
            <button type="button" mat-raised-button class="btnClose">
              <i class="material-icons" aria-hidden="true" title="Budget dashboard">
                close
              </i>
              Close
            </button>
          </div>
          <!-- End Common Button -->
        </div>
        <!-- End Table Calulate -->
      </form>
    </div>
  </div>
</div>