<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>Outcome Budget Admin</div>
            <div class="font-heading"><b>Reference No:</b> 19-20/BDU/OBA/001</div>
            <div class="font-heading"><b>Reference Date:</b> {{ date | date: 'dd-MMM-yyyy HH:mm'}}</div>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Home
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Budget
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Outcome Budget Admin
                </li>
            </ol>
        </nav>

        <!-- Entry Section Starts-->
        <div class="panel-group">
            <form [formGroup]="disclaimerForm">
                <!-- Outcome Budget Admin Section Starts -->
            <div class="box box-primary">
                <div class="box-header">Outcome Budget Admin</div>
                <div class="box-body">
                                <div class="row">
                        
                                    <div class="col-sm-3">
                                        <div >
                                        <mat-form-field class="full-width">
                                            <input matInput type="text" formControlName="finYear" placeholder="Financial Year">
                                        </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <mat-form-field class="full-width">
                                            <mat-select formControlName="disclaimerPublicationNumber"
                                                placeholder="BPN Code" disabled>
                                                <mat-option>
                                                    <ngx-mat-select-search
                                                        [formControl]="disclaimerPublicationNumberCtrl"
                                                        [placeholderLabel]="'Find Budget Publication Number...'"
                                                        [noEntriesFoundLabel]="'no matching Budget Publication Number found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option
                                                    *ngFor="let FY of filteredDisclaimerPublicationNumber | filterSelectInput:disclaimerPublicationNumberCtrl.value"
                                                    [value]="FY.value">
                                                    {{FY.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="error-wrapper"
                                                *ngIf="disclaimerForm.controls.disclaimerPublicationNumber.touched && disclaimerForm.controls.disclaimerPublicationNumber.errors">
                                                <mat-error
                                                    *ngIf="disclaimerForm.controls.disclaimerPublicationNumber.errors.required">
                                                    {{errorMessages.BPN}}
                                                </mat-error>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                </div>
                </div>
            </div>
            <!-- Outcome Budget Admin Section Ends -->

            <!-- Introduction Section Starts -->
            <div class="box box-primary">
                <div class="box-header">Introduction</div>
                <div class="box-body">
                                <div class="row">
                                    <!-- Toggle for Eng/Guj -->
                                        <div class="text-right col-sm-12 ">
                                          <button mat-raised-button type="button" class="lang-btn"
                                            (click)="toggleLanguage()">{{currentLang.value == 'Eng' ? 'Guj' : 'Eng' }}</button>
                                        </div>
                                    <div class="col-sm-12">
                                        <mat-form-field class="example-full-width">
                                            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="10" placeholder="Write-up (English)"
                                                formControlName="introMessage" [(ngModel)]="introEng" required></textarea>
                                                <div class="error-wrapper"
                                                    *ngIf="disclaimerForm.controls.introMessage.touched && disclaimerForm.controls.introMessage.errors">
                                                    <mat-error *ngIf="disclaimerForm.controls.introMessage.errors.required">
                                                        {{errorMessages.WRITE_UP_ENG}} 
                                                    </mat-error>
                                                </div>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-12">
                                        <mat-form-field>
                                            <textarea rows="2" matInput cdkTextareaAutosize cdkAutosizeMinRows="10" placeholder="Write-up (Gujarati)" #codeGJ
                                                formControlName="introWriteUpGuj" [(ngModel)]="introGuj"(focus)="setGujaratiDefault()"
                                                (focusout)="hasFocusSet=1;setEnglishOnFocusOut()" [ngClass]="hasFocusSet == 1 ? 'hasfocus' : ''" required></textarea>
                                            <div class="error-wrapper"
                                                *ngIf="disclaimerForm.controls.introWriteUpGuj.touched && disclaimerForm.controls.introWriteUpGuj.errors">
                                                <mat-error *ngIf="disclaimerForm.controls.introWriteUpGuj.errors.required">
                                                    {{errorMessages.WRITE_UP_GUJ}} </mat-error>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                </div>
                </div>
            </div>
            <!-- Introduction Section Ends -->

            <!-- Disclaimer Section Starts -->
            <div class="box box-primary">
                <div class="box-header">Disclaimer</div>
                <div class="box-body">
                                <div class="row">

                                    <div class="col-sm-12">
                                        <mat-form-field class="example-full-width">
                                            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="8" placeholder="Write-up (English)"
                                                formControlName="disclaimerMessage" [(ngModel)]="discEnglish" required>
                                                </textarea>
                                                <div class="error-wrapper"
                                                    *ngIf="disclaimerForm.controls.disclaimerMessage.touched && disclaimerForm.controls.disclaimerMessage.errors">
                                                    <mat-error *ngIf="disclaimerForm.controls.disclaimerMessage.errors.required">
                                                        {{errorMessages.WRITE_UP_ENG}} </mat-error>
                                                </div>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-12">
                                        <mat-form-field>
                                            <textarea rows="25" matInput cdkTextareaAutosize cdkAutosizeMinRows="8" placeholder="Write-up (Gujarati)" #codeGJ
                                                formControlName="writeUpGuj" [(ngModel)]="discGuj"(focus)="setGujaratiDefault()"
                                                (focusout)="hasFocusSet=2;setEnglishOnFocusOut()" [ngClass]="hasFocusSet == 2 ? 'hasfocus' : ''" required></textarea>
                                            <div class="error-wrapper"
                                                *ngIf="disclaimerForm.controls.writeUpGuj.touched && disclaimerForm.controls.writeUpGuj.errors">
                                                <mat-error *ngIf="disclaimerForm.controls.writeUpGuj.errors.required">
                                                    {{errorMessages.WRITE_UP_GUJ}} </mat-error>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                </div>
                </div>
            </div>
            <!-- Disclaimer Section Ends -->
        </form>
                    
                    <!-- Action Buttons -->
                    <div class="form-action-button">
                        <button type="submit" mat-raised-button color="primary">
                            <i aria-hidden="true" class="material-icons" title="Save">
                                save
                            </i>
                            Save as Draft
                        </button>
                        <button mat-raised-button type="submit" class="green" (click)="submitDetails()">
                            <i aria-hidden="true" class="material-icons">
                                done </i> Submit
                        </button>
                        <button type="button" mat-raised-button (click)="gotoListing()" color="warn">
                            <i class="material-icons" aria-hidden="true" title="Listing">
                                list
                            </i>
                            Listing
                        </button>
                        <button type="button" mat-raised-button class="btnClose">
                            <i aria-hidden="true" class="material-icons" title="Close">close</i> Close
                        </button>
                    </div>
            </div>
        <!-- Entry Section ends-->
    </div>
</div>