<div class="container">
    <div class="form-wrapper">

        <div class="heading-section ng-star-inserted">
            <div>Cardex Case Verification</div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item " aria-current="page"><a href="#">PPO</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cardex Case Verification</li>
            </ol>
        </nav>

        <div class="panel-group">
            <form [formGroup]="savedPensioCasesForm" (ngSubmit)="savedPensioCasesFormData()">
                <!-- search fields -->
                <mat-accordion class="colapsedata">
                    <mat-expansion-panel [expanded]="false" class="nopadding">
                        <mat-expansion-panel-header>
                            <div class="heading-section">Search</div>
                        </mat-expansion-panel-header>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <mat-form-field class="full-width">
                                        <input type="text" matInput [(formControl)]="ppoNoCtrl" value="{{ppoNoVal}}" placeholder="PPO No" [matAutocomplete]="auto" (blur)="sendPPOData($event.target.value)">
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                            <span *ngIf="optionCtrl">
                                                <mat-option *ngFor="let option of filteredppoNo | async"
                                                    [value]="option">
                                                    {{option.ppoNo}}
                                                </mat-option>
                                            </span>
                                        </mat-autocomplete>
                                        <mat-icon matSuffix class="searchIcon" (click)="openPPODialog()">search
                                        </mat-icon>
                                    </mat-form-field>
                                </div>

                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <mat-select name="pensionCaseType" formControlName="pensionCaseType" placeholder="Pension Case Type">
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="pensionCaseCtrl" [placeholderLabel]="'Select Pension Type ...'" [noEntriesFoundLabel]="'no matching Pension type found'">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option>-- None --</mat-option>

                                            <mat-option *ngFor="let pensioType of pensionType_list | filterSelectInput : pensionCaseCtrl.value : 'viewValue'" [value]="pensioType.value">
                                                {{pensioType.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker2" placeholder="Inward Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker3" placeholder="Commencement Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                        <mat-datepicker #picker3></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <input matInput name="bankCode" placeholder="Bank Code" formControlName="bankCode" maxlength="8" numbersOnly>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <mat-select name="headCode" formControlName="headCode" placeholder="Head Code">
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="headCodeCtrl" [placeholderLabel]="'Select Head Code...'" [noEntriesFoundLabel]="'no matching Head Code found'">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option>-- None --</mat-option>

                                            <mat-option *ngFor="let statusName of headCode_list | filterSelectInput : headCodeCtrl.value : 'viewValue'" [value]="statusName.value" matTooltip="{{statusName.viewValue}}">
                                                {{statusName.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <input matInput formControlName="retirementDate" placeholder="Retirement Date" [matDatepicker]="retirementDate" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="retirementDate"></mat-datepicker-toggle>
                                        <mat-datepicker #retirementDate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <mat-select name="status" formControlName="status" placeholder="Status">
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="statusCtrl" [placeholderLabel]="'Select Status...'" [noEntriesFoundLabel]="'no matching Status found'">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option>-- None --</mat-option>

                                            <mat-option *ngFor="let statusName of status_list | filterSelectInput : statusCtrl.value : 'viewValue'" [value]="statusName.value">
                                                {{statusName.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>
                        <div class="form-action-button">
                            <button type="submit" mat-raised-button color="primary" title="Search" (click)="search()">
                                <i class="material-icons" aria-hidden="true" title="Search">search</i> Search
                            </button>
                            <button type="reset" mat-raised-button color="accent">
                                <i class="material-icons" aria-hidden="true" title="Reset"> restore </i>
                                Reset
                            </button>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <br>
                <!-- filtered data table -->
                <div class="mat-elevation-z8 mt-2">
                    <table mat-table [dataSource]="savedPensionDataSource" class="mat-elevation-z8 " aria-describedby="cardexCaseVerification">
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef scope="row">
                                <mat-checkbox (change)="$event ? directiveObj.masterToggle(savedPensionDataSource) : null" [checked]="directiveObj.selection.hasValue() && directiveObj.isAllSelected(savedPensionDataSource)" [indeterminate]="directiveObj.selection.hasValue() && !directiveObj.isAllSelected(savedPensionDataSource)"
                                    [aria-label]="directiveObj.checkboxLabel(savedPensionDataSource)">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row" class="centerAlign">
                                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? directiveObj.selection.toggle(row) : null" [checked]="directiveObj.selection.isSelected(row)" [aria-label]="directiveObj.checkboxLabel(savedPensionDataSource,row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="srno">
                            <th mat-header-cell *matHeaderCellDef scope="row">
                                Sr. No. </th>
                            <td mat-cell *matCellDef="let element; let i = index" class="centerAlign">
                                {{ i + 1 }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="ppoNo">
                            <th mat-header-cell *matHeaderCellDef scope="row">PPO Number</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.ppoNo}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef scope="row">Name</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="pensionCaseType">
                            <th mat-header-cell *matHeaderCellDef scope="row">Pension Case Type</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.pensionCaseType}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="inwardDate">
                            <th mat-header-cell *matHeaderCellDef scope="row">Inward Date</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.inwardDate}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="commencementDate">
                            <th mat-header-cell *matHeaderCellDef scope="row">Commencement Date</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.commencementDate}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="viewSignAuthority">
                            <th mat-header-cell *matHeaderCellDef scope="row">View Sign Authority</th>
                            <td mat-cell *matCellDef="let element" class="action-btn-i centerAlign">
                                <a class="signaure">
                                    <i class="material-icons plus view-icon" aria-hidden="true" title="Signature">playlist_add_check</i>
                                    <div class="box-body signature-box">
                                        <div class="img centerAlign">
                                            <img src="assets/images/sign.png" alt="ifms-logo">
                                        </div>
                                    </div>

                                </a>


                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef scope="row"> Action</th>
                            <td mat-cell *matCellDef="let element" class="action-btn-i centerAlign">
                                <a (click)="gotopage()">
                                    <i class="material-icons plus view-icon" title="View">remove_red_eye
                                    </i>
                                </a>
                            </td>
                        </ng-container>
                        <!-- Header Section Of table -->
                        <tr mat-header-row *matHeaderRowDef="savedPensionColumns"></tr>
                        <!-- Data Fetch From .TS File to table -->
                        <tr mat-row *matRowDef="let row; columns: savedPensionColumns;"></tr>
                    </table>
                    <!-- table ends -->
                </div>
                <!-- Common Button -->

                <div class="form-action-button">
                    <button mat-raised-button type="submit" class="green"><i class="material-icons"
                            (click)="workflowDetails()">
                            done</i> Submit
                    </button>
                    <button type="button" mat-raised-button class="btnClose">
                        <i class="material-icons" aria-hidden="true" title="Budget dashboard">
                            close
                        </i>
                        Close
                    </button>
                </div>
                <!-- Common Button ends-->

            </form>
        </div>

    </div>
</div>