.table-80{
    width: 80%;
    margin: 20px auto;
}
.table-50{
    width: 50%;
    margin: 20px auto;
}
.margin-top-bottom-20{
    margin: 35px 0;
}
.false-spacing{
    height: 40px;
}
.margin-left{
    margin-left: 30px;
}