<div class="container">
    <div class="box box-primary">
        <div class="box-header">Purpose Creation</div>
        <div class="box-body">
            <!-- Purpose Creation -->
            <form [formGroup]="purposeCreationForm">
                <div class="row">

                    <div class="col-sm-3">
                        <mat-form-field>
                            <mat-select name='taxPurpose' formControlName='taxPurpose' placeholder='Tax / Non-Tax Purpose'>
                                <mat-option>
                                    <ngx-mat-select-search [formControl]='taxPurposeCtrl' [placeholderLabel]="'Select Tax Purpose ...'" [noEntriesFoundLabel]="'no matching Tax Purpose found'">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let item of taxPurpose_list | filterSelectInput : taxPurposeCtrl.value : 'viewValue'" [value]="item.value" matTooltip="{{item.viewValue}}" (click)="selectChallan(item.value)">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>



                    <div class="col-sm-3">
                        <mat-form-field class="full-width">
                            <input matInput type="text" placeholder="Major Head" formControlName="mHead" numbersOnly maxlength="4" required>
                            <div class="error-wrapper" *ngIf="purposeCreationForm.controls.mHead.touched || (purposeCreationForm.controls.mHead.errors && isSubmitted)">
                                <mat-error *ngIf="purposeCreationForm.controls.mHead.errors?.required">
                                    {{errorMessages.M_HEAD}}
                                </mat-error>
                            </div>
                        </mat-form-field>
                    </div>

                    <div class="col-sm-3">
                        <mat-form-field class="full-width">
                            <input matInput type="text" placeholder="Sub Major Head" formControlName="subMajorHead" maxlength="2" required>
                            <div class="error-wrapper" *ngIf="purposeCreationForm.controls.subMajorHead.touched || (purposeCreationForm.controls.subMajorHead.errors && isSubmitted)">
                                <mat-error *ngIf="purposeCreationForm.controls.subMajorHead.errors?.required">
                                    {{errorMessages.SUBM_HEAD}}
                                </mat-error>
                            </div>
                        </mat-form-field>
                    </div>

                    <div class="col-sm-3">
                        <mat-form-field class="full-width">
                            <input matInput type="text" placeholder="Minor Head" formControlName="minorHead" maxlength="3" required>
                            <div class="error-wrapper" *ngIf="purposeCreationForm.controls.minorHead.touched || (purposeCreationForm.controls.minorHead.errors && isSubmitted)">
                                <mat-error *ngIf="purposeCreationForm.controls.minorHead.errors?.required">
                                    {{errorMessages.MIN_HEAD}}
                                </mat-error>
                            </div>
                        </mat-form-field>
                    </div>

                    <div class="col-sm-3">
                        <mat-form-field class="full-width">
                            <input matInput type="text" placeholder="Sub Head" formControlName="subHead" maxlength="2" required>
                            <div class="error-wrapper" *ngIf="purposeCreationForm.controls.subHead.touched || (purposeCreationForm.controls.subHead.errors && isSubmitted)">
                                <mat-error *ngIf="purposeCreationForm.controls.subHead.errors?.required">
                                    {{errorMessages.S_HEAD}}
                                </mat-error>
                            </div>
                        </mat-form-field>
                    </div>

                    <div class="col-sm-3">
                        <mat-form-field class="full-width">
                            <input matInput type="text" placeholder="Purpose description" formControlName="purpose" maxlength="100" required>
                            <div class="error-wrapper" *ngIf="purposeCreationForm.controls.purpose.touched || (purposeCreationForm.controls.purpose.errors && isSubmitted)">
                                <mat-error *ngIf="purposeCreationForm.controls.purpose.errors?.required">
                                    {{errorMessages.DESC}}
                                </mat-error>
                            </div>
                        </mat-form-field>
                    </div>

                    <div class="col-sm-3">
                        <mat-form-field class="full-width" *ngIf="isSelectedLc">
                            <input matInput type="text" placeholder="Purpose Code" formControlName="pCode" maxlength="20" required>
                            <div class="error-wrapper" *ngIf="purposeCreationForm.controls.pCode.touched || (purposeCreationForm.controls.pCode.errors && isSubmitted)">
                                <mat-error *ngIf="purposeCreationForm.controls.pCode.errors?.required">
                                    {{errorMessages.CODE}}
                                </mat-error>
                            </div>
                        </mat-form-field>
                    </div>

                </div>
                <!-- Common Button -->
                <div class="form-action-button">
                    <button type="submit" title="Save" mat-raised-button color="primary" cdkFocusInitial (click)="onSave();"><i class="material-icons" title="Save">update</i>
                Update</button>




                    <button type="button" title="Cancel" mat-raised-button (click)="onNoClick()" class="btnClose"><i
                  class="material-icons " title="Cancel
                                      dashboard">close</i>Close</button>
                </div>
                <!-- action buttons ends-->
            </form>
        </div>
    </div>
</div>