.utc-certificate .mat-form-field{width: auto; margin-top: -15px;}
.authority ul li{padding-right: 45px;list-style: none;}
.form-12-c{margin-bottom: 20px;}
.form-12-c h6{margin-bottom: 0;}
.disclose{padding-left: 30px;padding-right: 30px;}
.form-wrapper{ width: 80%;}
.srno{ width:.5px;}
.stype{width: 75px;}
.ltrno-date{ width: 150px;}
.amunt{ width: 100px;}
.table-bordered td, .table-bordered th {
    border: 1px solid #ccc !important;
}
.underline-br{
    padding: 0px 0px !important;
    
}