<div class="container">
  <div class="form-wrapper statement" style="padding: 10px 100px;">
    <div class="text-center">
      <h4><u>Organization Data</u></h4>
    </div>

    <table class="table-striped" style="width: 100%;">
      <tr>
        <td style="width: 30%;">Name of Office: </td>
        <td>{{nameOfOffice}}</td>
      </tr>
      <tr>
        <td>Address of Office: </td>
        <td>{{addressOfOffice}}</td>
      </tr>
      <tr>
        <td>AG's Authorization No.: </td>
        <td>{{authorizationNo}}</td>
      </tr>
      <tr>
        <td>AG's Authorization Date.: </td>
        <td>{{aurhorizationDate}}</td>
      </tr>
      <tr>
        <td>Division Code (Fillable at Treasury): </td>
        <td></td>
      </tr>
    </table>

    Head Chargeable:
    <div class="text-center">
      <table class="table-bordered" style="width: 50%;">
        <tr>
          <td style="width: 50%;">Grant No.: </td>
          <td>{{grantNo}}</td>
        </tr>
        <tr>
          <td>Major Head: </td>
          <td>{{majorHead}}</td>
        </tr>
        <tr>
          <td>Sub Major Head: </td>
          <td>{{subMajorHead}}</td>
        </tr>
        <tr>
          <td>Minor Head: </td>
          <td>{{minorHead}}</td>
        </tr>
        <tr>
          <td>Sub Head: </td>
          <td>{{subHead}}</td>
        </tr>
        <tr>
          <td>Detailed Head: </td>
          <td>{{detailedHead}}</td>
        </tr>
      </table>
    </div>

    Division Name: {{divisionName}}<br>
    Under Code: {{underCode}}<br>
    Code Name: {{codeName}}<br>
    Sign:
    <div class="height-100"></div>

    DDO Of the Office: {{divisionName}}<br>
    Date: {{todaysDate | date :'dd-MMM-yyyy HH:mm'}}

  </div>
</div>