th, td {
  width: 9% !important;
}
tr.example-detail-row {
    height: 0px !important;
    min-height: 0px;
  }
.classForBackground {
    background-color:#e2f0fb;
  
  }
  
  .pointerCursor {
    cursor: pointer;
  }

  .wordBreakForPanel td {
    word-break: break-all;
  }
  
 ::ng-deep .wordBreakForPanel td, th {
    width: 9% !important;
  }
  @media screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
      ::ng-deep .tableSelectFix table.mat-table .mat-form-field-infix {
          width: 90px !important;
      }
  }