.mat-dialog-title .mat-icon {
    top: 5px;
    position: relative;
    cursor: grab;
}

.cursor-pointer {
    cursor: pointer;
}

#history-section .history-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}

.history-heading-name i {
    opacity: 0.7;
}

::ng-deep .cdk-overlay-pane {
    max-width: 1000px !important;
}

.historyDataSource tr td.mat-cell:last-of-type,
.historyDataSource tr th.mat-header-cell:last-of-type {
    min-width: 100px;
    max-width: 500px;
}

.historyDataSource[_ngcontent-c19] tr[_ngcontent-c19] td.mat-cell[_ngcontent-c19]:last-of-type,
.historyDataSource[_ngcontent-c19] tr[_ngcontent-c19] th.mat-header-cell[_ngcontent-c19]:last-of-type {
    min-width: 400px;
    max-width: 600px;
}

::ng-deep .StandingChargeHistoryModel {
    width: 70% !important;
}