<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            {{ pensionJrClerkBranchForm }}
            <div class="font-heading"><strong>Reference No:</strong> 19-20/DPPF/PJRCB/001</div>
            <div class="font-heading"><strong>Reference Date:</strong> {{ todaysDate | date: 'dd-MMM-yyyy HH:mm'}}</div>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item " aria-current="page"><a href="javascript:void(0)">DPPF</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ pensionJrClerkBranchForm }}</li>
            </ol>
        </nav>
        <mat-accordion class="search-accordian">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <div class="heading-section">
                        Search Menu
                    </div>
                </mat-expansion-panel-header>

                <div class="panel-group">
                    <form class="col-sm-12" [formGroup]="receivedPensionJrClerkCase">
                        <div class="row">
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="number" placeholder="Employee No"
                                        formControlName="employeeNo" />
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="First Name" formControlName="firstName" />
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="Middle Name"
                                        formControlName="middleName" />
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="Surname" formControlName="surname" />
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="Inward No" formControlName="inwardNo" />
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="inwardFrom" [matDatepicker]="inwardFrom"
                                        placeholder="Inward From" />
                                    <mat-datepicker-toggle matSuffix [for]="inwardFrom">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #inwardFrom></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="inwardTo" [matDatepicker]="inwardTo"
                                        placeholder="Inward To" />
                                    <mat-datepicker-toggle matSuffix [for]="inwardTo">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #inwardTo></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="inwardType" placeholder="Inward Type" #singleSelect1>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="inwardTypeCtrl"
                                                [placeholderLabel]="'Find Inward Types...'"
                                                [noEntriesFoundLabel]="'no matching Inward Types found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option>-- None --</mat-option>
                                        <mat-option *ngFor="
                        let inwardType of inwardType_list
                          | filterSelectInput: inwardTypeCtrl.value
                      " [value]="inwardType.viewValue">
                                            {{ inwardType.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="retirementDate" [matDatepicker]="retirementDate"
                                        placeholder="Retirement Date" />
                                    <mat-datepicker-toggle matSuffix [for]="retirementDate">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #retirementDate></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="pensionType" placeholder="Pension Type" #singleSelect1>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="pensionTypeCtrl"
                                                [placeholderLabel]="'Find Pension Types...'" [noEntriesFoundLabel]="
                          'no matching Pension Types found'
                        ">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option>-- None --</mat-option>
                                        <mat-option *ngFor="
                        let pensionType of pensionType_list
                          | filterSelectInput: pensionTypeCtrl.value
                      " [value]="pensionType.viewValue">
                                            {{ pensionType.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="branchName" placeholder="Branch Name" #singleSelect1>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="branchNameCtrl"
                                                [placeholderLabel]="'Find Branch Types...'"
                                                [noEntriesFoundLabel]="'no matching Branch Types found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option>-- None --</mat-option>
                                        <mat-option *ngFor="
                        let branchName of branchName_list
                          | filterSelectInput: branchNameCtrl.value
                      " [value]="branchName.viewValue">
                                            {{ branchName.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="districtName" placeholder="District Name"
                                        #singleSelect1>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="districtNameCtrl"
                                                [placeholderLabel]="'Find Branch Types...'"
                                                [noEntriesFoundLabel]="'no matching Branch Types found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option>-- None --</mat-option>
                                        <mat-option *ngFor="
                        let districtName of districtName_list
                          | filterSelectInput: districtNameCtrl.value
                      " [value]="districtName.viewValue">
                                            {{ districtName.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="PPO No" formControlName="ppoNo" />
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="status" placeholder="Status" #singleSelect1>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="statusTypeCtrl"
                                                [placeholderLabel]="'Find Status Types...'"
                                                [noEntriesFoundLabel]="'no matching Status Types found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option>-- None --</mat-option>
                                        <mat-option *ngFor="
                        let item of workFlowStatus_list
                          | filterSelectInput: statusTypeCtrl.value
                      " [value]="item.viewValue">
                                            {{ item.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="form-action-button">
                                <button type="submit" mat-raised-button color="primary">
                                    <i class="material-icons" aria-hidden="true" title="search">search</i>
                                    Search</button>
                                <button type="reset" mat-raised-button color="accent" (click)="clearForm()">
                                    <i class="material-icons" aria-hidden="true" title="reset">
                                        restore
                                    </i>
                                    Reset
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <div class="box-primary">
            <div class="">
                <form [formGroup]="receivedPensionJrClerkCase">
                    <div class="mat-elevation-z8 table-responsive ">
                        <table mat-table [dataSource]="dataSource" width="100%" matSort
                            aria-describedby="receivedPensionJrClerkCase" style="margin-top: 2em;">

                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef scope="row" class="srnowidth">
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row" class="centerAlign">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="serialNo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
                                    Serial No
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index">
                                    {{ i + 1 }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="inwardNo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
                                    Inward No
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index">
                                    <a [routerLink]="['javaScript:void(0)']"
                                        style="cursor:pointer;text-decoration:underline">{{ element.inwardNo }}</a>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="inwardDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
                                    Inward Date
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" class="">
                                    {{ element.inwardDate }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="inwType">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
                                    Inward <br />Type
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" class="">
                                    {{ element.inwType }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="ppoNo_scNo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
                                    PPO No./SC No.
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" class="">
                                    {{ element.ppoNo_scNo }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="employeeID">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="gray-color" scope="row">
                                    Employee ID
                                </th>
                                <td mat-cell *matCellDef="let element" class="">
                                    {{ element.employeeID }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
                                    Name
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" class="">
                                    {{ element.name }}
                                </td>
                            </ng-container>
                            <!-- Retirement Date Column -->
                            <ng-container matColumnDef="retDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
                                    Retirement<br />Date
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" class="">
                                    {{ element.retDate }}
                                </td>
                            </ng-container>

                            <!-- Forward To Column -->
                            <ng-container matColumnDef="forwardTo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
                                    Forward<br />To
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" class="">
                                    <mat-form-field class="full-width">
                                        <mat-select [formControl]="forwardTo">
                                            <mat-option *ngFor="let forwardTo of forwardTo_list"
                                                [value]="forwardTo.value" matTooltip="{{ forwardTo.viewValue }}">
                                                {{ forwardTo.viewValue }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <!-- check -->
                            <ng-container matColumnDef="pnsnType">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
                                    Pension<br />Type
                                </th>

                                <td mat-cell *matCellDef="let element; let i = index">
                                    <div *ngIf="element.pnsnType == 'Family Lost'; else others"
                                        class="mat-form-field-required-marker">
                                        {{ element.pnsnType }}
                                    </div>
                                    <ng-template #others>
                                        {{ element.pnsnType }}
                                    </ng-template>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="docCount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
                                    Doc Count
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" class="">
                                    {{ element.docCount }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="revNo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
                                    Revision <br />No
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" class="">
                                    {{ element.revNo }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="branchName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
                                    Branch <br />Name
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" class="">
                                    {{ element.branchName }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
                                    Status
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" class="">
                                    {{ element.status }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="from">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
                                    From
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" class="">
                                    {{ element.from }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="branchInwardDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
                                    Branch Inward Date
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" class="">
                                    {{ element.branchInwardDate }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="noting">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
                                    Noting
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" class="">
                                    {{ element.noting }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef scope="row">
                                    Action
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" class="action-btn-i centerAlign">
                                    <a [routerLink]=""><i class="material-icons plus view-icon" title="View"
                                            aria-hidden="true">remove_red_eye</i></a>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </form>
            </div>
            <div class="form-action-button">


                <button mat-raised-button type="submit" class="green" (click)="submitData()">
                    <i class="material-icons">
                        done
                    </i> Submit
                </button>

                <button type="button" mat-raised-button class="btnClose" title="Close">
                    <i class="material-icons" title="Close" aria-hidden="true">
                        close
                    </i>
                    Close
                </button>
                <button type="button" mat-raised-button class="print-btn" title="Print">
                    <i class="material-icons" title="Print" aria-hidden="true">
                        print
                    </i>
                    Print
                </button>
            </div>
        </div>
    </div>