.box-top {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    /* border-top: 3px solid #5783a6 !important; */
    margin-bottom: 20px;
    width:100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

