<div class="container">
  <div class="form-wrapper ddo-table">
    <div class="table-responsive">
      <table class="table-bordered">
        <tr>
          <td colspan="14">
            <b>Schedule of 8009–Account Posting Process</b>
          </td>
        </tr>
        <tr>
          <td colspan="14">
            <b> Schedule for Month of April-2019 - GPF/05/2019/017/1</b>
          </td>
        </tr>
        <tr>
          <td colspan="14">
            <b> Name Of Office - Finance Department,&nbsp;&nbsp;&nbsp;Cardex No.: 243,&nbsp;&nbsp; DDO No.143</b>
          </td>
        </tr>
        <tr>
          <td>
            Sr.No.
          </td>
          <td>
            Employeee No.
          </td>
          <td>
            G.P.F. A/c. No.
          </td>
          <td class="centerAlign">
            Name
          </td>
          <td>
            Design.
          </td>
          <td>
            Mobile Number
          </td>
          <td>
            Basic Pay
          </td>
          <td>
            Monthly Deduction
          </td>
          <td colspan="2">
            Refund of Withdrawal
          </td>
          <td>
            DA
          </td>
          <td>
            Others
          </td>
          <td>
            Total Amt.
          </td>
          <td>
            Remarks
          </td>
        </tr>
        <tr>
          <td>
            1
          </td>
          <td>
            2
          </td>
          <td>
            3
          </td>
          <td class="centerAlign">
            4
          </td>
          <td class="centerAlign">
            5
          </td>
          <td>

          </td>
          <td>
            6
          </td>
          <td>
            7
          </td>
          <td>
            8
          </td>
          <td>
            9
          </td>
          <td>
            10
          </td>
          <td>
            11
          </td>
          <td>
            12
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            1
          </td>
          <td>
            1000234578
          </td>
          <td>
            <b> M/DAT/11981</b>
          </td>
          <td class="centerAlign">
            <b>SHRI P.U. CHAUHA</b>
          </td>
          <td class="centerAlign">
            peon
          </td>
          <td>
            9712616193
          </td>
          <td>
            36100
          </td>
          <td>
            20000
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>
            <b>20000</b>
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            2
          </td>
          <td>
            1000237587
          </td>
          <td>
            <b>M/DAT/5061</b>
          </td>
          <td class="centerAlign">
            <b>SHRI A.TDAMO</b>
          </td>
          <td class="centerAlign">
            peon
          </td>
          <td>
            9558142764
          </td>
          <td>
            38300
          </td>
          <td>
            10000
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
          <td>
            <b> 10000</b>
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td colspan="7" class="rightAlign">TOTAL RS.</td>
          <td>
            30000
          </td>
          <td>
            -
          </td>
          <td class="centerAlign">
            -
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>
            <b>30000</b>
          </td>
          <td>

          </td>
        </tr>
        <tr style="height: 75px;">
          <td colspan="13" style="text-align: left;">
            <b style="margin-left: 12px;">Rs. Thirty Thousand Only</b>
          </td>
          <td></td>
        </tr>
      </table>
      <div class="form-action-button">
        <button type="button" mat-raised-button class="btnClose">
          <i class="material-icons" aria-hidden="true" title="Close">
            close
          </i>
          Close
        </button>
      </div>
    </div>
  </div>
</div>