.table-outer {
    clear: both;
    margin-top: 10px;
}

.mat-form-field {
    width: 100% !important;
}

td.mat-cell:first-of-type {
    padding-left: 24px;
}

.incomplete td.mat-cell:first-of-type {
    border-left-color: #F08080;
}

.completed td.mat-cell:first-of-type {
    border-left-color: #8FBC8F;
}


.heading-wrap {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0px;
}

.action-btn-i .delete-icon{
    color: #bb1e1e !important;
    cursor: pointer;
}

