<div class="container">
    <div class="form-wrapper print-report">
        <div class="text-center">
            <div class="report-header">
                <h3><strong>પરિશિષ્ટ - ૧ </strong></h3>
                <h4><strong>(પ્રથમ નિમણૂંક થયા બાદ કર્મચારીએ પુરી પાડવાની વિગતો)</strong></h4>
                <h5><strong>(પેરા - ૧૬)</strong></h5>
            </div>
            <table class="table-bordered">
                <tr>
                    <td>૧</td>
                    <td colspan="2">કર્મચારીનું નામ</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>૨</td>
                    <td colspan="2">હોદ્દો</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>૩</td>
                    <td colspan="2">વિભાગ / સંસ્થા / કચેરીનું નામ</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>૪</td>
                    <td colspan="2">પગાર ધોરણ</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>૫</td>
                    <td colspan="2">જન્મ તારીખ</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>૬</td>
                    <td colspan="2">સેવામાં જોડાયા તારીખ (કાયમી થયા તારીખ)</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>૭</td>
                    <td colspan="2">મૂળ પગાર</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>૮</td>
                    <td>એનું. ક્રમાંક</td>
                    <td>પેન્શન ખાતામાં જમા સિલકો માટેના<br>નામ નિયુક્ત વય્ક્તિ(ઓ)ના<br>નામ (Nominee Name)</td>
                    <td>ઉમર</td>
                    <td>ચૂકવવાના હિસ્સાની ટકાવારી (%)</td>
                    <td>કર્મચારી સાથેનો તેનો સંબંધ</td>
                </tr>
                <tr>
                    <td class="padding-40"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div class="height-100"></div>
            <table class="table-borderless">
                <tr>
                    <td>ઉપાડ અને ચુકવણી અધિકારી</td>
                    <td>કર્મચારીની સહી</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="height-100"></div>
                    </td>
                </tr>
                <tr>
                    <td>RAG No:</td>
                    <td>કર્મચારીનું નામ</td>
                </tr>
            </table>


        </div>

    </div>
</div>