.doted-border {
    padding: 20px 30px;
    text-align: left;
    border: dashed 3px #c1c3c5;
}

.upload-pic-txt {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.user-pic {
    font-size: 8em;
    color: #cbe1ff;
    border: 1px dotted #ccc;
    width: auto;
    height: auto;
}

.btn-browse i {
    font-size: 21px;
    color: #6e86a7;
    vertical-align: bottom;
    line-height: normal;
}

.file-info {
    font-size: smaller;
}

::ng-deep .mrt {
    margin-top: 9px;
}

.auto-scroll {
    display: block;
}

.input-table {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #5783a6 !important;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.input-table tr td {
    border: #e5e5e5 0.1px solid;
}

.input-cell {
    background-color: #f1f7ff;
    color: black;
    font-weight: bold;
    padding: 5px;
}