.pansion ol li{
    margin-bottom: 10px;
    font-size: 15px;
    position: relative;
}

.pansion ol li span{
    position: absolute;
    top: 2px;
    margin-left: 15px;
}

.pansion ol li p{
    margin-left: 45px;
    font-size: 15px;
}
textarea{
 max-height: 150px !important;
 width: 100%;
 border: 1px solid #ccc;
}
.mat-form-field-infix{
    border: 0px solid !important;
}
.font-20{
    font-size: 20px;
}