/* .mat-sort-header-container{
    text-align: left;
} */
/* 
.clearfix {
    display: block;
    content: "";
    clear: both;
    width: 100%;;
} */

/* .pay-configuration .mat-table th.mat-header-cell{

    justify-content: left !important;
    text-align: left;
} */

/* .mgb10{ margin-bottom: 10px;} */

/* .mat-icon-button{
    background: none !important;
    border: none !important;
}  */

/* ::ng-deep .mat-calendar-content{
    background: #ffffff !important;
}
::ng-deep  .mat-icon-button{

    background: #ffffff !important;
    border: none !important;
}  */