<div class="container">
    <div class="form-wrapper">

        <!-- bill detais -->
        <div class="heading-section ng-star-inserted">
            <div class="font-heading"><strong>Payment Mode</strong> ECS</div>
            <div class="font-heading"><strong>Pay Bill No.</strong>PB29327TRO1HOIMECRCG</div>
            <div class="font-heading"><strong>Pay Bill Status</strong> Pending with Payroll Creator</div>
        </div>

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">Task List</a></li>
                <li class="breadcrumb-item active" aria-current="page">Employee Listing</li>
            </ol>
        </nav>

        <mat-tab-group>
            <!-- Employee Wise Summary -->
            <mat-tab>
                <ng-template mat-tab-label>Employee Wise Summary</ng-template>
                <!-- employee listing -->
                <div class="mat-elevation-z8 mt-2 overflow-x-auto">
                    <table mat-table [dataSource]="dataSource" aria-describedby="employeeWiseSummaryTable">
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef scope="row">Sr No </th>
                            <td mat-cell *matCellDef="let element;let i=index" class="centerAlign"> {{i+1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="empNo">
                            <th mat-header-cell *matHeaderCellDef scope="row">Employee No </th>
                            <td mat-cell *matCellDef="let element"> {{element.empNo}} </td>
                        </ng-container>
                        <ng-container matColumnDef="empName">
                            <th mat-header-cell *matHeaderCellDef scope="row"> Employee Name</th>
                            <td mat-cell *matCellDef="let element"> {{element.empName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="class">
                            <th mat-header-cell *matHeaderCellDef scope="row">Class </th>
                            <td mat-cell *matCellDef="let element"> {{element.class}} </td>
                        </ng-container>
                        <ng-container matColumnDef="designation">
                            <th mat-header-cell *matHeaderCellDef scope="row">Designation </th>
                            <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
                        </ng-container>
                        <ng-container matColumnDef="totalEarnings">
                            <th mat-header-cell *matHeaderCellDef scope="row"> Total Earnings</th>
                            <td mat-cell *matCellDef="let element" class="rightAlign"> {{element.totalEarnings}} </td>
                        </ng-container>
                        <ng-container matColumnDef="totalDeduction">
                            <th mat-header-cell *matHeaderCellDef scope="row">Total Deductions </th>
                            <td mat-cell *matCellDef="let element" class="rightAlign"> {{element.totalDeduction}} </td>
                        </ng-container>
                        <ng-container matColumnDef="netPay">
                            <th mat-header-cell *matHeaderCellDef scope="row">Net Pay </th>
                            <td mat-cell *matCellDef="let element" class="rightAlign"> {{element.netPay}} </td>
                        </ng-container>


                        <!-- Header Section Of table -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <!-- Data Fetch From .TS File to table -->
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                <br>

                <!-- summmary table -->
                <table class="input-table">
                    <tr>
                        <td class="input-cell">Total Earnings</td>
                        <td>1221334.00</td>
                    </tr>
                    <tr>
                        <td class="input-cell">Total Deductions</td>
                        <td>234234534.54</td>
                    </tr>
                    <tr>
                        <td class="input-cell">Grand Total </td>
                        <td>24644768.54</td>
                    </tr>
                </table>
                <br>
                <div><a><u>Download Employee Wise Component Break up</u></a></div>
                <br>

                <!-- form -->
                <form [formGroup]="finalizeProcessForm">
                    <div class="col-sm-6 col-md-6" style="padding-left: 0;">
                        <mat-form-field>
                            <textarea matInput placeholder="Comments" formControlName="comments" required></textarea>
                            <div class="error-wrapper"
                                *ngIf="finalizeProcessForm.controls.comments.touched && finalizeProcessForm.controls.comments.errors">
                                <mat-error *ngIf="finalizeProcessForm.controls.comments.errors.required">
                                    {{errorMessage.COMMENTS}}
                                </mat-error>
                            </div>
                        </mat-form-field>
                    </div>
                </form>

                <!--buttons -->
                <div class="form-action-button">
                    <button mat-raised-button type="button" class="green" title="Submit">
                        <i class="material-icons" title="Submit" aria-hidden="true">done</i>
                        Submit
                    </button>
                    <button mat-raised-button color="primary">Reopen</button>
                </div>
            </mat-tab>
            <!-- Payhead Wise Summary -->
            <mat-tab>
                <ng-template mat-tab-label>Payhead Wise Summary</ng-template>
                <p>Data Not Available</p>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>