th, td {
    /* width: 9.09%; */
    width: 7.6923%;
}
::ng-deep table.mat-table .mat-form-field-appearance-legacy .mat-form-field-infix {
    width: unset !important;
}
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    ::ng-deep .tableSelectFix table.mat-table .mat-form-field-infix {
        width: 90px !important;
    }
}
