<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>Block CPIN</div>

        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">E-PAO</a></li>
                <li class="breadcrumb-item active" aria-current="page">Block CPIN</li>
            </ol>
        </nav>

        <form [formGroup]="blockCpinForm">
            <div class="panel-group">
                <!-- Block CPIN -->
                <div class="box box-primary">
                    <div class="box-header">Block CPIN</div>
                    <div class="box-body">

                        <div class="row">


                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="CIN" formControlName="cin">
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="CPIN" formControlName="cpin">
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="cpinDate" [max]="maxDate" [matDatepicker]="cpinDate" placeholder="CPIN Date">
                                    <mat-datepicker-toggle matSuffix [for]="cpinDate">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #cpinDate></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="Amount(₹)" formControlName="amt">
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="amtDate" [max]="maxDate" [matDatepicker]="amtDate" placeholder="Govt. Account Credit Date">
                                    <mat-datepicker-toggle matSuffix [for]="amtDate">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #amtDate></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="refDate" [max]="maxDate" [matDatepicker]="refDate" placeholder="Reference Date">
                                    <mat-datepicker-toggle matSuffix [for]="refDate">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #refDate></mat-datepicker>
                                </mat-form-field>
                            </div>

                        </div>

                    </div>
                    <!-- common button -->
                    <div class="form-action-button">
                        <button type="reset" mat-raised-button color="accent" title="Reset">
                            <i class="material-icons" title="Reset" aria-hidden="true">restore</i>
                            Reset
                        </button>
                        <button type="submit" mat-raised-button color="primary">
                            <i aria-hidden="true" class="material-icons">search</i> Search </button>
                    </div>
                    <!-- End common button -->

                </div>
                <!-- End Block CPIN -->
                <!-- Table Block CPIN -->
                <table mat-table [dataSource]="dataSource" width="100%" matSort aria-describedby="blockCpinTable">
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Sr No.</th>
                        <td mat-cell *matCellDef="let element;let i = index;" class="centerAlign"> {{i+1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="refNo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Reference No</th>
                        <td mat-cell *matCellDef="let element"> {{element.refNo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="refDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Reference Date</th>
                        <td mat-cell *matCellDef="let element"> {{element.refDate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cpIn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">CPIN</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.cpIn}} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Status</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.status}} </td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Amount</th>
                        <td mat-cell *matCellDef="let element" class="rightAlign"> {{element.amount}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"> Action </th>
                        <td mat-cell *matCellDef="let element;let i = index;" class="action-btn-i centerAlign">
                            <a [routerLink]="'../block-cpin'">
                                <i aria-hidden="true" class="material-icons plus edit-icon" title="Edit"> edit </i>
                            </a>
                            <a><i class="material-icons plus view-icon mr-2" title="View">remove_red_eye</i></a>
                        </td>
                    </ng-container>
                    <!-- Header Section Of table -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <!-- Data Fetch From .TS File to table -->
                    <tr mat-row *matRowDef="let row; let i = index;columns: displayedColumns;">
                    </tr>
                </table>
                <!-- End Table Block CPIN -->
                <!-- Common Button -->
                <div class="form-action-button">

                    <button type="button" mat-raised-button class="btnClose" title="Close">
                        <i class="material-icons" title="Close" aria-hidden="true">
                            close
                        </i>
                        Close
                    </button>

                </div>
                <!-- End Common Button -->
            </div>
        </form>

    </div>
</div>