<div class="container">
  <div class="form-wrapper">

    <!-- heading section -->
    <div class="heading-section ng-star-inserted">Field Visit Register (For MPR)
      <div class="font-heading"><strong>{{referenceNumber}}</strong> 19-20/LF/FVR/001
      </div>
      <div class="font-heading"><strong>{{referenceNumberDate}} </strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}
      </div>
    </div>

    <!-- navigation -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Local Fund</a></li>
        <li class="breadcrumb-item active" aria-current="page">Field Visit Register (For MPR)</li>
      </ol>
    </nav>

    <!-- form  -->
    <form [formGroup]="fieldVisit" (ngSubmit)="submitForm()">

      <!-- field visist register (for mpr)  -->
      <div class="box box-primary">
        <div class="box-header">Field Visit Register (For MPR)</div>
        <div class="box-body">
          <div class="row">

            <!-- id -->
            <div class="col-sm-3">
              <mat-form-field class="full-width">
                <input matInput formControlName="id" placeholder="ID" readonly>
              </mat-form-field>
            </div>

            <!-- district -->
            <div class="col-sm-3">
              <mat-form-field class="full-width">
                <input matInput formControlName="district" placeholder="District Name" readonly>
              </mat-form-field>
            </div>

            <!-- institute type -->
            <div class="col-sm-3">
              <mat-form-field class="full-width">
                <mat-select formControlName="instituteType" placeholder="Type of Institute">
                  <mat-option>
                    <ngx-mat-select-search [formControl]="instituteTypeCtrl"
                      [placeholderLabel]="'Find Institute Type...'"
                      [noEntriesFoundLabel]="'No matching Institute Type found'">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let item of instituteTypeList |
                      filterSelectInput:instituteTypeCtrl.value" [value]="item.value" matTooltip="{{item.viewValue}}">
                    {{item.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- institute name -->
            <div class="col-sm-3">
              <mat-form-field class="full-width">
                <input matInput formControlName="instituteName" placeholder="Name of the Institute " readonly>
              </mat-form-field>
            </div>

            <!-- audit year -->
            <div class="col-sm-3">
              <mat-form-field class="full-width">
                <mat-select formControlName="auditYear" placeholder="Audit Year">
                  <mat-option>
                    <ngx-mat-select-search [formControl]="auditYearCtrl" [placeholderLabel]="'Find Audit Year...'"
                      [noEntriesFoundLabel]="'No matching Audit Year found'">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let item of auditYearList |
                      filterSelectInput:auditYearCtrl.value" [value]="item.value" matTooltip="{{item.viewValue}}">
                    {{item.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- audit date -->
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput formControlName="auditDate" placeholder="Audit Date" readonly>
                <mat-datepicker-toggle matSuffix [for]="auditDate">
                </mat-datepicker-toggle>
                <mat-datepicker #auditDate></mat-datepicker>
              </mat-form-field>
            </div>

            <!-- audit from date -->
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput formControlName="auditFromDate" placeholder="Audit From Date" readonly>
                <mat-datepicker-toggle matSuffix [for]="auditFromDate">
                </mat-datepicker-toggle>
                <mat-datepicker #auditFromDate></mat-datepicker>
              </mat-form-field>
            </div>

            <!-- audit to date -->
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput formControlName="auditToDate" placeholder="Audit to Date" readonly>
                <mat-datepicker-toggle matSuffix [for]="auditToDate">
                </mat-datepicker-toggle>
                <mat-datepicker #auditToDate></mat-datepicker>
              </mat-form-field>
            </div>

            <!-- sanction mandays -->
            <div class="col-sm-3">
              <mat-form-field class="full-width">
                <input matInput type="text" formControlName="sancManDays" numbersOnlyKeypress maxlength="10"
                  placeholder="Sanction Man days" readonly>
              </mat-form-field>
            </div>

            <!-- audit name -->
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput formControlName="auditName" placeholder="Auditor Name" maxlength="50" readonly>
              </mat-form-field>
            </div>

            <!-- designation -->
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput formControlName="desig" placeholder="Designation" maxlength="50" readonly>
              </mat-form-field>
            </div>

            <!-- auditor salary -->
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput formControlName="auditSal" placeholder="Auditor Salary" numbersOnlyKeypress
                  maxlength="20" readonly>
              </mat-form-field>
            </div>

            <!-- visit from date -->
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput formControlName="visitFromDate" placeholder="Visit from Date" readonly>
                <mat-datepicker-toggle matSuffix [for]="auditFromDate">
                </mat-datepicker-toggle>
                <mat-datepicker #visitFromDate></mat-datepicker>
              </mat-form-field>
            </div>

            <!-- visit to date -->
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput formControlName="visitToDate" placeholder="Visit to Date" readonly>
                <mat-datepicker-toggle matSuffix [for]="visitToDate">
                </mat-datepicker-toggle>
                <mat-datepicker #visitToDate></mat-datepicker>
              </mat-form-field>
            </div>

            <!-- reason for visit fail -->
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput formControlName="failReason" placeholder="Reason for Visit Fail" maxlength="100"
                  readonly>
              </mat-form-field>
            </div>

            <!-- date of reporting to office -->
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput formControlName="reportDate" placeholder="Date of reporting to office" readonly>
                <mat-datepicker-toggle matSuffix [for]="reportDate">
                </mat-datepicker-toggle>
                <mat-datepicker #reportDate></mat-datepicker>
              </mat-form-field>
            </div>

            <!-- audit penalty amount -->
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput formControlName="auditPenAmt" placeholder="Audit Penalty Amount" numbersOnlyKeypress
                  maxlength="20" readonly>
              </mat-form-field>
            </div>

            <!-- recovered amount -->
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput formControlName="recAmt" placeholder="Recovered Amount" numbersOnlyKeypress
                  maxlength="20" readonly>
              </mat-form-field>
            </div>

            <!-- amount recovery date -->
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput formControlName="amtRecDate" placeholder="Amount Recovery Date" readonly>
                <mat-datepicker-toggle matSuffix [for]="amtRecDate">
                </mat-datepicker-toggle>
                <mat-datepicker #amtRecDate></mat-datepicker>
              </mat-form-field>
            </div>

            <!-- remarks -->
            <div class="col-sm-3">
              <mat-form-field>
                <textarea matInput formControlName="remarks" placeholder="Remarks" maxLength="1000" numbersAlphabetsOnly
                  readonly>
                </textarea>
              </mat-form-field>
            </div>

          </div>
        </div>
      </div>
    </form>
    <!-- form end -->

    <div class="mat-elevation-z8  mt-2 overflow-x-scroll">
      <!-- table start -->
      <table mat-table [dataSource]="dataSource" width="100%" matSort aria-describedby="fieldVisitRegister">

        <!-- serial no -->
        <ng-container matColumnDef="serialNo">
          <th mat-header-cell *matHeaderCellDef scope="row">Sr.No.</th>
          <td mat-cell *matCellDef="let row;let i =index" class="centerAlign">{{i+1}}</td>
        </ng-container>

        <!-- id -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef scope="row">ID</th>
          <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">{{element.id}}</td>
        </ng-container>

        <!-- district -->
        <ng-container matColumnDef="district">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">District Name</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.district}}
          </td>
        </ng-container>

        <!-- institute name -->
        <ng-container matColumnDef="instituteName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Name of the Institute</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.instituteName}}
          </td>
        </ng-container>

        <!-- institue type -->
        <ng-container matColumnDef="instituteType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Type of Institute</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.instituteType}}
          </td>
        </ng-container>

        <!-- audit year -->
        <ng-container matColumnDef="auditYear">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Audit Year</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.auditYear}}
          </td>
        </ng-container>

        <!-- audit date -->
        <ng-container matColumnDef="auditDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Audit Date</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.auditDate}}
          </td>
        </ng-container>

        <!-- sanction mandays -->
        <ng-container matColumnDef="sancManDays">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Sanction Man days</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.sancManDays}}
          </td>
        </ng-container>

        <!-- auditor name -->
        <ng-container matColumnDef="auditName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Auditor Name</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.auditName}}
          </td>
        </ng-container>

        <!-- designation -->
        <ng-container matColumnDef="desig">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Designation</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.desig}}
          </td>
        </ng-container>

        <!-- auditor salary -->
        <ng-container matColumnDef="auditSal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Auditor Salary</th>
          <td mat-cell *matCellDef="let element;let i= index;" class="rightAlign">
            {{element.auditSal}}
          </td>
        </ng-container>

        <!-- visit from date  -->
        <ng-container matColumnDef="visitFromDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Visit from Date</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.visitFromDate}}
          </td>
        </ng-container>

        <!-- visit to date -->
        <ng-container matColumnDef="visitToDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Visit to Date</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.visitToDate}}
          </td>
        </ng-container>

        <!-- reason for visit fail -->
        <ng-container matColumnDef="failReason">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Reason for Visit Fail</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.failReason}}
          </td>
        </ng-container>

        <!-- date of reporting to office -->
        <ng-container matColumnDef="reportDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Date of reporting to office</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.reportDate}}
          </td>
        </ng-container>

        <!-- audit penalty amount -->
        <ng-container matColumnDef="auditPenAmt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Audit Penalty Amount</th>
          <td mat-cell *matCellDef="let element;let i= index;" class="rightAlign">
            {{element.auditPenAmt}}
          </td>
        </ng-container>

        <!-- recovered amount -->
        <ng-container matColumnDef="recAmt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Recovered Amount</th>
          <td mat-cell *matCellDef="let element;let i= index;" class="rightAlign">
            {{element.recAmt}}
          </td>
        </ng-container>

        <!-- amount recovery date -->
        <ng-container matColumnDef="amtRecDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Amount Recovery Date</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.amtRecDate}}
          </td>
        </ng-container>

        <!-- remarks -->
        <ng-container matColumnDef="remarks">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Remarks</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.remarks}}
          </td>
        </ng-container>

        <!-- action -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Action</th>
          <td mat-cell *matCellDef="let element;let i= index;" class="centerAlign">
            <a [routerLink]="'../field-visit-register-view'"><i class="material-icons plus view-icon" title="View"
                aria-hidden="true">remove_red_eye</i></a>
          </td>
        </ng-container>

        <!-- Header Section Of table -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- Data Fetch From .TS File to table -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;let i= index;"></tr>
      </table>
      <!-- table end -->
    </div>
    <!-- paginator -->
    <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    <!-- action button -->
    <div class="form-action-button">

      <button type="button" mat-raised-button color="warn" title="Listing"
        [routerLink]="['../field-visit-register-list']" routerLinkActive="router-link-active">
        <i class="material-icons" title="Listing" aria-hidden="true">
          list
        </i>
        Listing
      </button>

    </div>
    <!-- action button end -->

  </div>
</div>