<div class="container">
    <div class="form-wrapper">
        <!-- Life Certificate -->
        <div class="heading-section ng-star-inserted">
            <div>Life Certificate </div>
            <div class="font-heading"><strong>Reference No:</strong> 19-20/PPO/APC/001</div>
            <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}</div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item " aria-current="page"><a href="javascript:void(0)">PPO</a></li>
                <li class="breadcrumb-item active" aria-current="page">Life Certificate</li>
            </ol>
        </nav>

        <mat-accordion class="search-accordian">
            <mat-expansion-panel [expanded]="false">
                <mat-expansion-panel-header>
                    <div class="heading-section">
                        Generate Life Certificate
                    </div>
                </mat-expansion-panel-header>
                <div class=" form-datatable-list">
                    <form class="col-sm-12" [formGroup]="lifeCertificate" (ngSubmit)="lifeCertificateData()">
                        <div class="row">
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input type="text" matInput [(formControl)]="ppoNoCtrl" placeholder="PPO No" [matAutocomplete]="auto" (blur)="sendPPOData($event.target.value)" value="{{ppoNoVal}}">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                        <span *ngIf="optionCtrl">
                      <mat-option *ngFor="let option of filteredppoNo | async" [value]="option">
                        {{option.ppoNo}}
                      </mat-option>
                    </span>
                                    </mat-autocomplete>
                                    <mat-icon matSuffix class="searchIcon" (click)="openPPODialog()">search</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="Account No" formControlName="accountNo" required>
                                    <div class="error-wrapper" *ngIf="lifeCertificate.controls.accountNo.touched && lifeCertificate.controls.accountNo.errors">
                                        <mat-error *ngIf="lifeCertificate.controls.accountNo.errors.required">
                                            {{errorMessages.ACCOUNT_NO}}
                                        </mat-error>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <mat-select name="year" formControlName="year" placeholder="Year">
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="yearCTRL" [placeholderLabel]="'Select Year ...'" [noEntriesFoundLabel]="'no matching Year found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option>-- None --</mat-option>

                                        <mat-option *ngFor="let yearName of year_list | filterSelectInput : yearCTRL.value : 'viewValue'" [value]="yearName.value">
                                            {{yearName.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                    <div class="error-wrapper" *ngIf="lifeCertificate.controls.year.touched && lifeCertificate.controls.year.errors">
                                        <mat-error *ngIf="lifeCertificate.controls.year.errors.required">
                                            {{errorMessages.YEAR}}
                                        </mat-error>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Common Button -->
                <div class="form-action-button">
                    <button mat-raised-button type="submit" class="green" title="Submit" (click)="goToReport()">
            <i class="material-icons" title="Submit" aria-hidden="true">done</i> Generate Report</button>
                    <button type="reset" mat-raised-button color="accent">
            <i class="material-icons" aria-hidden="true" title="Reset">
              restore
            </i>
            Reset
          </button>
                    <button type="button" mat-raised-button class="btnClose" title="Close">
            <i class="material-icons" title="Close" aria-hidden="true">
              close
            </i>
            Close
          </button>
                </div>
                <!-- Common Button ends-->
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>