.table td,
.table th {
  border: none;
}

.table {
  position: relative;
}

.table-border-event {
  border-top: 1px dotted #212529;
  border-bottom: 1px dotted #212529;
}

.table-border-event th {
  border-bottom: 1px dotted #212529;
}

#watermark {
  position: absolute;
  top: 50%;
  text-align: center;
  font-size: 42px;
  color: lightgray;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#watermark p {
  transform: rotate(-40deg);
}


@media print {

  .table {
    position: relative!important;
    z-index: 1;
  }

  #watermark {
    position: absolute;
    top: 500px;
    text-align: center;
    font-size: 42px;
    color: lightgray;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    /* width: 595px; */
  }

  #watermark p {
    transform: rotate(-60deg);
  }

}
