<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>Update PPO Number</div>
            <div class="font-heading"><strong>Reference No:</strong> 19-20/PPO/APC/001</div>
            <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}</div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item " aria-current="page"><a href="#">PPO</a></li>
                <li class="breadcrumb-item active" aria-current="page">Update PPO Number</li>
            </ol>
        </nav>

        <div class="panel-group">
            <form [formGroup]="updatePPONumberForm" (ngSubmit)="updatePPONumberFormData()">
                <div class="box box-primary">
                    <div class="box-header">Update PPO Number</div>
                    <div class="box-body">
                        <div class="row">

                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input type="text" matInput formControlName="oldPPONo" placeholder="PPO No" [matAutocomplete]="auto" (blur)="sendPPOData($event.target.value)" value="{{ppoNoVal}}">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                        <span *ngIf="optionCtrl">
                                            <mat-option *ngFor="let option of filteredppoNo | async" [value]="option">
                                                {{option.ppoNo}}
                                            </mat-option>
                                        </span>
                                    </mat-autocomplete>
                                    <mat-icon matSuffix class="searchIcon" (click)="openPPODialog()">search</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput name="name" placeholder="Name" formControlName="name" value="{{name}}" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput name="newPPONo" placeholder="new PPO Number" formControlName="newPPONo" maxlength="30" numbersAlphabetsOnly>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <mat-select name="pensionclass" formControlName="pensionClass" placeholder="Pension Class">
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="pensionClassCtrl" [placeholderLabel]="'Select Pension Class...'" [noEntriesFoundLabel]="'no matching Pension Class found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let pensioType of pensionClass_list | filterSelectInput : pensionClassCtrl.value : 'viewValue'" [value]="pensioType.value">
                                            {{pensioType.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>


                        </div>
                        <!-- common buttons -->
                        <div class="col-sm-12">
                            <div class="form-action-button">
                                <button type="submit" mat-raised-button color="primary" title="Save As Draft">
                                    <i class="material-icons" aria-hidden="true">save</i> Save
                                </button>
                                <button type="reset" mat-raised-button color="accent">
                                    <i class="material-icons" aria-hidden="true">
                                        restore
                                    </i>
                                    Reset
                                </button>
                            </div>
                        </div>
                        <!-- common buttons end -->

                    </div>
                </div>
            </form>
        </div>

    </div>
</div>