<div class="container">
  <div class="form-wrapper">

    <!-- heading section -->
    <div class="heading-section ng-star-inserted">
      <div>Form GTR 35 - T.A Bill</div>
      <div class="font-heading"><strong>Reference Number:</strong> 19-20/DDO/TA/001</div>
      <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}
      </div>
    </div>

    <!-- navigation -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">DDO</a></li>
        <li class="breadcrumb-item active" aria-current="page"> GTR 35</li>
      </ol>
    </nav>

    <!-- view bill  -->
    <span class="viewBill">
      <a (click)="goToReport()" title="View Bill">View Bill</a>
    </span>

    <div class="panel-group">
      <mat-tab-group mat-stretch-tabs [selectedIndex]="selectedIndex" (selectedIndexChange)="getTabIndex($event)">

        <!-- bill preparation -->
        <mat-tab>
          <ng-template mat-tab-label>
            Bill Preparation
          </ng-template>

          <app-bill-preparation-thirty-five></app-bill-preparation-thirty-five>

          <!-- form buttons -->
          <div class="form-action-button">
            <button type="submit" mat-raised-button color="primary" (click)="goToNext()">
              Save & Proceed
              <i class="material-icons" aria-hidden="true" title="Next">
                chevron_right
              </i>
            </button>
          </div>
          <!-- form buttons end -->
        </mat-tab>
        <!-- bill preparation end -->

        <!-- gtr-35 details -->
        <mat-tab>
          <ng-template mat-tab-label>
            GTR-35-Details
          </ng-template>

          <!-- form -->
          <form [formGroup]="formThirtyFive" (ngSubmit)="formThirtyFiveData()">
            <p class="box-note">T A Bill </p>

            <!-- employee pay detail -->
            <div class="box box-primary">
              <div class="box-header">Employee Pay Detail</div>
              <div class="box-body">
                <div class="row">
                  <div class="col-sm-6 col-md-3">
                    <mat-form-field>
                      <input matInput name="Pay" formControlName="payBasic" placeholder="Pay (Basic)" autocomplete="off"
                        readonly value='35000.00'>
                      <div class="error-wrapper"
                        *ngIf="formThirtyFive.controls.payBasic.touched && formThirtyFive.controls.payBasic.errors">
                        <mat-error *ngIf="formThirtyFive.controls.payBasic.errors.required">
                          {{errormsg.pay_basic}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-6 col-md-3">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="P.T.A. (If applicable)" value="" readonly>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-6 col-md-3">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="C.A" value="" readonly>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-6 col-md-3">
                    <mat-form-field>
                      <input matInput name="HeadQuater" formControlName="headQut" placeholder="Head Quarter"
                        autocomplete="off" readonly value='Ahmedabad'>
                      <div class="error-wrapper"
                        *ngIf="formThirtyFive.controls.headQut.touched && formThirtyFive.controls.headQut.errors">
                        <mat-error *ngIf="formThirtyFive.controls.headQut.errors.required">
                          {{errormsg.head_quater}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                </div>
              </div>
            </div>
            <!-- employee pay detail ends -->

            <!-- employee detail -->
            <p class="box-note"></p>
            <div class="box-header">Employee Detail</div>
            <div class="box box-primary">
              <div class="box-body">
                <div class="row">
                  <div class="col-sm-6 col-md-3">
                    <mat-form-field>
                      <input matInput name="gpfNo" formControlName="gpfNo" placeholder="G.P.F. No." autocomplete="off"
                        readonly value='TEST_GAGUJ'>
                      <div class="error-wrapper"
                        *ngIf="formThirtyFive.controls.gpfNo.touched && formThirtyFive.controls.gpfNo.errors">
                        <mat-error *ngIf="formThirtyFive.controls.gpfNo.errors.required">
                          {{errormsg.gpf_no}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-6 col-md-3">
                    <mat-form-field>
                      <input matInput name="CPF NO" formControlName="cpfNo" placeholder="C.P.F. No." autocomplete="off"
                        readonly>
                      <div class="error-wrapper"
                        *ngIf="formThirtyFive.controls.cpfNo.touched && formThirtyFive.controls.cpfNo.errors">
                        <mat-error *ngIf="formThirtyFive.controls.cpfNo.errors.required">
                          {{errormsg.cpf_no}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>


                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput [matDatepicker]="dateofbirth" [value]='dob' placeholder="Date of Birth" readonly
                        [max]="maxDate">

                      <mat-datepicker #dateofbirth readonly></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput [matDatepicker]="dateofjoin" [value]='doj' placeholder="Date of Joining" readonly
                        [max]="maxDate">

                      <mat-datepicker #dateofjoin></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <!-- employee detail ends -->

            <p class="box-note">* While Entering City Name in Departure or Arrival Station Press F3 to get City List
            </p>
            <p class="box-note">* All the fields in Travel Details are Mandatory </p>

            <!-- travel details -->
            <div class="box box-primary">
              <div class="box-header">Travel Details</div>
              <div class="box-body">
                <div class="row">
                  <div class="col-md-12 mat-elevation-z8 mt-2" style="overflow-x: scroll;">
                    <table mat-table [dataSource]="travelDEtailsDatasource" matSort aria-describedby="travelDetails"
                      style="overflow-x: scroll;">

                      <ng-container matColumnDef="mJorney">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"
                          [ngStyle]="{'display': 'none'}"> Mode Of Journey <span> * </span> </th>
                        <td mat-cell *matCellDef="let element">
                          <mat-form-field class="full-width">
                            <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="element.mJorney"
                              (selectionChange)="onSelectingModeOfJourney($event)">
                              <mat-option *ngFor="let jor of trasportLists | filterSelectInput: jprneyCtrl.value"
                                [value]="jor.value">
                                {{jor.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="mJorney1">
                        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" scope="row">Mode Of Journey </th>
                      </ng-container>

                      <!-- Departure -->

                      <ng-container matColumnDef="station">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"> Station </th>
                        <td mat-cell *matCellDef="let item">
                          <mat-form-field floatLabel="never">
                            <input matInput [value]="item.station" alphabetOnly [(ngModel)]="item.station"
                              [ngModelOptions]="{standalone: true}">
                          </mat-form-field>
                        </td>
                      </ng-container>


                      <ng-container matColumnDef="depaDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"> Date </th>
                        <td mat-cell *matCellDef="let item">
                          <mat-form-field>
                            <input matInput [matDatepicker]="deDate" readonly [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="item.depaDate" [max]="maxDate">
                            <mat-datepicker-toggle matSuffix [for]="deDate"></mat-datepicker-toggle>
                            <mat-datepicker #deDate></mat-datepicker>
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="hour">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"> Hour (HH:MM) </th>
                        <td mat-cell *matCellDef="let item">
                          <mat-form-field floatLabel="never">
                            <input matInput [value]="item.hour" (blur)="onHour($event,item)" hourFormat [maxLength]='5'
                              [(ngModel)]="item.hour" [ngModelOptions]="{standalone: true}">
                          </mat-form-field>
                        </td>

                      </ng-container>

                      <!-- Roadways -->

                      <ng-container matColumnDef="place">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"> Place
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <mat-form-field class="full-width" *ngIf='element.mJorney==2'>
                            <mat-select [disabled]='element.mJorney!=2' [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="element.place">
                              <mat-option *ngFor="let plc of placeLists | filterSelectInput: placeCtrl.value"
                                [value]="plc.value">
                                {{plc.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="departure">
                        <th mat-header-cell *matHeaderCellDef [attr.colspan]="colspan1" scope="row">Departure <span> *
                          </span>
                        </th>
                      </ng-container>

                      <!-- Arrival -->

                      <ng-container matColumnDef="stationArrival">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"> Station </th>
                        <td mat-cell *matCellDef="let item">
                          <mat-form-field floatLabel="never">
                            <input matInput [value]="item.stationArrival" alphabetOnly [(ngModel)]="item.stationArrival"
                              [ngModelOptions]="{standalone: true}">
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="ariaDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"> Date </th>
                        <td mat-cell *matCellDef="let item">
                          <mat-form-field>
                            <input matInput [matDatepicker]="aDate" readonly [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="item.ariaDate" [max]="maxDate">
                            <mat-datepicker-toggle matSuffix [for]="aDate"></mat-datepicker-toggle>
                            <mat-datepicker #aDate></mat-datepicker>
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="hourslast">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"> Hour (HH:MM)</th>
                        <td mat-cell *matCellDef="let item">
                          <mat-form-field floatLabel="never">
                            <input matInput [value]="item.hourslast" [maxLength]='5' [(ngModel)]="item.hourslast"
                              (blur)="onHour1($event,item)" hourFormat [ngModelOptions]="{standalone: true}">
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <!-- Roadways -->

                      <ng-container matColumnDef="placeLast">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"> Place </th>
                        <td mat-cell *matCellDef="let element">
                          <mat-form-field class="full-width" *ngIf='element.mJorney==2'>
                            <mat-select [disabled]='element.mJorney!=2' [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="element.placeLast">
                              <mat-option *ngFor="let plc of placeLists | filterSelectInput: placeCtrl.value"
                                [value]="plc.value">
                                {{plc.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="arrival">
                        <th mat-header-cell *matHeaderCellDef [attr.colspan]="colspan2" scope="row">Arrival <span> *
                          </span>
                        </th>
                      </ng-container>

                      <!-- Specification -->
                      <ng-container matColumnDef="typeOfJourney">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"> Type of Journey </th>
                        <td mat-cell *matCellDef="let element">
                          <mat-form-field class="full-width">
                            <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="element.typeOfJourney">
                              <mat-option *ngFor="let type of typeOfJourneyList | filterSelectInput: placeCtrl.valueZ"
                                [value]="type.value">
                                {{type.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="purposeOfJourney">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"> Purpose of Journey/Remarks
                        </th>
                        <td mat-cell *matCellDef="let item">
                          <mat-form-field floatLabel="never">
                            <input matInput [value]="item.purposeOfJourney" alphabetOnly
                              [(ngModel)]="item.purposeOfJourney" [ngModelOptions]="{standalone: true}">
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <!-- Railway -->

                      <ng-container matColumnDef="trainType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"> Train Type </th>
                        <td mat-cell *matCellDef="let element">
                          <mat-form-field class="full-width" *ngIf='element.mJorney==1'>
                            <mat-select [disabled]='element.mJorney!=1' [(ngModel)]="element.trainType"
                              [ngModelOptions]="{standalone: true}">
                              <mat-option *ngFor="let train of trainTypeList" [value]="train.value">
                                {{train.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>

                        </td>
                      </ng-container>

                      <!-- Railway and Airways -->

                      <ng-container matColumnDef="fareClass">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"> Fare Class </th>
                        <td mat-cell *matCellDef="let element">
                          <mat-form-field class="full-width" *ngIf='element.mJorney==1'>
                            <mat-select [(ngModel)]="element.fareClass" [ngModelOptions]="{standalone: true}">
                              <mat-option *ngFor="let classFare of fareClassRailwayList " [value]="classFare.value">
                                {{classFare.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field class="full-width" *ngIf='element.mJorney==3'>
                            <mat-select [(ngModel)]="element.fareClass" [ngModelOptions]="{standalone: true}">
                              <mat-option *ngFor="let classFare of fareClassAirwaysList " [value]="classFare.value">
                                {{classFare.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <!-- On Travel type road -->
                      <ng-container matColumnDef="Vehicle">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"> Vehicle </th>
                        <td mat-cell *matCellDef="let element">
                          <mat-form-field class="full-width" *ngIf='element.mJorney==2'>
                            <mat-select [(ngModel)]="element.Vehicle" [ngModelOptions]="{standalone: true}"
                              [disabled]='element.mJorney!=2'>
                              <mat-option *ngFor="let v of vehicleList " [value]="v.value">
                                {{v.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="owner">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"> Owner </th>
                        <td mat-cell *matCellDef="let element">
                          <mat-form-field class="full-width" *ngIf='element.mJorney==2'>
                            <mat-select [(ngModel)]="element.owner" [ngModelOptions]="{standalone: true}"
                              [disabled]='element.mJorney!=2'>
                              <mat-option *ngFor="let o of ownerList" [value]="o.value">
                                {{o.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="noOfFares">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"> No. of Fares </th>
                        <td mat-cell *matCellDef="let item">
                          <mat-form-field floatLabel="never">
                            <input matInput [value]="item.noOfFares" [maxLength]='3' decimalLimitTwoOnly
                              [(ngModel)]="item.noOfFares" [ngModelOptions]="{standalone: true}">
                          </mat-form-field>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="fareAmount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Fare Amount </th>
                        <td mat-cell *matCellDef="let item">
                          <mat-form-field floatLabel="never">
                            <input matInput class="rightAlign" [value]="item.fareAmount" decimalLimitTwoOnly
                              decimalPoint2 [(ngModel)]="item.fareAmount" [ngModelOptions]="{standalone: true}">
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="specification">
                        <th mat-header-cell *matHeaderCellDef [attr.colspan]="8" scope="row">Specification <span> *
                          </span>
                        </th>
                      </ng-container>

                      <!-- Action Block -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"
                          [ngStyle]="{'display': 'none'}" class="actionwidthtwo">Action</th>
                        <td mat-cell *matCellDef="let element;let i=index">
                          <table class="iconTable" aria-describedby="actionBtn" class="action-btn-i centerAlign">
                            <tbody>
                              <tr>
                                <td width="30">
                                  <i class="material-icons plus add searchIcon" aria-hidden="true"
                                    (click)="addTravelDetails()">
                                    add
                                  </i>
                                </td>
                                <td width="30">
                                  <i class="material-icons plus delete searchIcon" aria-hidden="true"
                                    (click)="deleteTravelsDetails(i)" *ngIf="travelDEtailsDatasource.data.length > 2">
                                    delete
                                  </i>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="action1">
                        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" [attr.rowspan]="2" scope="row">Action
                        </th>
                      </ng-container>

                      <!-- Custom Header Section Of table -->
                      <tr mat-header-row
                        *matHeaderRowDef="['mJorney1', 'departure', 'arrival' , 'specification' ,'action1']">
                      </tr>
                      <!-- Header Section Of table -->
                      <tr mat-header-row *matHeaderRowDef="travelDisplayColumn"></tr>
                      <!-- Data Fetch From .TS File to table -->
                      <tr mat-row *matRowDef="let row; let i = index;columns:travelDisplayColumn"></tr>
                    </table>
                  </div>

                  <div class="col-md-12 centerAlign mgt15 mgb15">
                    <button type="submit" mat-raised-button color="primary" (click)="openclculation()"
                      title="calculation">
                      Calculate L.T.C Expenses
                    </button>
                  </div>

                  <div class="col-sm-6 col-md-6">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Total No. Of Hours in Transit " readonly value="00.00" disabled>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-6 col-md-6">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Total No. Of Hours Of Stay " readonly value="00.00" disabled>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-6 col-md-6">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Total TA" readonly value="00.00">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-6 col-md-6">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Total DA " readonly value="00.00" disabled>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

            <!-- travel expense summay -->
            <div class="box box-primary">
              <div class="box-header">Travel Expense Summary</div>
              <div class="box-body">
                <div class="row">
                  <div class="col-md-12">
                    <table class="detailCheckTable">
                      <h4 class="postlisttitle coloblack"> Expense </h4>
                      <tbody>

                        <tr>
                          <td>
                            <label>Railway and Steamer Fare </label>
                          </td>
                          <td>

                            <mat-form-field class="w-25">
                              <input matInput [(ngModel)]="certifiesAmount" numbersOnly
                                [ngModelOptions]="{standalone: true}" value="{{totExpn() | number:'1.2-2' }}"
                                placeholder="" class="regularText text-right" readonly>
                            </mat-form-field>
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <label>Road Mileage kmts by road at <input class="inlineinput" matInput value="0"> paise per
                              <input class="inlineinput" readonly matInput value="0"> KM </label>
                          </td>
                          <td>
                            <input class="BUnderLine text-right" readonly matInput value="0.00">
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <label>Days for which daily Allowance is "Claimed" <input readonly class="inlineinput"
                                matInput value="0"> Day(s) </label>
                          </td>
                          <td>
                            <input class="BUnderLine text-right" readonly matInput value="0.00">
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <label>Incidental expenses </label>
                          </td>
                          <td>
                            <input class="BUnderLine text-right" decimalLimitTwoOnly matInput value="0.00">
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <label> <strong> Gross Total </strong> </label>
                          </td>
                          <td>
                            <input class="BUnderLine text-right" readonly matInput value="0.00">
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>


                  <div class="col-md-12">

                    <table class="detailCheckTable">
                      <h4 class="postlisttitle coloblack"> Deductions </h4>
                      <tbody>
                        <tr>
                          <td>
                            <label>1. Amount of T.A.advance on transfer/tour:</label>
                          </td>
                          <td>
                            <input class="BUnderLine text-right" decimalLimitTwoOnly matInput value="0.00">
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <label>2. Single/Double P.T.A.for <input class="inlineinput" readonly matInput value="0">
                              days
                              G.C.S.R.20,21,22,24. </label>
                          </td>
                          <td>
                            <input class="BUnderLine text-right" readonly matInput value="0.00">
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <label> <strong> Total Deduction </strong> </label>
                          </td>
                          <td>
                            <input class="BUnderLine text-right" readonly matInput value="0.00">
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <label> <strong> Net Claimed </strong> </label>
                          </td>
                          <td>
                            <input class="BUnderLine text-right" readonly matInput value="0.00">
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>


                  <div class="col-md-12">

                    <table class="detailCheckTable">
                      <tbody>
                        <tr>
                          <td>
                            <label>Bill Passed Amount </label>
                          </td>
                          <td>
                            <input class="BUnderLine text-right" readonly matInput value="0.00">
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <label>Bill Passed Amount(In Words) </label>
                          </td>
                          <td>
                            <input class="BUnderLine text-right" readonly matInput value="Zero Only" readonly>
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <label>Bill Passed Date</label>
                          </td>
                          <td>
                            <input class="BUnderLine text-right" readonly matInput [matDatepicker]="picker1"
                              [formControl]="date" [max]="maxDate">
                            <mat-datepicker #picker1></mat-datepicker>
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <label>Bill Sent Date</label>
                          </td>
                          <td>
                            <input class="BUnderLine text-right" matInput>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="col-md-12 rightAlign">
                    Head of office <br>
                    (Controlling Officer)

                  </div>
                </div>
              </div>
            </div>
            <!-- travel expense summay end-->

            <!-- employee declaration -->
            <div class="box box-primary">
              <div class="box-header">Employee Declaration</div>
              <div class="box-body">
                <div class="row">

                  <div class="checkllist col-md-12 no-padding">
                    <p>
                      <mat-checkbox>The Amount of the bill does not Claimed or Reimbursed Previously</mat-checkbox>
                    </p>

                    <p>
                      <mat-checkbox>had traveled by short and straight route </mat-checkbox>
                    </p>

                    <p>
                      <mat-checkbox>had traveled alone in rickshaw </mat-checkbox>
                    </p>

                    <p>
                      <mat-checkbox>The sum of columns and rows of the bill are verified by me and are found to be
                        correct. </mat-checkbox>
                    </p>

                  </div>

                  <div class="checkllist mt-4 col-md-12 no-padding">
                    <p class="mb-0"> <span>Please issue Cheque in favour of &nbsp;&nbsp;</span>:<u
                        class="font-weight-bold">ABC Employee
                      </u> &nbsp; of Amount Rs. <b>15000.00 </b></p>
                    <p class="mb-0 printLink">
                      <span (click)="gotoCheckList()" class="searchIcon "> Print Cheque List</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- employee declaration end -->

          </form>
          <!-- form -->
        </mat-tab>
        <!-- gtr-35 details ends-->

        <!-- Attachments-->
        <mat-tab label="Attachments">
          <app-common-attachment [attachemntValue]="attachmentTypeCode"></app-common-attachment>
        </mat-tab>
        <!-- Attachments ends-->
      </mat-tab-group>

      <!-- action button -->
      <div class="form-action-button">
        <button type="submit" mat-raised-button color="primary" title="Save As Draft">
          <i class="material-icons" title="Save As Draft" aria-hidden="true">
            save
          </i>
          Save as Draft
        </button>
        <button mat-raised-button type="submit" class="green" (click)="directiveObject.workflowDetails()"
          title="Submit">
          <i class="material-icons" title="Submit" aria-hidden="true">done</i> Submit</button>
        <button type="reset" mat-raised-button color="accent" title="Reset" (click)="resetForm()">
          <i class="material-icons" title="Reset" aria-hidden="true">
            restore
          </i>
          Reset
        </button>
        <button type="button" mat-raised-button color="warn" title="Listing" [routerLink]="['']"
          routerLinkActive="router-link-active">
          <i class="material-icons" title="Listing" aria-hidden="true">
            list
          </i>
          Listing
        </button>
        <button type="button" mat-raised-button class="print-btn" title="Print">
          <i class="material-icons" title="Print" aria-hidden="true">
            print
          </i>
          Print
        </button>
        <button type="button" mat-raised-button class="btnClose" title="Close">
          <i class="material-icons" title="Close" aria-hidden="true">
            close
          </i>
          Close
        </button>
      </div>
      <!-- action button ends -->

    </div>

  </div>
</div>