<div class="container">
  <div class="form-wrapper">
    <div class="pannel-group">
      <div class="heading-section ng-star-inserted">
        <div> Interest Calculation</div>
        <div class="font-heading"><strong>Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}
        </div>
      </div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">DPPF-HBA</a></li>
          <li class="breadcrumb-item active" aria-current="page">Interest Calculation</li>
        </ol>
      </nav>
      <form [formGroup]="interestConformationForm" (ngSubmit)="interestConformationFormData()">
        <div class="box box-primary">
          <div class="box-header">Interest Calculation
          </div>
          <!-- Interest Calculation Form -->
          <div class="box-body">
            <div class="row">
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput name="name" placeholder="Employee Name" required formControlName="name">
                  <div class="error-wrapper"
                    *ngIf=" interestConformationForm.controls.name.touched &&interestConformationForm.controls.name.errors">
                    <mat-error *ngIf="interestConformationForm.controls.name.errors.required">
                      {{ errorMessage.EMPNAME }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput name="hbaNo" placeholder="HBA/MCA Account No" required numbersOnly
                    formControlName="hbaNo">
                  <div class="error-wrapper"
                    *ngIf=" interestConformationForm.controls.hbaNo.touched &&interestConformationForm.controls.hbaNo.errors">
                    <mat-error *ngIf="interestConformationForm.controls.hbaNo.errors.required">
                      {{ errorMessage.HBANO}}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput name="officeName" placeholder="Office Name" required formControlName="officeName">
                  <div class="error-wrapper"
                    *ngIf=" interestConformationForm.controls.officeName.touched &&interestConformationForm.controls.officeName.errors">
                    <mat-error *ngIf="interestConformationForm.controls.officeName.errors.required">
                      {{ errorMessage.OFFICENAME}}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput name="loanAmount" placeholder="Loan Amount " required numbersOnly
                    formControlName="loanAmount">
                  <div class="error-wrapper"
                    *ngIf=" interestConformationForm.controls.loanAmount.touched &&interestConformationForm.controls.loanAmount.errors">
                    <mat-error *ngIf="interestConformationForm.controls.loanAmount.errors.required">
                      {{ errorMessage.LOANAMOUNT}}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-md-3">
                <mat-form-field>
                  <mat-label>First EMI Start From Month/Year
                  </mat-label>
                  <input matInput [matDatepicker]="dateofJoining" required formControlName="firstEMI" [max]='maxDate' />
                  <mat-datepicker-toggle matSuffix [for]="dateofJoining"></mat-datepicker-toggle>
                  <mat-datepicker #dateofJoining></mat-datepicker>
                  <div class="error-wrapper"
                    *ngIf=" interestConformationForm.controls.firstEMI.touched &&interestConformationForm.controls.firstEMI.errors">
                    <mat-error *ngIf="interestConformationForm.controls.firstEMI.errors.required">
                      {{ errorMessage.FIRSTEMI}}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>

              <div class="col-sm-6 col-md-3">
                <mat-form-field>
                  <mat-label>Last EMI From Month/Year
                  </mat-label>
                  <input matInput [matDatepicker]="lastEMI" required formControlName="lastEMI" [max]='maxDate' />
                  <mat-datepicker-toggle matSuffix [for]="lastEMI"></mat-datepicker-toggle>
                  <mat-datepicker #lastEMI></mat-datepicker>
                  <div class="error-wrapper"
                    *ngIf=" interestConformationForm.controls.lastEMI.touched &&interestConformationForm.controls.lastEMI.errors">
                    <mat-error *ngIf="interestConformationForm.controls.lastEMI.errors.required">
                      {{ errorMessage.LASTEMI}}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput name="emiNo" placeholder="EMI No. " numbersOnly formControlName="emiNo">
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput name="reduceloanAmount" required placeholder="Reduce Loan Amount " numbersOnly
                    formControlName="reduceloanAmount">
                  <div class="error-wrapper"
                    *ngIf=" interestConformationForm.controls.reduceloanAmount.touched &&interestConformationForm.controls.reduceloanAmount.errors">
                    <mat-error *ngIf="interestConformationForm.controls.reduceloanAmount.errors.required">
                      {{ errorMessage.REDUCELOANAMOUNT }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput name="insaurncereduceloanAmount"
                    placeholder="Insurance/Mortgage/Document Not Taken Month Year "
                    formControlName="insaurncereduceloanAmount">
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput name="emiType" placeholder="EMI Type" required formControlName="emiType">
                  <div class="error-wrapper"
                    *ngIf=" interestConformationForm.controls.emiType.touched &&interestConformationForm.controls.emiType.errors">
                    <mat-error *ngIf="interestConformationForm.controls.emiType.errors.required">
                      {{ errorMessage.EMITYPE }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>

              <div class="col-sm-6 col-md-3">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Status" formControlName='status'>
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-md-3">
                <mat-form-field>
                  <mat-label>Recoverd Date
                  </mat-label>
                  <input matInput [matDatepicker]="recoverdDate" formControlName="recoverdDate" [max]='maxDate' />
                  <mat-datepicker-toggle matSuffix [for]="recoverdDate"></mat-datepicker-toggle>
                  <mat-datepicker #recoverdDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-md-3">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Interest" required formControlName='interest'>
                  <div class="error-wrapper"
                    *ngIf=" interestConformationForm.controls.interest.touched &&interestConformationForm.controls.interest.errors">
                    <mat-error *ngIf="interestConformationForm.controls.interest.errors.required">
                      {{ errorMessage.INTEREST }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-md-3">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Penalty Interest " required formControlName='penalty'>
                  <div class="error-wrapper"
                    *ngIf=" interestConformationForm.controls.penalty.touched &&interestConformationForm.controls.penalty.errors">
                    <mat-error *ngIf="interestConformationForm.controls.penalty.errors.required">
                      {{ errorMessage.PENALTY }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-md-3">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Additional 0.5 Only for HBA " required formControlName='additional'>
                  <div class="error-wrapper"
                    *ngIf=" interestConformationForm.controls.additional.touched &&interestConformationForm.controls.additional.errors">
                    <mat-error *ngIf="interestConformationForm.controls.additional.errors.required">
                      {{ errorMessage.ADDITIONAL }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-md-3">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Total Interest" required formControlName='totalInterest'>
                  <div class="error-wrapper"
                    *ngIf=" interestConformationForm.controls.totalInterest.touched &&interestConformationForm.controls.totalInterest.errors">
                    <mat-error *ngIf="interestConformationForm.controls.totalInterest.errors.required">
                      {{ errorMessage.TOTALINTEREST }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- End Interest Calculation Form -->
        </div>
        <!-- common Button -->
        <div class="form-action-button">



          <button type="submit" mat-raised-button color="primary">
            <i class="material-icons" aria-hidden="true" title="Save">
              save
            </i>
            Save
          </button>


          <button mat-raised-button type="submit" class="green" (click)="commentGrantDetails()"><i
              class="material-icons">
              done
            </i> Submit
          </button>

          <button type="reset" mat-raised-button color="accent">
            <i class="material-icons" aria-hidden="true">
              restore
            </i>
            Reset
          </button>


          <button type="button" mat-raised-button class="btnClose">
            <i class="material-icons" aria-hidden="true" title="Budget dashboard">
              close
            </i>
            Close
          </button>
        </div>
        <!-- End common Button -->
      </form>
    </div>
  </div>
</div>