<div class="container">

  <div class="form-wrapper  ddo-table">
    <div class="mat-elevation-z8 mt-2 overflow-x-auto">
      <table class="table-border-event">
        <tr>
          <td align="center">
            <div class="font-20">District Treasury Office, Gandhinagar </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="font-16">Book Transfer Register</div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="font-16"> From Date: 13/04/2020 &nbsp; &nbsp;&nbsp;&nbsp;To Date : 13/05/2020</div>
          </td>
        </tr>
        <br>
        <div class="line"> </div>
        <tr>
          Major Head : 2011 - Administration Of Justice
        </tr>
        <tr>
          Edp Code : 9591 - House Building Advance (Principal & Interest)
        </tr>
        <div class="line"> </div>
        <tr>
          <td>

            <table class="table-bordered" width="100% ">
              <tr>
                <td style="border-bottom: 1px dotted #000000 !important ;"><strong>Voucher No.</strong></td>
                <td style="border-bottom: 1px dotted #000000 !important ;"><strong>Voucher Date</strong></td>
                <td style="border-bottom: 1px dotted #000000 !important ;"><strong>Cardex No.</strong></td>
                <td style="border-bottom: 1px dotted #000000 !important ;"><strong>DDO No.</strong></td>
                <td style="border-bottom: 1px dotted #000000 !important ;"><strong>DDO Name</strong></td>
                <td style="text-align: right ;border-bottom: 1px dotted #000000 !important;"><strong>Tc Amount</strong>
                </td>
              </tr>

              <tr>
                <td><a [routerLink]="'../schedule-of-hba'">2020</a></td>
                <td>01/05</td>
                <td></td>
                <td></td>
                <td>Civil Judge, CIVIL JUDGE (J.D. ) & J.M.F.C. ,</td>
                <td style="text-align: right;">8,060.00</td>
              </tr>
              <tr>
                <td><a [routerLink]="'../schedule-of-hba'">3004</a></td>
                <td>01/05</td>
                <td></td>
                <td></td>
                <td>Civil Judge, CIVIL JUDGE (J.D. ) COURT , Mansa, gandhinagar</td>
                <td style="text-align: right;">8,200.00</td>
              </tr>

              <tr>
                <td><a [routerLink]="'../schedule-of-hba'">4001</a></td>
                <td>01/05</td>
                <td></td>
                <td></td>
                <td>Principal Senior Civil Judge, PRINCIPAL SENIOR CIVILJUDGE COURT, Kalol, Gandhinagar</td>
                <td style="text-align: right;">5,000.00</td>
              </tr>

              <tr>
                <td><a [routerLink]="'../schedule-of-hba'">4002</a></td>
                <td>01/05</td>
                <td></td>
                <td></td>
                <td>Principal Senior Civil Judge, PRINCIPAL SENIOR CIVILJUDGE COURT, Kalol, Gandhinagar</td>
                <td style="text-align: right;">5,500.00</td>
              </tr>

              <tr>
                <td style="border-bottom: 1px dotted #000000 !important ;"><a
                    [routerLink]="'../schedule-of-hba'">4008</a></td>
                <td style="border-bottom: 1px dotted #000000 !important ;">01/05</td>
                <td></td>
                <td></td>
                <td style="border-bottom: 1px dotted #000000 !important ;">ADDITIONAL DISTRICT JUDGE, ADDITIONAL
                  DISTRICT ANDSESSIONS COURT ,KALOL , Kalol, Gandhinagar</td>
                <td style="text-align: right; border-bottom: 1px dotted #000000 !important ;">5,000.00</td>
              </tr>

              <tr>
                <td colspan="4"></td>
                <td> <strong>Total Numbers Of Vouchers 5</strong></td>
                <td style="text-align: right;"><strong>34,760.00</strong> </td>
              </tr>

            </table>

          </td>
        </tr>
        <div class="line"> </div>
        <tr>
          <td>
            <table>
              <tr>
                <td> </td>
                <td> </td>
                <td align="right">
                  <div class="font-15">A.T.O.</div>
                </td>

              </tr>

              <tr>
                <td> </td>
                <td> </td>
                <td align="right">
                  <div class="font-20">District Treasury Office, Gandhinagar</div>
                </td>
              </tr>


            </table>
          </td>
        </tr>




      </table>
    </div>
    <div class="form-action-button">
      <button type="button" mat-raised-button class="btnClose">
        <i class="material-icons" aria-hidden="true" title="Close">
          close
        </i>
        Close
      </button>
    </div>
  </div>
</div>