<div class="container">
    <div class="form-wrapper">

        <!-- Screen Name -->
        <div class="heading-section ng-star-inserted">
            <div>Employee Details</div>
        </div>

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">Payroll</a></li>
                <li class="breadcrumb-item "><a href="javascript:void(0);">Pay Period</a></li>
                <li class="breadcrumb-item active" aria-current="page">Employee Details</li>
            </ol>
        </nav>

        <form [formGroup]="regularEmployeeDetails">

            <!--Starts Payroll Employee List -->
            <div class="panel-group">
                <div class="box box-primary">
                    <div class="box-header">Payroll Employee List</div>
                    <div class="box-body">

                        <div class="row">

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="payPeriod" placeholder="Pay Period">
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="finYear" placeholder="Financial Year">
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="payYear" placeholder="Pay Year">
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="payMonth" placeholder="Pay Month">
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="ddoNo" placeholder="DDO No.">
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="cardexNo" placeholder="Cardex No.">
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="officeName" placeholder=" Office Name">
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="district" placeholder="District">
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="payrollType" placeholder="Payroll Type">
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="sanctionPost" placeholder="Sanction Post">
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="filledPost" placeholder="Filled Post">
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="vacantPost" placeholder="Vacant Post">
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <mat-select formControlName="processFor" placeholder="Process For" required
                                        (selectionChange)="onProcessFor($event.value)">
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="processForCtrl"
                                                [placeholderLabel]="'Find Process For...'"
                                                [noEntriesFoundLabel]="'no matching Process For found'" charactersOnly>
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option>-- None --</mat-option>
                                        <mat-option
                                            *ngFor="let item of processForList | filterSelectInput : processForCtrl.value"
                                            [value]="item.value">
                                            {{item.viewValue}}
                                        </mat-option>

                                    </mat-select>
                                    <div class="error-wrapper"
                                        *ngIf="regularEmployeeDetails.controls.processFor.touched && regularEmployeeDetails.controls.processFor.errors">
                                        <mat-error *ngIf="regularEmployeeDetails.controls.processFor.errors.required">
                                            {{errorMessages.PROCESS_FOR}}
                                        </mat-error>
                                    </div>
                                </mat-form-field>
                            </div>

                        </div>

                        <br>
                        <br>

                        <div class="row">

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <mat-select formControlName="employeeCategory" placeholder="Employee Category">
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="employeeCategoryCtrl"
                                                [placeholderLabel]="'Find Employee category...'"
                                                [noEntriesFoundLabel]="'no matching Employee category found'"
                                                charactersOnly>
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option>-- None --</mat-option>
                                        <mat-option
                                            *ngFor="let item of employeeCategory_list | filterSelectInput : employeeCategoryCtrl.value"
                                            [value]="item.value">
                                            {{item.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <mat-select formControlName="employeeClass" placeholder="Employee Class">
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="employeeClassCtrl"
                                                [placeholderLabel]="'Find Employee Class...'"
                                                [noEntriesFoundLabel]="'no matching Employee Class found'"
                                                numbersAlphabetsSpaceOnly>
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option>-- None --</mat-option>
                                        <mat-option
                                            *ngFor="let item of employeeClassList | filterSelectInput : employeeClassCtrl.value"
                                            [value]="item.value">
                                            {{item.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <mat-select formControlName="payrolStatus" placeholder="Payroll Status">
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="payrolStatusCtrl"
                                                [placeholderLabel]="'Find Payroll Status...'"
                                                [noEntriesFoundLabel]="'no matching Payroll Status found'"
                                                numbersAlphabetsSpaceOnly>
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option>-- None --</mat-option>
                                        <mat-option
                                            *ngFor="let item of payrolStatusList | filterSelectInput :payrolStatusCtrl.value"
                                            [value]="item.value">
                                            {{item.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <mat-select formControlName="includeStatus" placeholder="Include Status">
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="includeStatusCtrl"
                                                [placeholderLabel]="'Find Include Status...'"
                                                [noEntriesFoundLabel]="'no matching Include Status found'"
                                                numbersAlphabetsSpaceOnly>
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option>-- None --</mat-option>
                                        <mat-option
                                            *ngFor="let item of includeStatusList | filterSelectInput :includeStatusCtrl.value"
                                            [value]="item.value">
                                            {{item.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <mat-select formControlName="subOffice" placeholder="Sub Office" multiple>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="subOfficeCtrl"
                                                [placeholderLabel]="'Find Sub Office...'"
                                                [noEntriesFoundLabel]="'no matching Sub Office found'"
                                                numbersAlphabetsSpaceOnly>
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option #allSubOfficeSelected (click)="ddAllSelection('subOffice')"
                                            [value]="0">All
                                        </mat-option>
                                        <mat-option
                                            *ngFor="let item of subOfficeList | filterSelectInput :subOfficeCtrl.value"
                                            [value]="item.value" (click)="ddOneSelection('subOffice')">
                                            {{item.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <mat-select formControlName="designation" placeholder="Designation" multiple>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="designationCtrl"
                                                [placeholderLabel]="'Find Designation...'"
                                                [noEntriesFoundLabel]="'no matching Designation found'"
                                                numbersAlphabetsSpaceOnly>
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <!-- <mat-option #allSelected (click)="ddAllSelection('designation')" [value]="0">All
                                        </mat-option> -->
                                        <mat-option
                                            *ngFor="let item of designationList | filterSelectInput :designationCtrl.value"
                                            [value]="item.value" matTooltip="{{item.viewValue}}">
                                            {{item.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="employeeNo" placeholder="Employee No." prEmpNoOnly>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="employeeName" placeholder="Employee Name"
                                        maxlength="100" alphabetsSpaceOnly>
                                </mat-form-field>
                            </div>

                        </div>
                        <!--action button Starts  -->
                        <div class="form-action-button">
                            <button type="submit" mat-raised-button color="primary" title="Search">
                                <i class="material-icons" title="Search" aria-hidden="true">search</i>
                                Search</button>
                        </div>
                        <!-- action button Ends -->
                    </div>
                </div>
            </div>
            <!--Ends Payroll Employee List -->


            <!-- Group wise count - List view -->
            <div class="panel-group">
                <div class="box box-primary">
                    <div class="box-header">Category Wise Count</div>
                    <div class="box-body">

                        <div style="width: 100%; overflow: auto;">
                            <div class="mat-elevation-z8 mt-2 overflow-x-auto">
                                <table mat-table [dataSource]="dataSourceCount" aria-describedby="categoryWiseTable">

                                    <ng-container matColumnDef="srno">
                                        <th mat-header-cell *matHeaderCellDef scope="row">Sr. No.</th>
                                        <td mat-cell *matCellDef="let element" class="centerAlign"
                                            [ngClass]="element.class">
                                            {{element.srno}}
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef></td>
                                    </ng-container>

                                    <ng-container matColumnDef="groupName">
                                        <th mat-header-cell *matHeaderCellDef scope="row">Category Name</th>
                                        <td mat-cell *matCellDef="let element" [ngClass]="element.class">
                                            {{element.groupName}}</td>
                                        <td mat-footer-cell *matFooterCellDef>Total</td>

                                    </ng-container>
                                    <ng-container matColumnDef="includeCount">
                                        <th mat-header-cell *matHeaderCellDef scope="row">Include Count</th>
                                        <td mat-cell *matCellDef="let element" [ngClass]="element.class">
                                            {{element.includeCount}}</td>
                                        <td mat-footer-cell *matFooterCellDef>
                                            {{directiveObj.columnTotal(dataSourceCount,'includeCount')}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="excludeCount">
                                        <th mat-header-cell *matHeaderCellDef scope="row">Exclude Count</th>
                                        <td mat-cell *matCellDef="let element" [ngClass]="element.class">
                                            {{element.excludeCount}}</td>
                                        <td mat-footer-cell *matFooterCellDef>
                                            {{directiveObj.columnTotal(dataSourceCount,'excludeCount')}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="totalCount">
                                        <th mat-header-cell *matHeaderCellDef scope="row">Total Count</th>
                                        <td mat-cell *matCellDef="let element" [ngClass]="element.class">
                                            {{element.totalCount}}</td>
                                        <td mat-footer-cell *matFooterCellDef>
                                            {{directiveObj.columnTotal(dataSourceCount,'totalCount')}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="finalizedCount">
                                        <th mat-header-cell *matHeaderCellDef scope="row">Finalized Count</th>
                                        <td mat-cell *matCellDef="let element" [ngClass]="element.class">
                                            {{element.finalizedCount}}</td>
                                        <td mat-footer-cell *matFooterCellDef>
                                            {{directiveObj.columnTotal(dataSourceCount,'finalizedCount')}}
                                        </td>
                                    </ng-container>
                                    <!-- Header Section Of table -->
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsCount"></tr>
                                    <!-- Data Fetch From .TS File to table -->
                                    <tr mat-row *matRowDef="let row; let i = index;columns:displayedColumnsCount"></tr>
                                    <!-- Footer Section Of table -->
                                    <tr mat-footer-row *matFooterRowDef="displayedColumnsCount"></tr>

                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Employee Details - List view Starts -->
            <div class="panel-group">
                <div class="box box-primary">
                    <div class="box-header">Employee Details - List view</div>
                    <div class="box-body">


                        <div class="mat-elevation-z8 mt-2 overflow-x-auto overflow-y-hidden">
                            <table mat-table [dataSource]="dataSource" aria-describedby="employeeDetailsTable">

                                <ng-container matColumnDef="srNo">
                                    <th mat-header-cell *matHeaderCellDef scope="row">Sr. No.</th>
                                    <td mat-cell *matCellDef="let element" class="centerAlign"
                                        [ngClass]="element.class">
                                        {{element.srNo}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="employeeNo">
                                    <th mat-header-cell *matHeaderCellDef scope="row">Employee No.</th>
                                    <td mat-cell *matCellDef="let element" [ngClass]="element.class">

                                        <div *ngIf="element.srNo==='1'; then isHyper else notHyper">
                                        </div>
                                        <ng-template #isHyper>
                                            <a class="hyper-link"
                                                [routerLink]="'../individual-employee-salary-processing'">{{element.employeeNo}}</a>
                                        </ng-template>
                                        <ng-template #notHyper>
                                            {{element.employeeNo}}
                                        </ng-template>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="employeeName">
                                    <th mat-header-cell *matHeaderCellDef scope="row">Employee Name</th>
                                    <td mat-cell *matCellDef="let element" [ngClass]="element.class">
                                        {{element.employeeName}}</td>
                                </ng-container>

                                <ng-container matColumnDef="employeeOfficeName">
                                    <th mat-header-cell *matHeaderCellDef scope="row">Employee Office Name
                                    </th>
                                    <td mat-cell *matCellDef="let element" [ngClass]="element.class">
                                        {{element.employeeOfficeName}} </td>
                                </ng-container>

                                <ng-container matColumnDef="employeeCategory">
                                    <th mat-header-cell *matHeaderCellDef scope="row">Employee Category</th>
                                    <td mat-cell *matCellDef="let element" [ngClass]="element.class">
                                        {{element.employeeCategory}} </td>
                                </ng-container>

                                <ng-container matColumnDef="employeeClass">
                                    <th mat-header-cell *matHeaderCellDef scope="row">Employee Class
                                    </th>
                                    <td mat-cell *matCellDef="let element" [ngClass]="element.class">
                                        {{element.employeeClass}} </td>
                                </ng-container>

                                <ng-container matColumnDef="designation">
                                    <th mat-header-cell *matHeaderCellDef scope="row">Designation</th>
                                    <td mat-cell *matCellDef="let element" [ngClass]="element.class">
                                        {{element.designation}} </td>
                                </ng-container>

                                <ng-container matColumnDef="payLevel">
                                    <th mat-header-cell *matHeaderCellDef scope="row">Pay Level</th>
                                    <td mat-cell *matCellDef="let element" [ngClass]="element.class">
                                        {{element.payLevel}} </td>
                                </ng-container>

                                <ng-container matColumnDef="cellId">
                                    <th mat-header-cell *matHeaderCellDef scope="row">Cell Id</th>
                                    <td mat-cell *matCellDef="let element" [ngClass]="element.class">
                                        {{element.cellId}} </td>
                                </ng-container>

                                <ng-container matColumnDef="sevenThPayCpcBasic">
                                    <th mat-header-cell *matHeaderCellDef scope="row">7th Basic Pay</th>
                                    <td mat-cell *matCellDef="let element" [ngClass]="element.class">
                                        {{element.sevenThPayCpcBasic}} </td>
                                </ng-container>

                                <ng-container matColumnDef="payBandValue">
                                    <th mat-header-cell *matHeaderCellDef scope="row">
                                        Pay Band Value
                                    </th>
                                    <td mat-cell *matCellDef="let element" [ngClass]="element.class">
                                        {{element.payBandValue}} </td>
                                </ng-container>

                                <ng-container matColumnDef="payBand">
                                    <th mat-header-cell *matHeaderCellDef scope="row" width="9%">Pay Band
                                    </th>
                                    <td mat-cell *matCellDef="let element" [ngClass]="element.class">
                                        {{element.payBand}} </td>
                                </ng-container>

                                <ng-container matColumnDef="gradePay">
                                    <th mat-header-cell *matHeaderCellDef scope="row">Grade Pay</th>
                                    <td mat-cell *matCellDef="let element" [ngClass]="element.class">
                                        {{element.gradePay}} </td>
                                </ng-container>

                                <ng-container matColumnDef="sixthBasicPay">
                                    <th mat-header-cell *matHeaderCellDef scope="row">6th Basic Pay</th>
                                    <td mat-cell *matCellDef="let element" [ngClass]="element.class">
                                        {{element.sixthBasicPay}} </td>
                                </ng-container>

                                <ng-container matColumnDef="fixBasicPay">
                                    <th mat-header-cell *matHeaderCellDef scope="row">Fix Pay</th>
                                    <td mat-cell *matCellDef="let element" [ngClass]="element.class">
                                        {{element.fixBasicPay}} </td>
                                </ng-container>

                                <ng-container matColumnDef="employeeStatus">
                                    <th mat-header-cell *matHeaderCellDef scope="row">Employee Status
                                    </th>
                                    <td mat-cell *matCellDef="let element" [ngClass]="element.class">
                                        {{element.employeeStatus}} </td>
                                </ng-container>

                                <ng-container matColumnDef="dateOfJoining">
                                    <th mat-header-cell *matHeaderCellDef scope="row">Date Of Joining
                                    </th>
                                    <td mat-cell *matCellDef="let element" [ngClass]="element.class">
                                        {{element.dateOfJoining}} </td>
                                </ng-container>

                                <ng-container matColumnDef="dateOfRetirement">
                                    <th mat-header-cell *matHeaderCellDef scope="row">Date Of Retirement
                                    </th>
                                    <td mat-cell *matCellDef="let element" [ngClass]="element.class">
                                        {{element.dateOfRetirement}} </td>
                                </ng-container>

                                <ng-container matColumnDef="include">
                                    <th mat-header-cell *matHeaderCellDef scope="row" scope="row" width="6%"
                                        style="padding-right:0px">

                                        <mat-checkbox (change)="$event ? masterToggle(dataSource) : null"
                                            [checked]="selection.hasValue() && isAllSelected(dataSource)"
                                            [indeterminate]="selection.hasValue() && !isAllSelected(dataSource)"
                                            [aria-label]="checkboxLabel(dataSource)">
                                        </mat-checkbox>
                                        <span>
                                            Include ?
                                        </span>
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        <mat-checkbox #notSelected (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null"
                                            [checked]="selection.isSelected(row)"
                                            [aria-label]="checkboxLabel(dataSource,row)"
                                            [disabled]="(row.srNo==='1'||row.srNo==='2')?true :false">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <th mat-header-cell *matHeaderCellDef scope="row"></th>
                                    <td mat-cell *matCellDef="let element;" [attr.colspan]="colCount"
                                        class="centerAlign">
                                        {{element.noData}}
                                    </td>
                                </ng-container>

                                <!-- Header Section Of table -->
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <!-- Data Fetch From .TS File to table -->
                                <tr mat-row *matRowDef="let row; let i = index;columns:displayedColumns"></tr>

                            </table>
                        </div>


                        <mat-paginator #datasourcePaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                        </mat-paginator>


                        <div class="row">
                            <div class="col-sm-3">
                                <mat-checkbox matInput formControlName="verify" (change)="onVerify()">
                                    Verified ?
                                </mat-checkbox>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Employee Details - List view Ends -->

            <!-- Action buttons Start -->
            <div class="form-action-button">
                <button mat-raised-button type="submit" class="green" (click)="onSubmit()" title="Submit"
                    *ngIf="isVerified">
                    <i class="material-icons" title="Submit" aria-hidden="true">
                        done
                    </i> Submit
                </button>
                <button type="button" class="back-button" title="Back" mat-raised-button
                    (click)="directiveObj.goToScreen('./payroll/pay-period')">
                    <i class="material-icons" title="Back" aria-hidden="true">
                        keyboard_return
                    </i>
                    Back
                </button>
                <button type="button" mat-raised-button color="accent" title="Reset" (click)="resetForm()">
                    <i class="material-icons" title="Reset" aria-hidden="true">
                        restore
                    </i>
                    Reset
                </button>
                <button type="button" class="btnClose" title="Close" mat-raised-button>
                    <i class="material-icons" title="Close" aria-hidden="true">
                        close
                    </i>
                    Close
                </button>
                <button type="submit" mat-raised-button color="primary" title="Next"
                    (click)="directiveObj.goToScreen('./payroll/payroll-process')">
                    Next
                    <i class="material-icons" title="Next" aria-hidden="true">
                        arrow_forward
                    </i>
                </button>
            </div>
            <!-- Action buttons End -->

        </form>

    </div>
</div>