.change-direction{
    margin-left: auto;
    float: right !important;
}

.doted-border{
    padding: 20px 30px;
    text-align: left;
    border: dashed 3px #C1C3C5;
}

.upload-pic-txt{
    font-size:14px;
    font-weight: 600;
    text-transform: uppercase;
}

.user-pic{
    font-size: 8em;
    color: #cbe1ff;
    border: 1px dotted #CCC;
    width:auto;
    height: auto;
}
.btn-browse i {
    font-size: 21px;
    color: #6e86a7;
    vertical-align: bottom;
    line-height: normal;
}

.file-info{
    font-size: smaller;
}

.mat-form-field
{
line-height: normal;
} 





/* ========================= Common Workflow Design CSS ======================= */

.success{
    color: aliceblue; 
    background-color: #228c22;
  }

  ::ng-deep .example-chip-list .mat-form-field-wrapper{
    font-size: 13px;
  }
  
  ::ng-deep .mat-tab-header, .mat-tab-nav-bar{
    border-bottom: none;
  }
  
  mat-cell>span{
    width: 100%;
  }
  
  
  .mat-drawer.mat-drawer-side {
    z-index: 2;
    position: fixed;
    width: 320px;
    background: #f3f2f8;
  }
  
  .disable-delete-btn {
    pointer-events: none;
    color: #333;
  }
  
  .selected-row {
    background: #f7f0ee !important;
    /* color: white !important; */
  }
  
  ::ng-deep .mat-pseudo-checkbox {
      margin-left: 10px;
  }
  
  ::ng-deep .mat-pseudo-checkbox ::ng-deep .mat-option-text {
      margin-left: 15px;
  }
  
  ::ng-deep.mat-option .mat-pseudo-checkbox{
  position: relative !important;
  }


  ::ng-deep.mat-option .mat-option-pseudo-checkbox{
    margin-left: 0px;
  }   

  /* temperory code for view comments*/

  .histy-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .txt-heading{
    /* width: auto; */
    display:flex;
    color: black;
    font-weight: bold;
  }
  .comment-text {
    text-overflow: ellipsis;
    height: auto;
    overflow: hidden;
    margin-top: 10px;
  }
  .comment-text p{
   margin-bottom: 0px; 
  }
  
  .history-common-section{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  
  .action-common-section{
    display: flex;
    flex-direction: column;
    width:50%; 
  }
  
  ::ng-deep .mat-dialog-container{
  padding: 0px;
  }
  
  .forward-module-container{
    width: 100%;  
    padding-top: 10px;
  }

  .heading-section{
    padding:10px;
  }
   
  .htry-hding-name{
    margin:10px 0px;
  }
  
  .column-box{
    width: 100%;
    border-bottom: 1px solid #333333;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  #parent{
    display: flex;
    min-height: 20px;
    width: 100%;
  }
  
  #block1{
    flex-grow: 1;
    flex-direction: row;
    /* resize: horizontal; */
    resize: both;
    overflow: auto;
    cursor: nw-resize;
  }
  #block2{
    flex-grow: 1;
    flex-direction: row-reverse;
    max-width: 100% !important;
    background: #f9f9f9;
    margin-left: 5px;
    box-sizing: border-box;
  }
  
  .category-deprt{
    background: #ececec;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

 
  .attachmentType{min-width: 92px !important;padding: 5px;cursor: pointer;align-items: center; display: flex; align-items: center;}
 
  
  /* .mat-checkbox label.mat-checkbox-layout{
    margin-bottom: 0px;
  }
   */
  .cover-box{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: 1px solid #333333;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  
  /* .mat-checkbox-layout .mat-checkbox-label{
    white-space: nowrap;
  }
   */
  .check-box-contain-list .heading-txt{
    font-weight: bold;
  }
  
  .check-box-contain-list{
    width: 100%;
  }
  
  .check-box-list-btn{
    margin-right: 10px;
  }
  
  .e-heading-txt{
   justify-content: space-between;
  }

  label.txt-heading{
    margin-bottom: 0px;
  }
  .forward-module-container{
    display: flex;
    flex-direction: row;
  }
  
.forward-dialog-left{
    display: flex;
    width: 50%;
    border-right: 1px solid black;
}
.material-icons.iconset{font-size: 18px !important;line-height: 18px !important;}

/* temperory code for view comments ends here */
   
::ng-deep .mat-select-search-no-entries-found{
    position: absolute;
    /* top: 22px; */
    top: calc(100% - 0.4375em);
    font-size: 11px;
    padding: 0px !important;
}

.common-workflow-section{
      background-color: white;
}

.mat-list-item-content{
    padding: 0px;
}


