<div class="container">
  <div class="form-wrapper">
    <div class="heading-section ng-star-inserted">
      <div>Cheque Reconciliation </div>
    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item " aria-current="page"><a href="#"> Expenditure Accounting </a></li>
        <li class="breadcrumb-item active" aria-current="page">Cheque Reconciliation </li>
      </ol>
    </nav>
    <!-- Cheque Reconciliation -->
    <div class="panel-group mgb15">
      <form [formGroup]="expanditureForm" (ngSubmit)="expanditureFormData()">
        <div class="box box-primary">
          <div class="box-header">Cheque Reconciliation</div>
          <div class="box-body">
            <div class="row">

              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput name="Chequetype" placeholder="Cheque Type" formControlName="ChequeType"
                    value="CTS2010" required>
                  <div class="error-wrapper"
                    *ngIf="expanditureForm.controls.ChequeType.touched && expanditureForm.controls.ChequeType.errors">
                    <mat-error *ngIf="expanditureForm.controls.ChequeType.errors.required">
                      {{errorMessages.CHECK_TYPE}}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput name="Chequetype" placeholder="Account Short Name" formControlName="accountName"
                    value="PAOGNR" required>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput name="Chequeno" placeholder="Cheque No" formControlName="ChequeNo"
                    (keypress)="checkNo()" maxlength="10">
                </mat-form-field>
              </div>

              <div class="col-sm-3" *ngIf="numberShow">
                <mat-form-field>
                  <input matInput name="Adviceno" placeholder="Advice No" formControlName="AdviceNo" value="458787465"
                    maxlength="10">
                </mat-form-field>
              </div>

              <div class="col-sm-3" *ngIf="numberShow">
                <mat-form-field>
                  <input matInput name="ChequeAmount" placeholder="Cheque Amount" formControlName="chkaMT"
                    value="500.00" maxlength="16">
                </mat-form-field>
              </div>


              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput [max]="today" [min]="threemonths" [matDatepicker]="paidDate" placeholder="Paid Date"
                    readonly>
                  <mat-datepicker-toggle matSuffix [for]="paidDate"></mat-datepicker-toggle>
                  <mat-datepicker #paidDate></mat-datepicker>
                </mat-form-field>
              </div>

            </div>
          </div>
          <!-- Common Button -->
          <div class="col-sm-12">
            <div class="form-action-button">
              <button type="submit" mat-raised-button color="primary">
                <i class="material-icons" title="Save" aria-hidden="true">
                  save
                </i>
                Save as Draft
              </button>
            </div>
          </div>
          <!-- ENd Common Button -->
        </div>
        <!-- Listing -->
        <mat-accordion class="search-accordian">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <div class="heading-section">
                Search Listing
              </div>
            </mat-expansion-panel-header>
            <div class="box-body">
              <div class="row">
                <div class="col-sm-3">
                  <mat-form-field>
                    <input matInput name="Chequeno" placeholder="Cheque No" maxlength="10">
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field>
                    <input matInput [max]="today" [min]="threemonths" [matDatepicker]="paidDateSearch"
                      placeholder="Paid Date" readonly>
                    <mat-datepicker-toggle matSuffix [for]="paidDateSearch"></mat-datepicker-toggle>
                    <mat-datepicker #paidDateSearch></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>


            </div>
            <!-- Common Button -->
            <div class="col-sm-12">
              <div class="form-action-button">
                <button type="submit" mat-raised-button color="primary" (click)="search()">
                  <i class="material-icons" aria-hidden="true">search</i>
                  Search
                </button>

                <button type="reset" mat-raised-button color="accent" (click)="clearForm();">
                  <i class="material-icons" aria-hidden="true">
                    restore
                  </i>
                  Reset
                </button>
              </div>
            </div>
            <!-- End Common Button -->
          </mat-expansion-panel>
        </mat-accordion>
        <!-- End Listing -->
      </form>


    </div>
    <!-- End Cheque Reconciliation -->
    <!-- Table Cheque Reconciliation -->
    <div *ngIf="isSearchJotting">
      <div class="mat-elevation-z8 mt-2">
        <table mat-table aria-describedby="Cheque" matSort [dataSource]="chequeReconcilationDataSource"
          class="mat-elevation-z8">

          <!-- Advice No -->
          <ng-container matColumnDef="adviceNo">
            <th mat-header-cell mat-sort-header scope="row" *matHeaderCellDef>Advice No</th>
            <td mat-cell *matCellDef="let element">
              {{element.adviceNo}}
          </ng-container>
          <!-- Cheque No  -->
          <ng-container matColumnDef="chkNo">
            <th mat-header-cell mat-sort-header scope="row" *matHeaderCellDef>Cheque No </th>
            <td mat-cell *matCellDef="let element">
              {{element.chkNo}}
            </td>
          </ng-container>
          <!-- Paid Date  -->
          <ng-container matColumnDef="paidDate">
            <th mat-header-cell mat-sort-header scope="row" *matHeaderCellDef>Paid Date </th>
            <td mat-cell *matCellDef="let element">
              {{element.paidDate}}
            </td>
          </ng-container>
          <!-- Cheque Amount  -->
          <ng-container matColumnDef="chkAmount">
            <th mat-header-cell mat-sort-header scope="row" *matHeaderCellDef>Cheque Amount </th>
            <td mat-cell *matCellDef="let element">
              {{element.chkAmount}}
            </td>
          </ng-container>

          <!-- Action  -->
          <ng-container matColumnDef="action">
            <th mat-header-cell mat-sort-header scope="row" *matHeaderCellDef class="actionwidthtwo"> Action </th>
            <td mat-cell *matCellDef="let element;let i = index;" class="action-btn-i centerAlign">
              <i class="material-icons plus edit-icon" title="Edit"> edit </i>
              <i class="material-icons plus delete" title="delete">delete_forever</i>
            </td>
          </ng-container>
          <!-- Header Section Of table -->
          <tr mat-header-row *matHeaderRowDef="chequeReconcilationColumns"></tr>
          <!-- Data Fetch From .TS File to table -->
          <tr mat-row *matRowDef="let row; columns: chequeReconcilationColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
      <!-- Common Button -->
      <div class="form-action-button">

        <button type="button" mat-raised-button class="btnClose">
          <i class="material-icons" aria-hidden="true" title="Budget dashboard">
            close
          </i>
          Close
        </button>
      </div>
      <!-- End Common Button -->
    </div>
    <!-- End Table Cheque Reconciliation -->
  </div>
</div>