.mat-row:nth-child(odd) {
    border-bottom: 1px solid #EAEAEA;
}

.mat-row:nth-last-child(1) {
    border-bottom: 1px solid #EAEAEA;
}

.additionalRowCl {
    border-top: 1px solid #FFFFFF !important;
    border-bottom: 1px solid #EAEAEA !important;
}


/* basic positioning */


.legend li {
    float: left;
    margin-right: 10px;
}

.legend span {
    float: left;
    width: 12px;
    height: 12px;
    margin: 2px;
}


/* your colors */

.legend .additionalLegend {
    background-color: #EEDD82;
}

.legend .advanceLegend {
    background-color: #b4eeb4;
}

.legend .revisedLegend {
    background-color: lavender;
}

.addionalAuth {
    background-color: #EEDD82;
}

.advanceFund {
    background-color: #b4eeb4;
}

.revisedEst {
    background-color: lavender;
}

.legend .revisedLegend {
    background-color: lavender;
}

.addionalAuth {
    background-color: #EEDD82;
}

.advanceFund {
    background-color: #b4eeb4;
}

.revisedEst {
    background-color: lavender;
}


/* .mat-table .mat-header-row {
  height: 20px !important;
} */

.totalSummary {
    background-color: #f1f1f1;
}

.totalSummary tr th,
td {
    padding: 5px;
}