<div class="container">
  <div class="form-wrapper">

      <div class="heading-section ng-star-inserted">
          <div>Receipt Estimates Consolidate List</div>
      </div>

      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Budget</a></li>
              <li class="breadcrumb-item active" aria-current="page">Receipt Estimates Consolidate list</li>
          </ol>
      </nav>

      <mat-accordion class="search-accordian">
          <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                  <div class="heading-section">
                      Search Receipt Estimate Consolidate list
                  </div>
              </mat-expansion-panel-header>
              <div class=" form-datatable-list">
                  <form class="col-sm-12" [formGroup]="searchListForm" (ngSubmit)="saveEstimate()">
                      <div class="row">
                          <div class="col-sm-3">
                              <mat-form-field class="full-width">
                                  <mat-select formControlName="finYear" placeholder="Financial Year" #singleSelect1>
                                      <mat-option>
                                          <ngx-mat-select-search [formControl]="finYearCtrl" [placeholderLabel]="'Find Financial Year...'" [noEntriesFoundLabel]="'no matching Financial Year found'">
                                          </ngx-mat-select-search>
                                      </mat-option>

                                      <mat-option *ngFor="let FY of filteredFinYear | async" [value]="FY.value">
                                          {{FY.viewValue}}
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </div>
                          <div class="col-sm-3">
                              <mat-form-field class="full-width">
                                  <mat-select formControlName="departmentCode" placeholder="Department" #singleSelect1>
                                      <mat-option>
                                          <ngx-mat-select-search [formControl]="departmentCodeCtrl" [placeholderLabel]="'Find Department...'" [noEntriesFoundLabel]="'no matching Department found'">
                                          </ngx-mat-select-search>
                                      </mat-option>

                                      <mat-option *ngFor="let department of filteredDepartmentCode | async" [value]="department.value">
                                          {{department.viewValue}}
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </div>
                          <div class="col-sm-3">
                              <mat-form-field class="full-width">
                                  <mat-select formControlName="branchCode" placeholder="Name of the Branch" #singleSelect1>
                                      <mat-option>
                                          <ngx-mat-select-search [formControl]="branchCodeCtrl" [placeholderLabel]="'Find Branch Name...'" [noEntriesFoundLabel]="'no matching Branch Name found'">
                                          </ngx-mat-select-search>
                                      </mat-option>
                                      <mat-option *ngFor="let branch of filteredBranchCode | async" [value]="branch.value">
                                          {{branch.viewValue}}
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </div>
                          <div class="col-sm-3">
                              <mat-form-field class="full-width">
                                  <mat-select formControlName="estimationFrom" placeholder="Estimation From" #singleSelect1>
                                      <mat-option>
                                          <ngx-mat-select-search [formControl]="estimationFromCtrl" [placeholderLabel]="'Find Estimation From...'" [noEntriesFoundLabel]="'no matching Estimation From found'">
                                          </ngx-mat-select-search>
                                      </mat-option>
                                      <mat-option *ngFor="let estimation of filteredEstimationFrom | async" [value]="estimation.value">
                                          {{estimation.viewValue}}
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </div>
                          <div class="col-sm-3">
                              <mat-form-field class="full-width">
                                  <mat-select formControlName="estimateBy" placeholder="Estimate For" #singleSelect1>
                                      <mat-option>
                                          <ngx-mat-select-search [formControl]="estimateByCtrl" [placeholderLabel]="'Find Estimation For...'" [noEntriesFoundLabel]="'no matching Estimation For found'">
                                          </ngx-mat-select-search>
                                      </mat-option>
                                      <mat-option *ngFor="let estimation of filteredEstimateBy | async" [value]="estimation.value">
                                          {{estimation.viewValue}}
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </div>
                          <div class="col-sm-3">
                              <mat-form-field class="full-width">
                                  <mat-select formControlName="majorHeadCode" placeholder="Major Head">
                                      <mat-option>
                                          <ngx-mat-select-search [formControl]="majorHeadCodeCtrl" [placeholderLabel]="'Find Major Head...'" [noEntriesFoundLabel]="'no matching Major Head found'">
                                          </ngx-mat-select-search>
                                      </mat-option>
                                      <mat-option *ngFor="let majorHead of filteredMajorlist | filterSelectInput:majorHeadCodeCtrl.value" [value]="majorHead.value">
                                          {{majorHead.viewValue}}
                                      </mat-option>

                                  </mat-select>
                              </mat-form-field>

                          </div>
                      </div>
                  </form>
              </div>
              <div class="row displayBlock form-action-button">
                  <div class="centerAlign">
                      <button type="submit" mat-raised-button color="primary"> 
                        <i class="material-icons" aria-hidden="true">search</i>
                        Search
                    </button>
                      <button type="reset" mat-raised-button color="accent" (click)="clearForm();">
                        <i class="material-icons" aria-hidden="true">
                            restore
                        </i>
                        Reset
                    </button>
                  </div>
              </div>
          </mat-expansion-panel>
      </mat-accordion>


      <div class="mat-elevation-z8 mt-2">
          <table mat-table [dataSource]="dataSource" width="100%" matSort>
              <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Sr. No.</th>
                  <td mat-cell *matCellDef="let element; let i = index;"> {{ i + 1 + ((paginator.pageIndex * paginator.pageSize))}} </td>
              </ng-container>

              <ng-container matColumnDef="finYear">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Financial Year</th>
                  <td mat-cell *matCellDef="let element"> {{element.finYear}} </td>
              </ng-container>
              <ng-container matColumnDef="majorHead">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Major Head </th>
                  <td mat-cell *matCellDef="let element"> {{element.majorHead}} </td>
              </ng-container>

              <ng-container matColumnDef="receipt">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Consolidated Receipt Amount</th>
                  <td mat-cell *matCellDef="let element" class="rightAlign"> {{element.receipt | number : '1.2-2'}} </td>
              </ng-container>

              <ng-container matColumnDef="disbursement">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Consolidated Disbursement Amount</th>
                  <td mat-cell *matCellDef="let element" class="rightAlign"> {{element.disbursement | number : '1.2-2'}} </td>
              </ng-container>

              <ng-container matColumnDef="refNo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Reference No. </th>
                  <td mat-cell *matCellDef="let element" class="centerAlign"> {{element.refNo}} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let element" class="centerAlign"> {{element.status}} </td>
              </ng-container>
            
              <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let item ;let i = index;" class="action-btn-i centerAlign">

                    <i class="material-icons plus view-icon" title="Detail View" (click)="loadConsolidateDetailView(item)" *ngIf="item.refNo !== '-'">
                      remove_red_eye
                    </i>
                    <a [routerLink]="'../receipt-estimate-consolidate'">
                    <i class="material-icons plus edit-icon" title="Consolidate" (click)="consolidateView(item)" *ngIf="item.refNo === '-'">
                      merge_type
                    </i>
                    </a>

                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; let i = index;columns: displayedColumns;" [ngClass]="{'completed': (row.status === '100%'),'incomplete': (row.status !== '100%')}">
              </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
  </div>
</div>