<div class="container">
  <div class="form-wrapper">
    <div class="heading-section ng-star-inserted">
      <div>Outward Cases </div>
      <div class="font-heading"><strong>Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}
      </div>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">DPPF-HBA</a></li>
        <li class="breadcrumb-item active" aria-current="page">Outward Cases</li>
      </ol>
    </nav>

    <mat-accordion class="search-accordian">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <div class="heading-section">
            Outward Cases Fields
          </div>
        </mat-expansion-panel-header>
        <!-- Outward Cases Fields Form -->
        <div class=" form-datatable-list">
          <form class="col-sm-12" [formGroup]="outwardCasesForm">
            <div class="row">

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="Inward Number" formControlName="inwardNumber" />
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="inwardFromDate" [matDatepicker]="inwardFromDatePicker"
                    [max]='maxDate' placeholder="Inward From Date" />
                  <mat-datepicker-toggle matSuffix [for]="inwardFromDatePicker">
                  </mat-datepicker-toggle>
                  <mat-datepicker #inwardFromDatePicker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="inwardToDate" [matDatepicker]="inwardToDatePicker" [max]='maxDate'
                    placeholder="Inward To Date" />
                  <mat-datepicker-toggle matSuffix [for]="inwardToDatePicker">
                  </mat-datepicker-toggle>
                  <mat-datepicker #inwardToDatePicker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="year" placeholder="Year">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="typeOfYearCtrl" [placeholderLabel]="'Find Year...'"
                        [noEntriesFoundLabel]="'no matching Year found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="
let CE of classTypeOfYear
  | filterSelectInput: typeOfYearCtrl.value
" [value]="CE.value">
                      {{ CE.viewValue }}
                    </mat-option>
                  </mat-select>

                </mat-form-field>
              </div>


              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="month" placeholder="Month">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="typeOfMonthCtrl" [placeholderLabel]="'Find Month...'"
                        [noEntriesFoundLabel]="'no matching Month found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="
let CE of classTypeOfMonth
  | filterSelectInput: typeOfMonthCtrl.value
" [value]="CE.value">
                      {{ CE.viewValue }}
                    </mat-option>
                  </mat-select>

                </mat-form-field>
              </div>


              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="typeOfInward" placeholder="Type Of Inward">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="typeOfInwardCtrl"
                        [placeholderLabel]="'Find Type Of Inward...'"
                        [noEntriesFoundLabel]="'no matching Type Of Inward found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="
      let CE of classTypeOfInward
        | filterSelectInput: typeOfInwardCtrl.value
    " [value]="CE.value">
                      {{ CE.viewValue }}
                    </mat-option>
                  </mat-select>

                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="district" placeholder="District">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="typeOfDistrictCtrl" [placeholderLabel]="'Find District...'"
                        [noEntriesFoundLabel]="'no matching District found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="
      let CE of classTypeOfDistrict
        | filterSelectInput: typeOfDistrictCtrl.value
    " [value]="CE.value">
                      {{ CE.viewValue }}
                    </mat-option>
                  </mat-select>

                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="treasuryPao" placeholder="Treasury/PAO">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="typeOfTreasuryPaoCtrl"
                        [placeholderLabel]="'Find Treasury/PAO...'"
                        [noEntriesFoundLabel]="'no matching Treasury/PAO found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="
      let CE of classTypeOfTreasuryPao
        | filterSelectInput: typeOfTreasuryPaoCtrl.value
    " [value]="CE.value" matTooltip="{{ CE.viewValue }}">
                      {{ CE.viewValue }}
                    </mat-option>
                  </mat-select>

                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="status" name="status" placeholder="status">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="typeOfStatusCtrl" [placeholderLabel]="'Find Status...'"
                        [noEntriesFoundLabel]="'no matching Status found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="
    let CE of statusList
      | filterSelectInput: typeOfStatusCtrl.value
  " [value]="CE.value">
                      {{ CE.viewValue }}
                    </mat-option>
                  </mat-select>

                </mat-form-field>
              </div>
              <div class="col-md-12">
                <div class="form-action-button">
                  <button type="submit" mat-raised-button color="primary">
                    <i class="material-icons" aria-hidden="true">search</i>
                    Search
                  </button>
                  <button type="reset" mat-raised-button color="accent">
                    <i class="material-icons" aria-hidden="true" title="Reset">
                      restore
                    </i>
                    Reset
                  </button>
                </div>
              </div>

            </div>
          </form>
        </div>
        <!-- End Outward Cases Fields Form -->

      </mat-expansion-panel>
    </mat-accordion>
    <br>

    <div class="mat-elevation-z8 table-responsive mt-2">
      <!-- outward case table -->
      <table mat-table [dataSource]="dataSource" width="100%" matSort aria-describedby="listinginwardscreen">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef scope="row">
            <mat-checkbox (change)="$event ? directiveObject.masterToggle(ELEMENT_DATA) : null"
              [checked]="directiveObject.selection.hasValue() && directiveObject.isAllSelected(ELEMENT_DATA)"
              [indeterminate]="directiveObject.selection.hasValue() && !directiveObject.isAllSelected(ELEMENT_DATA)"
              [aria-label]="directiveObject.checkboxLabel(ELEMENT_DATA)">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" class="text-center">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? directiveObject.selection.toggle(row) : null"
              [checked]="directiveObject.selection.isSelected(row) "
              [aria-label]="directiveObject.checkboxLabel(ELEMENT_DATA, row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="inwardNO">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
            Inward Number
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-label><a style="cursor: pointer;">{{ element.inwardNO }}</a>
            </mat-label>
          </td>
        </ng-container>

        <ng-container matColumnDef="inwardDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
            Inward Date
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-label>{{ element.inwardDate }}
            </mat-label>
          </td>
        </ng-container>

        <ng-container matColumnDef="inwardType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
            Inward Type
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-label>{{ element.inwardType }}
            </mat-label>
          </td>
        </ng-container>

        <ng-container matColumnDef="hbamcaNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
            HBA/MCA No.
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-label>{{ element.hbamcaNo }}
            </mat-label>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
            Name
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-label>{{ element.name }}
            </mat-label>
          </td>
        </ng-container>

        <ng-container matColumnDef="outwardNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
            Outward Number
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-label>{{ element.outwardNo }}
            </mat-label>
          </td>
        </ng-container>

        <ng-container matColumnDef="outwardDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
            Outward Date
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-label>{{ element.outwardDate }}
            </mat-label>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
            Status
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-label>{{ element.status }}
            </mat-label>
          </td>
        </ng-container>

        <ng-container matColumnDef="workflowStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
            Workflow Status
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-label>{{ element.workflowStatus }}
            </mat-label>
          </td>
        </ng-container>

        <!-- Header Section Of table -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- Data Fetch From .TS File to table -->
        <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns"></tr>
      </table>
      <!-- End outward case table -->

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>
    <!-- common button -->
    <div class="form-action-button">
      <button mat-raised-button type="submit" class="green" (click)="directiveObject.commentGrantDetails()">
        <i class="material-icons" aria-hidden="true" title="Submit">
          done
        </i> Submit
      </button>

      <button type="reset" mat-raised-button color="accent">
        <i class="material-icons" aria-hidden="true" title="Reset">
          restore
        </i>
        Reset
      </button>

      <button type="button" mat-raised-button color="warn">
        <i class="material-icons" aria-hidden="true" title="Listing">
          list
        </i>
        Listing
      </button>
      <button type="button" mat-raised-button class="btnClose" title="Close">
        <i class="material-icons" title="Close" aria-hidden="true">
          close
        </i>
        Close
      </button>

    </div>
    <!-- End common button -->
  </div>
</div>