
@import "../../edp_common_style.css";
.searchIcon {
    color: #356a94;
}
.mat-table td.mat-cell{ max-width: inherit;}
.changebutton{
    min-width: 67px;
    line-height: 26px;
    padding: 0px;
    font-size: 13px;
}
.mgt15{ margin-top: 15px;;}