<div class="container">
  <div class="form-wrapper">

    <!-- heading section -->
    <div class="heading-section ng-star-inserted">
      <div>Statement 2</div>
      <div class="font-heading"><strong>Reference No:</strong> 19-20/GI/STAT2/001</div>
      <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}</div>
    </div>

    <!-- navigation -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item " aria-current="page"><a href="javascript:void(0)">Group Insurance</a></li>
        <li class="breadcrumb-item active" aria-current="page">Statement 2</li>
      </ol>
    </nav>

    <div class="panel-group gi-statement">
      <div class="text-center" style="padding: 15px 90px;">
        <h5><strong>STATE GOVERNMENT EMPLOYEES GROUP INSURANCE SCHEME: 1981</strong></h5>
        The accumulations in the Saving Account of members upto the end of the month of cessation of
        membership of the scheme on account of death, retirement, resignation etc. Corresponding to
        the contributions at rate of Rs. 50/- per month whose deduction at the old rate is 10,20,40,80
        and still continued for Rs. 50,100,200 and 400 Rate of intrest as shown below for respectie
        quarters (New Rate: Insurance Fund 15, Saving Fund 35) Year of cessation of membership 2019-2020 -
        Table For April-2019 to June-2019
      </div>
      <div>
        <table class="table-bordered text-center" style="width: 80%; margin: 15px auto;">
          <tr>
            <th colspan="4">Month of Cessation of Membership Statement - 2</th>
          </tr>
          <tr>
            <th rowspan="4">Year Entry</th>
          </tr>
          <tr>
            <th>Apr</th>
            <th>May</th>
            <th>Jun</th>
          </tr>
          <tr>
            <th>2019</th>
            <th>2019</th>
            <th>2019</th>
          </tr>
          <tr>
            <th colspan="3">Interest Rate 8%</th>
          </tr>
          <tr *ngFor="let row of statementOne">
            <td>{{ row.year }}</td>
            <td class="rightAlign">{{ row.aprData | number : '1.2-2' }}</td>
            <td class="rightAlign">{{ row.mayData | number : '1.2-2' }}</td>
            <td class="rightAlign">{{ row.juneData | number : '1.2-2' }}</td>
          </tr>
        </table>
      </div>

      <!-- action button -->
      <div class="form-action-button">
        <button mat-raised-button type="button" color="primary" title="Edit">
          <i class="material-icons" aria-hidden="true">edit</i> Edit
        </button>
        <button mat-raised-button type="button" color="primary" title="Delete">
          <i class="material-icons" aria-hidden="true">delete</i> Delete
        </button>
        <button mat-raised-button type="button" class="green" (click)="directiveObject.workflowDetails()"
          title="Submit">
          <i class="material-icons" aria-hidden="true">done</i> Submit
        </button>
        <button type="button" mat-raised-button color="warn" title="Download">
          <i class="material-icons" aria-hidden="true">
            arrow_downward
          </i>
          Download
        </button>
        <button type="button" mat-raised-button class="btnClose" title="Close">
          <i class="material-icons" aria-hidden="true">
            close
          </i>
          Close
        </button>
        <button type="button" mat-raised-button class="print-btn" title="Print">
          <i class="material-icons" aria-hidden="true">
            print
          </i>
          Print
        </button>
      </div>
    </div>

  </div>
</div>