<div class="container">
  <div class="form-wrapper">

    <!-- breadcrumb -->
    <div class="heading-section ng-star-inserted">
      <div>8658 Subscription Request Letter</div>
      <div class="font-heading"><strong>Reference No:</strong> 19-20/GI/SUBLET1/001</div>
      <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}</div>
    </div>

    <!-- navigation -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item " aria-current="page"><a href="javascript:void(0)">Group Insurance</a></li>
        <li class="breadcrumb-item active" aria-current="page">8658 Subscription Request Letter</li>
      </ol>
    </nav>

    <div class="panel-group">
      <!-- form -->
      <form [formGroup]="subscriptionRequestForm" (ngSubmit)="subscriptionRequestFormData()">
        <mat-accordion class="colapsedata">
          <mat-expansion-panel [expanded]="false" class="nopadding">
            <mat-expansion-panel-header>
              <div class="heading-section">Search</div>
            </mat-expansion-panel-header>

            <div class="box-body">
              <div class="row">

                <!-- employee no -->
                <div class="col-sm-3">
                  <mat-form-field class="full-width">
                    <input matInput formControlName="employeeNo" placeholder="Employee No." numbersAlphabetsOnly>
                    <mat-icon matSuffix class="searchIcon" (click)="openDialogEmployeeNumber()">
                      search</mat-icon>
                  </mat-form-field>
                </div>

                <!-- employee name -->
                <div class="col-md-3">
                  <mat-form-field>
                    <input matInput placeholder="Employee Name" formControlName="employeeName" alphabetsSpaceOnly>
                  </mat-form-field>
                </div>

                <!-- enrollment no -->
                <div class="col-md-3">
                  <mat-form-field>
                    <input matInput placeholder="Enrollment No." formControlName="enrollmentNo" numbersOnly>
                  </mat-form-field>
                </div>

                <!-- cadre -->
                <div class="col-md-3">
                  <mat-form-field>
                    <input matInput formControlName="designation" placeholder="Cadre">
                  </mat-form-field>
                </div>

                <!-- from date -->
                <div class="col-sm-3">
                  <mat-form-field>
                    <input matInput formControlName="fromDate" [matDatepicker]="picker1" placeholder="From Date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 [disabled]="false"></mat-datepicker>
                  </mat-form-field>
                </div>

                <!-- to date -->
                <div class="col-sm-3">
                  <mat-form-field>
                    <input matInput formControlName="toDate" [matDatepicker]="picker2" placeholder="To Date">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 [disabled]="false"></mat-datepicker>
                  </mat-form-field>
                </div>

                <!-- action button -->
                <div class="col-sm-12">
                  <div class="form-action-button">
                    <button type="submit" mat-raised-button color="primary" title="Search" (click)="search()">
                      <i class="material-icons" aria-hidden="true">search</i> Search
                    </button>
                    <button type="reset" mat-raised-button color="accent" title="Reset">
                      <i class="material-icons" aria-hidden="true">
                        restore
                      </i>
                      Reset
                    </button>
                  </div>
                </div>
                <!-- action button end -->

              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </form>

      <br>
      <!-- table start -->
      <table width=100% class="table-css" *ngIf="showTable">

        <tr>
          <td class="header" rowspan="2">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle() : null"
              [checked]="selection.isSelected() " [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </td>
          <td class="header  bottom" rowspan="2">
            Sr. No.
          </td>
          <td class="header bottom" rowspan="2">
            Employee No.
          </td>
          <td class="header bottom" rowspan="2">
            Employee Name
          </td>
          <td class="header  bottom" rowspan="2">
            Designation
          </td>
          <td class="header bottom" rowspan="2">
            Enrollment No.
          </td>
          <td class="header  bottom" rowspan="2">
            Scheme Joined Date
          </td>
          <td class="header header-button" rowspan="1" colspan="2">
            Pending Dedudction Month & Year
          </td>
          <td class="header bottom" rowspan="2" width="60px">
            Pending Deduction Amount
          </td>
          <td class="header header-button" rowspan="1" colspan="3">
            Subscription Of All AIS To Be Send Central PAO
          </td>
          <td class="header bottom" rowspan="2" width="95x">
            Action
          </td>
        </tr>
        <tr>
          <td class="header bottom upper">
            Month
          </td>
          <td class="header bottom upper">
            Year
          </td>
          <td class="header bottom upper">
            DD No
          </td>
          <td class="header bottom upper">
            Date
          </td>
          <td class="header bottom upper">
            Rs
          </td>
        </tr>
        <tr>
          <td class="td-css" rowspan="2">
            <mat-checkbox [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </td>
          <td class="bottom td-css" rowspan="2">1
          </td>
          <td class="td-css" rowspan="2">
            1000000000
          </td>
          <td class="td-css" rowspan="2">
            Mr K H Niranjan
          </td>
          <td class="td-css" rowspan="2">
            IAS
          </td>
          <td class="td-css" rowspan="2">
            101094
          </td>
          <td class="td-css" rowspan="2">
            12/4/1990
          </td>
          <td class="bottom td-css">
            Jan
          </td>
          <td class="td-css">
            1996
          </td>
          <td rowspan="2" class="rightAlign td-css">
            240
          </td>
          <td class="td-css">
            123456
          </td>
          <td class="td-css">
            1/1/1996
          </td>
          <td class="td-css">
            1200
          </td>
          <td class="td-css" rowspan="2">
            <a>
              <i class="material-icons plus view-icon" aria-hidden="true" title="View">remove_red_eye
              </i>
            </a>
            <a>
              <i class="material-icons plus delete" aria-hidden="true" title="Delete">
                delete
              </i>
            </a>
            <a>
              <i class="material-icons plus" aria-hidden="true" title="Send">send</i>
            </a>
          </td>
        </tr>
        <tr>
          <td class="td-css">
            Nov
          </td>
          <td class="td-css">
            2000
          </td>
          <td class="td-css">
            234567
          </td>
          <td class="td-css">
            1/11/2000
          </td>
          <td class="td-css">
            1400
          </td>
        </tr>
        <tr class="evenRow">
          <td class="td-css" rowspan="3">
            <mat-checkbox [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </td>
          <td class="td-css" rowspan="3">2
          </td>
          <td class="td-css" rowspan="3">
            1000000000
          </td>
          <td class="td-css" rowspan="3">
            Mr. J K karachwala
          </td>
          <td class="td-css" rowspan="3">
            IFS
          </td>
          <td class="td-css" rowspan="3">
            10004
          </td>
          <td class="td-css" rowspan="3">
            1/1/1965
          </td>
          <td class="td-css">
            Jan
          </td>
          <td class="td-css">
            1965
          </td>
          <td rowspan="3" class="rightAlign td-css">
            360
          </td>
          <td class="td-css">
            876543
          </td>
          <td class="td-css">
            1/1/1965
          </td>
          <td class="td-css">
            1400
          </td>
          <td class="td-css" rowspan="3">
            <a>
              <i class="material-icons plus view-icon" aria-hidden="true" title="View">remove_red_eye
              </i>
            </a>
            <a>
              <i class="material-icons plus delete" aria-hidden="true" title="Delete">
                delete
              </i>
            </a>
            <a>
              <i class="material-icons plus" aria-hidden="true" title="Send">send</i>
            </a>
          </td>
        </tr>
        <tr class="evenRow">
          <td class="td-css">
            Feb
          </td>
          <td class="td-css">
            1965
          </td>
          <td class="td-css">
            876543
          </td>
          <td class="td-css">
            1/2/1965
          </td>
          <td class="td-css">
            1400
          </td>
        </tr>
        <tr class="evenRow">
          <td class="td-css">
            Mar
          </td>
          <td class="td-css">
            1965
          </td>
          <td class="td-css">
            876543
          </td>
          <td class="td-css">
            1/3/1965
          </td>
          <td class="td-css">
            1600
          </td>
        </tr>
        <tr>
          <td class="td-css" rowspan="2">
            <mat-checkbox [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </td>
          <td class="td-css" rowspan="2">3
          </td>
          <td class="td-css" rowspan="2">
            1000000000
          </td>
          <td class="td-css" rowspan="2">
            Miss Meenakumari
          </td>
          <td class="td-css" rowspan="2">
            IAS
          </td>
          <td class="td-css" rowspan="2">
            201086
          </td>
          <td class="td-css" rowspan="2">
            29/8/1096
          </td>
          <td class="td-css">
            Sep
          </td>
          <td class="td-css">
            2001
          </td>
          <td rowspan="2" class="rightAlign td-css">
            240
          </td>
          <td class="td-css">
            857463
          </td>
          <td class="td-css">
            1/9/2001
          </td>
          <td class="td-css">
            1600
          </td>
          <td class="td-css" rowspan="2">
            <a>
              <i class="material-icons plus view-icon" aria-hidden="true" title="View">remove_red_eye
              </i>
            </a>
            <a>
              <i class="material-icons plus delete" aria-hidden="true" title="Delete">
                delete
              </i>
            </a>
            <a>
              <i class="material-icons plus" aria-hidden="true" title="Send">send</i>
            </a>
          </td>
        </tr>
        <tr>
          <td class="td-css">
            Oct
          </td>
          <td class="td-css">
            2001
          </td>
          <td class="td-css">
            857463
          </td>
          <td class="td-css">
            1/10/2001
          </td>
          <td class="td-css">
            1600
          </td>
        </tr>
        <tr class="evenRow">
          <td class="td-css" rowspan="5">
            <mat-checkbox [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </td>
          <td class="td-css" rowspan="5">4
          </td>
          <td class="td-css" rowspan="5">
            1000000000
          </td>
          <td class="td-css" rowspan="5">
            Miss Sakuntala Devi
          </td>
          <td class="td-css" rowspan="5">
            IAS
          </td>
          <td class="td-css" rowspan="5">
            101618
          </td>
          <td class="td-css" rowspan="5">
            1/5/1990
          </td>
          <td class="td-css">
            Apr
          </td>
          <td class="td-css">
            2000
          </td>
          <td rowspan="5" class="rightAlign td-css">
            600
          </td>
          <td class="td-css">
            657483
          </td>
          <td class="td-css">
            1/4/2000
          </td>
          <td class="td-css">
            1500
          </td>
          <td class="td-css" rowspan="5">
            <a>
              <i class="material-icons plus view-icon" aria-hidden="true" title="View">remove_red_eye
              </i>
            </a>
            <a>
              <i class="material-icons plus delete" aria-hidden="true" title="Delete">
                delete
              </i>
            </a>
            <a>
              <i class="material-icons plus" aria-hidden="true" title="Send">send</i>
            </a>
          </td>
        </tr>
        <tr class="evenRow">
          <td class="td-css">
            May
          </td>
          <td class="td-css">
            2000
          </td>
          <td class="td-css">
            657483
          </td>
          <td class="td-css">
            1/5/2000
          </td>
          <td class="td-css">
            1500
          </td>
        </tr>
        <tr class="evenRow">
          <td class="td-css">
            Aug
          </td>
          <td class="td-css">
            2011
          </td>
          <td class="td-css">
            758595
          </td>
          <td class="td-css">
            1/8/2011
          </td>
          <td class="td-css">
            1500
          </td>
        </tr>
        <tr class="evenRow">
          <td class="td-css">
            Nov
          </td>
          <td class="td-css">
            2012
          </td>
          <td class="td-css">
            768696
          </td>
          <td class="td-css">
            1/11/2012
          </td>
          <td class="td-css">
            1500
          </td>
        </tr>
        <tr class="evenRow">
          <td class="td-css">
            Dec
          </td>
          <td class="td-css">
            2012
          </td>
          <td class="td-css">
            768696
          </td>
          <td class="td-css">
            1/12/2012
          </td>
          <td class="td-css">
            1500
          </td>
        </tr>
        <tr>
          <td class="td-css" rowspan="3">
            <mat-checkbox [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </td>
          <td class="td-css" rowspan="3">5
          </td>
          <td class="td-css" rowspan="3">
            1000000000
          </td>
          <td class="td-css" rowspan="3">
            Mr. S Subramaniyam
          </td>
          <td class="td-css" rowspan="3">
            IPS
          </td>
          <td class="td-css" rowspan="3">
            110086
          </td>
          <td class="td-css" rowspan="3">
            15/06/1986
          </td>
          <td class="td-css">
            Apr
          </td>
          <td class="td-css">
            2015
          </td>
          <td rowspan="3" class="rightAlign td-css">
            360
          </td>
          <td class="td-css">
            657485
          </td>
          <td class="td-css">
            1/5/2015
          </td>
          <td class="td-css">
            1800
          </td>
          <td class="td-css" rowspan="3">
            <a>
              <i class="material-icons plus view-icon" aria-hidden="true" title="View">remove_red_eye
              </i>
            </a>
            <a>
              <i class="material-icons plus delete" aria-hidden="true" title="Delete">
                delete
              </i>
            </a>
            <a>
              <i class="material-icons plus" aria-hidden="true" title="Send">send</i>
            </a>
          </td>
        </tr>
        <tr>
          <td class="td-css">
            May
          </td>
          <td class="td-css">
            2015
          </td>
          <td class="td-css">
            657485
          </td>
          <td class="td-css">
            1/5/2015
          </td>
          <td class="td-css">
            1800
          </td>
        </tr>
        <tr>
          <td class="td-css">
            Jun
          </td>
          <td class="td-css">
            2015
          </td>
          <td class="td-css">
            657485
          </td>
          <td class="td-css">
            1/6/2015
          </td>
          <td class="td-css">
            1800
          </td>
        </tr>
      </table>
      <!-- table end -->

      <!-- paginator -->
      <mat-paginator *ngIf="showTable" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

      <!-- action buttton -->
      <div class="form-action-button" *ngIf="showTable">

        <button type="submit" mat-raised-button color="primary" title="Generate Letter" (click)="goToLetter()">
          <i class="material-icons" aria-hidden="true">send</i> Generate Letter
        </button>
      </div>

    </div>
  </div>