<div class="box box-primary">
  <!-- Header Section -->
  <div class="box-header">Bill History</div>
  <div class="box-body">
    <div class="mat-elevation-z8 mt-2">
      <!-- Bill History Table -->
      <table mat-table [dataSource]="dataSource" width="100%" matSort aria-describedby="billHistory">
        <!-- Sr No -->
        <ng-container matColumnDef="checkBox">
          <th mat-header-cell *matHeaderCellDef scope="row"> SR No.</th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{i + 1}}
          </td>
        </ng-container>
        <!-- Token No -->
        <ng-container matColumnDef="tokenNo">
          <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Token No.</th>
          <td mat-cell *matCellDef="let element"> {{element.tokenNo}} </td>
        </ng-container>
        <!-- DDO No -->
        <ng-container matColumnDef="ddoNo">
          <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>DDO No.</th>
          <td mat-cell *matCellDef="let element"> {{element.ddoNo}} </td>
        </ng-container>
        <!-- Cardex No -->
        <ng-container matColumnDef="cardexNo">
          <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Cardex No.</th>
          <td mat-cell *matCellDef="let element"> {{element.cardexNo}} </td>
        </ng-container>
        <!-- Office Name -->
        <ng-container matColumnDef="ddoname">
          <th mat-header-cell *matHeaderCellDef scope="row"> Office Name</th>
          <td mat-cell *matCellDef="let element">
            {{element.ddoname}}
          </td>
        </ng-container>
        <!-- Bill Date -->
        <ng-container matColumnDef="billdate">
          <th mat-header-cell *matHeaderCellDef scope="row"> Bill Date</th>
          <td mat-cell *matCellDef="let element">
            {{element.billdate}}
          </td>
        </ng-container>
        <!-- Bill Type -->
        <ng-container matColumnDef="billtype">
          <th mat-header-cell *matHeaderCellDef scope="row"> Bill Type</th>
          <td mat-cell *matCellDef="let element">
            {{element.billtype}}
          </td>
        </ng-container>
        <!-- Major Head -->
        <ng-container matColumnDef="majorHead">
          <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Major Head</th>
          <td mat-cell *matCellDef="let element" [matTooltip]="element.mhead"> {{element.majorHead}}
          </td>
        </ng-container>
        <!-- Bill Gross Amount -->
        <ng-container matColumnDef="billGrossAmount">
          <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Bill Gross
            Amount</th>
          <td mat-cell *matCellDef="let element" class="rightAlign">
            {{element.billGrossAmount}} </td>
        </ng-container>
        <!-- Bill Net Amount -->
        <ng-container matColumnDef="billAmount">
          <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Bill Net
            Amount</th>
          <td mat-cell *matCellDef="let element" class="rightAlign">
            {{element.billAmount}} </td>
        </ng-container>
        <!-- Bill Inward Date -->
        <ng-container matColumnDef="inwarddate">
          <th mat-header-cell *matHeaderCellDef scope="row" mat-sort-header>Bill Inward Date</th>
          <td mat-cell *matCellDef="let element" class="rightAlign">
            {{element.inwarddate}} </td>
        </ng-container>


        <!-- Header Section Of table -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- Data Fetch From .TS File to table -->
        <tr mat-row *matRowDef="let row; let i = index;columns: displayedColumns;">
        </tr>
      </table>
      <br>
      <!-- Common Button -->
      <div class="form-action-button">

        <button type="button" mat-raised-button (click)="goToDashboard()" class="btnClose">
          <i class="material-icons" aria-hidden="true" title="Budget dashboard">
            close
          </i>
          Close
        </button>
      </div>
      <!-- End Common Button -->
    </div>
  </div>
</div>