<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>Events</div>
        </div>
        <mat-accordion class="search-accordian">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <div class="heading-section">
                        Search Events
                    </div>
                </mat-expansion-panel-header>
                <div class="form-datatable-list">
                    <form class="col-sm-12" [formGroup]="eventsFrom" (ngSubmit)="saveEventsFrom()">
                        <div class="row">
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="dateCreatedFrom" [matDatepicker]="dateCreatedFrom" placeholder="Created Form Date">
                                    <mat-datepicker-toggle matSuffix [for]="dateCreatedFrom">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #dateCreatedFrom></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput formControlName="dateCreatedTo" [matDatepicker]="dateCreatedTo" placeholder="Created To Date">
                                    <mat-datepicker-toggle matSuffix [for]="dateCreatedTo">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #dateCreatedTo></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="eventsName" placeholder="Events Name">
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="eventsNameCtrl" [placeholderLabel]="'Find Events Name...'" [noEntriesFoundLabel]="'no matching Events Name found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let eventsName of eventsName_list | filterSelectInput: eventsNameCtrl.value" [value]="eventsName.value">
                                            {{eventsName.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="Employee Number" formControlName="employeeNo">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="Employee Name" autocomplete="off" formControlName="employeeName">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <mat-label>Designation </mat-label>
                                    <mat-select formControlName="designation">
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="DesignationCtrl" [placeholderLabel]="'Find Designation...'" [noEntriesFoundLabel]="'No Matching Designation found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let DG of Designation | filterSelectInput:DesignationCtrl.value" [value]="DG.value">
                                            {{DG.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="GPF No." autocomplete="off" formControlName="gpfNo">
                                </mat-form-field>

                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="PPAN" autocomplete="off" formControlName="ppanNo">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput placeholder="Retirement Date" formControlName="retirementDate" [matDatepicker]="retirementDate">
                                    <mat-datepicker-toggle matSuffix [for]="retirementDate"></mat-datepicker-toggle>
                                    <mat-datepicker #retirementDate></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" placeholder="Case No." autocomplete="off" formControlName="caseNo">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <mat-label>Class </mat-label>
                                    <mat-select formControlName="class">
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="ClassCtrl" [placeholderLabel]="'Find Class...'" [noEntriesFoundLabel]="'No Matching Class found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let class of Class | filterSelectInput:ClassCtrl.value" [value]="class.value">
                                            {{class.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <mat-label>Office Name </mat-label>
                                    <mat-select formControlName="officeName">
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="officeNameCtrl" [placeholderLabel]="'Find Office Name...'" [noEntriesFoundLabel]="'No Matching Office Name found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let office of officeName_list | filterSelectInput:officeNameCtrl.value" [value]="office.value">
                                            {{office.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field>
                                    <mat-label>Employee Type</mat-label>
                                    <mat-select formControlName="empType">
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="EmpTypeCtrl" [placeholderLabel]="'Find Employee Type...'" [noEntriesFoundLabel]="'No Matching Employee Type found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let ET of EmpType | filterSelectInput:EmpTypeCtrl.value" [value]="ET.value">
                                            {{ET.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="workflowStatus" placeholder="Workflow Status">
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="workflowStatusCtrl" [placeholderLabel]="'Find Workflow Status...'" [noEntriesFoundLabel]="'no matching Workflow Status found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let workflowStatus of workflowStatus_list | filterSelectInput: workflowStatusCtrl.value" [value]="workflowStatus.value">
                                            {{workflowStatus.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form-action-button">
                    <button type="submit" mat-raised-button color="primary">
                        <i class="material-icons" aria-hidden="true" title="search">search</i>
                        Search
                    </button>&nbsp;&nbsp;&nbsp;
                    <button type="reset" mat-raised-button color="accent" (click)="clearForm();">
                        <i class="material-icons"aria-hidden="true" title="reset">
                            restore
                        </i>
                        Reset
                    </button>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <div class="mat-elevation-z8 mt-2 table-responsive">
            <table mat-table [dataSource]="dataSource" width="100%" matSort aria-describedby="eventsList">
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Sr. No.</th>
                    <td mat-cell *matCellDef="let element; let i = index;">
                        {{ i + 1 }} </td>
                </ng-container>
                <ng-container matColumnDef="transNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Transaction No</th>
                    <td mat-cell *matCellDef="let element"> {{element.transNo}} </td>
                </ng-container>
                <ng-container matColumnDef="eventName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Event Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.eventName}} </td>
                </ng-container>
                <ng-container matColumnDef="empNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Employee No</th>
                    <td mat-cell *matCellDef="let element"> {{element.empNo}} </td>
                </ng-container>

                <ng-container matColumnDef="empName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Employee Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.empName}} </td>
                </ng-container>

                <ng-container matColumnDef="empDesignation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Designation</th>
                    <td mat-cell *matCellDef="let element"> {{element.empDesignation}} </td>
                </ng-container>

                <ng-container matColumnDef="officeName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Office Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.officeName}} </td>
                </ng-container>

                <ng-container matColumnDef="empType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Employee Type</th>
                    <td mat-cell *matCellDef="let element"> {{element.empType}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Status</th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
                <ng-container matColumnDef="pendingWith">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Pending with</th>
                    <td mat-cell *matCellDef="let element"> {{element.pendingWith}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef scope="row"> Action </th>
                    <td mat-cell *matCellDef="let element;let i = index;" class="action-btn-i centerAlign">
                        <a [routerLink]="''"><i class="material-icons plus edit-icon"aria-hidden="true"  title="Edit"> edit </i></a>
                        <a [routerLink]="''"><i class="material-icons plus view-icon"
                                title="View" aria-hidden="true">remove_red_eye</i></a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; let i = index;columns: displayedColumns;">
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            <div class="form-action-button mt-3 mb-1">
                <button mat-raised-button type="submit" class="green">
                    <i class="material-icons" aria-hidden="true" title="done">done</i> Submit
                </button>
                <button type="button" mat-raised-button (click)="goToDashboard()" class="btnClose">
                    <i class="material-icons" aria-hidden="true" title="Budget dashboard"> close</i>Close
                </button>
            </div>
        </div>
    </div>
</div>