.table-css{
    border: solid 1px rgba(0, 0, 0, 0.12);
    width: 100%;
    
}
.tr-css{
    height: 30px !important;
}
.td-css{
    padding: 0 2px !important;
  max-width: 100px;
  width: auto;
  border-right: 1px solid rgb(234, 234, 234) !important;
 
}
.header{
    background: #5783a6;
  color: #fff;
  border-right: 1px solid rgb(80, 117, 146);
  border-left: 1px solid rgb(80, 117, 146);
  justify-content: center;
  font-weight: 600;
  text-align: center;
}

.bottom{
    border-bottom: 1px solid rgb(234, 234, 234) !important;

}
.oddRow{
    background: white;

}
.evenRow{
    background: #f9f9f9;
}