<div class="container">
    <div class="form-wrapper">

        <div class="heading-section ng-star-inserted">
            <div>Create Account</div>
            <div class="font-heading"><b>Reference No:</b> 19-20/PDPLA/CA/001</div>
            <div class="font-heading"><b>Reference Date:</b> {{ initiatiomdate | date: 'dd-MMM-yyyy HH:mm'}}</div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item " aria-current="page">PDPLA</li>
                <li class="breadcrumb-item active" aria-current="page">Create Account</li>
            </ol>
        </nav>

        <div class="panel-group">

            <mat-tab-group mat-stretch-tabs [selectedIndex]="selectedIndex" (selectedIndexChange)="getTabIndex($event)">
                <!--  Account Creation Detail Form Tab -->
                <mat-tab>
                    <form [formGroup]="pdplaform">
                        <ng-template mat-tab-label>
                            Account Creation Detail
                        </ng-template>

                        <!-- DDO Requirement Letter Detail starts -->
                        <div class="box box-primary">
                            <div class="box-header">DDO Requirement Letter Detail</div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">
                                            <input matInput formControlName="sactionOrder"
                                                placeholder="DDO Request Sanction order No" value="DDO/01" required>

                                            <div class="error-wrapper"
                                                *ngIf="pdplaform.controls.sactionOrder.touched && pdplaform.controls.sactionOrder.errors">
                                                <mat-error *ngIf="pdplaform.controls.sactionOrder.errors.required">
                                                    {{errorMessages.SACTION_ORDER}}
                                                </mat-error>
                                            </div>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="reqDatepicker" formControlName="refDate"
                                                placeholder="DDO Request Sanction Order Date" required readonly>
                                            <mat-datepicker-toggle matSuffix [for]="reqDatepicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #reqDatepicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- DDO Requirement Letter Detail ends -->

                        <!-- Account Details starts -->
                        <div class="box box-primary">
                            <div class="box-header">Account Details</div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="PD/PLA A/c No" value="GSRTC"
                                                formControlName="pdplaAccNo">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">
                                            <input matInput type="text" formControlName="cardexNo"
                                                placeholder="Cardex No" value="4" readOnly required>
                                            <div class="error-wrapper"
                                                *ngIf="pdplaform.controls.cardexNo.touched && pdplaform.controls.cardexNo.errors">
                                                <mat-error *ngIf="pdplaform.controls.cardexNo.errors.required">
                                                    {{errorMessages.CARDEX_NO}}
                                                </mat-error>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">
                                            <input matInput type="text" formControlName="ddoNo" placeholder="DDO No"
                                                value="543">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">
                                            <input matInput type="text" formControlName="officeName"
                                                placeholder="Office Name" value="Road and Transport">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Office Contact No"
                                                formControlName="officeContactNo" numbersOnly>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Email Id" formControlName="emailId">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <mat-select name="Major-Head" formControlName="majorHead"
                                                placeholder="Major Head" required>
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="majorCtrl"
                                                        [placeholderLabel]="'Select Major Head ...'"
                                                        [noEntriesFoundLabel]="'no matching Major Head found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option
                                                    *ngFor="let major of majorHead_list | filterSelectInput : majorCtrl.value : 'viewValue'"
                                                    [value]="major.value" [matTooltip]="major.viewValue">
                                                    {{major.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="error-wrapper"
                                                *ngIf="pdplaform.controls.majorHead.touched && pdplaform.controls.majorHead.errors">
                                                <mat-error *ngIf="pdplaform.controls.majorHead.errors.required">
                                                    {{errorMessages.MAJOR_HEAD}}
                                                </mat-error>
                                            </div>
                                        </mat-form-field>
                                    </div>


                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <mat-select name="sub-Major-Head" formControlName="subMajorHead"
                                                placeholder="Sub-Major Head" required>
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="subMajorCtrl"
                                                        [placeholderLabel]="'Select Sub-Major Head ...'"
                                                        [noEntriesFoundLabel]="'no matching Sub-Major Head found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option
                                                    *ngFor="let submajor of subMajorHead_list | filterSelectInput : subMajorCtrl.value : 'viewValue'"
                                                    [value]="submajor.value" [matTooltip]="submajor.viewValue">
                                                    {{submajor.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="error-wrapper"
                                                *ngIf="pdplaform.controls.subMajorHead.touched && pdplaform.controls.subMajorHead.errors">
                                                <mat-error *ngIf="pdplaform.controls.subMajorHead.errors.required">
                                                    {{errorMessages.SUB_MAJOR_HEAD}}
                                                </mat-error>
                                            </div>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <mat-select name="sub-Major-Head" formControlName="minorHead"
                                                placeholder="Minor Head" required>
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="minorHeadCtrl"
                                                        [placeholderLabel]="'Select Minor Head ...'"
                                                        [noEntriesFoundLabel]="'no matching Minor Head found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option
                                                    *ngFor="let minor of minorHead_list | filterSelectInput : minorHeadCtrl.value : 'viewValue'"
                                                    [value]="minor.value" [matTooltip]="minor.viewValue">
                                                    {{minor.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="error-wrapper"
                                                *ngIf="pdplaform.controls.minorHead.touched && pdplaform.controls.minorHead.errors">
                                                <mat-error *ngIf="pdplaform.controls.minorHead.errors.required">
                                                    {{errorMessages.MINOR_HEAD}}
                                                </mat-error>
                                            </div>
                                        </mat-form-field>
                                    </div>


                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <mat-select name="sub-Head" formControlName="subHead" placeholder="Sub Head"
                                                required>
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="subHeadCtrl"
                                                        [placeholderLabel]="'Select Sub Head ...'"
                                                        [noEntriesFoundLabel]="'no matching Sub Head found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option
                                                    *ngFor="let subHead of subHead_list | filterSelectInput : subHeadCtrl.value : 'viewValue'"
                                                    [value]="subHead.value" [matTooltip]="subHead.viewValue">
                                                    {{subHead.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="error-wrapper"
                                                *ngIf="pdplaform.controls.subHead.touched && pdplaform.controls.subHead.errors">
                                                <mat-error *ngIf="pdplaform.controls.subHead.errors.required">
                                                    {{errorMessages.SUB_HEAD}}
                                                </mat-error>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <mat-select name="pdpla" formControlName="pdplaType"
                                                placeholder="PD/PLA Type" (selectionChange)='pdplaTypeChanged($event)'>
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="pdplaCtrl"
                                                        [placeholderLabel]="'Select PD/PLA Type ...'"
                                                        [noEntriesFoundLabel]="'no matching PD/PLA Type found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option>-- None --</mat-option>
                                                <mat-option
                                                    *ngFor="let pdpla of pdplaType_list | filterSelectInput : pdplaCtrl.value : 'viewValue'"
                                                    [value]="pdpla.value" [matTooltip]="pdpla.viewValue">
                                                    {{pdpla.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">
                                            <input matInput type="text" formControlName="purpose"
                                                placeholder="{{purpose}}" value="New PD/PLA office created">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <mat-select formControlName="authority"
                                                placeholder="Authority by whom the Audit will be conducted"
                                                (selectionChange)="authorityChanged($event)" multiple>
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="authorityCtrl"
                                                        [placeholderLabel]="'Select Authority ...'"
                                                        [noEntriesFoundLabel]="'no matching Authority found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option
                                                    *ngFor="let item of authority_list | filterSelectInput : authorityCtrl.value : 'viewValue'"
                                                    [value]="item.value" [matTooltip]="item.viewValue">
                                                    {{item.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6 col-md-3" *ngIf="showOtherAuthority">
                                        <mat-form-field class="full-width">
                                            <input matInput type="text" placeholder="Audit Authority"
                                                formControlName="auditAuthority">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">
                                            <input matInput type="number" placeholder="Opening Balance (Rs)"
                                                value="0.00" formControlName="openingBalance">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="startDate" formControlName="strDate"
                                                placeholder="A/c Start Date">
                                            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                                            <mat-datepicker #startDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <mat-select formControlName="treasuryName" placeholder="Treasury Name"
                                                required>
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="treasuryNameCtrl"
                                                        [placeholderLabel]="'Select Treasury Name ...'"
                                                        [noEntriesFoundLabel]="'no matching Treasury Name found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option
                                                    *ngFor="let item of treasuryName_list | filterSelectInput : treasuryNameCtrl.value : 'viewValue'"
                                                    [value]="item.value" [matTooltip]="item.viewValue">
                                                    {{item.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <mat-select name="Sub-Treasury" formControlName="subTresury"
                                                placeholder="Sub-Treasury Account"
                                                (selectionChange)="showSubTreasuryName($event.value)">
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="subTresuryCtrl"
                                                        [placeholderLabel]="'Select Sub-Treasury Account ...'"
                                                        [noEntriesFoundLabel]="'no matching Sub-Treasury Account found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option>-- None --</mat-option>
                                                <mat-option
                                                    *ngFor="let sub of subTresury_list | filterSelectInput : subTresuryCtrl.value : 'viewValue'"
                                                    [value]="sub.value" [matTooltip]="sub.viewValue">
                                                    {{sub.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-3" *ngIf="isSelectedSubtreasuryYes">
                                        <mat-form-field>
                                            <mat-select formControlName="subTreasuryName"
                                                placeholder=" Sub Treasury Name">
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="subTreasuryNameCtrl"
                                                        [placeholderLabel]="'Select Sub Treasury Name ...'"
                                                        [noEntriesFoundLabel]="'no matching Sub Treasury Name found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option>-- None --</mat-option>
                                                <mat-option
                                                    *ngFor="let item of subTreasuryName_list | filterSelectInput : subTreasuryNameCtrl.value : 'viewValue'"
                                                    [value]="item.value" [matTooltip]="item.viewValue">
                                                    {{item.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <mat-select name="Cheque-Book" formControlName="chequebook"
                                                placeholder="Cheque Book Issue">
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="chequeCtrl"
                                                        [placeholderLabel]="'Select Cheque Book Issue ...'"
                                                        [noEntriesFoundLabel]="'no matching Cheque Book Issue found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option>-- None --</mat-option>
                                                <mat-option
                                                    *ngFor="let chqbook of chequbook_list | filterSelectInput : chequeCtrl.value : 'viewValue'"
                                                    [value]="chqbook.value" [matTooltip]="chqbook.viewValue">
                                                    {{chqbook.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>


                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <mat-select name="Shared-Account" formControlName="sharedAccount"
                                                placeholder="Shared Account">
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="SharedAccountCtrl"
                                                        [placeholderLabel]="'Select Shared Account ...'"
                                                        [noEntriesFoundLabel]="'no matching Shared Account found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option>-- None --</mat-option>
                                                <mat-option
                                                    *ngFor="let sahredAc of shareAc_list | filterSelectInput : SharedAccountCtrl.value : 'viewValue'"
                                                    [value]="sahredAc.value" [matTooltip]="sahredAc.viewValue">
                                                    {{sahredAc.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Name of Bank" formControlName="bankName">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Bank Account No" formControlName="bankAccNo">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="ISFC Code" formControlName="isfcCode">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <mat-checkbox formControlName="checkOptionOne">Balance in the P.L.A should not
                                            be over drawn at any time
                                        </mat-checkbox>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <mat-checkbox formControlName="checkOptionTwo">Balance as on 31st March to be
                                            surrendered by deduct debit to service head
                                        </mat-checkbox>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <mat-checkbox formControlName="checkOptionThree">Account will be maintained
                                            properly and subject to audit
                                        </mat-checkbox>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <mat-checkbox formControlName="checkOptionFour">Whether proposal routed through
                                            Finance Department with its concurrence
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Account Details ends -->

                        <!-- HOD Letter Detail starts -->
                        <div class="box box-primary">
                            <div class="box-header"> HOD Letter Detail</div>
                            <div class="box-body">
                                <div class="row">

                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="HOD Sanction Order No" value="HOD/03">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="sanctionedOrderdate"
                                                formControlName="sanOrderDate" placeholder="HOD Sanction Order Date"
                                                readonly>
                                            <mat-datepicker-toggle matSuffix [for]="sanctionedOrderdate">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #sanctionedOrderdate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">

                                            <textarea matInput formControlName="remarks1" placeholder="Remark"
                                                value="We advice PD/PLA account can be opened as the details are correct"
                                                required></textarea>

                                            <div class="error-wrapper"
                                                *ngIf="pdplaform.controls.remarks1.touched && pdplaform.controls.remarks1.errors">
                                                <mat-error *ngIf="pdplaform.controls.remarks.errors.required">
                                                    {{errorMessages.REMARKS}}
                                                </mat-error>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- HOD Letter Detailends -->

                        <!-- Parent Dept. Letter Detail starts -->
                        <div class="box box-primary">
                            <div class="box-header"> Parent Dept. Letter Detail</div>
                            <div class="box-body">
                                <div class="row">

                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Parent Department Sanction order No"
                                                value="DEPT/01">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="parentSanctionedOrderdate"
                                                formControlName="parntSanOrderDate"
                                                placeholder="Parent Dept. Sanction Order Date" readonly>
                                            <mat-datepicker-toggle matSuffix [for]="parentSanctionedOrderdate">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #parentSanctionedOrderdate></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">

                                            <textarea matInput formControlName="remarks2" placeholder="Remark"
                                                value="We advice PD/PLA account can be opened as the details are correct"
                                                required></textarea>

                                            <div class="error-wrapper"
                                                *ngIf="pdplaform.controls.remarks2.touched && pdplaform.controls.remarks2.errors">
                                                <mat-error *ngIf="pdplaform.controls.remarks.errors.required">
                                                    {{errorMessages.REMARKS}}
                                                </mat-error>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Parent Dept. Letter Detail ends -->

                        <div class="box box-primary">
                            <div class="box-header"> FD Letter Detail</div>
                            <div class="box-body">
                                <div class="row">

                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="FD Sanction order No" value="FD/02">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="faSanctionedOrderdate"
                                                formControlName="fdSanOrderDate" placeholder="FD Sanction order Date"
                                                readonly>
                                            <mat-datepicker-toggle matSuffix [for]="faSanctionedOrderdate">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #faSanctionedOrderdate></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">

                                            <textarea matInput formControlName="remarks3" placeholder="Remark"
                                                value="We advice PD/PLA account can be opened as the details are correct"
                                                required></textarea>

                                            <div class="error-wrapper"
                                                *ngIf="pdplaform.controls.remarks3.touched && pdplaform.controls.remarks3.errors">
                                                <mat-error *ngIf="pdplaform.controls.remarks.errors.required">
                                                    {{errorMessages.REMARKS}}
                                                </mat-error>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- DAT Office Opinion (Optional) starts -->
                        <div class="box box-primary">
                            <div class="box-header">DAT Office Opinion (Optional)</div>
                            <div class="box-body">
                                <div class="row">

                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="optionDatePicker"
                                                formControlName="opinionDate" placeholder="Opinion Date" required
                                                readonly>
                                            <mat-datepicker-toggle matSuffix [for]="optionDatePicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #optionDatePicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">

                                            <textarea matInput formControlName="remarks" placeholder="Remark"
                                                value="We advice PD/PLA account can be opened as the details are correct"
                                                required></textarea>

                                            <div class="error-wrapper"
                                                *ngIf="pdplaform.controls.remarks.touched && pdplaform.controls.remarks.errors">
                                                <mat-error *ngIf="pdplaform.controls.remarks.errors.required">
                                                    {{errorMessages.REMARKS}}
                                                </mat-error>
                                            </div>
                                        </mat-form-field>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- DAT Office Opinion (Optional) ends -->
                        <!-- AG Letter Detail starts -->
                        <div class="box box-primary">
                            <div class="box-header"> AG Letter Detail</div>
                            <div class="box-body">
                                <div class="row">

                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="AG Sanction order No" value="AG/01">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="agSanctionedOrderdate"
                                                formControlName="agSanOrderDate" placeholder="AG Sanction order Date"
                                                readonly>
                                            <mat-datepicker-toggle matSuffix [for]="agSanctionedOrderdate">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #agSanctionedOrderdate></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">

                                            <textarea matInput formControlName="remarks4" placeholder="Remark"
                                                value="We advice PD/PLA account can be opened as the details are correct"
                                                required></textarea>

                                            <div class="error-wrapper"
                                                *ngIf="pdplaform.controls.remarks4.touched && pdplaform.controls.remarks4.errors">
                                                <mat-error *ngIf="pdplaform.controls.remarks.errors.required">
                                                    {{errorMessages.REMARKS}}
                                                </mat-error>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- AG Letter Detail ends -->

                        <!-- Closing Letter detail at TO starts -->

                        <div class="box box-primary">
                            <div class="box-header"> Closing Letter detail at TO</div>
                            <div class="box-body">
                                <div class="row">

                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Account Closing" value="DAT/005">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="acEndDate" formControlName="accountEndDate"
                                                placeholder="Account End date" readonly>
                                            <mat-datepicker-toggle matSuffix [for]="acEndDate"></mat-datepicker-toggle>
                                            <mat-datepicker #acEndDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Closing Letter detail at TO ends -->

                        <!-- Account Reactivation detail at TO starts -->
                        <div class="box box-primary">
                            <div class="box-header"> Account Reactivation detail at TO</div>
                            <div class="box-body">
                                <div class="row">


                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="authEndDate" formControlName="authDate"
                                                placeholder="Reactivation Auth. Date" readonly>
                                            <mat-datepicker-toggle matSuffix [for]="authEndDate">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #authEndDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Account Closing" value="2000.00">
                                        </mat-form-field>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Account Reactivation detail at TO ends -->


                        <!-- Common action button starts -->
                        <div class="form-action-button">
                            <button mat-raised-button type="submit" color="primary">

                                Accept Request</button>


                            <button mat-raised-button type="submit" class="green"
                                (click)="directiveObject.workflowDetails()">
                                <i class="material-icons" aria-hidden="true" title="done">
                                    done
                                </i> Submit</button>


                            <button type="button" mat-raised-button (click)="gotoListing()" color="warn">
                                <i class="material-icons" aria-hidden="true" title="Listing">
                                    list
                                </i>
                                Listing
                            </button>

                            <button type="submit" mat-raised-button color="primary">
                                Intimate Report
                            </button>

                            <button type="button" mat-raised-button class="btnClose">
                                <i class="material-icons" aria-hidden="true" title="close">
                                    close
                                </i>
                                Close
                            </button>
                        </div>
                        <!-- Common action button ends -->
                    </form>
                </mat-tab>

                <!-- attachment Tab -->
                <mat-tab label="Attachments">
                    <app-common-attachment [attachemntValue]="attachmentTypeCode"></app-common-attachment>

                    <!-- Common Button -->
                    <div class="form-action-button">


                        <button mat-raised-button type="submit" class="green"
                            (click)="directiveObject.workflowDetails()">
                            <i class="material-icons" aria-hidden="true" title="done">
                                done
                            </i> Submit</button>


                        <button type="button" mat-raised-button (click)="gotoListing()" color="warn">
                            <i class="material-icons" aria-hidden="true" title="Listing">
                                list
                            </i>
                            Listing
                        </button>



                        <button type="button" mat-raised-button class="btnClose">
                            <i class="material-icons" aria-hidden="true" title="close">
                                close
                            </i>
                            Close
                        </button>
                    </div>
                    <!-- End Common Button -->
                </mat-tab>
            </mat-tab-group>

        </div>

    </div>
</div>