<div class="container">
  <div class="form-wrapper">
    <!-- heading section -->
    <div class="heading-section ng-star-inserted">
      {{searchEdpCode}}
    </div>

    <!-- navigation -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">{{home}}</a></li>
        <li class="breadcrumb-item"><a href="#">{{ddo}}</a></li>
        <li class="breadcrumb-item active" aria-current="page"> {{searchEdpCode}}
        </li>
      </ol>
    </nav>

    <div class="panel-group">
      <mat-tab-group mat-stretch-tabs [selectedIndex]="selectedIndex" (selectedIndexChange)="getTabIndex($event)">

        <!-- expenditure start -->
        <mat-tab>
          <ng-template mat-tab-label>
            Expenditure & Recovery
          </ng-template>
          <div class="mat-elevation-z8 mt-2 ">

            <!-- form start -->
            <form [formGroup]="smartSearch" (ngSubmit)="onSearch()">
              <div class="box box-primary">
                <div class="box-header"> Search </div>
                <div class="box-body">
                  <div class="row">

                    <div class="col-sm-3">
                      <mat-form-field>
                        <mat-select formControlName="budgetCode" placeholder="Budget Code">
                          <mat-option>
                            <ngx-mat-select-search [formControl]="budgetCodeCtrl"
                              [placeholderLabel]="'Select Budget Code ...'"
                              [noEntriesFoundLabel]="'no matching Budget Code found'" numbersOnly>
                            </ngx-mat-select-search>
                          </mat-option>
                          <mat-option>-- None --</mat-option>
                          <mat-option
                            *ngFor="let item of budgetCodeList | filterSelectInput : budgetCodeCtrl.value : 'viewValue'"
                            [value]="item.value">
                            {{item.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-sm-3">
                      <mat-form-field>
                        <mat-select formControlName="edpCode" placeholder="EDP Code">
                          <mat-option>
                            <ngx-mat-select-search [formControl]="edpCodeCtrl"
                              [placeholderLabel]="'Select EDP Code ...'"
                              [noEntriesFoundLabel]="'no matching EDP Code found'" numbersOnly>
                            </ngx-mat-select-search>
                          </mat-option>
                          <mat-option>-- None --</mat-option>
                          <mat-option
                            *ngFor="let item of edpCodeList | filterSelectInput : edpCodeCtrl.value : 'viewValue'"
                            [value]="item.value">
                            {{item.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                    </div>

                    <div class="col-sm-3">
                      <mat-form-field>
                        <input matInput placeholder="EDP Code Description" formControlName="edpCodedescription" />
                      </mat-form-field>
                    </div>

                    <div class="col-sm-3">
                      <mat-form-field>
                        <mat-select formControlName="objectClass" placeholder="Object Class">
                          <mat-option>
                            <ngx-mat-select-search [formControl]="objectClassCtrl" alphabetOnly
                              [placeholderLabel]="'Select Object Class ...'"
                              [noEntriesFoundLabel]="'no matching Object Class found'">
                            </ngx-mat-select-search>
                          </mat-option>
                          <mat-option>-- None --</mat-option>
                          <mat-option
                            *ngFor="let item of objectClassList | filterSelectInput : objectClassCtrl.value : 'viewValue'"
                            [value]="item.value">
                            {{item.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-sm-3">
                      <mat-form-field>
                        <mat-select formControlName="edpCodeType" placeholder="EDP Code Type">
                          <mat-option>
                            <ngx-mat-select-search [formControl]="edpCodeTypeCtrl" alphabetOnly
                              [placeholderLabel]="'Select EDP Code Type Code ...'"
                              [noEntriesFoundLabel]="'no matching EDP Code Type found'">
                            </ngx-mat-select-search>
                          </mat-option>
                          <mat-option>-- None --</mat-option>
                          <mat-option
                            *ngFor="let item of edpCodeTypeList | filterSelectInput : edpCodeTypeCtrl.value : 'viewValue'"
                            [value]="item.value">
                            {{item.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-sm-3">
                      <mat-form-field>
                        <mat-select formControlName="status" placeholder="Status">
                          <mat-option>
                            <ngx-mat-select-search [formControl]="statusCtrl" alphabetOnly
                              [placeholderLabel]="'Select Status ...'"
                              [noEntriesFoundLabel]="'no matching Status found'">
                            </ngx-mat-select-search>
                          </mat-option>
                          <mat-option>-- None --</mat-option>
                          <mat-option
                            *ngFor="let item of statusList | filterSelectInput : statusCtrl.value : 'viewValue'"
                            [value]="item.value">
                            {{item.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <!-- action button -->
                    <div class="form-action-button">
                      <button type="submit" mat-raised-button color="primary">
                        <i class="material-icons" aria-hidden="true" title="search">search</i>
                        Search
                      </button>
                      <button type="reset" mat-raised-button color="accent" (click)="clearForm();">
                        <i class="material-icons" aria-hidden="true" title="reset">
                          restore
                        </i>
                        Reset
                      </button>
                    </div>
                    <!-- action button  end -->

                  </div>
                </div>
              </div>
            </form>
            <!-- form end -->
          </div>

          <!-- table start -->
          <div class="mat-elevation-z8 mt-2">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">

              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef scope="row">
                  <mat-checkbox (change)="$event ? directiveObj.masterToggle(dataSource) : null"
                    [checked]="directiveObj.selection.hasValue() && directiveObj.isAllSelected(dataSource)"
                    [indeterminate]="directiveObj.selection.hasValue() && !directiveObj.isAllSelected(dataSource)"
                    [aria-label]="directiveObj.checkboxLabel(dataSource)">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row" class="centerAlign">
                  <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? directiveObj.selection.toggle(row) : null;"
                    [checked]="directiveObj.selection.isSelected(row)"
                    [aria-label]="directiveObj.checkboxLabel(dataSource,row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="budgetCode">
                <th mat-header-cell *matHeaderCellDef scope="row">Budget Code</th>
                <td mat-cell *matCellDef="let element">
                  {{element.budgetCode}}
                </td>
              </ng-container>

              <ng-container matColumnDef="edpCode">
                <th mat-header-cell *matHeaderCellDef scope="row">EDP Code</th>
                <td mat-cell *matCellDef="let element">
                  {{element.edpCode}}
                </td>
              </ng-container>

              <ng-container matColumnDef="edpCodedescription">
                <th mat-header-cell *matHeaderCellDef scope="row">EDP Code Description</th>
                <td mat-cell *matCellDef="let element">
                  {{element.edpCodedescription}}
                </td>
              </ng-container>

              <ng-container matColumnDef="objectClass">
                <th mat-header-cell *matHeaderCellDef scope="row">Object Class</th>
                <td mat-cell *matCellDef="let element" class="centerAlign">
                  {{element.objectClass}}
                </td>
              </ng-container>

              <ng-container matColumnDef="edpCodeType">
                <th mat-header-cell *matHeaderCellDef scope="row">EDP Code Type</th>
                <td mat-cell *matCellDef="let element">
                  {{element.edpCodeType}}
                </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef scope="row">Status</th>
                <td mat-cell *matCellDef="let element">
                  {{element.status}}
                </td>
              </ng-container>

              <!-- Header Section Of table -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <!-- Data Fetch From .TS File to table -->
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <!-- paginator -->
            <mat-paginator [length]="100" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons>
            </mat-paginator>
          </div>
          <!-- table end -->
        </mat-tab>
        <!-- expenditure end -->

        <!-- receipt start -->
        <mat-tab>
          <ng-template mat-tab-label>
            Receipt
          </ng-template>

          <div class="mat-elevation-z8 mt-2 ">

            <!-- form start -->
            <form [formGroup]="smartSearchReceipt" (ngSubmit)="onSearchReceipt()">
              <div class="box box-primary">
                <div class="box-header"> Search </div>
                <div class="box-body">
                  <div class="row">

                    <!-- edp Code -->
                    <div class="col-sm-3">
                      <mat-form-field>
                        <mat-select formControlName="edpCode" placeholder="EDP Code">
                          <mat-option>
                            <ngx-mat-select-search [formControl]="edpCodeCtrl"
                              [placeholderLabel]="'Select EDP Code ...'"
                              [noEntriesFoundLabel]="'no matching EDP Code found'" numbersOnly>
                            </ngx-mat-select-search>
                          </mat-option>
                          <mat-option>-- None --</mat-option>
                          <mat-option
                            *ngFor="let item of edpCodeListReceipt | filterSelectInput : edpCodeCtrl.value : 'viewValue'"
                            [value]="item.value">
                            {{item.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                    </div>

                    <!-- edp Code description -->
                    <div class="col-sm-3">
                      <mat-form-field>
                        <input matInput placeholder="EDP Code Description" formControlName="edpCodedescription" />
                      </mat-form-field>
                    </div>

                    <!-- deduction type -->
                    <div class="col-sm-3">
                      <mat-form-field>
                        <mat-select formControlName="deductionType" placeholder="Deduction Type">
                          <mat-option>
                            <ngx-mat-select-search [formControl]="deductionTypeCtrl" alphabetOnly
                              [placeholderLabel]="'Select Deduction Type ...'"
                              [noEntriesFoundLabel]="'no matching Deduction Type found'">
                            </ngx-mat-select-search>
                          </mat-option>
                          <mat-option>-- None --</mat-option>
                          <mat-option
                            *ngFor="let item of deductionTypeList | filterSelectInput : deductionTypeCtrl.value : 'viewValue'"
                            [value]="item.value">
                            {{item.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <!-- major head -->
                    <div class="col-sm-3">
                      <mat-form-field>
                        <mat-select formControlName="majorHead" placeholder="Major Head">
                          <mat-option>
                            <ngx-mat-select-search [formControl]="majorHeadCtrl" numbersOnly
                              [placeholderLabel]="'Select Major Head ...'"
                              [noEntriesFoundLabel]="'no matching Major Head found'">
                            </ngx-mat-select-search>
                          </mat-option>
                          <mat-option>-- None --</mat-option>
                          <mat-option
                            *ngFor="let item of majorHeadList | filterSelectInput : majorHeadCtrl.value : 'viewValue'"
                            [value]="item.value">
                            {{item.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <!-- action button -->
                    <div class="form-action-button">
                      <button type="submit" mat-raised-button color="primary">
                        <i class="material-icons" aria-hidden="true" title="Search">search</i>
                        Search
                      </button>
                      <button type="reset" mat-raised-button color="accent" (click)="clearSmartSearchForm();">
                        <i class="material-icons" aria-hidden="true" title="Reset">
                          restore
                        </i>
                        Reset
                      </button>
                    </div>
                    <!-- action button  ends-->
                  </div>
                </div>
              </div>
            </form>
            <!-- form end -->

          </div>

          <!-- listing start -->
          <div class="mat-elevation-z8 mt-2">
            <table mat-table [dataSource]="dataSourceReceipt" class="mat-elevation-z8 ">

              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef scope="row">
                  <mat-checkbox (change)="$event ? directiveObj.masterToggle1(dataSourceReceipt) : null"
                    [checked]="directiveObj.selection.hasValue() && directiveObj.isAllSelected1(dataSourceReceipt)"
                    [indeterminate]="directiveObj.selection.hasValue() && !directiveObj.isAllSelected1(dataSourceReceipt)"
                    [aria-label]="directiveObj.checkboxLabel1(dataSourceReceipt)">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row" class="centerAlign">
                  <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? directiveObj.selection.toggle(row) : null;"
                    [checked]="directiveObj.selection.isSelected(row)"
                    [aria-label]="directiveObj.checkboxLabel1(dataSourceReceipt,row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="edpCode">
                <th mat-header-cell *matHeaderCellDef scope="row">EDP Code</th>
                <td mat-cell *matCellDef="let element">
                  {{element.edpCode}}
                </td>
              </ng-container>

              <ng-container matColumnDef="edpCodedescription">
                <th mat-header-cell *matHeaderCellDef scope="row">EDP Code Description</th>
                <td mat-cell *matCellDef="let element">
                  {{element.edpCodedescription}}
                </td>
              </ng-container>

              <ng-container matColumnDef="deductionType">
                <th mat-header-cell *matHeaderCellDef scope="row">Deduction Type</th>
                <td mat-cell *matCellDef="let element" class="centerAlign">
                  {{element.deductionType}}
                </td>
              </ng-container>

              <ng-container matColumnDef="majorHead">
                <th mat-header-cell *matHeaderCellDef scope="row">Major Head</th>
                <td mat-cell *matCellDef="let element">
                  {{element.majorHead}}
                </td>
              </ng-container>

              <ng-container matColumnDef="subMajorHead">
                <th mat-header-cell *matHeaderCellDef scope="row">Sub Major Head</th>
                <td mat-cell *matCellDef="let element">
                  {{element.subMajorHead}}
                </td>
              </ng-container>

              <ng-container matColumnDef="minorHead">
                <th mat-header-cell *matHeaderCellDef scope="row">Minor Head</th>
                <td mat-cell *matCellDef="let element">
                  {{element.minorHead}}
                </td>
              </ng-container>

              <ng-container matColumnDef="subHead">
                <th mat-header-cell *matHeaderCellDef scope="row">Sub Head</th>
                <td mat-cell *matCellDef="let element">
                  {{element.subHead}}
                </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef scope="row">Status</th>
                <td mat-cell *matCellDef="let element">
                  {{element.status}}
                </td>
              </ng-container>

              <!-- Header Section Of table -->
              <tr mat-header-row *matHeaderRowDef="displayedColumnsReceipt"></tr>
              <!-- Data Fetch From .TS File to table -->
              <tr mat-row *matRowDef="let row; columns: displayedColumnsReceipt;"></tr>
            </table>

            <!-- paginator -->
            <mat-paginator [length]="100" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons>
            </mat-paginator>
          </div>
          <!-- listing end -->

        </mat-tab>
        <!-- receipt end -->

      </mat-tab-group>

      <!-- common action button start -->
      <div class="form-action-button">
        <button type="submit" mat-raised-button color="primary" title="Update" (click)="update()">

          Update
        </button>
        <button type="submit" mat-raised-button color="primary" title="Activate" (click)="activate()">

          Activate
        </button>
        <button type="submit" mat-raised-button color="primary" title="Inactivate" (click)="inactivate()">

          Inactivate
        </button>
        <button type="button" mat-raised-button (click)="goToDashboard()" class="btnClose">
          <i class="material-icons" aria-hidden="true" title="Budget dashboard">
            close
          </i>
          Close
        </button>
      </div>
      <!-- common action button end -->

    </div>
  </div>
</div>