.disabled {
    cursor: not-allowed;
    border: 1px solid #CCC;
    color: #CCC;
}
.disabled-checkbox {
    cursor: not-allowed;
    color: #CCC;
}
.hyper-link {
    cursor: pointer;
    font-weight: 600;
}
.hyper-link:hover {
    text-decoration: underline !important;
}