/* table.mat-table tr.unsetHeight {
    height: unset !important;
    background: #FFF;
} */
td,th {
    width: 7.14285 !important%;
}

.coldisable {
    background: #f1f1f1;
    color: #9199a1;
    -webkit-box-pack: end;
    justify-content: flex-end;
}


/* .gray-color{
width: 100%;
background:#efefef !important;
} */

::ng-deep .mat-tab-header,
.mat-tab-nav-bar {
    border-bottom: none;
}

::ng-deep .mat-tab-group .mat-tab-header .mat-tab-label {
        height: 32px;
        
}

/* ::ng-deep .mat-tab-group .mat-tab-header .mat-tab-label-active {
    background: #5783a6;
    opacity: 1;
    color: #FFF;
    border-radius: 4px 4px 0 0;
    border-top: 1px solid #5783a6;
    border-left: 1px solid #5783a6;
    border-right: 1px solid #5783a6;
} */

/* ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #356a94;
} */

.form-action-button {
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin-top:1em;  */
}

.form-action-button button {
    margin: 10px 10px 3px;
}

.mat-raised-button {
    border-radius: 4px;
}

/* ::ng-deep .mat-tab-body-wrapper {
    border: 1px solid #e6e6e6;
    padding: 0.5em 1em;
    z-index: 0;
} */

.green {
    background: green;
    color: #fff;
}

mat-cell>span {
    width: 100%;
}

.saveFloatButton {
    z-index: 999999;
    position: absolute;
    left: -36px;
    top: -36px;
}

.back-button {
    background: #82786c !important;
    color: white;
}

#districtTable .mat-header-cell:first-child,
#districtTable .mat-cell:first-child {
    flex: 0 0 10%;
    white-space: nowrap;
}

.standing-tab-contain {
    width: 100%;
    display: flex;
    margin: 2em 0px;
    display: none;
}

.standing-tab-contain ul {
    width: 100%;
    display: flex;
}

.standing-tab-contain ul li {
    width: 25%;
    display: inline-flex;
    background: black;
    height: 2px;
    position: relative;
}

.dot {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: -9px;
    background: red;
    border-radius: 100%;
}

.last-tab {
    width: auto !important;
}


/* .standing-est-tabing{

} */

.next-button {
    justify-content: flex-end;
}

.rsClass {
    display: block;
    font-size: 12px;
    text-align: right;
    font-weight: 600;
}

/* ::ng-deep .mat-form-field-required-marker {
    color: red;
} */

.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
    background-color: #356a94;
}

/* ::ng-deep .mat-table .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: .6em;
    
} */

/* ::ng-deep .mat-table .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px !important;
    border-bottom: 1px dotted #CCC;
    background-color: unset;
    bottom: 0.60em;
} */

/* ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px !important;
    border-bottom: 1px dotted #CCC;
    background-color: unset;
    
} */

/* ::ng-deep .mat-form-field-hide-placeholder .mat-select-placeholder {
    color: rgba(0, 0, 0, .42) !important;
    -webkit-text-fill-color: rgba(0, 0, 0, .42) !important;
} */

/* ::ng-deep .mat-autocomplete-panel .mat-option {
    height: 35px;
    line-height: 1.5;
    border-bottom: 1px dotted #e8e8e8;
} */

.mat-table mat-row:nth-child(odd) {
    background: #f9f9f9;
}

.mat-table tr:nth-child(even) {
    background: #f9f9f9;
}

.iconTable {
    margin: auto;
    display: table;
}

.font-heading[_ngcontent-c2] b[_ngcontent-c2] {
    font-weight: bold;
}

#outSourceTable .mat-header-row .mat-header-cell:last-child {
    width: 14%;
}

.example-first-footer-row {
    font-weight: bold;
}