<div class="container">
  <div class="form-wrapper">
    <!-- Header Section -->
    <div class="heading-section ng-star-inserted">
      <div>Account Generation Details</div>
      <div class="font-heading"><strong>Reference No:</strong> 19-20/DPPF-NPS/AGD/001</div>
      <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}</div>
    </div>
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item " aria-current="page"><a href="javascript:void(0)">DPPF - NPS</a></li>
        <li class="breadcrumb-item active" aria-current="page">Account Generation Details</li>
      </ol>
    </nav>
    <!-- Search Account Generation Details -->
    <mat-accordion class="search-accordian">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <div class="heading-section">
            Search
          </div>
        </mat-expansion-panel-header>
        <div class=" form-datatable-list">
          <form class="col-sm-12" [formGroup]="inwardDetailFormList">
            <div class="row">

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput formControlName="inwardNo" placeholder="Inward No." numbersAlphabetsSpaceOnly>
                  <mat-icon matSuffix class="searchIcon" (click)="openDialogInwardNumber()">
                    search</mat-icon>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput formControlName="ppanNo" placeholder="PPAN No." numbersOnly>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="inwardDate" [max]='maxDate' [matDatepicker]="inwardDatePicker"
                    placeholder="Inward  Date" dateOnly />
                  <mat-datepicker-toggle matSuffix [for]="inwardDatePicker">
                  </mat-datepicker-toggle>
                  <mat-datepicker #inwardDatePicker></mat-datepicker>
                </mat-form-field>
              </div>


              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput placeholder="First Name" formControlName="firstName" charactersOnly>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput placeholder="Middle Name" formControlName="middleName" charactersOnly>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput placeholder="Last Name" formControlName="lastName" charactersOnly>
                </mat-form-field>
              </div>



              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="employeeClass" placeholder="Employee Class">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="typeOfEmployeeClassCtrl"
                        [placeholderLabel]="'Find Employee Class...'"
                        [noEntriesFoundLabel]="'no matching Employee Class found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="
                      let CE of classTypeOfEmployeeClass
                        | filterSelectInput: typeOfEmployeeClassCtrl.value
                    " [value]="CE.value" matTooltip="{{ CE.viewValue }}">
                      {{ CE.viewValue }}
                    </mat-option>
                  </mat-select>

                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="employeeType" placeholder="Employee Type">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="typeOfEmployeeTypeCtrl"
                        [placeholderLabel]="'Find Employee Type...'"
                        [noEntriesFoundLabel]="'no matching Employee Type found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="
                      let CE of classTypeOfEmployeeType
                        | filterSelectInput: typeOfEmployeeTypeCtrl.value
                    " [value]="CE.value" matTooltip="{{ CE.viewValue }}">
                      {{ CE.viewValue }}
                    </mat-option>
                  </mat-select>

                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="dob" [matDatepicker]="dobPicker" placeholder="Date Of Birth"
                    dateOnly />
                  <mat-datepicker-toggle matSuffix [for]="dobPicker">
                  </mat-datepicker-toggle>
                  <mat-datepicker #dobPicker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="doj" [matDatepicker]="dojPicker"
                    placeholder="Date Of Joining (Full Pay)" dateOnly />
                  <mat-datepicker-toggle matSuffix [for]="dojPicker">
                  </mat-datepicker-toggle>
                  <mat-datepicker #dojPicker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="status" placeholder="Status">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="statusCTRL" [placeholderLabel]="'Find Status...'"
                        [noEntriesFoundLabel]="'No matching Status found'" alphabetsSpaceOnly>
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let statusName of statusList | filterSelectInput:statusCTRL.value"
                      [value]="statusName.value">
                      {{statusName.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="inwardFromDate" [matDatepicker]="inwardFromDate"
                    placeholder="Inward From Date" dateOnly />
                  <mat-datepicker-toggle matSuffix [for]="inwardFromDate">
                  </mat-datepicker-toggle>
                  <mat-datepicker #inwardFromDate></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="inwardToDate" [matDatepicker]="inwardToDate"
                    placeholder="Inward To Date" dateOnly />
                  <mat-datepicker-toggle matSuffix [for]="inwardToDate">
                  </mat-datepicker-toggle>
                  <mat-datepicker #inwardToDate></mat-datepicker>
                </mat-form-field>
              </div>

            </div>
          </form>
        </div>

        <div class="form-action-button">
          <button type="submit" mat-raised-button color="primary">
            <i class="material-icons" aria-hidden="true" title="search">search</i>
            Search</button>&nbsp;&nbsp;&nbsp;
          <button type="reset" mat-raised-button color="accent" (click)="directiveObj.resetForm(inwardDetailFormList)">
            <i class="material-icons" aria-hidden="true" title="reset">
              restore
            </i>
            Reset
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- End Search Account Generation Details -->
    <br>
    <!-- Table  Account Generation Details -->
    <div class="overflow-x-auto">
      <div class="mat-elevation-z8 table-responsive mt-2">
        <table mat-table [dataSource]="dataSource" width="100%" matSort aria-describedby="listinginwardscreen">
          <!-- Sr. No. -->
          <ng-container matColumnDef="srno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
              Sr. No.
            </th>
            <td mat-cell *matCellDef="let element; let i = index" class="centerAlign">
              {{ i+1 }}
            </td>
          </ng-container>
          <!-- Inward Number -->
          <ng-container matColumnDef="inwardNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
              Inward Number
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ element.inwardNo }}
            </td>
          </ng-container>
          <!-- Inward Date -->
          <ng-container matColumnDef="inwardDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
              Inward Date
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.inwardDate }}
            </td>
          </ng-container>
          <!-- Name -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
              Name
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.name }}
            </td>
          </ng-container>
          <!-- Employee Class -->
          <ng-container matColumnDef="employeeClass">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
              Employee Class
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.employeeClass }}
            </td>
          </ng-container>
          <!-- Employee Type -->
          <ng-container matColumnDef="employeeType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
              Employee Type
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <mat-label>{{ element.employeeType }}
              </mat-label>
            </td>
          </ng-container>
          <!-- Date Of Birth -->
          <ng-container matColumnDef="dob">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
              Date Of Birth
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.dob }}
            </td>
          </ng-container>
          <!-- Date Of Joining (Full Pay) -->
          <ng-container matColumnDef="doj">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
              Date Of Joining (Full Pay)
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.doj }}
            </td>
          </ng-container>
          <!-- Status -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
              Status
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.status }}
            </td>
          </ng-container>
          <!-- Lying With -->
          <ng-container matColumnDef="lyingWith">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
              Lying With
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.lyingWith }}
            </td>
          </ng-container>
          <!-- Action -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef scope="row">Action</th>
            <td mat-cell *matCellDef="let element; let i = index" class="action-btn-i centerAlign">
              <a [routerLink]="'../change-of-scale-emp-creation'"><i class="material-icons plus view-icon" title="Edit"
                  aria-hidden="true">edit</i></a>
              <a [routerLink]="'../change-of-scale-emp-creation'"><i class="material-icons plus view-icon" title="View"
                  aria-hidden="true">remove_red_eye</i></a>
            </td>
          </ng-container>
          <!-- Header Section Of table -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <!-- Data Fetch From .TS File to table -->
          <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns"></tr>
        </table>
        <!-- Paginator -->
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

      </div>
    </div>
    <!-- End  Table  Account Generation Details -->