.mat-table td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    text-align: left;
}

.form-datatable-list {
    padding: 0px 0px;
    overflow: auto;
}

/* ::ng-deep .highlighted {
    background: #9ab0b6 !important;
    color: #FFF;
}

::ng-deep .highlighted-second {
    background: #9bb5ca !important;
    color: #000;
} */