::ng-deep .mat-content {
    flex: unset !important;
}

::ng-deep .mat-expansion-indicator {
    margin-left: auto;
}

::ng-deep .mat-checkbox {
    margin-left: 10px;
}

::ng-deep .officername {
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 10px 0px;
}

::ng-deep .form-action-button {
    margin-bottom: 5px;
}