.pension-history-table {
    border: 1px solid #000;
}

.pension-history-table tr td,
.pension-history-table tr th {
    border: 1px solid #000;
}

.pension-header {
    background-color: lightgray;
    padding: 10px;
    border: 1px dashed;
}

.pension-mat-icon {
    font-size: 16px;
    vertical-align: -webkit-baseline-middle;
}

::ng-deep .cdk-overlay-pane {
    max-width: 95vw !important;
    margin: 0px auto !important;
}

::ng-deep .mat-radio-inner-circle {
    height: 19px!important;
    left: 3px!important;
    width: 19px!important;
}