
.history
{
    text-align:right !important; 
}

.success {
    color: aliceblue;
    background-color: #228c22;
}

.mat-footer-row,
mat-header-row,
mat-row {
    align-items: unset;
    border-bottom-width: 0px;
}

::ng-deep .example-chip-list .mat-form-field-wrapper {
    font-size: 13px;
}

table.mat-table thead {
    color: black;
    background: #f2f2f2;
    color: black;
    font-size: 14px;
}

::ng-deep .mat-tab-header,
.mat-tab-nav-bar {
    border-bottom: none;
}

mat-cell>span {
    width: 100%;
}

.mat-drawer.mat-drawer-side {
    z-index: 2;
    position: fixed;
    width: 320px;
    background: #f3f2f8;
}

.disable-delete-btn {
    pointer-events: none;
    color: #333;
}

.selected-row {
    background: #f7f0ee !important;
    /* color: white !important; */
}

::ng-deep .mat-pseudo-checkbox {
    margin-left: 10px;
}

::ng-deep .mat-pseudo-checkbox ::ng-deep .mat-option-text {
    margin-left: 15px;
}


/* ::ng-deep.mat-option .mat-option-text{
  margin-left: 15px;
} */

::ng-deep.mat-option .mat-pseudo-checkbox {
    position: relative !important;
}

::ng-deep.mat-option .mat-option-pseudo-checkbox {
    margin-left: 0px;
}

.historyDataSource[_ngcontent-c26] tr[_ngcontent-c26] td.mat-cell[_ngcontent-c26]:last-of-type,
.historyDataSource[_ngcontent-c26] tr[_ngcontent-c26] th.mat-header-cell[_ngcontent-c26]:last-of-type {
    min-width: 400px;
    max-width: 500px;
}


/* temperory code for view comments*/

::ng-deep .mat-dialog-container {
    padding: 0px;
}


/* .forward-module-container{
  width: 100%;  
  padding-top: 10px;
} */


/* ::ng-deep .mat-expansion-panel{
  margin: 10px !important;
} */

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

#parent {
    display: flex;
    min-height: 20px;
    width: 100%;
}

#block1 {
    flex-grow: 1;
    flex-direction: row;
    /* resize: horizontal; */
    resize: both;
    overflow: auto;
    cursor: nw-resize;
}

#block2 {
    flex-grow: 1;
    flex-direction: row-reverse;
    max-width: 100% !important;
    background: #f9f9f9;
    margin-left: 5px;
    box-sizing: border-box;
}

::ng-deep .mat-card {
    background: #f9f9f9;
}

::ng-deep .mat-icon {
    float: right;
}

mat-icon:hover {
    color: #0433e0;
}

::ng-deep .mat-icon {
    float: right;
}

::ng-deep .mat-expansion-panel-header-description {
    display: block !important;
}

::ng-deep .pdfViewer .canvasWrapper {
    display: block;
}

::ng-deep .page,
 ::ng-deep .canvasWrapper,
 ::ng-deep #page2,
 ::ng-deep .textLayer {
    min-width: 400px !important;
}

.justifycontent.ng-star-inserted {
    text-align: justify !important
}

.flexicon {
    display: flex;
    margin-bottom: 0px;
}

.attachmentType {
    min-width: 92px !important;
    padding: 5px;
    cursor: pointer;
    align-items: center;
    display: flex;
    align-items: center;
}

.column-box[_ngcontent-c19] {
    padding-bottom: 0px;
}

.mat-checkbox label.mat-checkbox-layout {
    margin-bottom: 0px;
}

.cover-box {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: 1px solid #333333;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.mat-checkbox-layout .mat-checkbox-label {
    white-space: nowrap;
}

.check-box-contain-list .heading-txt {
    font-weight: bold;
}

.check-box-contain-list {
    width: 100%;
}

.check-box-list-btn {
    margin-right: 10px;
}

.e-heading-txt {
    justify-content: space-between;
}

label.txt-heading {
    margin-bottom: 0px;
}


/* .forward-module-container{
  display: flex;
  flex-direction: row;
} */

.mat-list .mat-list-item,
.mat-list .mat-list-option,
.mat-nav-list .mat-list-item,
.mat-nav-list .mat-list-option,
.mat-selection-list .mat-list-item,
.mat-selection-list .mat-list-option {
    height: auto !important;
}


/* temperory code for view comments ends here */

::ng-deep .mat-select-search-no-entries-found {
    position: absolute;
    /* top: 22px; */
    top: calc(100% - 0.4375em);
    font-size: 11px;
    padding: 0px !important;
}
a { cursor: pointer;}
