<div class="container">
  <div class="form-wrapper">
    <div class="heading-section ng-star-inserted">
      <div>Load Balancer HA Listing </div>

    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item " aria-current="page">E-PAO</li>
        <li class="breadcrumb-item active" aria-current="page">Load Balancer HA Listing</li>
      </ol>
    </nav>
    <div class="panel-group">
      <mat-accordion class="search-accordian">
        <mat-expansion-panel [expanded]="true">
          <!-- Load Balancer HA -->
          <mat-expansion-panel-header>
            <div class="heading-section">
              Search
            </div>
          </mat-expansion-panel-header>
          <form class="col-sm-12" [formGroup]="scrollForm" (ngSubmit)="scrollData()">
            <div class="row">
              <!-- Bank Name -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="bankName" placeholder="Bank Name">
                </mat-form-field>
              </div>
              <!-- SA/DA -->
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="saDa" placeholder="SA/DA">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="saDaCtrl" [placeholderLabel]="'Find SA/DA...'"
                        [noEntriesFoundLabel]="'no matching SA/DA found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="let va of sada_list | filterSelectInput:saDaCtrl.value" [value]="va.value"
                      [matTooltip]="va.viewValue">
                      {{va.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- No. Of Challan -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="noOfChallan" placeholder="No. Of Challan">
                </mat-form-field>
              </div>
              <!-- Amount -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="amount" placeholder="Amount">
                </mat-form-field>
              </div>
              <!-- Total Challan -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="totChallan" placeholder="Total Challan">
                </mat-form-field>
              </div>
              <!-- Total Amount -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="totAmount" placeholder="Total Amount">
                </mat-form-field>
              </div>
              <!-- From SA/DA -->
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="fromSaDa" placeholder="From SA/DA">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="fromSaDaCtrl" [placeholderLabel]="'Find From SA/DA...'"
                        [noEntriesFoundLabel]="'no matching From SA/DA found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="let va of sada_list | filterSelectInput:fromSaDaCtrl.value"
                      [matTooltip]="va.viewValue" [value]="va.value">
                      {{va.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- Bank -->
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="bank" placeholder="Bank">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="bankCtrl" [placeholderLabel]="'Find Bank...'"
                        [noEntriesFoundLabel]="'no matching Bank found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="let va of branch_list | filterSelectInput:bankCtrl.value"
                      [matTooltip]="va.viewValue" [value]="va.value">
                      {{va.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- To SA/DA -->
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="toSaDa" placeholder="To SA/DA">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="toSaDaCtrl" [placeholderLabel]="'Find To SA/DA...'"
                        [noEntriesFoundLabel]="'no matching To SA/DA found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="let va of sada_list | filterSelectInput:toSaDaCtrl.value"
                      [matTooltip]="va.viewValue" [value]="va.value">
                      {{va.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- Challan Amount -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput numbersOnly formControlName="chaAmount" placeholder="Challan Amount">
                </mat-form-field>
              </div>

            </div>
            <!-- common button -->
            <div class="form-action-button">
              <button type="submit" mat-raised-button color="primary">
                <i class="material-icons" aria-hidden="true">search</i>
                Search
              </button>
              <button type="reset" mat-raised-button color="accent">
                <i class="material-icons" aria-hidden="true">
                  restore
                </i>
                Reset
              </button>
            </div>
            <!-- end common button -->
          </form>
          <!-- End Load Balancer HA -->
        </mat-expansion-panel>

      </mat-accordion>
      <br>
      <!-- load Balancer Table -->
      <table mat-table [dataSource]="newdataSource" class="mat-elevation-z8" aria-describedby="loadBalancer">
        <!-- sr no -->
        <ng-container matColumnDef="srNo">
          <th mat-header-cell *matHeaderCellDef scope="row">
            Sr No.
          </th>
          <td mat-cell *matCellDef="let row; let i = index" class=" centerAlign">
            {{i + 1}}
          </td>
        </ng-container>
        <!-- Bank Name -->
        <ng-container matColumnDef="bankName">
          <th mat-header-cell *matHeaderCellDef scope="row"> Bank Name </th>
          <td mat-cell *matCellDef="let element">
            {{element.bankName}}
          </td>
        </ng-container>
        <!-- SA/DA -->
        <ng-container matColumnDef="saDa">
          <th mat-header-cell *matHeaderCellDef scope="row"> SA/DA </th>
          <td mat-cell *matCellDef="let element">
            {{element.saDA}}
          </td>
        </ng-container>
        <!-- No. Of Challan  -->
        <ng-container matColumnDef="noOfChallan">
          <th mat-header-cell *matHeaderCellDef scope="row"> No. Of Challan </th>
          <td mat-cell *matCellDef="let element">
            {{element.noOfChallan}}
          </td>
        </ng-container>
        <!-- Amount -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef scope="row"> Amount </th>
          <td mat-cell *matCellDef="let element" class="rightAlign">
            {{element.amount}}
          </td>
        </ng-container>
        <!-- Total Challan -->
        <ng-container matColumnDef="totalChallan">
          <th mat-header-cell *matHeaderCellDef scope="row"> Total Challan </th>
          <td mat-cell *matCellDef="let element">
            {{element.totalChallan}}
          </td>
        </ng-container>
        <!-- Total Amount -->
        <ng-container matColumnDef="totalAmount">
          <th mat-header-cell *matHeaderCellDef scope="row"> Total Amount </th>
          <td mat-cell *matCellDef="let element" class="rightAlign">
            {{element.totalAmount}}
          </td>
        </ng-container>
        <!-- From SA/DA  -->
        <ng-container matColumnDef="fromSaDA">
          <th mat-header-cell *matHeaderCellDef scope="row"> From SA/DA </th>
          <td mat-cell *matCellDef="let element">
            {{element.fromSaDA}}
          </td>
        </ng-container>
        <!-- Bank -->
        <ng-container matColumnDef="bank">
          <th mat-header-cell *matHeaderCellDef scope="row"> Bank </th>
          <td mat-cell *matCellDef="let element">
            {{element.bank}}
          </td>
        </ng-container>
        <!-- To SA/DA -->
        <ng-container matColumnDef="toSaDA">
          <th mat-header-cell *matHeaderCellDef scope="row"> To SA/DA </th>
          <td mat-cell *matCellDef="let element">
            {{element.toSaDA}}
          </td>
        </ng-container>
        <!-- Challan Amount -->
        <ng-container matColumnDef="challanAmount">
          <th mat-header-cell *matHeaderCellDef scope="row"> Challan Amount </th>
          <td mat-cell *matCellDef="let element" class="rightAlign">
            {{element.challanAmount}}
          </td>
        </ng-container>
        <!-- action -->
        <ng-container matColumnDef="newaction">
          <th mat-header-cell *matHeaderCellDef scope="row"> Action</th>
          <td mat-cell *matCellDef="let element" class="action-btn-i centerAlign">
            <a><i class="material-icons plus edit-icon" aria-hidden="true" title="Edit"> edit </i></a>
            <a class="delete-icon"><i class="material-icons plus delete" aria-hidden="true"
                title="delete">delete_forever</i></a>
          </td>
        </ng-container>

        <!-- Header Section Of table -->
        <tr mat-header-row *matHeaderRowDef="newdisplayedColumns"></tr>
        <!-- Data Fetch From .TS File to table -->
        <tr mat-row *matRowDef="let row; columns: newdisplayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      <!-- end table load balancer -->
      <!-- common button -->
      <div class="form-action-button">

        <button type="button" mat-raised-button class="btnClose">
          <i class="material-icons" aria-hidden="true" title="Budget dashboard">
            close
          </i>
          Close
        </button>
      </div>
      <!-- end common button -->
    </div>
  </div>
</div>