<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>View Grievance Status</div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item " aria-current="page"><a href="#">PPO</a></li>
                <li class="breadcrumb-item active" aria-current="page">View Grievance Status</li>
            </ol>
        </nav>

        <div class="panel-group">
            <form [formGroup]="grievanceViewStatusForm" (ngSubmit)="grievanceViewStatusFormData()">
                <!-- search fields -->
                <mat-accordion class="colapsedata">
                    <mat-expansion-panel [expanded]="false" class="nopadding">
                        <mat-expansion-panel-header>
                            <div class="heading-section">Search</div>
                        </mat-expansion-panel-header>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <input matInput name="registrationNo" placeholder="Registration Number" formControlName="registrationNo" maxlength="11" numbersOnly required>
                                        <div class="error-wrapper" *ngIf="grievanceViewStatusForm.controls.registrationNo.touched && grievanceViewStatusForm.controls.registrationNo.errors">
                                            <mat-error *ngIf="grievanceViewStatusForm.controls.registrationNo.errors.required">
                                                {{errorMessage.REGISTRATION_NUM}}
                                            </mat-error>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-action-button">
                                    <button type="submit" mat-raised-button color="primary" title="Save As Draft">
                                        <i class="material-icons" aria-hidden="true">search</i> Search
                                    </button>
                                    <button type="reset" mat-raised-button color="accent">
                                        <i class="material-icons" aria-hidden="true">
                                            restore
                                        </i>
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>

                <br>
                <!-- filtered data table -->
                <table mat-table [dataSource]="grievenceDataSource" class="mat-elevation-z8 " aria-describedby="grievanceViewStatus">

                    <ng-container matColumnDef="registrationNo">
                        <th mat-header-cell *matHeaderCellDef scope="row">Registration Number</th>
                        <td mat-cell *matCellDef="let element">
                            <a href="#">{{element.registrationNo}}</a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="pensionerName">
                        <th mat-header-cell *matHeaderCellDef scope="row">Pensioner Name</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.pensionerName}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="dateOfReceipt">
                        <th mat-header-cell *matHeaderCellDef scope="row">Date Of Grievance</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.dateOfReceipt}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="officerName">
                        <th mat-header-cell *matHeaderCellDef scope="row">Officer Name</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.officerName}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="emailID">
                        <th mat-header-cell *matHeaderCellDef scope="row">Email Id</th>
                        <td mat-cell *matCellDef="let element">
                            <a href="#">{{element.emailID}}</a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="currentStatus">
                        <th mat-header-cell *matHeaderCellDef scope="row">Current Status</th>
                        <td mat-cell *matCellDef="let element">
                            <a href="#">{{element.currentStatus}}</a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="remarks">
                        <th mat-header-cell *matHeaderCellDef scope="row">Remarks</th>
                        <td mat-cell *matCellDef="let element">
                            <a href="#">{{element.remarks}}</a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef scope="row">Feedback</th>
                        <td mat-cell *matCellDef="let element" class="centerAlign">
                            <a (click)="openFeedbackDialog()" style="cursor: pointer;"><i
                                    class="material-icons plus view-icon" title="View"
                                    aria-hidden="true">feedback</i></a>
                        </td>
                    </ng-container>
                    <!-- Header Section Of table -->
                    <tr mat-header-row *matHeaderRowDef="grievenceColumn"></tr>
                    <!-- Data Fetch From .TS File to table -->
                    <tr mat-row *matRowDef="let row; columns: grievenceColumn;"></tr>
                </table>
                <!-- table ends -->
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                <!-- Common Button -->

                <div class="form-action-button">
                    <button type="button" mat-raised-button color="primary" title="Send Reminder" (click)="sendReminder()">
                        <i class="material-icons" aria-hidden="true">send</i> Send Reminder
                    </button>
                    <button type="button" mat-raised-button color="accent" (click)="viewReminder()">
                        <i class="material-icons" aria-hidden="true">
                            remove_red_eye
                        </i>
                        View Reminder
                    </button>
                </div>
                <!-- Common Button ends-->
            </form>
        </div>

    </div>
</div>