<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>Reverted Cheque Request</div>
            <div class="font-heading"><strong>Reference Number:</strong> 19-20/CI/RCR/001</div>
            <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}</div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Cheque Inventory</a></li>
                <li class="breadcrumb-item active" aria-current="page">Reverted Cheque Request</li>
            </ol>
        </nav>

        <div class="panel-group">
            <div class="row">
                <!-- reverted cheque request table -->
                <div class="col-sm-12">
                    <table mat-table [dataSource]="dataSource" width="100%" matSort
                        aria-describedby="revertIssuedChequeBook">

                        <!-- Sr. No. -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Sr. No.</th>
                            <td mat-cell *matCellDef="let element; let i = index;" class="centerAlign">
                                {{ i + 1 }} </td>
                        </ng-container>

                        <!-- Revision Type -->
                        <ng-container matColumnDef="revisionType">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Revision Type</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.revisionNo}}</td>
                        </ng-container>

                        <!-- From Series -->
                        <ng-container matColumnDef="fromSeries">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">From Series</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.fromSeries}}</td>
                        </ng-container>

                        <!-- To Series -->
                        <ng-container matColumnDef="toSeries">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">To Series</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.toSeries}}</td>
                        </ng-container>

                        <!-- Revision Date -->
                        <ng-container matColumnDef="revisionDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Revision Date</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.issueDate | date:'dd-MMM-yyyy'}}
                            </td>
                        </ng-container>

                        <!-- Cheque Book Type -->
                        <ng-container matColumnDef="chequeType">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Cheque Book Type</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.chequeType}}</td>
                        </ng-container>

                        <!-- Account No -->
                        <ng-container matColumnDef="accountNo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"> Account No</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.accountNo}}
                            </td>
                        </ng-container>

                        <!-- Account Name -->
                        <ng-container matColumnDef="accountName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Account Name</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.accountName}}</td>
                        </ng-container>

                        <!-- Remarks -->
                        <ng-container matColumnDef="remarks">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Remarks</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-form-field floatLabel="never">
                                    <input matInput [value]="element.remarks" [(ngModel)]="element.remarks"
                                        [ngModelOptions]="{standalone: true}" [disabled]='element.edit'>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <!-- action -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Action </th>
                            <td mat-cell *matCellDef="let element;let i = index;" class="action-btn-i centerAlign">
                                <a><i class="material-icons plus edit-icon" title="Edit" (click)="onEdit(element)"> edit
                                    </i></a>
                                <a class="delete-icon">
                                    <i class="material-icons plus delete" title="delete"
                                        (click)="delete(element)">delete_forever</i></a>
                            </td>
                        </ng-container>

                        <!-- Header column of Table -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                        <!-- Data fetch from .TS File  -->
                        <tr mat-row *matRowDef="let row; let i = index;columns: displayedColumns;"></tr>
                    </table>
                    <!-- table ends -->
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>

        <!-- action buttons -->
        <div class="form-action-button">
            <button type="button" mat-raised-button color="primary">
                <i class="material-icons" aria-hidden="true">
                    save as draft
                </i>
                Save
            </button>
            <button mat-raised-button type="submit" class="green"><i class="material-icons" aria-hidden="true">
                    done </i> Submit</button>


            <button type="button" mat-raised-button color="warn">
                <i class="material-icons" aria-hidden="true" title="Listing"> list </i>
                Listing
            </button>

            <button type="reset" mat-raised-button color="accent">
                <i class="material-icons" aria-hidden="true"> restore </i>
                Reset </button>
            <button type="submit" mat-raised-button class="print-btn"><i class="material-icons" title="print">print</i>
                Print</button>

            <button type="button" mat-raised-button color="secoundry" class="btnClose">
                <i class="material-icons" aria-hidden="true">close</i>Close</button>

        </div>
        <!-- action buttons ends-->

    </div>
</div>