<div class="container">
  <div class="form-wrapper">
    <div class="heading-section ng-star-inserted">
      <div>DDO Cadex Mapping</div>
      <div class="font-heading"><b>Reference No:</b> 19-20/PDPLA/CM/001</div>
      <div class="font-heading"><b>Reference Date:</b> {{ initiatiomdate | date: 'dd-MMM-yyyy HH:mm'}}</div>
    </div>
    <!-- Navigation starts -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item " aria-current="page">PDPLA</li>
        <li class="breadcrumb-item active" aria-current="page">DDO Cadex Mapping </li>
      </ol>
    </nav>
    <!-- Navigation ends -->
    <!-- DDO Cadex Mapping -->
    <div class="box box-primary">
      <div class="box-header">DDO Cadex Mapping</div>
      <div class="box-body">
        <form class="col-sm-12" [formGroup]="pdplaform">
          <div class="row">

            <div class="col-sm-6 col-md-3">
              <mat-form-field class="full-width">
                <input matInput formControlName="ddoNo" placeholder="DDO No" required>
                <div class="error-wrapper" *ngIf="pdplaform.controls.ddoNo.touched && pdplaform.controls.ddoNo.errors">
                  <mat-error *ngIf="pdplaform.controls.ddoNo.errors.required">
                    {{errorMessages.DDO_NO}}
                  </mat-error>
                </div>
              </mat-form-field>
            </div>


            <div class="col-sm-6 col-md-3">
              <mat-form-field class="full-width">
                <input matInput formControlName="cardexNo" placeholder="Cardex No" value="4" required>
                <div class="error-wrapper"
                  *ngIf="pdplaform.controls.cardexNo.touched && pdplaform.controls.cardexNo.errors">
                  <mat-error *ngIf="pdplaform.controls.cardexNo.errors.required">
                    {{errorMessages.CARDEX_NO}}
                  </mat-error>
                </div>
              </mat-form-field>
            </div>


            <div class="col-sm-6 col-md-3">
              <mat-form-field class="full-width">
                <input matInput formControlName="depaName" placeholder="Department Name" required>
                <div class="error-wrapper"
                  *ngIf="pdplaform.controls.depaName.touched && pdplaform.controls.depaName.errors">
                  <mat-error *ngIf="pdplaform.controls.depaName.errors.required">
                    {{errorMessages.DEPART_NAME}}
                  </mat-error>
                </div>
              </mat-form-field>
            </div>

            <div class="col-sm-6 col-md-3">
              <mat-form-field class="full-width">
                <input matInput placeholder="DDO Code">
              </mat-form-field>
            </div>


          </div>
          <!-- Common action button starts -->
          <div class="form-action-button">
            <button type="submit" mat-raised-button color="primary">
              <i class="material-icons" aria-hidden="true" title="Save">
                save
              </i>
              save
            </button>

            <button type="reset" mat-raised-button color="accent">
              <i class="material-icons" aria-hidden="true">
                restore
              </i>
              Reset
            </button>
          </div>
        </form>
      </div>
    </div>
    <br>

    <!--table-->
    <div class="table-responsive ">
      <table mat-table [dataSource]="dataSourcesplitProcess" width="100%" matSort aria-describedby="ddoCardexMapping">

        <ng-container matColumnDef="srNo">
          <th mat-header-cell *matHeaderCellDef class="srnumber">Sr No</th>
          <td mat-cell *matCellDef="let item;let idx = index;" class="text-center">
            {{ idx + 1}}
          </td>
        </ng-container>


        <ng-container matColumnDef="ddoNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">DDO No</th>
          <td mat-cell *matCellDef="let element"> {{element.ddoNo}} </td>
        </ng-container>

        <ng-container matColumnDef="cardexNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Cardex No</th>
          <td mat-cell *matCellDef="let element"> {{element.cardexNo}} </td>
        </ng-container>

        <ng-container matColumnDef="ofc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Office</th>
          <td mat-cell *matCellDef="let element"> {{element.ofc}} </td>
        </ng-container>

        <ng-container matColumnDef="ddoCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">DDO Code</th>
          <td mat-cell *matCellDef="let element"> {{element.ddoCode}} </td>
        </ng-container>


        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Location</th>
          <td mat-cell *matCellDef="let element"> {{element.location}} </td>
        </ng-container>


        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="actionwidthtwo" scope="row" class="actionwidthtwo">Action
          </th>
          <td mat-cell *matCellDef="let item; let i = index" class="centerAlign">
            <table class="iconTable" aria-describedby="actionBtn">
              <tr>
                <td>
                  <a>
                    <i class="material-icons plus edit-icon" aria-hidden="true" title="Edit">
                      edit
                    </i>
                  </a>
                </td>

                <td>
                  <a>
                    <i class="material-icons plus delete" aria-hidden="true">
                      delete
                    </i>
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </ng-container>
        <!-- Header Section Of table -->
        <tr mat-header-row *matHeaderRowDef="displayedColumnssplitisting"></tr>
        <!-- Data Fetch From .TS File to table -->
        <tr mat-row *matRowDef="let row; let i = index;columns: displayedColumnssplitisting;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>

    <!-- Common action button starts -->
    <div class="form-action-button">

      <button mat-raised-button type="submit" class="green" (click)="directiveObject.workflowDetails()">
        <i class="material-icons" aria-hidden="true" title="done">
          done
        </i> Submit</button>

      <button type="button" mat-raised-button class="btnClose">
        <i class="material-icons" aria-hidden="true" title="close">
          close
        </i>
        Close
      </button>
    </div>

  </div>
</div>