<div class="container">
  <div class="form-wrapper">

    <!-- Screen Name, Reference No and Reference Date Header -->
    <div class="heading-section ng-star-inserted">
      <div>Create LC Closing Request</div>
      <div class="font-heading"><strong>Reference No:</strong> 19-20/LC/CLR/001</div>
      <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}</div>
    </div>

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item " aria-current="page"><a href="javascript:void(0)">LC</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create LC Closing Request</li>
      </ol>
    </nav>

    <div class="panel-group">
      <!-- Form Starts -->
      <form [formGroup]="lcOpeningRequestCreateForm" (ngSubmit)="lcOpeningRequestCreateFormData()">
        <mat-tab-group mat-stretch-tabs [selectedIndex]="directiveObject.selectedIndex"
          (selectedIndexChange)="directiveObject.getTabIndex($event)">
          <!-- Mat Tab for LC Closing Request Starts -->
          <mat-tab>
            <ng-template mat-tab-label>
              LC Closing Request
            </ng-template>

            <div class="box box-primary">
              <div class="box-header">LC Closing Request</div>
              <div class="box-body">
                <div class="row">

                  <!-- Input Field for Division Office Name -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <mat-select formControlName="divisionOfficeName" placeholder="Division Office Name"
                        (selectionChange)="addData()" required>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="OfficeNameCtrl"
                            [placeholderLabel]="'Select Office Name ...'"
                            [noEntriesFoundLabel]="'no matching Office Name found'">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option
                          *ngFor="let OfficeNameName of OfficeName_list | filterSelectInput : OfficeNameCtrl.value : 'viewValue'"
                          [value]="OfficeNameName.value" matTooltip="{{OfficeNameName.viewValue}}">
                          {{OfficeNameName.viewValue}}
                        </mat-option>
                      </mat-select>
                      <div class="error-wrapper"
                        *ngIf="lcOpeningRequestCreateForm.controls.divisionOfficeName.touched && lcOpeningRequestCreateForm.controls.divisionOfficeName.errors">
                        <mat-error *ngIf="lcOpeningRequestCreateForm.controls.divisionOfficeName.errors.required">
                          {{errorMessage.DIVISION_OFFICE}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <!-- Input Field for Division Office Address -->
                  <div class="col-sm-3">
                    <mat-form-field class="disabled">
                      <textarea matInput formControlName="divisionOfficeAddress" placeholder="Division Office Address"
                        readonly></textarea>
                    </mat-form-field>
                  </div>

                  <!-- Input Field for Administrative Department -->
                  <div class="col-sm-3">
                    <mat-form-field class="disabled">
                      <textarea matInput formControlName="administrativeDepartment"
                        placeholder="Administrative Department" readonly></textarea>
                    </mat-form-field>
                  </div>

                  <!-- Input Field for Parent Head Department -->
                  <div class="col-sm-3">
                    <mat-form-field class="disabled">
                      <textarea matInput formControlName="parentHeadDepartment" placeholder="Parent Head Department"
                        readonly></textarea>
                    </mat-form-field>
                  </div>

                  <!-- Input Field for District -->
                  <div class="col-sm-3">
                    <mat-form-field class="disabled">
                      <input matInput placeholder="District" formControlName="district" readonly>
                    </mat-form-field>
                  </div>

                  <!-- Input Field for Cardex Number -->
                  <div class="col-sm-3">
                    <mat-form-field class="disabled">
                      <input matInput placeholder="Cardex No." formControlName="cardexNo" readonly>
                    </mat-form-field>
                  </div>

                  <!-- Input Field for DDO Code -->
                  <div class="col-sm-3">
                    <mat-form-field class="disabled">
                      <input matInput placeholder="DDO Code" formControlName="ddoCode" readonly>
                    </mat-form-field>
                  </div>

                  <!-- Input Field for DDO Name -->
                  <div class="col-sm-3">
                    <mat-form-field class="disabled">
                      <input matInput placeholder="DDO Name" formControlName="ddoName" readonly>
                    </mat-form-field>
                  </div>

                  <!-- Input Field for Anticipated Date -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="anticipatedDate" [matDatepicker]="picker1"
                        placeholder="Anticipated Date of Starting Functionality" required>
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1 [disabled]="false"></mat-datepicker>
                      <div class="error-wrapper"
                        *ngIf="lcOpeningRequestCreateForm.controls.anticipatedDate.touched && lcOpeningRequestCreateForm.controls.anticipatedDate.errors">
                        <mat-error *ngIf="lcOpeningRequestCreateForm.controls.anticipatedDate.errors.required">
                          {{errorMessage.ANTICIPATED_DATE}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <!-- Input Field for Effective Date -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="effectiveDate" [matDatepicker]="picker2"
                        placeholder="Effective Date of Starting Functionality" required>
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2 [disabled]="false"></mat-datepicker>
                      <div class="error-wrapper"
                        *ngIf="lcOpeningRequestCreateForm.controls.effectiveDate.touched && lcOpeningRequestCreateForm.controls.effectiveDate.errors">
                        <mat-error *ngIf="lcOpeningRequestCreateForm.controls.effectiveDate.errors.required">
                          {{errorMessage.EFFECTIVE_DATE}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                  <!-- Input Field for Closing Date -->
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input matInput formControlName="closingDate" [matDatepicker]="picker3" placeholder="Closing Date"
                        required>
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3 [disabled]="false"></mat-datepicker>
                      <div class="error-wrapper"
                        *ngIf="lcOpeningRequestCreateForm.controls.closingDate.touched && lcOpeningRequestCreateForm.controls.closingDate.errors">
                        <mat-error *ngIf="lcOpeningRequestCreateForm.controls.closingDate.errors.required">
                          {{errorMessage.CLOSING_DATE}}
                        </mat-error>
                      </div>
                    </mat-form-field>
                  </div>

                </div>
              </div>
            </div>

            <!-- Button to move to next tab -->
            <div class="form-action-button">
              <button type="submit" mat-raised-button color="primary" (click)="directiveObject.goToNext()">
                Save & Proceed
                <i class="material-icons" aria-hidden="true" title="Next">
                  chevron_right
                </i>
              </button>
            </div>
          </mat-tab>
          <!-- Mat Tab for LC Closing Request Ends -->

          <!-- Mat Tab for Attachments Starts -->
          <mat-tab>
            <ng-template mat-tab-label>
              Attachment
            </ng-template>

            <app-common-attachment [attachemntValue]="attachmentTypeCode"></app-common-attachment>

          </mat-tab>
          <!-- Mat Tab for Attachments Ends -->
        </mat-tab-group>

        <!-- Action Buttons Starts -->
        <div class="form-action-button">
          <button mat-raised-button type="submit" class="green" title="Submit"
            (click)="directiveObject.workflowDetails()">
            <i class="material-icons" title="Submit" aria-hidden="true">done</i> Submit</button>
          <button type="reset" mat-raised-button color="accent" title="Reset">
            <i class="material-icons" title="Reset" aria-hidden="true">
              restore
            </i>
            Reset
          </button>
          <button type="button" mat-raised-button class="btnClose" title="Close">
            <i class="material-icons" title="Close" aria-hidden="true">
              close
            </i>
            Close
          </button>
        </div>
        <!-- Action Buttons Ends -->
      </form>
      <!-- Form Ends -->
    </div>

  </div>
</div>