<div class="container">
  <div class="form-wrapper">

    <!-- heading-section -->
    <div class="heading-section ng-star-inserted">
      Pension Pre-Audit Cases Register
      <div class="font-heading"><strong>{{referenceNumber}}</strong> 19-20/LF/PPACR/001
      </div>
      <div class="font-heading"><strong>{{referenceNumberDate}} </strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}
      </div>
    </div>

    <!-- breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Local Fund</a></li>
        <li class="breadcrumb-item active" aria-current="page"> Pension Pre-Audit Cases Register</li>
      </ol>
    </nav>

    <!-- form -->
    <form [formGroup]="pensionPreAuditCasesRegisterDetails">
      <div class="box box-primary">
        <div class="box-header">Pension Pre-Audit Cases Register</div>
        <div class="box-body">
          <div class="row">

            <!-- id -->
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput formControlName="id" [max]="15" placeholder="ID" numbersAlphabetsOnly value={{id}}
                  readonly disabled>
              </mat-form-field>

            </div>

            <!-- distrit name -->
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput formControlName="districtName" [max]="50" placeholder="District" value="Ahmedabad"
                  alphabetsSpaceOnly readonly disabled>
              </mat-form-field>
            </div>

            <!-- inward no -->
            <div class="col-sm-3">
              <mat-form-field class="full-width">
                <input matInput placeholder="Inward No." numbersAlphabetsOnly [max]="10" formControlName='inwardNumber'
                  required>
                <div class="error-wrapper"
                  *ngIf="pensionPreAuditCasesRegisterDetails.controls.inwardNumber.touched && pensionPreAuditCasesRegisterDetails.controls.inwardNumber.errors">
                  <mat-error *ngIf="pensionPreAuditCasesRegisterDetails.controls.inwardNumber.errors.required">
                    {{errorMessages.INWARD_NO}}
                  </mat-error>
                </div>
              </mat-form-field>
            </div>

            <!-- inward date -->
            <div class=" col-md-3">
              <mat-form-field>
                <input matInput [matDatepicker]="inwardDatePicker" placeholder="Inward Date"
                  formControlName='inwardDate' [max]="maxDate" required>
                <mat-datepicker-toggle matSuffix [for]="inwardDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #inwardDatePicker></mat-datepicker>
                <div class="error-wrapper"
                  *ngIf="pensionPreAuditCasesRegisterDetails.controls.inwardDate.touched && pensionPreAuditCasesRegisterDetails.controls.inwardDate.errors">
                  <mat-error *ngIf="pensionPreAuditCasesRegisterDetails.controls.inwardDate.errors.required">
                    {{errorMessages.INWARD_DATE}}
                  </mat-error>
                </div>
              </mat-form-field>
            </div>

            <!-- pensioner name -->
            <div class="col-sm-3">
              <mat-form-field class="full-width">
                <input matInput placeholder="Pensioner Name" numbersAlphabetsOnly [max]="50"
                  formControlName='pensionerName' required>
                <div class="error-wrapper"
                  *ngIf="pensionPreAuditCasesRegisterDetails.controls.pensionerName.touched && pensionPreAuditCasesRegisterDetails.controls.pensionerName.errors">
                  <mat-error *ngIf="pensionPreAuditCasesRegisterDetails.controls.pensionerName.errors.required">
                    {{errorMessages.INWARD_DATE}}
                  </mat-error>
                </div>
              </mat-form-field>
            </div>

            <!-- designation -->
            <div class="col-sm-3">
              <mat-form-field class="full-width">
                <input matInput placeholder="Designation" numbersAlphabetsOnly [max]="50" formControlName='designation'
                  required>
                <div class="error-wrapper"
                  *ngIf="pensionPreAuditCasesRegisterDetails.controls.designation.touched && pensionPreAuditCasesRegisterDetails.controls.designation.errors">
                  <mat-error *ngIf="pensionPreAuditCasesRegisterDetails.controls.designation.errors.required">
                    {{errorMessages.DESIGNATION}}
                  </mat-error>
                </div>
              </mat-form-field>
            </div>

            <!-- pension office name -->
            <div class="col-sm-3">
              <mat-form-field class="full-width">
                <input matInput placeholder="Pension Office Name" numbersAlphabetsOnly [max]="50"
                  formControlName='pensionOfficeName' required>
                <div class="error-wrapper"
                  *ngIf="pensionPreAuditCasesRegisterDetails.controls.pensionOfficeName.touched && pensionPreAuditCasesRegisterDetails.controls.pensionOfficeName.errors">
                  <mat-error *ngIf="pensionPreAuditCasesRegisterDetails.controls.pensionOfficeName.errors.required">
                    {{errorMessages.PENSION_OFFICE_NAME}}
                  </mat-error>
                </div>
              </mat-form-field>
            </div>

            <!-- ppo number -->
            <div class="col-sm-3">
              <mat-form-field class="full-width">
                <input matInput placeholder="PPO Number" numbersAlphabetsOnly [max]="100" formControlName='ppoNumber'
                  required>
                <div class="error-wrapper"
                  *ngIf="pensionPreAuditCasesRegisterDetails.controls.ppoNumber.touched && pensionPreAuditCasesRegisterDetails.controls.ppoNumber.errors">
                  <mat-error *ngIf="pensionPreAuditCasesRegisterDetails.controls.ppoNumber.errors.required">
                    {{errorMessages.PPO_NUMBER}}
                  </mat-error>
                </div>
              </mat-form-field>
            </div>

            <!-- retirement date -->
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput placeholder="Retirement Date" formControlName="retirementDate"
                  [matDatepicker]="retirementDate" [max]="maxDate" required>
                <mat-datepicker-toggle matSuffix [for]="retirementDate"></mat-datepicker-toggle>
                <mat-datepicker #retirementDate></mat-datepicker>
                <div class="error-wrapper"
                  *ngIf="pensionPreAuditCasesRegisterDetails.controls.retirementDate.touched && pensionPreAuditCasesRegisterDetails.controls.retirementDate.errors">
                  <mat-error *ngIf="pensionPreAuditCasesRegisterDetails.controls.retirementDate.errors.required">
                    {{errorMessages.DATE_OF_RETIREMENT}}
                  </mat-error>
                </div>
              </mat-form-field>
            </div>

            <!-- is approved or query -->
            <div class="col-sm-3">
              <mat-form-field class="full-width">
                <mat-select formControlName="isApprovedOrQuery" placeholder="Is Approved or Query" required>
                  <mat-option>
                    <ngx-mat-select-search [formControl]="isApprovedOrQueryCtrl"
                      [placeholderLabel]="'Find Is Approved or Query...'"
                      [noEntriesFoundLabel]="'No matching Is Approved or Query found'" alphabetsSpaceOnly>
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let item of isApprovedOrQueryList |
                    filterSelectInput:isApprovedOrQueryCtrl.value" [value]="item.value"
                    matTooltip="{{item.viewValue}}">
                    {{item.viewValue}}
                  </mat-option>
                </mat-select>
                <div class="error-wrapper"
                  *ngIf="pensionPreAuditCasesRegisterDetails.controls.isApprovedOrQuery.touched && pensionPreAuditCasesRegisterDetails.controls.isApprovedOrQuery.errors">
                  <mat-error *ngIf="pensionPreAuditCasesRegisterDetails.controls.isApprovedOrQuery.errors.required">
                    {{errorMessages.YES_NO}}
                  </mat-error>
                </div>
              </mat-form-field>
            </div>

            <!-- dcrg -->
            <div class="col-sm-3">
              <mat-form-field class="full-width">
                <input matInput placeholder="DCRG" numbersAlphabetsOnly [max]="50" formControlName='dcrg'>
              </mat-form-field>
            </div>

            <!-- cvp -->
            <div class="col-sm-3">
              <mat-form-field class="full-width">
                <input matInput placeholder="CVP" numbersAlphabetsOnly [max]="50" formControlName='cvp'>
              </mat-form-field>
            </div>

            <!-- ae -->
            <div class="col-sm-3">
              <mat-form-field class="full-width">
                <input matInput placeholder="AE" numbersAlphabetsOnly [max]="50" formControlName='ae'>
              </mat-form-field>
            </div>

            <!-- outward no -->
            <div class="col-sm-3">
              <mat-form-field class="full-width">
                <input matInput placeholder="Outward No." numbersAlphabetsOnly [max]="50" formControlName='outwardNo'
                  required>
                <div class="error-wrapper"
                  *ngIf="pensionPreAuditCasesRegisterDetails.controls.outwardNo.touched && pensionPreAuditCasesRegisterDetails.controls.outwardNo.errors">
                  <mat-error *ngIf="pensionPreAuditCasesRegisterDetails.controls.outwardNo.errors.required">
                    {{errorMessages.OUTWARD_NO}}
                  </mat-error>
                </div>
              </mat-form-field>
            </div>

            <!-- outward date -->
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput placeholder="Outward Date" formControlName="outwardDate" [matDatepicker]="outwardDate"
                  [max]="maxDate" required>
                <mat-datepicker-toggle matSuffix [for]="outwardDate"></mat-datepicker-toggle>
                <mat-datepicker #outwardDate></mat-datepicker>
                <div class="error-wrapper"
                  *ngIf="pensionPreAuditCasesRegisterDetails.controls.outwardDate.touched && pensionPreAuditCasesRegisterDetails.controls.outwardDate.errors">
                  <mat-error *ngIf="pensionPreAuditCasesRegisterDetails.controls.outwardDate.errors.required">
                    {{errorMessages.OUTWARD_DATE}}
                  </mat-error>
                </div>
              </mat-form-field>
            </div>

            <!-- remarks -->
            <div class="col-sm-3">
              <mat-form-field>
                <textarea matInput cdkTextareaAutosize placeholder="Remarks" formControlName="remarks"
                  numbersAlphabetsOnly></textarea>
              </mat-form-field>
            </div>

          </div>

          <!-- action button -->
          <div class="form-action-button">

            <button type="submit" mat-raised-button color="primary" (click)="add();" title="Add">
              <i class="material-icons" aria-hidden="true">add</i>
              Add
            </button>

            <button type="button" mat-raised-button color="accent" (click)="clearForm();" title="Reset">
              <i class="material-icons" aria-hidden="true">
                restore
              </i>
              Reset
            </button>

          </div>
        </div>
      </div>
    </form>

    <!-- listing start -->
    <div class="mat-elevation-z8 mt-3 overflow-x-scroll">
      <table mat-table [dataSource]="dataSource" width="100%" matSort
        aria-describedby="pensionPreAuditCasesRegisterDetails">

        <!-- serial no -->
        <ng-container matColumnDef="serialNo">
          <th mat-header-cell *matHeaderCellDef scope="row">
            Sr.No.
          </th>
          <td mat-cell *matCellDef="let row;let i =index" class="centerAlign">
            {{i+1}}
          </td>
        </ng-container>

        <!-- id -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">ID</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.id}}
          </td>
        </ng-container>

        <!-- district -->
        <ng-container matColumnDef="district">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">District</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.district}}
          </td>
        </ng-container>

        <!-- inward no -->
        <ng-container matColumnDef="inwardNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Inward Number</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.inwardNumber}}
          </td>
        </ng-container>

        <!-- inward date -->
        <ng-container matColumnDef="inwardDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Inward Date</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.inwardDate | date: 'dd-MMM-yyyy'}}
          </td>
        </ng-container>

        <!-- pensioner name -->
        <ng-container matColumnDef="pensionerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Pensioner Name</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.pensionerName}}
          </td>
        </ng-container>

        <!-- designation -->
        <ng-container matColumnDef="designation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="gray-color" scope="row">Designation</th>
          <td mat-cell *matCellDef="let element">
            {{element.designation}}
          </td>
        </ng-container>

        <!-- pensioner office name -->
        <ng-container matColumnDef="pensionOfficeName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Pension Office Name
          </th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.pensionOfficeName }}
          </td>
        </ng-container>

        <!-- ppo number -->
        <ng-container matColumnDef="ppoNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">PPO Number</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.ppoNumber}}
          </td>
        </ng-container>

        <!-- retirement date -->
        <ng-container matColumnDef="retirementDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Retirement Date</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.retirementDate | date:'dd-MMM-yyyy'}}
          </td>
        </ng-container>

        <!-- is approved query -->
        <ng-container matColumnDef="isApprovedOrQuery">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Is Approved or Query</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.isApprovedOrQuery}}
          </td>
        </ng-container>

        <!-- dcrg -->
        <ng-container matColumnDef="dcrg">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">DCRG</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.dcrg}}
          </td>
        </ng-container>

        <!-- cvp -->
        <ng-container matColumnDef="cvp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">CVP</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.cvp}}
          </td>
        </ng-container>

        <!-- ae -->
        <ng-container matColumnDef="ae">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">AE</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.ae}}
          </td>
        </ng-container>

        <!-- outward no -->
        <ng-container matColumnDef="outwardNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Outward No</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.outwardNo}}
          </td>
        </ng-container>

        <!-- outward date -->
        <ng-container matColumnDef="outwardDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Outward Date</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.outwardDate | date:'dd-MMM-yyyy'}}
          </td>
        </ng-container>

        <!-- remarks -->
        <ng-container matColumnDef="remarks">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Remarks</th>
          <td mat-cell *matCellDef="let element;let i= index;">
            {{element.remarks}}
          </td>
        </ng-container>

        <!-- action -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"> Action </th>
          <td mat-cell *matCellDef="let element;let i = index;" class="action-btn-i centerAlign">
            <i class="material-icons plus add" aria-hidden="true" title="Edit">
              edit
            </i>
          </td>
        </ng-container>

        <!-- Header Section Of table -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- Data Fetch From .TS File to table -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;let i= index;"></tr>
      </table>
      <!-- paginator -->
      <mat-paginator [length]="20" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <!-- listing end -->

    <!-- action button -->
    <div class="form-action-button">

      <button type="submit" mat-raised-button color="primary" title="Save As Draft">
        <i class="material-icons" aria-hidden="true">
          save
        </i>
        Save as Draft
      </button>

      <button mat-raised-button type="submit" class="green" (click)="directiveObject.workflowDetails()" title="Submit">
        <i class="material-icons" aria-hidden="true">done</i> Submit</button>

      <button type="reset" mat-raised-button color="accent" title="Reset" (click)="reset()">
        <i class="material-icons" aria-hidden="true">
          restore
        </i>
        Reset
      </button>

      <button type="button" mat-raised-button color="warn" title="Listing"
        [routerLink]="['../pension-pre-audit-cases-register-report' ]" routerLinkActive="router-link-active">
        <i class="material-icons" aria-hidden="true">
          list
        </i>
        Listing
      </button>

      <button type="button" mat-raised-button class="print-btn" title="Print">
        <i class="material-icons" aria-hidden="true">
          print
        </i>
        Print
      </button>

      <button type="button" mat-raised-button class="btnClose" title="Close">
        <i class="material-icons" aria-hidden="true">
          close
        </i>
        Close
      </button>



    </div>

  </div>
</div>