::ng-deep app-header{
    display: none;
}
::ng-deep app-footer{
    display: none;
}
.receipt-container{
    padding: 2em;
}
.receipt-form-wrapper{
    margin: 2em;
    background: #e9f5ff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #b9b7b7;
    height: auto;
    font-weight: 300;
   
}

.receipt-left{
    padding: 15px 30px;
}
.receipt-right{
    padding: 10px 30px;
    background: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.receipt-right h5{
    color: #356A94;
}
.receipt-info-card{
    background: #fff;
    margin: 10px 0px;
    padding: 10px 20px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    /* box-shadow: 0px 0px 10px #d6d6d6; */
    height: 110px;
    
}
.receipt-info-card:hover{
    background: #81a9c7;
    cursor: pointer;
    box-shadow: 0px 0px 10px #868585;
}
.receipt-info-card:hover h5, .receipt-info-card:hover p{
    color: #fff;
}
.receipt-info-card:hover .icon-outer{
    border: 1px solid #fff;
}
.receipt-info-card:hover .material-icons.receipt-icon{
    color: #fff;
}
.receipt-info-card h5{
    font-size: 20px;
    color: #4b6b84;
}
.icon-outer{
    width: 75px;
    border: 1px solid #4b6b84;
    border-radius: 50%;
    height: 75px;
    padding: 15px 16px;
}
.material-icons.receipt-icon{
    font-size: 40px;
    color: #4b6b84;
}
.receipt-left h4{
    color: #356A94;
    padding: 10px;
}
.carousel-inner{
    width: 95%;
    margin: 0 auto;
}
.carousel-control-prev{
    left: 10px;
    width: 15px;
}
.carousel-control-next{
    right: -45px;
}
.carousel-control-next-icon{
    border: solid #356A94;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  background-image: none;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.bank-list, .gateway-list{
    list-style-type: none;
    display: inline-flex;
}
ul.bank-list, ul.gateway-list{
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.bank-list li{
    width: 200px;
    padding: 10px;
    text-align: center;
}
.gateway-list li{
    width: 50%;
    text-align: center;
}
.bank-card{
    background: #fff;
    margin: 10px 0px;
    padding: 5px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    /* box-shadow: 0px 0px 10px #d6d6d6; */
}
.bank-card h4{
    font-size: 20px;
    text-align: center;
    margin: 0;
}
.bank-card .bank-list img, .gateway-list img{
    max-width: 80px;
}
.img-fluid{
    max-width: 190px;
    margin:1em 0;
}
.receipt-right img{
    align-content: center;
}
.logo-header{
    list-style-type: none;
    display: flex;
    margin: 20px 0px 15px 0px;
    padding: 0;
}
.logo-header h3{
    margin: 10px 0px 0px 10px;
    color: #4A4A4A;
    font-size: 22px;
}
.logo-header h6{
    margin: 0px 0px 0px 10px;
    color: #4A4A4A;
}
.icon-section{
    display: flex;
    flex-wrap: wrap;
}
.icon-section .icon-content-section{
    width: calc(100% - 100px);
    padding-left: 10px;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 15px;
    height: 15px;
}

.login{
    margin-top: 13px;
}
.gateway-rmp{
    position: relative;
    padding: 6px 5px 16px;
    padding-bottom: 19p
}
.signup a{
    font-size: 14px;
}
@media(max-width:1280px){
    .receipt-info-card{
        height: 100px;
    }
    .receipt-info-card h5{
        font-size: 16px;
        margin-bottom: 2px;
    }
    .icon-section .icon-content-section p{
        font-size: 12px;
    }
    .icon-outer{
        width: 60px;
        height: 60px;
        padding: 9px 10px;
    }
    .icon-section  .icon-content-section {
        width: calc(100% - 60px);
        padding-left: 10px;
    }
}
@media(max-width:1220px){
   
    .bank-card{
        padding: 5px 25px;
    }
   
}
@media(max-width:1160px){
    .receipt-info-card h5{
        font-size: 15px;
        margin-bottom: 2px;
    }
  
    .receipt-info-card{
        padding: 10px 12px;       
        height: 100px;
    }
  
}
