<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>Account Adjustment </div>
            <div class="font-heading"><strong>Reference Number:</strong> 19-20/GPF/AAD/001</div>
            <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}
            </div>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Worklist</a></li>
                <li class="breadcrumb-item active" aria-current="page">Account Adjustment </li>
            </ol>
        </nav>
        <!-- Account Adjustment Detail Fields Starts -->
        <mat-accordion class="search-accordian">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <div class="heading-section">
                        Account Adjustment Detail Fields
                    </div>
                </mat-expansion-panel-header>
                <div class=" form-datatable-list">
                    <form class="col-sm-12" [formGroup]="accountAdjustmentDetailForm">
                        <div class="row">

                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="district" placeholder="District" required>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="typeOfDistrictCtrl"
                                                [placeholderLabel]="'Find District...'"
                                                [noEntriesFoundLabel]="'no matching Class found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="
                      let CE of classTypeOfDistrict
                        | filterSelectInput: typeOfDistrictCtrl.value
                    " [value]="CE.value">
                                            {{ CE.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                    <div class="error-wrapper" *ngIf=" accountAdjustmentDetailForm.controls.district.touched &&
                           accountAdjustmentDetailForm.controls.district.errors">
                                        <mat-error
                                            *ngIf="accountAdjustmentDetailForm.controls.district.errors.required">
                                            {{ errorMessage.TYPE_OF_DISTRICT }}
                                        </mat-error>
                                    </div>

                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="treasury" placeholder="Treasury">
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="typeOfTreasuryCtrl"
                                                [placeholderLabel]="'Find Treasury...'"
                                                [noEntriesFoundLabel]="'no matching Class found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="
                      let CE of classTypeOfTreasury
                        | filterSelectInput: typeOfTreasuryCtrl.value
                    " [value]="CE.value">
                                            {{ CE.viewValue }}
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="month" placeholder="Month" required>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="typeOfMonthCtrl"
                                                [placeholderLabel]="'Find Month...'"
                                                [noEntriesFoundLabel]="'no matching Class found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="
                      let CE of classTypeOfMonth
                        | filterSelectInput: typeOfMonthCtrl.value
                    " [value]="CE.value">
                                            {{ CE.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                    <div class="error-wrapper" *ngIf=" accountAdjustmentDetailForm.controls.month.touched &&
                  accountAdjustmentDetailForm.controls.month.errors">
                                        <mat-error *ngIf="accountAdjustmentDetailForm.controls.month.errors.required">
                                            {{ errorMessage.TYPE_OF_MONTH }}
                                        </mat-error>
                                    </div>

                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="year" placeholder="Year" required>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="typeOfYearCtrl"
                                                [placeholderLabel]="'Find Year...'"
                                                [noEntriesFoundLabel]="'no matching Class found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="
                      let CE of classTypeOfYear
                        | filterSelectInput: typeOfYearCtrl.value
                    " [value]="CE.value">
                                            {{ CE.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                    <div class="error-wrapper" *ngIf=" accountAdjustmentDetailForm.controls.year.touched &&
                  accountAdjustmentDetailForm.controls.year.errors">
                                        <mat-error *ngIf="accountAdjustmentDetailForm.controls.year.errors.required">
                                            {{ errorMessage.TYPE_OF_YEAR}}
                                        </mat-error>
                                    </div>

                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="empClass" placeholder="Employee Class" required>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="typeOfEmpClassCtrl"
                                                [placeholderLabel]="'Find Employee Class...'"
                                                [noEntriesFoundLabel]="'no matching Class found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="
                      let CE of classTypeOfEmpClass
                        | filterSelectInput: typeOfEmpClassCtrl.value
                    " [value]="CE.value">
                                            {{ CE.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                    <div class="error-wrapper"
                                        *ngIf=" accountAdjustmentDetailForm.controls.empClass.touched && accountAdjustmentDetailForm.controls.empClass.errors">
                                        <mat-error
                                            *ngIf="accountAdjustmentDetailForm.controls.empClass.errors.required">
                                            {{ errorMessage.TYPE_OF_EMP_CLASS }}
                                        </mat-error>
                                    </div>

                                </mat-form-field>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-action-button">
                                    <button type="submit" mat-raised-button color="primary" (click)="addRecoveryTab()">
                                        <i class="material-icons" aria-hidden="true" title="search">search</i>
                                        Search</button>&nbsp;&nbsp;&nbsp;

                                    <button type="reset" mat-raised-button color="accent" title="Reset"
                                        (click)="resetForm()">
                                        <i class="material-icons" title="Reset" aria-hidden="true">
                                            restore
                                        </i>
                                        Reset
                                    </button>


                                </div>
                            </div>


                        </div>
                    </form>
                </div>

            </mat-expansion-panel>
        </mat-accordion>
        <!-- Account Adjustment Detail Fields ends -->
        <br>
        <div class=" row">

            <div class="col-sm-12  overflow-x-auto">
                <div class="mat-elevation-z8 table-responsive mt-2">
                    <table mat-table [dataSource]="recoveryDataSourcee" id="browseTable" aria-describedby="attachment">


                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef scope="row">
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row;let i = index" class="centerAlign">
                                <mat-checkbox (click)="$event.stopPropagation();"
                                    (change)="$event ? selection.toggle(row) : null;selectedRow($event,i)"
                                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="yearTab">
                            <th mat-header-cell *matHeaderCellDef scope="row">Year *</th>
                            <td mat-cell *matCellDef="let item">

                                <mat-form-field floatLabel="never">
                                    <input matInput [value]="item.yearTab" [(ngModel)]="item.yearTab" readonly>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="monthTab">
                            <th mat-header-cell *matHeaderCellDef scope="row">Month *</th>
                            <td mat-cell *matCellDef="let item">

                                <mat-form-field floatLabel="never">
                                    <input matInput [value]="item.monthTab" [(ngModel)]="item.monthTab" readonly>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="creditDebit">
                            <th mat-header-cell *matHeaderCellDef scope="row">Credit/Debit</th>
                            <td mat-cell *matCellDef="let item">

                                <mat-form-field floatLabel="never">
                                    <input matInput [value]="item.creditDebit" [(ngModel)]="item.creditDebit" readonly>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="head">
                            <th mat-header-cell *matHeaderCellDef scope="row">Head * </th>
                            <td mat-cell *matCellDef="let item">

                                <mat-form-field floatLabel="never">
                                    <input matInput [value]="item.head" [(ngModel)]="item.head" readonly>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="voucherNo">
                            <th mat-header-cell *matHeaderCellDef scope="row">Voucher No *</th>
                            <td mat-cell *matCellDef="let item">
                                <mat-form-field floatLabel="never">
                                    <input matInput [value]="item.voucherNo" [(ngModel)]="item.voucherNo" readonly>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="upNo">
                            <th mat-header-cell *matHeaderCellDef scope="row">UP No *</th>
                            <td mat-cell *matCellDef="let item">
                                <mat-form-field floatLabel="never">
                                    <input matInput [value]="item.upNo" [(ngModel)]="item.upNo" readonly>
                                </mat-form-field>
                            </td>
                        </ng-container>


                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef scope="row">Amount *</th>
                            <td mat-cell *matCellDef="let item">
                                <mat-form-field floatLabel="never">
                                    <input matInput [value]="item.amount" [(ngModel)]="item.amount" readonly>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="clearedAmount">
                            <th mat-header-cell *matHeaderCellDef scope="row"> Cleared Amount *</th>
                            <td mat-cell *matCellDef="let item">
                                <mat-form-field floatLabel="never">
                                    <input matInput [value]="item.clearedAmount" [(ngModel)]="item.clearedAmount"
                                        decimalLimitTwoOnly>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="remarks">
                            <th mat-header-cell *matHeaderCellDef scope="row">Remarks
                            </th>
                            <td mat-cell *matCellDef="let item">
                                <mat-form-field floatLabel="never">
                                    <textarea matInput [value]="item.remarks" [(ngModel)]="item.remarks"
                                        readonly></textarea>
                                </mat-form-field>
                            </td>
                        </ng-container>


                        <!-- Header Section Of table -->
                        <tr mat-header-row *matHeaderRowDef="recoveryColumnn"></tr>
                        <!-- Data Fetch From .TS File to table -->
                        <tr mat-row *matRowDef="let row; columns:
        recoveryColumnn;"></tr>
                    </table>

                </div>
            </div>
        </div>

        <br>

        <div class="mat-elevation-z8 table-responsive mt-2">
            <table mat-table [dataSource]="recoveryDataSource" id="browseTable" aria-describedby="attachment">
                <ng-container matColumnDef="upNo">
                    <th mat-header-cell *matHeaderCellDef scope="row">UP Number *
                    </th>

                    <td mat-cell *matCellDef="let item;let i= index;">
                        <mat-select placeholder="UP No" #singleSelect1 required [(ngModel)]="item.upNo">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="upNoTypeCodeCtrl"
                                    [placeholderLabel]="'Find UP Number ...'"
                                    [noEntriesFoundLabel]="'No matching Number found'">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let AT of
                upNoTypeCode" [value]="AT.value">
                                {{AT.viewValue}}
                            </mat-option>
                        </mat-select>
                    </td>
                </ng-container>

                <ng-container matColumnDef="gpfNo">
                    <th mat-header-cell *matHeaderCellDef scope="row">GPF No. *</th>
                    <td mat-cell *matCellDef="let item;let i= index;">

                        <mat-form-field floatLabel="never">
                            <mat-icon matSuffix (click)="openInwardDialog(item,i)">search</mat-icon>
                            <input matInput [value]="item.gpfNo" [(ngModel)]="item.gpfNo" readonly>
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef scope="row">Name *</th>
                    <td mat-cell *matCellDef="let item">
                        <mat-form-field floatLabel="never">
                            <input matInput [value]="item.name" [(ngModel)]="item.name" alphabetsSpaceOnly>
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="subAmount">
                    <th mat-header-cell *matHeaderCellDef scope="row">Sub Amount * </th>
                    <td mat-cell *matCellDef="let item">
                        <mat-form-field floatLabel="never">
                            <input matInput [value]="item.subAmount" [(ngModel)]="item.subAmount" decimalLimitTwoOnly
                                maxlength="16">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="loanAmount">
                    <th mat-header-cell *matHeaderCellDef scope="row">Loan Amount *</th>
                    <td mat-cell *matCellDef="let item">
                        <mat-form-field floatLabel="never">
                            <input matInput [value]="item.loanAmount" [(ngModel)]="item.loanAmount" decimalLimitTwoOnly
                                maxlength="16">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="other">
                    <th mat-header-cell *matHeaderCellDef scope="row">Other *</th>
                    <td mat-cell *matCellDef="let item">
                        <mat-form-field floatLabel="never">
                            <input matInput [value]="item.other" [(ngModel)]="item.other" decimalLimitTwoOnly
                                maxlength="16">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="da">
                    <th mat-header-cell *matHeaderCellDef scope="row">DA *</th>
                    <td mat-cell *matCellDef="let item">
                        <mat-form-field floatLabel="never">
                            <input matInput [value]="item.da" [(ngModel)]="item.da" decimalLimitTwoOnly maxlength="16">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total *</th>
                    <td mat-cell *matCellDef="let item; let i = index;">

                        {{totalAmount(item,i) | number: '1.2-2'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="forMonth">
                    <th mat-header-cell *matHeaderCellDef scope="row">For Month *
                    </th>

                    <td mat-cell *matCellDef="let item;let i= index;">
                        <mat-select placeholder="For Month" #singleSelect1 required [(ngModel)]="item.forMonth">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="forMonthTypeCodeCtrl"
                                    [placeholderLabel]="'Find Month ...'"
                                    [noEntriesFoundLabel]="'No matching Month found'">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let AT of
                forMonthTypeCode" [value]="AT.value">
                                {{AT.viewValue}}
                            </mat-option>
                        </mat-select>
                    </td>
                </ng-container>

                <ng-container matColumnDef="forYear">
                    <th mat-header-cell *matHeaderCellDef scope="row">For Year *
                    </th>

                    <td mat-cell *matCellDef="let item;let i= index;">
                        <mat-select placeholder="For Year" #singleSelect1 required [(ngModel)]="item.forYear">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="forYearTypeCodeCtrl"
                                    [placeholderLabel]="'Find Year ...'"
                                    [noEntriesFoundLabel]="'No matching Year found'">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let AT of
                forYearTypeCode" [value]="AT.value">
                                {{AT.viewValue}}
                            </mat-option>
                        </mat-select>
                    </td>
                </ng-container>

                <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef scope="row">Remarks
                    </th>
                    <td mat-cell *matCellDef="let item">
                        <mat-form-field floatLabel="never">
                            <textarea matInput [value]="item.remarks" [(ngModel)]="item.remarks"
                                maxlength="100"></textarea>
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef scope="row" style="width: 4%;">Action</th>
                    <td mat-cell *matCellDef="let
                        element;let i=index">
                        <table class="iconTable" aria-describedby="actionBtn">
                            <tbody>
                                <tr>

                                    <td width="30" (click)="addRecoveryDetailRow(i);"
                                        *ngIf="(i == recoveryDataSource.data.length - 1)">
                                        <a><i class="material-icons plus add" aria-hidden="true">
                                                add
                                            </i></a>
                                    </td>


                                    <td width="30" *ngIf="(i > 0)">
                                        <i class="material-icons
                                            plus
                                            delete" aria-hidden="true" (click)="deleteRowRecovery(i)">
                                            delete
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>

                <!-- Header Section Of table -->
                <tr mat-header-row *matHeaderRowDef="recoveryColumn"></tr>
                <!-- Data Fetch From .TS File to table -->
                <tr mat-row *matRowDef="let row; columns:
        recoveryColumn;"></tr>
            </table>

        </div>


        <div class="form-action-button">

            <button mat-raised-button type="submit" class="green" title="Submit" (click)="workflowDetails()">
                <i class="material-icons" title="Submit" aria-hidden="true">done</i>
                Submit
            </button>
            <button type="reset" mat-raised-button color="accent" title="Reset" (click)="resetForm()">
                <i class="material-icons" title="Reset" aria-hidden="true">
                    restore
                </i>
                Reset
            </button>
            <button type="button" mat-raised-button color="warn" title="Listing"
                [routerLink]="['account-adjustment-detail-listing']" routerLinkActive="router-link-active">
                <i class="material-icons" title="Listing" aria-hidden="true">
                    list
                </i>
                Listing
            </button>
            <button type="button" mat-raised-button class="btnClose" title="Close">
                <i class="material-icons" title="Close" aria-hidden="true">
                    close
                </i>
                Close
            </button>
            <button type="button" mat-raised-button class="print-btn" title="Print">
                <i class="material-icons" title="Print" aria-hidden="true">
                    print
                </i>
                Print
            </button>
        </div>

    </div>
</div>