.mat-table .mat-header-cell:last-child{
    border-right: unset;
  }

  ::ng-deep .mat-table .mat-form-field-appearance-legacy .mat-form-field-infix
  {padding: 0.2em 0 !important; border-top: .5em solid transparent; font-size: 13px !important;}
  .success{color: aliceblue; background-color: #228c22;}

.mat-table td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
  font-weight: 600;
}
.mat-table td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: 10px;
}

.unsetHeight{
  height: unset !important;
}

.mat-footer-row, mat-header-row, mat-row {
  align-items: unset;
  border-bottom-width:0px;
}

::ng-deep .mat-table .mat-tab-header, .mat-tab-nav-bar{
  border: unset;
  margin-bottom: 5px;
}

.mat-standard-chip .mat-chip-remove.mat-icon{
    line-height: 18px;
}

::ng-deep .mat-chip-list-wrapper .mat-chip-with-trailing-icon{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

::ng-deep .example-chip-list .mat-form-field-wrapper{
  font-size: 13px;
}

table.mat-table thead {
  background: #f2f2f2;
  color: black;
  font-size: 14px;
}

.coldisable{
  background:#f1f1f1;
  color: #9199a1;
  justify-content: flex-end;
}

::ng-deep .mat-tab-header, .mat-tab-nav-bar{
  border-bottom: none;
}

mat-cell>span{
  width: 100%;
}

/* .saveFloatButton{
  z-index: 999999;
  position: absolute;
  left: -36px;
  top: -36px;
} */

mat-expansion-panel{
    margin: 5px 0px;
}

mat-expansion-panel-header{
    height: 35px !important;
}
