<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>Payment History</div>

        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item " aria-current="page">Receipt Management </li>
                <li class="breadcrumb-item active" aria-current="page">Payment History </li>
            </ol>
        </nav>
        <div class="panel-group">
            <mat-accordion class="colapsedata">
                <mat-expansion-panel [expanded]="false" class="nopadding">
                    <mat-expansion-panel-header>
                        <div class="heading-section">Search</div>
                    </mat-expansion-panel-header>
                    <div class="box-body">
                        <form [formGroup]="payHistoryForm">
                            <div class="row">


                                <div class="col-sm-3">
                                    <mat-form-field class="full-width">
                                        <input matInput type="text" placeholder="CIN" formControlName="cin"
                                            maxLength="12">

                                    </mat-form-field>
                                </div>


                                <div class="col-sm-3">
                                    <mat-form-field class="full-width">
                                        <input matInput type="text" placeholder="GRN" formControlName="grn"
                                            maxLength="12">

                                    </mat-form-field>
                                </div>


                                <div class="col-sm-3">
                                    <mat-form-field class="full-width">
                                        <input matInput type="text" placeholder="Bank Transaction ID"
                                            formControlName="tId" maxLength="12">

                                    </mat-form-field>
                                </div>


                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <input matInput formControlName="payDate" [matDatepicker]="payDate"
                                            [max]='maxDate' placeholder="Payment Date" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="payDate">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #payDate></mat-datepicker>

                                    </mat-form-field>
                                </div>
                                <!--action buttons-->
                                <div class="form-action-button">


                                    <button type="submit" mat-raised-button color="primary" (click)="onSave();">
                                        <i class="material-icons">search</i> Search </button>

                                    <button type="reset" mat-raised-button color="accent" (click)="clearForm();">
                                        <i class="material-icons">restore</i> Reset </button>

                                </div>
                            </div>
                        </form>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div><br>

        <!--table-->
        <table mat-table [dataSource]="dataSource" width="100%" matSort aria-describedby="purposeCreation">

            <ng-container matColumnDef="srNo">
                <th mat-header-cell mat-sort-header scope="row" *matHeaderCellDef> SrNo </th>
                <td mat-cell *matCellDef="let element;let i= index;" class="centerAlign">
                    {{i+1}}
                </td>
            </ng-container>

            <ng-container matColumnDef="cin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">CIN</th>
                <td mat-cell *matCellDef="let element">
                    {{element.cin}} </td>
            </ng-container>

            <ng-container matColumnDef="grn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">GRN </th>
                <td mat-cell *matCellDef="let element"> {{element.grn}} </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Bank Transaction ID</th>
                <td mat-cell *matCellDef="let element">
                    {{element.id}}
                </td>
            </ng-container>

            <ng-container matColumnDef="pDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Payment Date</th>
                <td mat-cell *matCellDef="let element">
                    {{element.pDate}}
                </td>
            </ng-container>



            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'width':'4%'}" mat-sort-header scope="row">Action</th>
                <td mat-cell *matCellDef="let element; let i=index">
                    <table class="iconTable" aria-describedby="actionBtn">
                        <tbody>
                            <tr>
                                <td width="30">
                                    <i class="material-icons  plus view-icon" aria-hidden="true">print </i>

                                </td>

                            </tr>
                        </tbody>


                    </table>
                </td>
                <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
            <!-- Header Section Of table -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- Data Fetch From .TS File to table -->
            <tr mat-row *matRowDef="let row; let i = index;columns: displayedColumns;">
            </tr>
        </table>
        <!-- table ends -->
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

        <!--action button-->
        <div class="form-action-button">


            <button type="button" mat-raised-button class="print-btn" title="Print">
                <i class="material-icons" title="Print" aria-hidden="true">print</i>
                Print
            </button>
            <button type="button" mat-raised-button class="btnClose" title="Close">
                <i class="material-icons" title="Close" aria-hidden="true">close</i>
                Close
            </button>


        </div>
        <!--action button ends-->
    </div>
</div>