<div class="container">

  <div class="form-wrapper">
    <div class="table-responsive">
      <table width="80%" align="center"
        style=" font-family:Arial, Helvetica, sans-serif;  text-align: justify;font-size:18px; margin-top: 75px;">

        <tbody>
          <tr>
            <td align="center">
              <div style="font-size:35px;"><strong>DIRECTORATE OF ACCOUNTS & TREASURIES</strong> </div>
              <br>
            </td>
          </tr>
          <tr>
            <table width="100%" align="center"
              style=" font-family:Arial, Helvetica, sans-serif;  text-align: justify;font-size:15px; margin-top: 10px;">
              <tr>
                <td width="10%" style="padding:5px 25px 25px 25px">
                  <div style="margin-top: -39px;margin-left:30">(079)</div>
                </td>
                <td width="40%">
                  <div>
                    23256345<strong>(Joint
                      Director)</strong><br>23257308<strong>(A.O.,GIS)</strong><br>
                    23254992<strong>(G.I.S. Branch)</strong><br>23259760<strong>(Fax)</strong><br><strong>Email:-
                      aohdfc-dat@gujarat.gov.in</strong>

                  </div>
                </td>
                <td width="45%">
                  <div style="text-align: center;margin-left: 110px;">
                    <strong>Government of Gujarat</strong><br>
                    Vima and Lekha Bhavan<br>
                    Dr. Jivraj Mehta Bhavan Compound<br>
                    Sector-10B,Gandhinagar-382 010</div>
                </td>
              </tr>
            </table>
          </tr>
          <tr>
            <td style="height: 10px;"></td>
          </tr>
          <tr>
            <td style="padding: 5px 25px 5px 25px;" width="100%" align="right">
              <div style="font-size: 15px;">
                <strong><i> Date:{{date}}</i></strong>
              </div>
            </td>
          </tr>
          <tr>
            <table style=" font-family:Arial, Helvetica, sans-serif;  text-align: justify;font-size:15px;" width="100%">
              <tr>
                <td width="30%" style="padding: 5px 25px 5px 25px;">
                  <div><strong><u>By. R.P.A.D.</u></strong></div>
                </td>
                <td width="70%">
                  <div style="margin-left:50px;"><strong><u>Form CAM-54( Para 8.2.1 )</u></strong></div>
                </td>
              </tr>
            </table>
          </tr>
          <tr>
            <table style=" font-family:Arial, Helvetica, sans-serif;  text-align: justify;font-size:15px;">
              <tr>
                <td width="100%" style="padding: 5px 25px 5px 25px;">
                  <div>
                    To,<br>The Senior Accounts Officer<br>Principal Accounts Office<br>Ministry of Personnel,<br>Public
                    Grievances and Pension<br>3<sup>rd</sup> Floor, B-Wing, Lok Nayak Bhavan<br>Khan Market, New
                    Delhi-110 003
                  </div>
                </td>
              </tr>
            </table>
          </tr>
          <tr>
            <td style="padding:5px 25px 5px 25px;">
              <div style="margin-left: 100px; font-size: 15px;"><strong>Subject:- Outward Claim Reimbursement Claims
                  under Saving fund of
                  Central Govt.<br><span style="margin-left: 70px;">Employees Group Insurance Scheme-1980-Shri Arvind
                    Agarwal,IAS</span></strong></div>
            </td>
          </tr>
          <tr>
            <td style="padding:5px 25px 5px 25px;">
              <div style="font-size: 15px;">
                <p>
                  Sir,<br>The Schedule(s) disbursements which arose in the account of this office during the month of
                  06/2020 and are adjustable in your books as per summary given hereafter, are sent herewith along
                  with:<br>
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td style="padding:5px 25px 5px 25px;">
              <div style="font-size: 15px;">(i)<span style="margin-left:25px"></span>Cheque/Demand Draft
                No..........................Date................</div>
            </td>
          </tr>
          <tr>
            <td style="padding:5px 25px 5px 25px;margin-left: 8px;">
              <div style="margin-left: 18px;font-size: 15px;">(ii)
                <span>The request that a Demand Draft for
                  <strong><i> Rs.{{amount}}/-({{amountInWords}})</i></strong> drawn in favour of
                  <strong><i>{{officeAddress}}</i></strong>
                  may
                  be
                  sent to undersigned by name within seven days of the receipt of this claim.</span>
              </div>
            </td>
          </tr>
          <tr>
            <table style=" font-family:Arial, Helvetica, sans-serif;  text-align: justify;font-size:15px;">
              <tr>
                <td width="80%" style="padding:5px 25px 5px 25px;">
                  <div style="margin-left: 40px;font-size: 15px;">
                    Summary of outward claim Statement attached here<br>
                    <span style="margin-right:50px">X</span>Receipts.......................<br>
                    <span style="margin-left:60px">.........................................................</span><br>
                    <span
                      style="margin-right:50px">✓</span>Payments.................<strong><i>Rs.{{amount}}/-</i></strong><br>
                    <span style="margin-right:50px">X</span>Receipts<br>
                  </div>
                </td>
              </tr>
            </table>
          </tr>
          <tr>
            <table style=" font-family:Arial, Helvetica, sans-serif;  text-align: justify;font-size:15px;">
              <tr>
                <td width="80%" style="padding:5px 25px 5px 25px;font-size: 15px;">Net<span
                    style="margin-right:75px"></span>.........................................</td><br>
              </tr>
            </table>
          </tr>
          <tr>

            <table style=" font-family:Arial, Helvetica, sans-serif;  text-align: justify;font-size:15px;">
              <tr>
                <td width="80%" style="padding:5px 25px 5px 25px;font-size: 15px;"><span
                    style="margin-left:100px;font-size: 15px;"></span>Payments</td><br>
              </tr>
            </table>
          </tr>
          <tr>
            <td style="padding:5px 25px 5px 25px;font-size: 15px;">Please return the lower half of this letter,dully
              signed
              immediately,in acknowledgement.</td>
          </tr>
          <tr>
            <td style="padding:5px 25px 5px 25px;font-size: 15px;" align="center">PAY AND ACCOUNTS OFFICER</td>
          </tr>
          <tr>
            <td style="padding:5px 25px 5px 25px;font-size: 15px;" align="center">MINISTRY OF
              PERSONNEL, PUBLIC
              GRIEVANCES AND PENSION</td>
          </tr>
          <tr>
            <td style="padding:5px 25px 5px 25px;font-size: 15px;">Details of enclosures(i) Schedules(S) Debits
              containing details of
              schedules Voucher sent</td>
          </tr>
          <tr>
            <td style="padding:5px 25px 5px 25px;">
              <div style="margin-left: 30px;font-size: 15px;">
                <span style="margin-right:31px">✓</span>(ii)<span style="margin-left:5px;"></span>Cheque / Demand
                Draft<br>
              </div>
            </td>
          </tr>
          <tr>
            <td style="padding:5px 25px 5px 25px;">
              <div style="font-size: 15px;text-align: center;">
                ( Portion to be returned by the addressee )
              </div>
            </td>
          </tr>
          <tr>
            <td style="padding:5px 25px 5px 25px;">
              <div style="font-size: 15px;">
                <span style="margin-left:30px;">Receipt is hereby acknowledged of the account received with his letter
                  along with the Demand Draft
                  No...........Date...........For Rs. <strong><i>{{amount}}</i></strong> Steps are being taken to sent
                  Cheque / Demand draft in settlement of the debit raised.</span>
              </div>
            </td>
          </tr>
          <tr>
            <table style=" font-family:Arial, Helvetica, sans-serif;  text-align: justify;font-size:15px;" width="100%">
              <tr>
                <td width="33%" style="padding: 15px 25px 5px 25px;">
                </td>
                <td width="33%">
                  <div style="margin-left:50px;text-align: center;">Signature and Designation<br>Office of the </div>
                </td>
                <td width="33%">
                  <div style="margin-left:50px;text-align: center;">Accounts Officer<br>Group Insurance Scheme</div>
                </td>
              </tr>
            </table>
          </tr>
          <tr>
            <table style=" font-family:Arial, Helvetica, sans-serif;  text-align: justify;font-size:15px;">
              <tr>
                <td width="100%" style="padding: 5px 25px 5px 25px;">
                  <div>
                    To<br>The Pay and Accounts Officer,<br>Ministry / Department of ....................<br>issue on
                    ............................. Date................
                  </div>
                </td>
              </tr>
            </table>
          </tr>
        </tbody>
      </table>

      <table>
        <tr>
          <td style="height: 205px;"></td>
        </tr>
      </table>

      <table width="80%" align="center"
        style=" font-family:Arial, Helvetica, sans-serif;  text-align: justify;font-size:18px; margin-top: 25px;">

        <tbody>
          <tr>
            <td width="100%" style="padding:5px 25px 5px 25px;">
              <div style="margin-left: 5px;"><strong>Enclosure to Form CAM-54</strong></div>
            </td>
          </tr>
          <tr>
            <td width="100%" style="padding:5px 25px 5px 25px;">
              <div style="text-align: center;margin-left: 5px;"><strong>PAY & ACCOUNT OFFICER</strong></div>
            </td>
          </tr>
          <tr>
            <td width="100%" style="padding:5px 25px 5px 25px;">
              <div style="text-align: center;font-size: 15px;"><strong>Ministry of Personnel, Public Grievances and
                  Pension,New
                  Delhi</strong></div>
            </td>
          </tr>
          <tr>
            <td width="100%" style="padding:5px 25px 5px 25px;">
              <div style="margin-left: 5px;"><strong>Schedule Of Debits / Credits adjustable by
                  .......................................</strong>
              </div>
            </td>
          </tr>
          <tr>
            <td width="100%" style="padding:2px 25px 5px 25px;margin-left: 5px;">
              <div style="margin-left: 5px;"><strong>Transaction pertaining to month of <i>{{monthYear}}</i></strong>
              </div>
            </td>
          </tr>
          <tr>
            <td style="padding:5px 25px 5px 25px;">
              <table
                style=" font-family:Arial, Helvetica, sans-serif;  text-align: justify;font-size:15px;border: 1px solid black;"
                width="100%">
                <thead>
                  <td width="10%" style="border: 1px solid black;margin-left: 5px;">
                    <div style="margin-left: 5px;"><strong>Sr. No.</strong></div>
                  </td>
                  <td width="25%" style="border: 1px solid black;text-align: center;"><strong>No. of the accompanying
                      Voucher of Schedule
                      of
                      recoveries etc.</strong>
                  </td>
                  <td width="25%" style="border: 1px solid black;text-align: center;"><strong>Particulars</strong></td>
                  <td width="20%" style="border: 1px solid black;text-align: center;"><strong>Reimbursement
                      Amount</strong></td>
                  <td width="20%" style="border: 1px solid black;text-align: center;"><strong>Remarks</strong></td>
                </thead>
                <tbody>
                  <tr>
                    <td width="10%" style="border: 1px solid black;">
                      <div style="margin-left: 5px;"><strong>1</strong></div>
                    </td>
                    <td width="25%" style="border: 1px solid black;"><strong><i>{{billNo}}</i><br><i>Dt.
                          {{dateForm}}</i></strong>
                    </td>
                    <td width="25%" style="border: 1px solid black;"><strong><i>{{name}}</i></strong></td>
                    <td width="20%" style="border: 1px solid black;"><strong><i>Rs. {{amount}}/-</i></strong></td>
                    <td width="20%" style="border: 1px solid black;">The Reimbursement claim for sending Demand draft
                      from
                      your P.A.O. New Delhi for adjustment for (-) Minus Debit</td>
                  </tr>
                  <tr>
                    <td width="10%" style="border: 1px solid black;"><strong></strong></td>
                    <td width="25%" style="border: 1px solid black;"><strong></strong>
                    </td>
                    <td width="25%" style="border: 1px solid black;text-align: right;"><strong>Total</strong></td>
                    <td width="20%" style="border: 1px solid black;"><strong><i>Rs. {{amount}}/-</i></strong></td>
                    <td width="20%" style="border: 1px solid black;"></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding:5px 25px 5px 25px;font-size: 15px;margin-left: 5px;">
              <div style="margin-left: 12px"><strong><i>Rs. {{amount}}/-({{amountInWords}})</i></strong></div>
            </td>
          </tr>
          <tr>
            <td style="padding:5px 25px 5px 25px;font-size: 15px;">
              <table style=" font-family:Arial, Helvetica, sans-serif;  text-align: justify;font-size:15px;"
                width="100%">
                <tr>
                  <td width="50%" style="padding:5px 25px 5px 25px;"></td>
                  <td width="50%" style="padding:5px 25px 5px 25px;">
                    <div style="float:right;margin-right:40px;font-size: 15px;"><strong>Accounts Officer<br>Group
                        Insurance
                        Scheme</strong></div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>