/* for setting the background color of Year column value in Year wise Financial projections of fund utilization */
.bgnlue{
    background: #5783a6 !important;
    color: #ffffff;
}


/* for setting other than Year header column properties in Year wise Financial projections of fund utilization */
.bgnone{
    background: none !important;
    color: #000 !important;
    border-right: 1px solid rgb(234, 234, 234) !important;
    border-bottom: 1px solid transparent !important;
}


/* for setting borders for the row data in Year wise Financial projections of fund utilization  */
.yearwise tr.mat-header-row{
    border-top: 1px solid transparent !important;
    border-bottom: 1px solid transparent !important;
}

/* to add space between (In ₹) and (In Percentage) in Financial Arrangement */
.spacheight{height: 5px; display: inherit;}


/* to add space between Complete / Ongoing / Pipeline / Paused / Underestimation / External added Projects and the table */
.externalprotable .mat-table .mat-row{
    height: 42px !important;
}

/* to set the width of the header column named Year  Year wise Financial projections of fund utilization  */
.yearwidth{ width: 105px;}