<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>Close Account</div>
            <div class="font-heading"><b>Reference No:</b> 19-20/PDPLA/CA/001</div>
            <div class="font-heading"><b>Reference Date:</b> {{ initiatiomdate | date: 'dd-MMM-yyyy HH:mm'}}</div>
        </div>
        <!-- Navigation starts -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item " aria-current="page">PD/PLA</li>
                <li class="breadcrumb-item active" aria-current="page">PD/PLA A/C Closing Request-DAT Level</li>
            </ol>
        </nav>
        <!-- Navigation ends -->

        <mat-tab-group mat-stretch-tabs [selectedIndex]="selectedIndex" (selectedIndexChange)="getTabIndex($event)">
            <!-- Account Closing Detail Tab -->
            <mat-tab>
                <form [formGroup]="pdplaform">
                    <ng-template mat-tab-label>
                        Account Closing Detail
                    </ng-template>
                    <div class="row">

                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="PD/PLA Account Number" value="GSRTC" readonly
                                    formControlName="pdplaAccNo">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder=" Office Name" value="GSRTC-1" readonly
                                    formControlName="officeName">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                            <mat-form-field>
                                <input matInput numbersOnly maxlength="6" placeholder="Cardex No." value="123" readonly
                                    formControlName="cardexNo">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                            <mat-form-field>
                                <input matInput numbersOnly maxlength="6" placeholder="DDO No." value="543" readonly
                                    formControlName="ddoNo">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                            <mat-form-field>
                                <mat-select name="Major-Head" formControlName="majorHead" placeholder="Major Head"
                                    required>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="majorCtrl"
                                            [placeholderLabel]="'Select Major Head ...'"
                                            [noEntriesFoundLabel]="'no matching Major Head found'">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option
                                        *ngFor="let major of majorHead_list | filterSelectInput : majorCtrl.value : 'viewValue'"
                                        [value]="major.value" [matTooltip]="major.viewValue">
                                        {{major.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <div class="error-wrapper"
                                    *ngIf="pdplaform.controls.majorHead.touched && pdplaform.controls.majorHead.errors">
                                    <mat-error *ngIf="pdplaform.controls.majorHead.errors.required">
                                        {{errorMessages.MAJOR_HEAD}}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>


                        <div class="col-sm-3">
                            <mat-form-field>
                                <mat-select name="sub-Major-Head" formControlName="subMajorHead"
                                    placeholder="Sub-Major Head" required>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="subMajorCtrl"
                                            [placeholderLabel]="'Select Sub-Major Head ...'"
                                            [noEntriesFoundLabel]="'no matching Sub-Major Head found'">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option
                                        *ngFor="let submajor of subMajorHead_list | filterSelectInput : subMajorCtrl.value : 'viewValue'"
                                        [value]="submajor.value" [matTooltip]="submajor.viewValue">
                                        {{submajor.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <div class="error-wrapper"
                                    *ngIf="pdplaform.controls.subMajorHead.touched && pdplaform.controls.subMajorHead.errors">
                                    <mat-error *ngIf="pdplaform.controls.subMajorHead.errors.required">
                                        {{errorMessages.SUB_MAJOR_HEAD}}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                            <mat-form-field>
                                <mat-select name="sub-Major-Head" formControlName="minorHead" placeholder="Minor Head"
                                    required>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="minorHeadCtrl"
                                            [placeholderLabel]="'Select Minor Head ...'"
                                            [noEntriesFoundLabel]="'no matching Minor Head found'">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option
                                        *ngFor="let minor of minorHead_list | filterSelectInput : minorHeadCtrl.value : 'viewValue'"
                                        [value]="minor.value" [matTooltip]="minor.viewValue">
                                        {{minor.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <div class="error-wrapper"
                                    *ngIf="pdplaform.controls.minorHead.touched && pdplaform.controls.minorHead.errors">
                                    <mat-error *ngIf="pdplaform.controls.minorHead.errors.required">
                                        {{errorMessages.MINOR_HEAD}}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>


                        <div class="col-sm-3">
                            <mat-form-field>
                                <mat-select name="sub-Head" formControlName="subHead" placeholder="Sub Head" required>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="subHeadCtrl"
                                            [placeholderLabel]="'Select Sub Head ...'"
                                            [noEntriesFoundLabel]="'no matching Sub Head found'">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option
                                        *ngFor="let subHead of subHead_list | filterSelectInput : subHeadCtrl.value : 'viewValue'"
                                        [value]="subHead.value" [matTooltip]="subHead.viewValue">
                                        {{subHead.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <div class="error-wrapper"
                                    *ngIf="pdplaform.controls.subHead.touched && pdplaform.controls.subHead.errors">
                                    <mat-error *ngIf="pdplaform.controls.subHead.errors.required">
                                        {{errorMessages.SUB_HEAD}}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field>
                                <mat-select name="pdpla" formControlName="pdplaType" placeholder="PD/PLA Type"
                                    (selectionChange)='pdplaTypeChanged($event)'>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="pdplaCtrl"
                                            [placeholderLabel]="'Select PD/PLA Type ...'"
                                            [noEntriesFoundLabel]="'no matching PD/PLA Type found'">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option>-- None --</mat-option>
                                    <mat-option
                                        *ngFor="let pdpla of pdplaType_list | filterSelectInput : pdplaCtrl.value : 'viewValue'"
                                        [value]="pdpla.value" [matTooltip]="pdpla.viewValue">
                                        {{pdpla.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput type="text" placeholder="{{purpose}}" value="New PD/PLA office created"
                                    formControlName="purpose">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Closing Balance" value="0.00" readonly
                                    formControlName="closingBalance">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Last Transaction Date" value="01-Apr-2016" readonly
                                    formControlName="lastTransactionDate">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Treasury Office Balance" formControlName="toBalance">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="AG Balance" formControlName="agBalance">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Administrative Balance"
                                    formControlName="administrativeBalance">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Reason for Closing" formControlName="reasonForClosing">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                            <mat-form-field>
                                <input matInput formControlName="reconciliationUpToDate"
                                    [matDatepicker]="reconciliationUpToDate"
                                    placeholder="Reconciliation Done Up To Date">
                                <mat-datepicker-toggle matSuffix [for]="reconciliationUpToDate">
                                </mat-datepicker-toggle>
                                <mat-datepicker #reconciliationUpToDate></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                            <mat-checkbox formControlName="unusedChequeHasBeenDestroyed" [disabled]="true">Unused cheque
                                has been destroyed
                            </mat-checkbox>
                        </div>
                    </div>
                    <!-- Common Button -->
                    <div class="form-action-button">

                        <button mat-raised-button type="submit" class="green"
                            (click)="directiveObject.workflowDetails()">
                            <i class="material-icons" aria-hidden="true" title="done">
                                done
                            </i> Submit</button>


                        <button type="button" mat-raised-button (click)="gotoListing()" color="warn">
                            <i class="material-icons" aria-hidden="true" title="Listing">
                                list
                            </i>
                            Listing
                        </button>

                        <button type="button" mat-raised-button class="btnClose">
                            <i class="material-icons" aria-hidden="true" title="close">
                                close
                            </i>
                            Close
                        </button>
                    </div>
                    <!-- End Common Button -->
                </form>
            </mat-tab>

            <!-- attachments Tab -->
            <mat-tab label="Attachments">

                <app-common-attachment [attachemntValue]="attachmentTypeCode"></app-common-attachment>

                <!-- Common Button -->
                <div class="form-action-button">

                    <button mat-raised-button type="submit" class="green" (click)="directiveObject.workflowDetails()">
                        <i class="material-icons" aria-hidden="true" title="done">
                            done
                        </i> Submit</button>


                    <button type="button" mat-raised-button (click)="gotoListing()" color="warn">
                        <i class="material-icons" aria-hidden="true" title="Listing">
                            list
                        </i>
                        Listing
                    </button>

                    <button type="button" mat-raised-button class="btnClose">
                        <i class="material-icons" aria-hidden="true" title="close">
                            close
                        </i>
                        Close
                    </button>
                </div>
                <!-- End Common Button -->
            </mat-tab>
        </mat-tab-group>

    </div>
</div>