.change-direction{
    margin-left: auto;
    float: right !important;
}

.doted-border{
    padding: 20px 30px;
    text-align: left;
    border: dashed 3px #C1C3C5;
}

.upload-pic-txt{
    font-size:14px;
    font-weight: 600;
    text-transform: uppercase;
}

.user-pic{
    font-size: 8em;
    color: #cbe1ff;
    border: 1px dotted #CCC;
    width: auto;
    height: auto;
}
.btn-browse i {
    font-size: 21px;
    color: #6e86a7;
    vertical-align: bottom;
    line-height: normal;
}

.file-info{
    font-size: smaller;
}