.next-button {
    justify-content: center;
}

.last-button {
    justify-content: flex-start;
}

.mat-elevation-z8 {
    overflow-x: auto;
    margin-top: 10px;
}

.mat-table td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    max-width: 150px;
}

@media print {
    .btn-export-pdf,
    .btn-export-excel,
    .btn-print {
        display: none !important;
    }
    /* app-root app-print-layout {
        display: block;
    } */
}

.mat-table .mat-header-row {
    display: contents !important;
    line-height: 35px;
}