.tablebgname {
    background-color: #D3D3D3;
    text-align: center;

}

.trstyle {
    text-align: center;
     font-weight: bold;
      background-color: gray;
}

.trAlignCent {
    text-align: center;
}

.trColorRed {
    color: red;
}
input.mat-input-element {
    font-weight: normal;
  }