.penLink{
    color: white !important;
    cursor:pointer;
}
.penLink:hover{
    text-decoration: underline !important;
}
.mat-row {   
    height: 40px !important;
}

.interest-dialog .mat-table th.mat-header-cell.penaltyInterest{
       min-width: 100px;
       padding: 0 10px;   
}



::ng-deep .interest-dialog table.mat-table .mat-form-field-wrapper
{
    width: 75px;
}


.interest-dialog{
    display: block;
    width: 100%;
    overflow-x: auto;
}