<div class="container">
  <div class="form-wrapper">
    <div class="heading-section ng-star-inserted">
      <div>Receive Payment Scroll Details</div>
    </div>
    <!-- Navigations Starts -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">EA</a></li>
        <li class="breadcrumb-item active" aria-current="page">Receive Payment Scroll Details</li>
      </ol>
    </nav>
    <!-- Navigations Ends-->
    <div class="panel-group">
      <div class="box box-primary">
        <form [formGroup]="scrollPaymentDetailsForm">
          <!-- Table List Starts-->
          <div class="box-body">
            <table mat-table [dataSource]="dataSource" width="100%" matSort aria-describedby="scrollPaymentDetails">
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef scope="row">
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row" class="centerAlign">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="sDate">
                <th mat-header-cell *matHeaderCellDef scope="row">Scroll Date</th>
                <td mat-cell *matCellDef="let element">{{ element.sDate }}</td>
              </ng-container>

              <ng-container matColumnDef="cNo">
                <th mat-header-cell *matHeaderCellDef scope="row">Cheque No</th>
                <td mat-cell *matCellDef="let element">{{element.cNo}}</td>
              </ng-container>

              <ng-container matColumnDef="amt">
                <th mat-header-cell *matHeaderCellDef scope="row">Cheque / Certificate Amount</th>
                <td mat-cell *matCellDef="let element" class="rightAlign">{{ element.amt }}</td>
              </ng-container>

              <ng-container matColumnDef="pName">
                <th mat-header-cell *matHeaderCellDef scope="row">Party Name</th>
                <td mat-cell *matCellDef="let element">{{ element.pName }}</td>
              </ng-container>

              <ng-container matColumnDef="cDate">
                <th mat-header-cell *matHeaderCellDef scope="row">Cheque / Certificate Date</th>
                <td mat-cell *matCellDef="let element">{{ element.cDate }}</td>
              </ng-container>

              <ng-container matColumnDef="advNo">
                <th mat-header-cell *matHeaderCellDef scope="row">Advice No.</th>
                <td mat-cell *matCellDef="let element">{{ element.advNo }}</td>
              </ng-container>

              <ng-container matColumnDef="paidDate">
                <th mat-header-cell *matHeaderCellDef scope="row">Cheque / Certificate Paid Date </th>
                <td mat-cell *matCellDef="let element">{{ element.paidDate }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns"></tr>
            </table>

          </div>
          <!-- Common Action Button Starts -->
          <div class="form-action-button">
            <button type="submit" mat-raised-button color="primary" title="Save As Draft">
              Accept
            </button>

            <button type="submit" mat-raised-button color="primary" title="Save As Draft">
              Non Accept
            </button>


            <button type="button" mat-raised-button class="btnClose" (click)="directiveObject.onClose()">
              <i class="material-icons" aria-hidden="true" title="close">
                close
              </i>
              Close
            </button>
          </div>
          <!-- Common Action Button Ends-->
        </form>
      </div>
    </div>


  </div>
</div>
