<div class="container">

  <div class="form-wrapper  ddo-table">
    <div class="table-responsive">
      <table class="table-border-event">
        <tr>
          <td align="center">
            <div class="font-20"><strong>District Treasury Office, Gandhinagar</strong> </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="font-16"><strong>Form No. PCI - 3  8658- Daily Input Sheet</strong></div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="font-16"> <strong>From Date: 01/06/2020</strong> &nbsp; &nbsp;&nbsp;&nbsp; <strong>To Date :
                30/06/2020</strong></div>
          </td>
        </tr>
        <br>
        <div class="line"> </div>
        <tr>
          Major Head: 2053 – District Administration
        </tr>
        <tr>
          Edp Code: 9583/9584
        </tr>
        <tr>
          Insurance Scheme 1980 – Insurance & Saving Fund
        </tr>
        <div class="line"> </div>
        <tr>
          <td>

            <table style=" text-align: center;border: 1px solid #000000 !important ;" width="100% ">
              <tr>
                <td style="text-align: center;border: 1px solid #000000 !important ;"><strong>Vr No.</strong>
                </td>
                <td style="text-align: center;border: 1px solid #000000 !important ;"><strong>Vr. Dt.
                  </strong></td>
                <td style="text-align: center;border: 1px solid #000000 !important ;"><strong>Cardex No.</strong></td>
                <td style="text-align: center;border: 1px solid #000000 !important ;"><strong>DDO No.</strong></td>
                <td style="text-align: center;border: 1px solid #000000 !important ;"><strong>EDP Code
                  </strong></td>
                <td style="text-align: center;border: 1px solid #000000 !important;"><strong>DDO Name
                  </strong>
                </td>
                <td style="text-align: center;border: 1px solid #000000 !important;"><strong>Employee No.
                  </strong>
                </td>
                <td style="text-align: center;border: 1px solid #000000 !important;"><strong>Employee Name
                  </strong>
                </td>
                <td style="text-align: center;border: 1px solid #000000 !important;"><strong>Tc Amount
                  </strong>
                </td>
              </tr>

              <tr>
                <td style="text-align: center;border: 1px solid #000000 !important ;">11</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">01/05/2020 </td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">243</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">143</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">9584</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">Assistant Collector, Deputy
                  Collector Office, Mansa, Gandhinagar
                </td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">1000035468</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">Mr. Gurumeetsingh </td>
                <td style="text-align: right;border: 1px solid #000000 !important ;">84.00</td>
              </tr>

              <tr>
                <td style="text-align: center;border: 1px solid #000000 !important ;">11</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">01/05/2020 </td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">243</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">143</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">9583</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">Assistant Collector, Deputy
                  Collector Office, Mansa, Gandhinagar
                </td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">1000035468</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">Mr. Gurumeetsingh </td>
                <td style="text-align: right;border: 1px solid #000000 !important ;">36.00</td>
              </tr>

              <tr>
                <td style="text-align: center;border: 1px solid #000000 !important ;">12</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">01/05/2020 </td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">243</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">143</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">9584</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">Chitnis, Collector Office,
                  Gandhinagar
                </td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">1000007586</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">Mr. Ram Narayan Pathak </td>
                <td style="text-align: right;border: 1px solid #000000 !important ;">84.00</td>
              </tr>

              <tr>
                <td style="text-align: center;border: 1px solid #000000 !important ;">12</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">01/05/2020 </td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">243</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">143</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">9583</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">Chitnis, Collector Office,
                  Gandhinagar
                </td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">1000007586</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">Mr. Ram Narayan Pathak </td>
                <td style="text-align: right;border: 1px solid #000000 !important ;">36.00</td>
              </tr>

              <tr>
                <td colspan="5" style="text-align: center;border: 1px solid #000000 !important ;">Total No. of Voucher :
                  2</td>
                <td colspan="3" style="text-align: left;border: 1px solid #000000 !important ;"><strong></strong></td>
                <td style="text-align: right;border: 1px solid #000000 !important ;">240.00</td>
              </tr>
            </table>
          </td>
        </tr>
        <br>

        <div class="line"> </div>
        <tr>
          Major Head: 2055 – Police
        </tr>
        <tr>
          Edp Code: 9583/9584
        </tr>
        <tr>
          Insurance Scheme 1980 – Insurance & Saving Fund
        </tr>
        <div class="line"> </div>
        <tr>
          <td>

            <table style=" text-align: center;border: 1px solid #000000 !important ;" width="100% ">
              <tr>
                <td style="text-align: center;border: 1px solid #000000 !important ;"><strong>Vr No.</strong>
                </td>
                <td style="text-align: center;border: 1px solid #000000 !important ;"><strong>Vr. Dt.
                  </strong></td>
                <td style="text-align: center;border: 1px solid #000000 !important ;"><strong>Cardex No.</strong></td>
                <td style="text-align: center;border: 1px solid #000000 !important ;"><strong>DDO No.</strong></td>
                <td style="text-align: center;border: 1px solid #000000 !important ;"><strong>EDP Code
                  </strong></td>
                <td style="text-align: center;border: 1px solid #000000 !important;"><strong>DDO Name
                  </strong>
                </td>
                <td style="text-align: center;border: 1px solid #000000 !important;"><strong>Employee No.
                  </strong>
                </td>
                <td style="text-align: center;border: 1px solid #000000 !important;"><strong>Employee Name
                  </strong>
                </td>
                <td style="text-align: center;border: 1px solid #000000 !important;"><strong>Tc Amount
                  </strong>
                </td>
              </tr>

              <tr>
                <td style="text-align: center;border: 1px solid #000000 !important ;">1</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">01/02/2020 </td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">243</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">143</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">9584</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">Office Superintendent of Police,
                  District Superintendent of Police, Gandhinagar
                </td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">1000006584</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">Mr. S V Sarju </td>
                <td style="text-align: right;border: 1px solid #000000 !important ;">84.00</td>
              </tr>

              <tr>
                <td style="text-align: center;border: 1px solid #000000 !important ;">1</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">01/02/2020 </td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">243</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">143</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">9583</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">Office Superintendent of Police,
                  District Superintendent of Police, Gandhinagar
                </td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">1000006584</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">Mr. S V Sarju </td>
                <td style="text-align: right;border: 1px solid #000000 !important ;">36.00</td>
              </tr>


              <tr>
                <td colspan="5" style="text-align: center;border: 1px solid #000000 !important ;">Total No. of Voucher :
                  1</td>
                <td colspan="3" style="text-align: left;border: 1px solid #000000 !important ;"><strong></strong></td>
                <td style="text-align: right;border: 1px solid #000000 !important ;">120.00</td>
              </tr>
            </table>
          </td>
        </tr>

        <br>
        <div class="line"> </div>
        <tr>
          Major Head: 2406 – Forestry and Wild Life
        </tr>
        <tr>
          Edp Code: 9583/9584
        </tr>
        <tr>
          Insurance Scheme 1980 – Insurance & Saving Fund
        </tr>
        <div class="line"> </div>
        <tr>
          <td>

            <table style=" text-align: center;border: 1px solid #000000 !important ;" width="100% ">
              <tr>
                <td style="text-align: center;border: 1px solid #000000 !important ;"><strong>Vr No.</strong>
                </td>
                <td style="text-align: center;border: 1px solid #000000 !important ;"><strong>Vr. Dt.
                  </strong></td>
                <td style="text-align: center;border: 1px solid #000000 !important ;"><strong>Cardex No.</strong></td>
                <td style="text-align: center;border: 1px solid #000000 !important ;"><strong>DDO No.</strong></td>
                <td style="text-align: center;border: 1px solid #000000 !important ;"><strong>EDP Code
                  </strong></td>
                <td style="text-align: center;border: 1px solid #000000 !important;"><strong>DDO Name
                  </strong>
                </td>
                <td style="text-align: center;border: 1px solid #000000 !important;"><strong>Employee No.
                  </strong>
                </td>
                <td style="text-align: center;border: 1px solid #000000 !important;"><strong>Employee Name
                  </strong>
                </td>
                <td style="text-align: center;border: 1px solid #000000 !important;"><strong>Tc Amount
                  </strong>
                </td>
              </tr>

              <tr>
                <td style="text-align: center;border: 1px solid #000000 !important ;">3</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">03/02/2020 </td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">243</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">143</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">9584</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">Deputy Conservator of Forest, Deputy
                  Conservator of Forest, Social Forestry Division, Gandhinagar
                </td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">1000003526</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">Mr. M Dhanpal </td>
                <td style="text-align: right;border: 1px solid #000000 !important ;">84.00</td>
              </tr>

              <tr>
                <td style="text-align: center;border: 1px solid #000000 !important ;">3</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">03/02/2020 </td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">243</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">143</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">9583</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">Deputy Conservator of Forest, Deputy
                  Conservator of Forest, Social Forestry Division, Gandhinagar
                </td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">1000003526</td>
                <td style="text-align: left;border: 1px solid #000000 !important ;">Mr. M Dhanpal </td>
                <td style="text-align: right;border: 1px solid #000000 !important ;">36.00</td>
              </tr>


              <tr>
                <td colspan="5" style="text-align: center;border: 1px solid #000000 !important ;">Total No. of Voucher :
                  1</td>
                <td colspan="3" style="text-align: left;border: 1px solid #000000 !important ;"><strong></strong></td>
                <td style="text-align: right;border: 1px solid #000000 !important ;">120.00</td>
              </tr>
              <tr>
                <td colspan="4" style="text-align: center;border: 1px solid #000000 !important ;">Gross Total</td>
                <td colspan="2" style="text-align: center;border: 1px solid #000000 !important ;">Total No. of Voucher :
                  4</td>
                <td colspan="2" style="text-align: left;border: 1px solid #000000 !important ;"><strong></strong></td>
                <td style="text-align: right;border: 1px solid #000000 !important ;">480.00</td>
              </tr>
            </table>
          </td>
        </tr>

      </table>

    </div>
  </div>
</div>