
@import "../../edp_common_style.css";

.subofficelisttable {
    margin-top: 5px;
}
.attechmentData{
    text-align: left;
}
.officeNameData {
    display:flex; 
    align-items:center;
}
.subOffice {
    margin-left: auto;
    margin-bottom: 5px;
}
.legend {
    margin-bottom: 25px;
}
.starSign{
    color: #ff0000;
}
.phoneNo {
    display: inline-flex;
}
.phoneNoPaddingZero {
    padding-left: 0px;
    padding-right: 0px;
}

.ofcestablishtable .mat-form-field{
margin-top: 6px;
}

.ofcestablishtable .mat-select{
    padding-bottom:6px !important;
    }
  
@media screen and (min-width:0\0) {

    ::ng-deep .mat-dialog-container{
        width: 900px !important;
    }
}
