<div class="form-wrapper">
    <div class="pannel-group">
        <div class="heading-section ng-star-inserted">
            <div>Account Generation Account Officer Level</div>
            <div class="font-heading"><strong>Reference Number:</strong> 19-20/GPF/AGD/001</div>
            <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}
            </div>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Worklist</a></li>
                <li class="breadcrumb-item active" aria-current="page">Account Generation Account Officer Level</li>
            </ol>
        </nav>
        <form [formGroup]='accountOfficerLevelForm'>
            <!-- Account Holder Details Starts -->
            <div class=" box box-primary">
                <div class="box-header">
                    Account Holder Details
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Inward No." formControlName='inwardNumber'
                                    (change)="enterInwardNo()">
                                <mat-icon matSuffix (click)="openInwardDialog()">search</mat-icon>
                                <div class="error-wrapper"
                                    *ngIf=" accountOfficerLevelForm.controls.inwardNumber.touched &&accountOfficerLevelForm.controls.inwardNumber.errors">
                                    <mat-error *ngIf="accountOfficerLevelForm.controls.inwardNumber.errors.required">
                                        {{ errorMessage.INWARD_NUMBER }}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <mat-form-field>
                                <mat-label>Inward Date</mat-label>
                                <input matInput [matDatepicker]="picker" [max]='maxDate' required
                                    formControlName="dateInward" dateOnly />
                                <div class="error-wrapper"
                                    *ngIf=" accountOfficerLevelForm.controls.dateInward.touched &&accountOfficerLevelForm.controls.dateInward.errors">
                                    <mat-error *ngIf="accountOfficerLevelForm.controls.dateInward.errors.required">
                                        {{ errorMessage.DATE_INWARD }}
                                    </mat-error>
                                </div>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>

                            </mat-form-field>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Employee No" formControlName='employeeNo'
                                    decimalLimitTwoOnly>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="First Name" formControlName='firstName' alphabetsSpaceOnly
                                    required>
                                <div class="error-wrapper"
                                    *ngIf=" accountOfficerLevelForm.controls.firstName.touched &&accountOfficerLevelForm.controls.firstName.errors">
                                    <mat-error *ngIf="accountOfficerLevelForm.controls.firstName.errors.required">
                                        {{ errorMessage.FIRST_NAME }}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>


                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Middle Name" formControlName='middleName'
                                    alphabetsSpaceOnly required>
                                <div class="error-wrapper"
                                    *ngIf=" accountOfficerLevelForm.controls.middleName.touched &&accountOfficerLevelForm.controls.middleName.errors">
                                    <mat-error *ngIf="accountOfficerLevelForm.controls.middleName.errors.required">
                                        {{ errorMessage.MIDDLE_NAME }}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>


                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Last Name" formControlName='lastName' alphabetsSpaceOnly
                                    required>
                                <div class="error-wrapper"
                                    *ngIf=" accountOfficerLevelForm.controls.lastName.touched &&accountOfficerLevelForm.controls.lastName.errors">
                                    <mat-error *ngIf="accountOfficerLevelForm.controls.lastName.errors.required">
                                        {{ errorMessage.LAST_NAME}}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <mat-form-field>
                                <mat-label>Date Of Birth</mat-label>
                                <input matInput [matDatepicker]="dobpicker" required formControlName="dateOfBirth"
                                    dateOnly />
                                <mat-datepicker-toggle matSuffix [for]="dobpicker"></mat-datepicker-toggle>
                                <mat-datepicker #dobpicker></mat-datepicker>
                                <div class="error-wrapper" *ngIf="
              accountOfficerLevelForm.controls.dateOfBirth.touched &&
              accountOfficerLevelForm.controls.dateOfBirth.errors
                    ">
                                    <mat-error *ngIf="
                accountOfficerLevelForm.controls.dateOfBirth.errors
                          .required
                      ">
                                        {{ errorMessage.DATE_OF_BIRTH }}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <mat-form-field>
                                <mat-label> Date Of Joining</mat-label>
                                <input matInput [matDatepicker]="dojpicker" required formControlName="dateOfJoining"
                                    dateOnly />
                                <mat-datepicker-toggle matSuffix [for]="dojpicker"></mat-datepicker-toggle>
                                <mat-datepicker #dojpicker></mat-datepicker>
                                <div class="error-wrapper" *ngIf="
              accountOfficerLevelForm.controls.dateOfJoining.touched &&
              accountOfficerLevelForm.controls.dateOfJoining.errors
                    ">
                                    <mat-error *ngIf="
                accountOfficerLevelForm.controls.dateOfJoining.errors
                          .required
                      ">
                                        {{ errorMessage.DATE_OF_JOINING }}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                            <mat-form-field class="full-width">
                                <mat-select formControlName="department" placeholder="Department" required>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="typeOfDepartmentCtrl"
                                            [placeholderLabel]="'Find Department..'"
                                            [noEntriesFoundLabel]="'no matching Departmentfound'">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="
                  let CE of classTypeOfDepartment
                    | filterSelectInput: typeOfDepartmentCtrl.value
                " [value]="CE.value" matTooltip="{{ CE.viewValue }}">
                                        {{ CE.viewValue }}
                                    </mat-option>
                                </mat-select>
                                <div class="error-wrapper" *ngIf="
              accountOfficerLevelForm.controls.department.touched &&
              accountOfficerLevelForm.controls.department.errors
              ">
                                    <mat-error *ngIf="
                accountOfficerLevelForm.controls.department.errors.required
                ">
                                        {{ errorMessage.TYPE_OF_DEPARTMENT }}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 col-md-3"
                            *ngIf="this.accountOfficerLevelForm.controls.department.value=='5'">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Batch Number" formControlName='batchNo'>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                            <mat-form-field class="full-width">
                                <mat-select formControlName="hod" placeholder="HOD" required>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="typeOfHodCtrl"
                                            [placeholderLabel]="'Find HOD...'"
                                            [noEntriesFoundLabel]="'no matching HOD found'">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="
                  let CE of classTypeOfHod
                    | filterSelectInput: typeOfHodCtrl.value
                " [value]="CE.value" matTooltip="{{ CE.viewValue }}">
                                        {{ CE.viewValue }}
                                    </mat-option>
                                </mat-select>
                                <div class="error-wrapper" *ngIf="
              accountOfficerLevelForm.controls.hod.touched &&
              accountOfficerLevelForm.controls.hod.errors
              ">
                                    <mat-error *ngIf="
                accountOfficerLevelForm.controls.hod.errors.required
                ">
                                        {{ errorMessage.TYPE_OF_HOD }}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>



                        <div class="col-sm-3">
                            <mat-form-field class="full-width">
                                <mat-select formControlName="district" placeholder="District" required>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="typeOfDistrictCtrl"
                                            [placeholderLabel]="'Find District...'"
                                            [noEntriesFoundLabel]="'no matching District found'">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="
                  let CE of classTypeOfDistrict
                    | filterSelectInput: typeOfDistrictCtrl.value
                " [value]="CE.value">
                                        {{ CE.viewValue }}
                                    </mat-option>
                                </mat-select>
                                <div class="error-wrapper" *ngIf="
              accountOfficerLevelForm.controls.district.touched &&
              accountOfficerLevelForm.controls.district.errors
              ">
                                    <mat-error *ngIf="
                accountOfficerLevelForm.controls.district.errors.required
                ">
                                        {{ errorMessage.TYPE_OF_DISTRICT}}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                            <mat-form-field class="full-width">
                                <mat-select formControlName="gender" placeholder="Gender" required>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="typeOfGenderCtrl"
                                            [placeholderLabel]="'Find Gender...'"
                                            [noEntriesFoundLabel]="'no matching Gender found'">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="
                  let CE of classTypeOfGender
                    | filterSelectInput: typeOfGenderCtrl.value
                " [value]="CE.value">
                                        {{ CE.viewValue }}
                                    </mat-option>
                                </mat-select>
                                <div class="error-wrapper" *ngIf="
              accountOfficerLevelForm.controls.gender.touched &&
              accountOfficerLevelForm.controls.gender.errors
              ">
                                    <mat-error *ngIf="
                accountOfficerLevelForm.controls.gender.errors.required
                ">
                                        {{ errorMessage.TYPE_OF_GENDER }}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Basic Pay" formControlName='basicPay' decimalLimitTwoOnly
                                    maxlength="16">
                                <div class="error-wrapper"
                                    *ngIf=" accountOfficerLevelForm.controls.basicPay.touched &&accountOfficerLevelForm.controls.basicPay.errors">
                                    <mat-error *ngIf="accountOfficerLevelForm.controls.basicPay.errors.required">
                                        {{ errorMessage.BASIC_PAY }}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                            <mat-form-field class="full-width">
                                <mat-select formControlName="employeeClass" placeholder="Employee Class" required>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="typeOfEmployeeClassCtrl"
                                            [placeholderLabel]="'Find EmployeeClass...'"
                                            [noEntriesFoundLabel]="'no matching EmployeeClass found'">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="
                  let CE of classTypeOfEmployeeClass
                    | filterSelectInput: typeOfEmployeeClassCtrl.value
                " [value]="CE.value">
                                        {{ CE.viewValue }}
                                    </mat-option>
                                </mat-select>
                                <div class="error-wrapper" *ngIf="
              accountOfficerLevelForm.controls.employeeClass.touched &&
              accountOfficerLevelForm.controls.employeeClass.errors
              ">
                                    <mat-error *ngIf="
                accountOfficerLevelForm.controls.employeeClass.errors.required
                ">
                                        {{ errorMessage.TYPE_OF_EMPLOYEE_CLASS}}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                            <mat-form-field class="full-width">
                                <mat-select formControlName="employeeType" placeholder="Employee Type" required>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="typeOfEmployeeTypeCtrl"
                                            [placeholderLabel]="'Find Employee Type...'"
                                            [noEntriesFoundLabel]="'no matching Employee Type found'">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="
                  let CE of classTypeOfEmployeeType
                    | filterSelectInput: typeOfEmployeeTypeCtrl.value
                " [value]="CE.value">
                                        {{ CE.viewValue }}
                                    </mat-option>
                                </mat-select>
                                <div class="error-wrapper" *ngIf="
              accountOfficerLevelForm.controls.employeeType.touched &&
              accountOfficerLevelForm.controls.employeeType.errors
              ">
                                    <mat-error *ngIf="
                accountOfficerLevelForm.controls.employeeType.errors.required
                ">
                                        {{ errorMessage.TYPE_OF_EMPLOYEE }}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Office Name" formControlName='officeName' maxlength="50">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Office Address" formControlName='officeAddress'
                                    maxlength="100">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Account Holder Details Ends -->

            <!-- Nominee Details Starts -->
            <div class="box box-primary">
                <div class="box-header">Nominee Details</div>
                <div class="box-body">
                    <div class=" row">

                        <div class="col-sm-12  overflow-x-auto  ">
                            <div class="mat-elevation-z8 table-responsive mt-2">

                                <table mat-table [dataSource]="dataSourceNominee" width="100%">
                                    <ng-container matColumnDef="relationship">
                                        <th mat-header-cell *matHeaderCellDef scope="row">Relationship</th>
                                        <td mat-cell *matCellDef="let item;let i = index;">
                                            <mat-select [(ngModel)]="item.relationship" placeholder="Relationship"
                                                [ngModelOptions]="{standalone:
                      true}">
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="relationshipCtrl"
                                                        [placeholderLabel]="'Find relationship...'"
                                                        [noEntriesFoundLabel]="'no matching relationship found'">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option
                                                    *ngFor="let relationship of relationship_list | filterSelectInput: relationshipCtrl.value"
                                                    [value]="relationship.value">
                                                    {{relationship.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="nomineeName">
                                        <th mat-header-cell *matHeaderCellDef scope="row">Name of Nominee</th>
                                        <td mat-cell *matCellDef="let item">
                                            <mat-form-field floatLabel="never">
                                                <input matInput [value]="item.nomineeName"
                                                    [(ngModel)]="item.nomineeName" maxlength="100" charactersOnly
                                                    [ngModelOptions]="{standalone:
                          true}">
                                            </mat-form-field>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="nomineeAddress">
                                        <th mat-header-cell *matHeaderCellDef scope="row">Nominee Address</th>
                                        <td mat-cell *matCellDef="let item">
                                            <mat-form-field floatLabel="never">
                                                <textarea matInput [value]="item.nomineeAddress"
                                                    [(ngModel)]="item.nomineeAddress" maxlength="100" [ngModelOptions]="{standalone:
                          true}"></textarea>
                                            </mat-form-field>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="nomineeDOB">
                                        <th mat-header-cell *matHeaderCellDef scope="row">Nominee Age/ Date Of Birth
                                        </th>
                                        <td mat-cell *matCellDef="let item">
                                            <mat-form-field floatLabel="never">
                                                <textarea matInput [value]="item.nomineeDOB"
                                                    [(ngModel)]="item.nomineeDOB" dateOnly [ngModelOptions]="{standalone:
                          true}"></textarea>
                                            </mat-form-field>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="nomineeShare">
                                        <th mat-header-cell *matHeaderCellDef scope="row">% of Share</th>
                                        <td mat-cell *matCellDef="let item">
                                            <mat-form-field floatLabel="never">
                                                <input matInput [value]="item.nomineeShare"
                                                    [(ngModel)]="item.nomineeShare" decimalPoint2 maxlength="3"
                                                    max="100" [ngModelOptions]="{standalone:
                          true}">
                                            </mat-form-field>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="photoOfNominee">
                                        <th mat-header-cell *matHeaderCellDef scope="row">Nominee Photo</th>
                                        <td mat-cell *matCellDef="let item">
                                            <div *ngIf="item.fileBrowseNomi">
                                                <button type="button" (click)="openFileSelector2()" class="btn-browse">
                                                    <i class="material-icons">cloud_upload</i> Browse Files
                                                </button>
                                                <input type="file" id="fileBrowse-nominee"
                                                    style="visibility: hidden; width: 1px;"
                                                    (change)="onFileSelection2($event, item)" />
                                            </div>
                                            <div *ngIf="!item.fileBrowseNomi" class="upload-pic-txt">
                                                <a [routerLink]=""><i class="material-icons plus view-icon"
                                                        title="View">remove_red_eye</i></a>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="genNomiForm">
                                        <th mat-header-cell *matHeaderCellDef scope="row">General Nomination Form</th>
                                        <td mat-cell *matCellDef="let item">
                                            <div *ngIf="item.fileBrowseGenForm">
                                                <button type="button" (click)="openFileGenForm()" class="btn-browse">
                                                    <i class="material-icons">cloud_upload</i> Browse Files
                                                </button>
                                                <input type="file" id="fileBrowse-genform"
                                                    style="visibility: hidden; width: 1px;"
                                                    (change)="onFileGenForm($event, item)" />
                                            </div>
                                            <div *ngIf="!item.fileBrowseGenForm" class="upload-pic-txt">
                                                <a [routerLink]=""><i class="material-icons plus view-icon"
                                                        title="View">remove_red_eye</i></a>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="npsNomiForm">
                                        <th mat-header-cell *matHeaderCellDef scope="row">GPF Nomination Form</th>
                                        <td mat-cell *matCellDef="let item">
                                            <div *ngIf="item.fileBrowseNpsForm">
                                                <button type="button" (click)="openFileNpsForm()" class="btn-browse">
                                                    <i class="material-icons">cloud_upload</i> Browse Files
                                                </button>
                                                <input type="file" id="fileBrowse-npsform"
                                                    style="visibility: hidden; width: 1px;"
                                                    (change)="onFileNpsForm($event, item)" />
                                            </div>
                                            <div *ngIf="!item.fileBrowseNpsForm" class="upload-pic-txt">
                                                <a [routerLink]=""><i class="material-icons plus view-icon"
                                                        title="View">remove_red_eye</i></a>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Action">
                                        <th mat-header-cell *matHeaderCellDef scope="row">Action</th>
                                        <td mat-cell *matCellDef="let item; let i = index;">
                                            <table class="iconTable">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <i class="material-icons plus delete" aria-hidden="true"
                                                                *ngIf="dataSourceNominee && dataSourceNominee.data && dataSourceNominee.data.length > 1"
                                                                (click)="deleteNominee(i)">
                                                                delete
                                                            </i>
                                                        </td>
                                                        <td width="30">
                                                            <i class="material-icons plus add" aria-hidden="true"
                                                                *ngIf="dataSourceNominee && dataSourceNominee.data && (i == dataSourceNominee.data.length - 1)"
                                                                (click)="addNominee()">
                                                                add
                                                            </i>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </ng-container>
                                    <!-- Header Section Of table -->
                                    <tr mat-header-row *matHeaderRowDef="displayedNomineeColumns"></tr>
                                    <!-- Data Fetch From .TS File to table -->
                                    <tr mat-row *matRowDef="let row; columns: displayedNomineeColumns;"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Nominee Details Ends -->

            <!-- Authority Details Starts -->
            <div class=" box box-primary">
                <div class="box-header">
                    Authority Details
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Order Number" formControlName='orderNo' required>
                                <div class="error-wrapper"
                                    *ngIf=" accountOfficerLevelForm.controls.orderNo.touched &&accountOfficerLevelForm.controls.orderNo.errors">
                                    <mat-error *ngIf="accountOfficerLevelForm.controls.orderNo.errors.required">
                                        {{ errorMessage.ORDER_NO }}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <mat-form-field>
                                <mat-label>Sanction Date</mat-label>
                                <input matInput [matDatepicker]="sanctionPicker" required formControlName="sanctionDate"
                                    dateOnly />
                                <mat-datepicker-toggle matSuffix [for]="sanctionPicker"></mat-datepicker-toggle>
                                <mat-datepicker #sanctionPicker></mat-datepicker>
                                <div class="error-wrapper" *ngIf="
              accountOfficerLevelForm.controls.sanctionDate.touched &&
              accountOfficerLevelForm.controls.sanctionDate.errors
                    ">
                                    <mat-error *ngIf="
                accountOfficerLevelForm.controls.sanctionDate.errors
                          .required
                      ">
                                        {{ errorMessage.SANCTION_DATE }}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Major Head" formControlName='majorHead' maxlength="4"
                                    decimalLimitTwoOnly required>
                                <div class="error-wrapper"
                                    *ngIf=" accountOfficerLevelForm.controls.majorHead.touched &&accountOfficerLevelForm.controls.majorHead.errors">
                                    <mat-error *ngIf="accountOfficerLevelForm.controls.majorHead.errors.required">
                                        {{ errorMessage.MAJOR_HEAD }}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Authority Name" formControlName='authorityName'
                                    alphabetsSpaceOnly required>
                                <div class="error-wrapper"
                                    *ngIf=" accountOfficerLevelForm.controls.authorityName.touched &&accountOfficerLevelForm.controls.authorityName.errors">
                                    <mat-error *ngIf="accountOfficerLevelForm.controls.authorityName.errors.required">
                                        {{ errorMessage.AUTHORITY_NAME }}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Authority Designation"
                                    formControlName='authorityDesignation' maxlength="20" required>
                                <div class="error-wrapper"
                                    *ngIf=" accountOfficerLevelForm.controls.authorityDesignation.touched &&accountOfficerLevelForm.controls.authorityDesignation.errors">
                                    <mat-error
                                        *ngIf="accountOfficerLevelForm.controls.authorityDesignation.errors.required">
                                        {{ errorMessage.AUTHORITY_DEGIGNATION }}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Authority Address" formControlName='authorityAddress'
                                    maxlength="100">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Authority Details Ends -->
        </form>
        <!-- Action Buttons -->
        <div class="form-action-button">

            <button mat-raised-button type="submit" class="green" (click)="workflowDetails()" title="Submit">
                <i class="material-icons" title="Submit" aria-hidden="true">done</i>
                Submit
            </button>
            <button type="reset" mat-raised-button color="accent" title="Reset" (click)="resetForm()">
                <i class="material-icons" title="Reset" aria-hidden="true">
                    restore
                </i>
                Reset
            </button>
            <button type="button" mat-raised-button color="warn" title="Listing"
                [routerLink]="['account-generation-details-listing']" routerLinkActive="router-link-active">
                <i class="material-icons" title="Listing" aria-hidden="true">
                    list
                </i>
                Listing
            </button>
            <button type="button" mat-raised-button class="btnClose" title="Close">
                <i class="material-icons" title="Close" aria-hidden="true">
                    close
                </i>
                Close
            </button>

        </div>
        <!-- End Action Buttons -->
    </div>
</div>