<div class="container">
  <div class="form-wrapper">
    <div class="heading-section ng-star-inserted">
      <div>JPA Master From Policy </div>
      <div class="font-heading"><strong>Reference Number:</strong> 19-20/DOI/JPA/JMFP/001</div>
      <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}
      </div>
    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item " aria-current="page">DOI / JPA</li>
        <li class="breadcrumb-item active" aria-current="page">JPA Master From Policy</li>
      </ol>
    </nav>
    <div class="panel-group">
      <!-- JPA Claim Listing  Form-->
      <form [formGroup]="jpaClaimEntry">
        <!-- Details of Deceased/Disabled -->
        <div class="box box-primary">
          <div class="box-header">Search</div>
          <div class="box-body">
            <div class="row">
              <!-- Policy No. -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="ploicyNo" placeholder="Policy No.  ">

                </mat-form-field>
              </div>
              <!-- Scheme -->
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="schemeType" placeholder="Scheme">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="schemeTypeCtrl" [placeholderLabel]="'Find Scheme ...'"
                        [noEntriesFoundLabel]="'no matching Scheme Typefound'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="let schemeType of schemeType_list | filterSelectInput: schemeTypeCtrl.value"
                      [value]="schemeType.value" [matTooltip]="schemeType.viewValue">
                      {{schemeType.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- start Date -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="startDate" formControlName="startDate" placeholder="Start Date "
                    readonly>
                  <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                  <mat-datepicker #startDate></mat-datepicker>

                </mat-form-field>
              </div>
              <!-- end Date -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="endDate" formControlName="endDate" placeholder="End Date " readonly>
                  <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                  <mat-datepicker #endDate></mat-datepicker>

                </mat-form-field>
              </div>
              <!-- Number Of Benificiaries -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="numberOfBenificiaries" placeholder="Number Of Benificiaries ">

                </mat-form-field>
              </div>
              <!-- Premium Amount -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="premiumAmount" placeholder="Premium Amount ">

                </mat-form-field>
              </div>
              <!-- Claim Amount on Death -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="ClaimAmountonDeath" placeholder="Claim Amount on Death ">

                </mat-form-field>
              </div>
              <!-- Claim Amount  50% Disability -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="fiftyDisablity" placeholder="Claim Amount  50% Disability ">

                </mat-form-field>
              </div>
              <!-- Claim Amount  100% Disablity -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="hunDisablity" placeholder="Claim Amount  100% Disablity ">

                </mat-form-field>
              </div>
            </div>
            <!-- common button -->
            <div class="form-action-button">
              <button mat-raised-button color="primary" aria-hidden="true"> + Add </button>

              <button type="reset" mat-raised-button color="accent">
                <i class="material-icons" aria-hidden="true">
                  restore
                </i>
                Reset
              </button>
            </div>

          </div>
        </div>
      </form>
      <div class="mat-elevation-z8 row">
        <!-- Top schedule Entry Table -->
        <div class="col-sm-12 table-responsive overflow-x-auto">
          <div class="mat-elevation-z8 table-responsive mt-2">
            <table mat-table [dataSource]="dataSource" width="100%" matSort aria-describedby="listinginwardscreen">

              <ng-container matColumnDef="srno">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}" scope="row">
                  Sr No.
                </th>
                <td mat-cell *matCellDef="let element; let i = index">
                  {{ element.srno }}
                </td>
              </ng-container>
              <ng-container matColumnDef="srno1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2" scope="row">
                  Sr No.
                </th>
              </ng-container>

              <ng-container matColumnDef="plocyNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}" scope="row">
                  Policy Number
                </th>
                <td mat-cell *matCellDef="let element; let i = index">
                  {{ element.plocyNo }}
                </td>
              </ng-container>
              <ng-container matColumnDef="plocyNo1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2" scope="row">
                  Policy Number
                </th>
              </ng-container>

              <ng-container matColumnDef="scheme">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}" scope="row">
                  Scheme
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.scheme }}
                </td>
              </ng-container>
              <ng-container matColumnDef="scheme1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2" scope="row">
                  Scheme
                </th>
              </ng-container>

              <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}" scope="row">
                  Start Date
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.startDate}}
                </td>
              </ng-container>
              <ng-container matColumnDef="startDate1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2" scope="row">
                  Start Date
                </th>
              </ng-container>
              <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}" scope="row">
                  End Date
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.endDate }}
                </td>
              </ng-container>
              <ng-container matColumnDef="endDate1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2" scope="row">
                  End Date
                </th>
              </ng-container>
              <ng-container matColumnDef="numberofBenificiaries">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}" scope="row">
                  Number of Benificiaries
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.numberofBenificiaries }}
                </td>
              </ng-container>
              <ng-container matColumnDef="numberofBenificiaries1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2" scope="row">
                  Number of Benificiaries
                </th>
              </ng-container>
              <ng-container matColumnDef="premiumAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}" scope="row">
                  Premium Amount
                </th>
                <td mat-cell *matCellDef="let element" class="rightAlign">
                  {{ element.premiumAmount }}
                </td>
              </ng-container>
              <ng-container matColumnDef="premiumAmount1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2" scope="row">
                  Premium Amount
                </th>
              </ng-container>
              <ng-container matColumnDef="death">
                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
                  Death
                </th>
                <td mat-cell *matCellDef="let element" class="rightAlign">
                  {{ element.death }}
                </td>
              </ng-container>

              <ng-container matColumnDef="fiftyDiablity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
                  50% Disability
                </th>
                <td mat-cell *matCellDef="let element" class="rightAlign">
                  {{ element.fiftyDiablity }}
                </td>
              </ng-container>

              <ng-container matColumnDef="hundredDisablity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">
                  100% Disability
                </th>
                <td mat-cell *matCellDef="let element" class="rightAlign">
                  {{ element.hundredDisablity }}
                </td>
              </ng-container>
              <ng-container matColumnDef="claimAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.colspan]="3" scope="row">
                  Claim Amount
                </th>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef scope="row" [ngStyle]="{'display': 'none'}">Action</th>
                <td mat-cell *matCellDef="let element; let i = index" class="action-btn-i centerAlign">
                  <a><i class="material-icons plus edit-icon" aria-hidden="true" title="Edit"> edit </i></a>
                  <a><i class="material-icons plus view-icon" aria-hidden="true" title="View">remove_red_eye</i></a>


                </td>
              </ng-container>
              <ng-container matColumnDef="action1">
                <th mat-header-cell *matHeaderCellDef scope="row" [attr.rowspan]="2">Action</th>
              </ng-container>
              <!-- custom Header -->
              <tr mat-header-row *matHeaderRowDef="['srno1','plocyNo1','scheme1',
              'startDate1',
              'endDate1',
              'numberofBenificiaries1',
              'premiumAmount1',              
              'claimAmount',
              'action1']"></tr>
              <!-- Header Section Of table -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <!-- Data Fetch From .TS File to table -->
              <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

          </div>
        </div>
        <!-- End Top schedule Entry Table -->
      </div>
    </div>
  </div>
</div>