.mat-accordion>.mat-expansion-panel-spacing:last-child,
.mat-accordion>:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
  margin-top: 5px;
}

.mat-table td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
.mat-table th.mat-header-cell:first-of-type {
  word-break: break-all;
}



.history-list.mat-table td.mat-cell,
.history-list td.mat-footer-cell {
  max-width: 80px;
}
