<div class="container">
  <div class="form-wrapper">

    <!-- heading section -->
    <div class="heading-section ng-star-inserted">
      <div>Rejected By To</div>
    </div>

    <mat-accordion class="search-accordian">
      <mat-expansion-panel [expanded]="false">

        <!-- search bills -->
        <mat-expansion-panel-header>
          <div class="heading-section">
            Search Bills
          </div>
        </mat-expansion-panel-header>
        <!-- search bills end -->

        <!-- form -->
        <div class=" form-datatable-list">
          <form class="col-sm-12" [formGroup]="savedBillForm" (ngSubmit)="searchBill()">
            <div class="row">

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput decimalLimitTwoOnly placeholder="Bill Reg. No." formControlName="billRegNo">
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput decimalLimitTwoOnly placeholder="Token Number" formControlName="tokenNumber">
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="billCreatedFrom" [matDatepicker]="billCreatedFrom"
                    placeholder="Bill Created From Date" [max]="maxDate">
                  <mat-datepicker-toggle matSuffix [for]="billCreatedFrom">
                  </mat-datepicker-toggle>
                  <mat-datepicker #billCreatedFrom></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput formControlName="billCreatedTo" [matDatepicker]="billCreatedTo"
                    placeholder="Bill Created To Date" [max]="maxDate">
                  <mat-datepicker-toggle matSuffix [for]="billCreatedTo">
                  </mat-datepicker-toggle>
                  <mat-datepicker #billCreatedTo></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="billType" placeholder="Bill Type" #singleSelect1>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="billTypeCtrl" [placeholderLabel]="'Find Bill Types...'"
                        [noEntriesFoundLabel]="'no matching Bill Types found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="let billType of billTypeList | filterSelectInput: billTypeCtrl.value"
                      [value]="billType.viewValue" matTooltip="{{billType.viewValue}}">
                      {{billType.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="billCategory" placeholder="Bill Category" #singleSelect1>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="billCategoryCtrl" [placeholderLabel]="'Find Bill Types...'"
                        [noEntriesFoundLabel]="'no matching Bill Types found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option>-- None --</mat-option>
                    <mat-option
                      *ngFor="let billCategory of billCategoryList | filterSelectInput: billCategoryCtrl.value"
                      [value]="billCategory.viewValue">
                      {{billCategory.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput decimalLimitTwoOnly [maxLength]='4' placeholder="Major Head"
                    formControlName="majorHead">
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput decimalLimitTwoOnly placeholder="Bill Net Amount From" formControlName="netFrom">
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput decimalLimitTwoOnly placeholder="Bill Net Amount To" formControlName="netTo">
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput decimalLimitTwoOnly placeholder="Bill Gross Amount From" formControlName="grossFrom">
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput decimalLimitTwoOnly placeholder="Bill Gross Amount To" formControlName="grossTo">
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput decimalLimitTwoOnly placeholder="DDO No." formControlName="ddoNo">
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput alphabetOnly placeholder="DDO Name" formControlName="ddoName">
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="billStatus" placeholder="Type of Bill" #singleSelect1>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="billStatusCtrl" [placeholderLabel]="'Find Bill Types...'"
                        [noEntriesFoundLabel]="'no matching Bill Types found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="let billStatus of billStatusList | filterSelectInput: billStatusCtrl.value"
                      [value]="billStatus.viewValue">
                      {{billStatus.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </div>
          </form>
        </div>
        <!-- form end -->

        <!-- form action button -->
        <div class="form-action-button">
          <button type="submit" mat-raised-button color="primary">
            <i class="material-icons" aria-hidden="true" title="search">search</i>
            Search
          </button>
          <button type="reset" mat-raised-button color="accent" (click)="clearForm();">
            <i class="material-icons" aria-hidden="true" title="reset">
              restore
            </i>
            Reset
          </button>
        </div>
        <!-- form action button  end-->
      </mat-expansion-panel>
    </mat-accordion>
    <br>

    <!-- listing -->
    <div class="mat-elevation-z8 table-responsive mt-2">
      <table mat-table [dataSource]="dataSource" width="100%" matSort aria-describedby="rejectedByTo">

        <!-- checkbox -->
        <ng-container matColumnDef="checkbox">
          <th mat-header-cell *matHeaderCellDef scope="row">
            <mat-checkbox (change)="$event ? directiveObj.masterToggle(dataSource) : null"
              [checked]="directiveObj.selection.hasValue() && directiveObj.isAllSelected(dataSource)"
              [indeterminate]="directiveObj.selection.hasValue() && !directiveObj.isAllSelected(dataSource)"
              [aria-label]="directiveObj.checkboxLabel(dataSource)">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" class="centerAlign">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? directiveObj.selection.toggle(row) : null;"
              [checked]="directiveObj.selection.isSelected(row)"
              [aria-label]="directiveObj.checkboxLabel(dataSource,row)">
            </mat-checkbox>
          </td>
          <td mat-footer-cell *matFooterCellDef>Total</td>
        </ng-container>

        <!-- position -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Sr. No.</th>
          <td mat-cell *matCellDef="let element; let i = index;">
            {{ i + 1 }} </td>
        </ng-container>

        <!-- bill reg no -->
        <ng-container matColumnDef="billRegNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Bill Reg No.</th>
          <td mat-cell *matCellDef="let element"> {{element.billRegNo}} </td>
        </ng-container>

        <!-- token no -->
        <ng-container matColumnDef="tokenno">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Token Number</th>
          <td mat-cell *matCellDef="let element"> {{element.tokenno}} </td>
        </ng-container>

        <!-- date -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Bill Date</th>
          <td mat-cell *matCellDef="let element">{{ element.date}}
          </td>
        </ng-container>

        <!-- bill type -->
        <ng-container matColumnDef="billType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Bill Type</th>
          <td mat-cell *matCellDef="let element"> {{element.billType}} </td>
        </ng-container>

        <!-- bill category -->
        <ng-container matColumnDef="billCategory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Bill Category</th>
          <td mat-cell *matCellDef="let element">
            {{element.billCategory}} </td>
        </ng-container>

        <!-- major head -->
        <ng-container matColumnDef="majorHead">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Major Head</th>
          <td mat-cell *matCellDef="let element"> {{element.majorHead}} </td>
        </ng-container>

        <!-- gross amount -->
        <ng-container matColumnDef="grossAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Gross Amount</th>
          <td mat-cell *matCellDef="let element"> {{element.grossAmount}} </td>
        </ng-container>

        <!-- bill net value -->
        <ng-container matColumnDef="billNetValue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Bill Net Amount</th>
          <td mat-cell *matCellDef="let element"> {{element.billNetValue}} </td>
        </ng-container>

        <!-- ddo no -->
        <ng-container matColumnDef="ddoNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">DDO No.</th>
          <td mat-cell *matCellDef="let element"> {{element.ddoNo}} </td>
        </ng-container>

        <!-- ddo name -->
        <ng-container matColumnDef="ddoName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">DDO Name</th>
          <td mat-cell *matCellDef="let element"> {{element.ddoName}} </td>
        </ng-container>

        <!-- bill status 2 -->
        <ng-container matColumnDef="billStatus2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Type of Bill</th>
          <td mat-cell *matCellDef="let element"> {{element.typeBill}} </td>
        </ng-container>

        <!-- action -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef scope="row"> Action </th>
          <td mat-cell *matCellDef="let element;let i = index;" class="action-btn-i centerAlign">

            <a [routerLink]=""><i class="material-icons plus view-icon" title="View"
                aria-hidden="true">remove_red_eye</i></a>
            <a [routerLink]=""><i class="material-icons plus view-icon" title="Edit" aria-hidden="true">edit</i></a>
          </td>
        </ng-container>

        <!-- Header Section Of table -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <!-- Data Fetch From .TS File to table -->
        <tr mat-row *matRowDef="let row; let i = index;columns: displayedColumns;">
        </tr>
      </table>

      <!-- paginator -->
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

      <!-- action button -->
      <div class="form-action-button">
        <button type="submit" mat-raised-button color="primary" title="Save As Draft">
          <i class="material-icons" title="Save As Draft" aria-hidden="true">
            save
          </i>
          Save as Draft
        </button>
        <button mat-raised-button type="submit" class="green" (click)="directiveObject.workflowDetails()"
          title="Submit">
          <i class="material-icons" title="Submit" aria-hidden="true">done</i> Submit</button>
        <button type="reset" mat-raised-button color="accent" title="Reset" (click)="resetForm()">
          <i class="material-icons" title="Reset" aria-hidden="true">
            restore
          </i>
          Reset
        </button>
        <button type="button" mat-raised-button color="warn" title="Listing" (click)="goToSavedBillList()"
          [routerLink]="['']" routerLinkActive="router-link-active">
          <i class="material-icons" title="Listing" aria-hidden="true">
            list
          </i>
          Listing
        </button>
        <button type="button" mat-raised-button class="print-btn" title="Print">
          <i class="material-icons" title="Print" aria-hidden="true">
            print
          </i>
          Print
        </button>
        <button type="button" mat-raised-button class="btnClose" title="Close">
          <i class="material-icons" title="Close" aria-hidden="true">
            close
          </i>
          Close
        </button>
      </div>
      <!-- action button  end -->
    </div>
    <!-- listing end -->
  </div>
</div>