<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>Budget Book Printing</div>
            <div class="font-heading"><strong>Transaction Number:</strong> 19-20/BUD/BP/001</div>
            <div class="font-heading"><strong>Transaction Date:</strong> {{ date | date: 'dd-MMM-yyyy HH:mm'}}</div>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Budget</a></li>
                <li class="breadcrumb-item active" aria-current="page">Budget Book Printing</li>
            </ol>
        </nav>
        <div class="standing-tab-contain">
            <ul>
                <li>
                    <span class="dot"></span>
                </li>
                <li>
                    <span class="dot"></span>
                </li>
                <li>
                    <span class="dot"></span>
                </li>
                <li>
                    <span class="dot"></span>
                </li>
                <li class="last-tab">
                    <span class="dot"></span>
                </li>
            </ul>
        </div>
        <div>
              <div class=" form-datatable-list">
                  <form class="col-sm-12" [formGroup]="budgetprintingform">
                      <div class="row">
                          <div class="col-sm-6">
                              <mat-form-field class="full-width">
                                  <mat-select formControlName="departmentCode" placeholder="Name of Department"
                                      #singleSelect1 required>
                                      <mat-option>
                                          <ngx-mat-select-search [formControl]="departmentCodeCtrl"
                                              [placeholderLabel]="'Find Name of Department...'"
                                              [noEntriesFoundLabel]="'no matching Name of Department found'">
                                          </ngx-mat-select-search>
                                      </mat-option>
  
                                      <mat-option *ngFor="let department of filteredDepartmentCode | async"
                                          [value]="department.value">
                                          {{department.viewValue}}
                                      </mat-option>
                                  </mat-select>
                                  <div class="error-wrapper"
                                      *ngIf="budgetprintingform.controls.departmentCode.touched && budgetprintingform.controls.departmentCode.errors">
                                      <mat-error
                                          *ngIf="budgetprintingform.controls.departmentCode.errors.required">
                                          {{errorMessages.DEPARTMENT}}</mat-error>
                                  </div>
                              </mat-form-field>
                          </div>
                          <div class="col-sm-6">
                              <mat-form-field class="full-width">
                                  <mat-select formControlName="finYear" placeholder="Financial Year"
                                      #singleSelect1 required>
                                      <mat-option>
                                          <ngx-mat-select-search [formControl]="finYearCtrl"
                                              [placeholderLabel]="'Find Financial Year...'"
                                              [noEntriesFoundLabel]="'no matching Financial Year found'">
                                          </ngx-mat-select-search>
                                      </mat-option>
  
                                      <mat-option *ngFor="let FY of filteredFinYear | async" [value]="FY.value">
                                          {{FY.viewValue}}
                                      </mat-option>
                                  </mat-select>
                                  <div class="error-wrapper"
                                      *ngIf="budgetprintingform.controls.finYear.touched && budgetprintingform.controls.finYear.errors">
                                      <mat-error *ngIf="budgetprintingform.controls.finYear.errors.required">
                                          {{errorMessages.FIN_YEAR}}
                                      </mat-error>
                                  </div>
                              </mat-form-field>
                          </div>
                      </div>
                  </form>
              </div> 
              <div class="form-action-button next-button">
                  <button type="submit" mat-raised-button color="primary" (click)="goToNext()">
                      Generate Book
                  </button>
              </div>
        </div>
    </div>
</div>