.disabled {
    cursor: not-allowed;
    border: 1px solid #CCC;
    color: #CCC;
}
.disabled-checkbox {
    cursor: not-allowed;
    color: #CCC;
}
.hyper-link {
    cursor: pointer;
    font-weight: 600;
}
.hyper-link:hover {
    text-decoration: underline !important;
}





.example-chip-list {
    width: 100%;
  } 
  
  .mat-table .mat-header-cell:last-child{
    border-right: unset;
  }
  
  .success{color: aliceblue; background-color: #228c22;}
  
  .mat-table td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: 10px;
  }
  
  .unsetHeight{
  height: unset !important;
  }
  
  .mat-footer-row, mat-header-row, mat-row {
    align-items: unset;
    border-bottom-width:0px;
  }
  
  /* ::ng-deep .example-chip-list .mat-form-field-wrapper{
  font-size: 13px;
  } */
  
  table.mat-table thead {
  background: #f2f2f2;
  color: black;
  font-size: 14px;
  }
  
  ::ng-deep .mat-tab-header, .mat-tab-nav-bar{
  border-bottom: none;
  }
  
  /* ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: #356a94;
  }
   */
  mat-cell>span{
  width: 100%;
  }
  
  .next-button{
   justify-content: flex-end;
  }
  
  /* ::ng-deep .mat-form-field-required-marker{
    color: red;
  } */
  
  textarea {
     resize: none !important;
  }
   table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0px !important;
  }
  
  tr.example-detail-row td{
    padding: 0px !important;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    cursor: pointer;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    cursor: pointer;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }
  
  .element-detail {
    overflow: hidden;
    display: flex;
    font-weight:lighter;
    background-color:#e2f0fb;
  }
  
  .element-detail span {
    font-weight: bold;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  div.mat-tab-body-content{ overflow:hidden !important; }
  
  .workIDs {
    cursor: pointer;
  }
  
  .language-section{
    background: #e2f0fb;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .lang-btn{
    background: #356a94;
      color: #FFF;
      font-weight: 600;
  }
  
  .info-container {
      position: relative;
      display: inline-flex;
      height: 15px;
    
    }
    .info-container .info-tooltip{
      font-size: 15px;
      margin-left: 3px;
      cursor: pointer;
    }
    
    .info-tooltip-content{
      display: none;
      position: absolute;
      left: calc(100% + 10px);
      padding: 5px;
      top: -10px;
      border: 1px solid #FFFFFF;
      color: #000;
      background-color: beige;
      z-index: 10000;
      width: 200px;
      max-width: 200px;
      font-weight: 300;
      text-align: left
    }
    
    .info-tooltip-content:after{
      content: ' ';
      position: absolute;
      top: 10px;
      left: -14px;
      border: 7px solid;
      border-color: transparent FFFFFF transparent transparent;
    }
    
    .info-tooltip:hover + .info-tooltip-content {
      display: block;
    } 

.completed td.mat-cell:first-of-type {
  /* border-left-color: #8FBC8F; */
  border-left-color: #F08080;
}

.incomplete td.mat-cell:first-of-type {
  border-left-color: #8FBC8F;
  
}

td.mat-cell:first-of-type {
  padding-left: 24px;
  border-left: 5px solid transparent;
  position: relative;
  left: 2px;
}


.square-box {
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  border: none;
}

.square-outer {
  clear: both;
  margin: 5px 5px;
  display: -webkit-box;
  display: flex;
}

.square {
  width: 15px;
  height: 15px;
  display: inline-block;
}

.square-text {
  display: inline-block;
  margin-left: 5px;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.square.completed {
  background-color: #8FBC8F
}

.square.incomplete {
  background-color: #F08080
}
   
