<div class="container">
  <div class="form-wrapper">
    <div class="heading-section ng-star-inserted">
      <div>Cheque Register </div>
      <div class="font-heading"><strong>Reference Number:</strong> 19-20/DOI/AA/CR/001</div>
      <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}
      </div>
    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item " aria-current="page">Account Admin </li>
        <li class="breadcrumb-item active" aria-current="page">Cheque Register </li>
      </ol>
    </nav>



    <div class="panel-group">
      <!-- JPA Claim Entry  Form-->

      <form [formGroup]="chequrRegiserForm">
        <!-- Applicant Details -->
        <div class="box box-primary">
          <div class="box-header">Cheque Register (Receipt Side)</div>
          <div class="box-body">
            <div class="row">
              <!-- serial  Number -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput type="text" placeholder="Bill Number" numbersOnly formControlName="billNo"
                    maxlength="6" required>
                  <div class="error-wrapper"
                    *ngIf="chequrRegiserForm.controls.billNo.touched && chequrRegiserForm.controls.billNo.errors">
                    <mat-error *ngIf="chequrRegiserForm.controls.billNo.errors.required">
                      {{ errorMessage.BILLNO }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <!--  amount -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput type="text" placeholder="Amount" numbersOnly formControlName="amount" required>

                  <div class="error-wrapper"
                    *ngIf="chequrRegiserForm.controls.amount.touched && chequrRegiserForm.controls.amount.errors">
                    <mat-error *ngIf="chequrRegiserForm.controls.amount.errors.required">
                      {{ errorMessage.AMMOUNT }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <!-- Cheque Number/E-payment Ref No -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput type="text" placeholder="Cheque Number/E-payment Ref No" formControlName="chequeNo"
                    required>
                  <div class="error-wrapper"
                    *ngIf="chequrRegiserForm.controls.chequeNo.touched && chequrRegiserForm.controls.chequeNo.errors">
                    <mat-error *ngIf="chequrRegiserForm.controls.chequeNo.errors.required">
                      {{ errorMessage.CHEQUENOD }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>

              <!-- Date of DD/cheque -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="date" formControlName="date" required
                    placeholder="Cheque date/E-payment date  ">
                  <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                  <mat-datepicker #date></mat-datepicker>
                  <div class="error-wrapper"
                    *ngIf="chequrRegiserForm.controls.date.touched && chequrRegiserForm.controls.date.errors">
                    <mat-error *ngIf="chequrRegiserForm.controls.date.errors.required">
                      {{ errorMessage.DATECHEQUE }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>


              <!-- Date of DD/cheque -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="dateCheque" required formControlName="dateCheque"
                    placeholder="Date of entry in Cashbook">
                  <mat-datepicker-toggle matSuffix [for]="dateCheque"></mat-datepicker-toggle>
                  <mat-datepicker #dateCheque></mat-datepicker>
                  <div class="error-wrapper"
                    *ngIf="chequrRegiserForm.controls.dateCheque.touched && chequrRegiserForm.controls.dateCheque.errors">
                    <mat-error *ngIf="chequrRegiserForm.controls.dateCheque.errors.required">
                      {{ errorMessage.CHEQUECASHBOOK }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>

            </div>

          </div>
        </div>
        <!-- Applicant Details -->
        <div class="box box-primary">
          <div class="box-header">Payment Side</div>
          <div class="box-body">
            <div class="row">
              <!-- Messenger Name -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput type="text" placeholder="Messenger Name" formControlName="messengerName">

                </mat-form-field>
              </div>
              <!-- Date of encash/Delivery -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="dateDeleivery" required formControlName="dateDeleivery"
                    placeholder="Date of encash/Delivery">
                  <mat-datepicker-toggle matSuffix [for]="dateDeleivery"></mat-datepicker-toggle>
                  <mat-datepicker #dateDeleivery></mat-datepicker>
                  <div class="error-wrapper"
                    *ngIf="chequrRegiserForm.controls.dateDeleivery.touched && chequrRegiserForm.controls.dateDeleivery.errors">
                    <mat-error *ngIf="chequrRegiserForm.controls.dateDeleivery.errors.required">
                      {{ errorMessage.DATEDELEIVERY }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <!-- remarks Details -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput type="text" placeholder="Remarks/Details" required formControlName="remarksDetails">
                  <div class="error-wrapper"
                    *ngIf="chequrRegiserForm.controls.remarksDetails.touched && chequrRegiserForm.controls.remarksDetails.errors">
                    <mat-error *ngIf="chequrRegiserForm.controls.remarksDetails.errors.required">
                      {{ errorMessage.REMARKSDE }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <!-- Common Button -->
        <div class="form-action-button">
          <button type="submit" mat-raised-button color="primary">
            <i class="material-icons" aria-hidden="true" title="Save">
              save
            </i>
            Save
          </button>

          <button mat-raised-button color="primary" aria-hidden="true"> + Add </button>

          <button mat-raised-button type="submit" class="green"><i class="material-icons">
              done
            </i> Submit
          </button>
          <button type="reset" mat-raised-button color="accent">
            <i class="material-icons" aria-hidden="true">
              restore
            </i>
            Reset
          </button>
          <button type="button" mat-raised-button class="btnClose">
            <i class="material-icons" aria-hidden="true" title="Budget dashboard">
              close
            </i>
            Close
          </button>
          <button type="submit" mat-raised-button color="primary" class="btn-print">
            <i class="material-icons" aria-hidden="true">print </i> Print </button>

        </div>
      </form>

    </div>
  </div>
</div>