<div class="container">
  <div class="form-wrapper">

    <!-- heading section -->
    <div class="heading-section ng-star-inserted">
      RTI Report Register
    </div>

    <!-- navigation -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Local Fund</a></li>
        <li class="breadcrumb-item active" aria-current="page">RTI Report Register</li>
      </ol>
    </nav>


    <form [formGroup]="rtiReportRegisterForm">
      <div class="panel-group">
        <div class="box box-primary">
          <div class="box-header">RTI Report Register</div>
          <div class="box-body">

            <div class="row">

              <!-- report -->
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="report" placeholder="Report" (selectionChange)="onReport($event)">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="reportCtrl" [placeholderLabel]="'Find  Report...'"
                        [noEntriesFoundLabel]="'No matching Report found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let item of reportList | filterSelectInput:reportCtrl.value"
                      [value]="item.value" matTooltip="{{item.viewValue}}">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- department name -->
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput formControlName="departmentName" placeholder="Department Name" [disabled]="true">
                </mat-form-field>
              </div>

            </div>

            <!-- action button -->
            <div class="form-action-button">

              <button type="submit" mat-raised-button color="primary" title="Search" (click)="onSearch()">
                <i class="material-icons" aria-hidden="true">search</i>
                Search
              </button>

              <button type="reset" mat-raised-button color="accent" title="Reset" (click)="reset()">
                <i class="material-icons" aria-hidden="true">
                  restore
                </i>
                Reset
              </button>

            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- Detailed Monthaly Statement of RTI Register -->
    <div class="panel-group" *ngIf="detailedMonthalyStatementOfRtiRegister">
      <div class="box box-primary">
        <div class="box-header">Detailed Monthaly Statement of RTI Register</div>
        <div class="box-body">

          <div class="row">
            <div class="col-sm-12">
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" width="100%" matSort
                  aria-describedby="detailedMonthalyStatementOfRtiRegister">

                  <!-- serial no -->
                  <ng-container matColumnDef="serialNo">
                    <th mat-header-cell *matHeaderCellDef scope="row">Sr.No.</th>
                    <td mat-cell *matCellDef="let row;let i =index" class="centerAlign">{{i+1}}</td>
                  </ng-container>

                  <!-- name address pio -->
                  <ng-container matColumnDef="nameAddressPIO">
                    <th mat-header-cell *matHeaderCellDef scope="row">Name & Address of the PIO</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.nameAddressPIO}}
                    </td>
                  </ng-container>

                  <!-- name & address of the applicant -->
                  <ng-container matColumnDef="nameAddressApplicant">
                    <th mat-header-cell *matHeaderCellDef scope="row">Name & Address of the Applicant</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.nameAddressApplicant}}
                    </td>
                  </ng-container>

                  <!-- category of applicant bpl/other -->
                  <ng-container matColumnDef="categoryOfApplicantBPLOther">
                    <th mat-header-cell *matHeaderCellDef scope="row">Category of Applicant BPL/Other</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.categoryOfApplicantBPLOther}}
                    </td>
                  </ng-container>

                  <!-- brief description -->
                  <ng-container matColumnDef="briefDescriptionOfRequestForInformation">
                    <th mat-header-cell *matHeaderCellDef scope="row">Brief Description of Request for Information</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.briefDescriptionOfRequestForInformation}}
                    </td>
                  </ng-container>

                  <!-- date of receipt of allocation -->
                  <ng-container matColumnDef="dateOfReceiptOfApplication">
                    <th mat-header-cell *matHeaderCellDef scope="row">Date of Receipt of Application</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.dateOfReceiptOfApplication}}
                    </td>
                  </ng-container>

                  <!-- information furnished -->
                  <ng-container matColumnDef="informationFurnished">
                    <th mat-header-cell *matHeaderCellDef scope="row">Information Furnished</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.informationFurnished}}
                    </td>
                  </ng-container>

                  <!-- application transferred -->
                  <ng-container matColumnDef="applicationTransferred">
                    <th mat-header-cell *matHeaderCellDef scope="row">Application Transferred</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.applicationTransferred}}
                    </td>
                  </ng-container>

                  <!-- date of transfer application -->
                  <ng-container matColumnDef="dateOfTransferApplication">
                    <th mat-header-cell *matHeaderCellDef scope="row">Date of Transfer Application</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.dateOfTransferApplication}}
                    </td>
                  </ng-container>

                  <!-- date of registration -->
                  <ng-container matColumnDef="dateOfRejection">
                    <th mat-header-cell *matHeaderCellDef scope="row">Date of Rejection</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.dateOfRejection}}
                    </td>
                  </ng-container>

                  <!-- under which section application rejected -->
                  <ng-container matColumnDef="underWhichSectionApplicationRejected">
                    <th mat-header-cell *matHeaderCellDef scope="row">Under which Section Application Rejected</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.underWhichSectionApplicationRejected}}
                    </td>
                  </ng-container>

                  <!-- application pending at -->
                  <ng-container matColumnDef="applicationPending">
                    <th mat-header-cell *matHeaderCellDef scope="row">Application pending at the end of the month</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.applicationPending}}
                    </td>
                  </ng-container>

                  <!-- amount for application fees paid  -->
                  <ng-container matColumnDef="amountForApplication">
                    <th mat-header-cell *matHeaderCellDef scope="row">Amount for Application Fees paid</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.amountForApplication}}
                    </td>
                  </ng-container>

                  <!-- charges collected -->
                  <ng-container matColumnDef="chargesCollected">
                    <th mat-header-cell *matHeaderCellDef scope="row">Charges collected for furnishing information in
                      Rs.
                    </th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.chargesCollected}}
                    </td>
                  </ng-container>

                  <!-- total amount collected -->
                  <ng-container matColumnDef="totalAmountCollected">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total amount collected</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalAmountCollected}}
                    </td>
                  </ng-container>

                  <!-- any other information -->
                  <ng-container matColumnDef="anyOtherInformation">
                    <th mat-header-cell *matHeaderCellDef scope="row">Any other information (If any)</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.anyOtherInformation}}
                    </td>
                  </ng-container>

                  <!-- action -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Action</th>
                    <td mat-cell *matCellDef="let element;let i= index;" class="centerAlign">
                      <a><i class="material-icons plus view-icon" title="View" aria-hidden="true">remove_red_eye</i></a>
                    </td>
                  </ng-container>

                  <!-- Header Section Of table -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <!-- Data Fetch From .TS File to table -->
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;let i= index;"></tr>
                </table>

                <!-- paginator -->
                <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                </mat-paginator>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Count wise Monthaly Statement of RTI Register -->
    <div class="panel-group" *ngIf="countWiseMonthly">
      <div class="box box-primary">
        <div class="box-header">Count wise Monthaly Statement of RTI Register</div>
        <div class="box-body">

          <div class="row">
            <div class="col-sm-12">
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="countWiseDataSource" width="100%" matSort
                  aria-describedby="countWiseMonthly">

                  <!-- serial no -->
                  <ng-container matColumnDef="serialNo">
                    <th mat-header-cell *matHeaderCellDef scope="row">Sr.No.</th>
                    <td mat-cell *matCellDef="let row;let i =index" class="centerAlign">{{i+1}}</td>
                  </ng-container>

                  <!-- name & address of the pio -->
                  <ng-container matColumnDef="nameAddressPIO">
                    <th mat-header-cell *matHeaderCellDef scope="row">Name & Address of the PIO</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.nameAddressPIO}}
                    </td>
                  </ng-container>

                  <!-- total no of applications pending  -->
                  <ng-container matColumnDef="totalApplicationsPendingEnd">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total No. of applications pending as on end of the
                      last Month</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalApplicationsPendingEnd}}
                    </td>
                  </ng-container>

                  <!-- total application received -->
                  <ng-container matColumnDef="totalApplicationsReceived">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total No. of Applications received during the
                      Month</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalApplicationsReceived}}
                    </td>
                  </ng-container>

                  <!-- total -->
                  <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.total}}
                    </td>
                  </ng-container>

                  <!-- total no of application -->
                  <ng-container matColumnDef="totalApplicationsDisposed">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total No. of Applications Disposed during the
                      Month</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalApplicationsDisposed}}
                    </td>
                  </ng-container>

                  <!-- total no of application pending -->
                  <ng-container matColumnDef="totalApplicationsPending">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total No. Applications pending</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalApplicationsPending}}
                    </td>
                  </ng-container>

                  <!-- out of cases disposed -->
                  <ng-container matColumnDef="OutDisposedInformation">
                    <th mat-header-cell *matHeaderCellDef scope="row">Out of cases Disposed whose Information furnished
                    </th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.OutDisposedInformation}}
                    </td>
                  </ng-container>

                  <!-- out of cases disposed whih are deemed refusals -->
                  <ng-container matColumnDef="outDisposedDeemed">
                    <th mat-header-cell *matHeaderCellDef scope="row">Out of cases disposed which are Deemed Refusals
                      u/s 7(2) / 18(1)</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.outDisposedDeemed}}
                    </td>
                  </ng-container>

                  <!-- out of cases disposed which are rejected under Sections  -->
                  <ng-container matColumnDef="outDisposedrejected">
                    <th mat-header-cell *matHeaderCellDef scope="row">Out of cases disposed which are rejected under
                      Sections</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.outDisposedrejected}}
                    </td>
                  </ng-container>

                  <!-- amount of total application fee and charges collected for furnishing information -->
                  <ng-container matColumnDef="amountOfTotalApplication">
                    <th mat-header-cell *matHeaderCellDef scope="row">Amount of total application fee and charges
                      collected for furnishing information</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.amountOfTotalApplication}}
                    </td>
                  </ng-container>

                  <!-- any other information -->
                  <ng-container matColumnDef="anyOtherInformation">
                    <th mat-header-cell *matHeaderCellDef scope="row">Any other information</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.anyOtherInformation}}
                    </td>
                  </ng-container>

                  <!-- action -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Action</th>
                    <td mat-cell *matCellDef="let element;let i= index;" class="centerAlign">
                      <a><i class="material-icons plus view-icon" title="View" aria-hidden="true">remove_red_eye</i></a>
                    </td>
                  </ng-container>

                  <!-- Header Section Of table -->
                  <tr mat-header-row *matHeaderRowDef="countWiseColumns"></tr>
                  <!-- Data Fetch From .TS File to table -->
                  <tr mat-row *matRowDef="let row; columns: countWiseColumns;let i= index;"></tr>
                </table>

                <!-- paginator -->
                <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                </mat-paginator>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Quarterly Statement of RTI Register -->
    <div class="panel-group" *ngIf="quarterlyStatementofRtiRegister">
      <div class="box box-primary">
        <div class="box-header">Quarterly Statement of RTI Register</div>
        <div class="box-body">

          <div class="row">
            <div class="col-sm-12">

              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="quarterlyStatementOfRtiDataSource" width="100%" matSort
                  aria-describedby="quarterlyStatementofRtiRegister">

                  <!-- sr no -->
                  <ng-container matColumnDef="serialNo">
                    <th mat-header-cell *matHeaderCellDef scope="row">Sr.No.</th>
                    <td mat-cell *matCellDef="let row;let i =index" class="centerAlign">{{i+1}}</td>
                  </ng-container>

                  <!-- name & address of the pio -->
                  <ng-container matColumnDef="nameAddressPIO">
                    <th mat-header-cell *matHeaderCellDef scope="row">Name & Address of the PIO</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.nameAddressPIO}}
                    </td>
                  </ng-container>

                  <!-- total No. Of Application Pending as on end of the last Quarter (Opening Balance) -->
                  <ng-container matColumnDef="totalApplicationsPendingEnd">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total No. Of Application Pending as on end of the
                      last Quarter (Opening Balance)</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalApplicationsPendingEnd}}
                    </td>
                  </ng-container>

                  <!-- Total No. Of Application received during the quarter -->
                  <ng-container matColumnDef="totalApplicationsReceived">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total No. Of Application received during the
                      quarter</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalApplicationsReceived}}
                    </td>
                  </ng-container>

                  <!-- total(3+4) -->
                  <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total (3+4)</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.total}}
                    </td>
                  </ng-container>


                  <!-- fully furnished -->
                  <ng-container matColumnDef="totalApplicationsFullyFurnished">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total No. Of Applications fully furnished</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalApplicationsFullyFurnished}}
                    </td>
                  </ng-container>

                  <!-- total no of application fully transferred -->
                  <ng-container matColumnDef="totalApplicationsFullyTransferred">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total No. Of Application fully transferred</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalApplicationsFullyTransferred}}
                    </td>
                  </ng-container>

                  <!-- total no of application partly transferred -->
                  <ng-container matColumnDef="totalApplicationPartlyTransferred">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total No. Of Application partly transferred</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalOfApplicationPartlyTransferred}}
                    </td>
                  </ng-container>

                  <!-- total no of application fully rejected -->
                  <ng-container matColumnDef="totalApplicationFullyRejected">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total No. Of Application fully rejected</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalApplicationFullyRejected}}
                    </td>
                  </ng-container>

                  <!-- total no of application partly rejected -->
                  <ng-container matColumnDef="totalApplicationPartlyRejected">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total No. Of Application partly rejected</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalApplicationPartlyRejected}}
                    </td>
                  </ng-container>

                  <!-- total application disposed( 6 to 10) -->
                  <ng-container matColumnDef="totalApplicationDisposed">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total Application disposed (6 to 10)</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalApplicationDisposed}}
                    </td>
                  </ng-container>

                  <!-- application rejected under which section -->
                  <ng-container matColumnDef="ApplicationRejectedSection">
                    <th mat-header-cell *matHeaderCellDef scope="row">Application rejected under which section</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.ApplicationRejectedSection}}
                    </td>
                  </ng-container>

                  <!-- total no of application pending as on end of the quater -->
                  <ng-container matColumnDef="totalApplicationPendingEndQuarter">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total No. Of Application pending as on end of the
                      quarter</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalApplicationPendingEndQuarter}}
                    </td>
                  </ng-container>

                  <!-- total amount of application feees received -->
                  <ng-container matColumnDef="totalAmountApplicationReceived">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total amount of application fees received</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalAmountApplicationReceived}}
                    </td>
                  </ng-container>

                  <!-- total amount of charges collected for furnishing the information -->
                  <ng-container matColumnDef="totalAmountChargesCollected">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total amount of charges collected for furnishing
                      the information</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalAmountChargesCollected}}
                    </td>
                  </ng-container>

                  <!-- total amount (14+15) -->
                  <ng-container matColumnDef="totalAmount">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total Amount (14+15) </th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalAmount}}
                    </td>
                  </ng-container>

                  <!-- action -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Action</th>
                    <td mat-cell *matCellDef="let element;let i= index;" class="centerAlign">
                      <a><i class="material-icons plus view-icon" title="View" aria-hidden="true">remove_red_eye</i></a>
                    </td>
                  </ng-container>

                  <!-- Header Section Of table -->
                  <tr mat-header-row *matHeaderRowDef="quarterlyStatementOfRtiColumn"></tr>
                  <!-- Data Fetch From .TS File to table -->
                  <tr mat-row *matRowDef="let row; columns: quarterlyStatementOfRtiColumn;let i= index;"></tr>
                </table>

                <!-- paginator -->
                <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                </mat-paginator>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Quarterly Statement of RTI Appeal Register -->
    <div class="panel-group" *ngIf="quarterlyStatementofRtiAppealRegister">
      <div class="box box-primary">
        <div class="box-header">Quarterly Statement of RTI Appeal Register</div>
        <div class="box-body">

          <div class="row">
            <div class="col-sm-12">
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="quarterlyStatementOfRtiAppealDataSource" width="100%" matSort
                  aria-describedby="quarterlyStatementofRtiAppealRegister">

                  <!-- serial no -->
                  <ng-container matColumnDef="serialNo">
                    <th mat-header-cell *matHeaderCellDef scope="row">Sr.No.</th>
                    <td mat-cell *matCellDef="let row;let i =index" class="centerAlign">{{i+1}}</td>
                  </ng-container>

                  <!-- name and address of appellant authority -->
                  <ng-container matColumnDef="nameAddressAppellantAuthority">
                    <th mat-header-cell *matHeaderCellDef scope="row">Name and Address of Appellant Authority</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.nameAddressAppellantAuthority}}
                    </td>
                  </ng-container>

                  <!-- total no of appeal pending as on end of the last quater -->
                  <ng-container matColumnDef="totalAppealPending">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total no. Of Appeal pending as on end of the last
                      quarter</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalAppealPending}}
                    </td>
                  </ng-container>

                  <!-- total no of appeals received during the quater -->
                  <ng-container matColumnDef="totalAppealsReceived">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total no. Of Appeals received during the quarter
                    </th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalAppealsReceived}}
                    </td>
                  </ng-container>

                  <!-- total -->
                  <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total (3+4)</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.total}}
                    </td>
                  </ng-container>

                  <!-- total no of appeals appoved during the quater  -->
                  <ng-container matColumnDef="totalAppealsApprovedDuringQuarter">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total no. Of Appeals approved during the quarter
                    </th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalAppealsApprovedDuringQuarter}}
                    </td>
                  </ng-container>

                  <!-- total no of appeals fully rejected -->
                  <ng-container matColumnDef="totalAppealsFullyRejected">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total no. of Appeals fully rejected</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalAppealsFullyRejected}}
                    </td>
                  </ng-container>

                  <!-- total no of appeals partly rejected -->
                  <ng-container matColumnDef="totalAppealsPartlyRejected">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total no. of Appeals partly rejected</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalAppealsPartlyRejected}}
                    </td>
                  </ng-container>

                  <!-- total no of appeals disposed of during the quarter -->
                  <ng-container matColumnDef="totalAppealsDisposed">
                    <th mat-header-cell *matHeaderCellDef scope="row">Total no. of Appeals disposed of during the
                      quarter (6 to 8)</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.totalAppealsDisposed}}
                    </td>
                  </ng-container>

                  <!-- appeals rejected under which section -->
                  <ng-container matColumnDef="appealsRejected">
                    <th mat-header-cell *matHeaderCellDef scope="row">Appeals rejected under which section</th>
                    <td mat-cell *matCellDef="let element;let i =index" class="centerAlign">
                      {{element.appealsRejected}}
                    </td>
                  </ng-container>

                  <!-- action -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Action</th>
                    <td mat-cell *matCellDef="let element;let i= index;" class="centerAlign">
                      <a><i class="material-icons plus view-icon" title="View" aria-hidden="true">remove_red_eye</i></a>
                    </td>
                  </ng-container>

                  <!-- Header Section Of table -->
                  <tr mat-header-row *matHeaderRowDef="quarterlyStatementOfRtiAppealColumn"></tr>
                  <!-- Data Fetch From .TS File to table -->
                  <tr mat-row *matRowDef="let row; columns: quarterlyStatementOfRtiAppealColumn;let i= index;"></tr>
                </table>

                <!-- paginator -->
                <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div class="form-action-button" *ngIf="isButton">

      <button type="button" mat-raised-button class="print-btn" title="Print">
        <i class="material-icons" aria-hidden="true">
          print
        </i>
        Print
      </button>

      <button type="button" mat-raised-button color="primary" title="Export to PDF">
        <i class="material-icons" aria-hidden="true">
          insert_drive_file
        </i>
        Export to Pdf
      </button>

      <button type="button" mat-raised-button class="btnClose" title="Close">
        <i class="material-icons" aria-hidden="true">
          close
        </i>
        Close
      </button>

    </div>

  </div>
</div>