<div class="container">
  <div class="form-wrapper">

    <!-- heading section -->
    <div class="heading-section ng-star-inserted">
      <div>Group Insurance Challan Generate Listing</div>
      <div class="font-heading"><strong>Reference No:</strong> 19-20/GI/CHAENT/001</div>
      <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}</div>
    </div>

    <!-- navigation -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item " aria-current="page"><a href="javascript:void(0)">Group Insurance</a></li>
        <li class="breadcrumb-item active" aria-current="page">Group Insurance Challan Generate Listing</li>
      </ol>
    </nav>

    <div class="panel-group">

      <!-- form -->
      <form [formGroup]="employeeMasterForm" (ngSubmit)="employeeMasterFormData()">
        <mat-accordion class="colapsedata">
          <mat-expansion-panel [expanded]="false" class="nopadding">
            <mat-expansion-panel-header>
              <div class="heading-section">Search</div>
            </mat-expansion-panel-header>

            <div class="box-body">
              <div class="row">

                <!-- employee no -->
                <div class="col-sm-3">
                  <mat-form-field class="full-width">
                    <input matInput formControlName="employeeNo" placeholder="Employee No." numbersAlphabetsOnly>
                    <mat-icon matSuffix class="searchIcon" (click)="openDialogEmployeeNumber()">
                      search</mat-icon>
                  </mat-form-field>
                </div>

                <!-- employee name -->
                <div class="col-md-3">
                  <mat-form-field>
                    <input matInput placeholder="Employee Name" formControlName="employeeName" alphabetsSpaceOnly>
                  </mat-form-field>
                </div>

                <!-- district -->
                <div class="col-sm-3">
                  <mat-form-field class="full-width">
                    <mat-select formControlName="district" placeholder="District">
                      <mat-option>
                        <ngx-mat-select-search [formControl]="districtCtrl" [placeholderLabel]="'Find Distritct...'"
                          [noEntriesFoundLabel]="'No matching Distritct found'" alphabetsSpaceOnly>
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let item of districtList | filterSelectInput:districtCtrl.value"
                        [value]="item.value" matTooltip="{{item.viewValue}}">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- if district is ahmedabad -->
                <div class="col-sm-3" *ngIf="employeeMasterForm.controls.district.value === '1'">
                  <mat-form-field class="full-width">
                    <mat-select formControlName="treasuryOfficeAhmedabad" placeholder='Treasury Office Name'>
                      <mat-option>
                        <ngx-mat-select-search [formControl]="treasuryOfficeAhmedabadCtrl"
                          [placeholderLabel]="'Find Treasury Office Name...'"
                          [noEntriesFoundLabel]="'No matching Treasury Office Name found'" alphabetsSpaceOnly>
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option
                        *ngFor="let item of treasuryOfficeAhmedabadList | filterSelectInput:treasuryOfficeAhmedabadCtrl.value"
                        [value]="item.value" matTooltip="{{item.viewValue}}">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- if district is gandhinagar -->
                <div class="col-sm-3" *ngIf="employeeMasterForm.controls.district.value === '2'">
                  <mat-form-field class="full-width">
                    <mat-select formControlName="treasuryOfficeGandhinagar" placeholder='Treasury Office Name'>
                      <mat-option>
                        <ngx-mat-select-search [formControl]="treasuryOfficeGandhinagarCtrl"
                          [placeholderLabel]="'Find Treasury Office Name...'"
                          [noEntriesFoundLabel]="'No matching Treasury Office Name found'" alphabetsSpaceOnly>
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option
                        *ngFor="let item of treasuryOfficeGandhinagarList | filterSelectInput:treasuryOfficeGandhinagarCtrl.value"
                        [value]="item.value" matTooltip="{{item.viewValue}}">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- if user select any other district -->
                <div class="col-md-3"
                  *ngIf="employeeMasterForm.controls.district.value !== '1' && employeeMasterForm.controls.district.value !== '2' ">
                  <mat-form-field>
                    <input matInput placeholder="Treasury Office Name" formControlName="treasuryOffice" readonly
                      matTooltip="{{employeeMasterForm.controls.treasuryOffice.value}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="full-width">
                    <mat-select formControlName="headChargable" placeholder="Head Structure">
                      <mat-option>
                        <ngx-mat-select-search [formControl]="headChargableCtrl"
                          [placeholderLabel]="'Find Head Structure...'" [noEntriesFoundLabel]="'no
                        matching Head Structure found'">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option>--None--</mat-option>
                      <mat-option *ngFor="let item of
                      headChargableList |
                      filterSelectInput:headChargableCtrl.value" [value]="item.value" matTooltip="{{item.viewValue}}">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- challan no -->
                <div class="col-md-3">
                  <mat-form-field>
                    <input matInput placeholder="Challan No." formControlName="challanNo" numbersOnly>
                  </mat-form-field>
                </div>

                <!-- challan date -->
                <div class="col-sm-3">
                  <mat-form-field>
                    <input matInput formControlName="challanDate" [matDatepicker]="picker1" placeholder="Challan Date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 [disabled]="false"></mat-datepicker>
                  </mat-form-field>
                </div>

                <!-- month -->
                <div class="col-sm-3">
                  <mat-form-field class="full-width">
                    <mat-select formControlName="month" placeholder="Month">
                      <mat-option>
                        <ngx-mat-select-search [formControl]="monthCtrl" [placeholderLabel]="'Find Month...'"
                          [noEntriesFoundLabel]="'No matching Month found'" charactersOnly>
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option>--None--</mat-option>
                      <mat-option *ngFor="let item of monthList | filterSelectInput:monthCtrl.value"
                        [value]="item.value">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- year -->
                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <mat-select formControlName="year" placeholder="Year">
                      <mat-option>
                        <ngx-mat-select-search [formControl]="yearCtrl" [placeholderLabel]="'Find Year...'"
                          [noEntriesFoundLabel]="'No matching Year found'" numbersOnly>
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option>--None--</mat-option>
                      <mat-option *ngFor="let item of yearList | filterSelectInput:yearCtrl.value" [value]="item.value">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

              </div>


              <!-- action button -->
              <div class="col-sm-12">
                <div class="form-action-button">

                  <button type="submit" mat-raised-button color="primary" title="Search" (click)="search()">
                    <i class="material-icons" aria-hidden="true">search</i> Search
                  </button>
                  <button type="reset" mat-raised-button color="accent" title="Reset">
                    <i class="material-icons" aria-hidden="true">
                      restore
                    </i>
                    Reset
                  </button>
                </div>
              </div>
              <!-- action button end -->

            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </form>
      <!-- form end -->

      <br>


      <div class="mat-elevation-z8 mt-2" *ngIf="showTable">
        <!-- table -->
        <table mat-table [dataSource]="employeeMasterDataSource" width="100%" aria-describedby="challanEntryAisListing"
          matSort>

          <!-- Serial Number Column -->
          <ng-container matColumnDef="srno">
            <th mat-header-cell *matHeaderCellDef scope="row">
              Serial No.
            </th>
            <td mat-cell *matCellDef="let element; let i = index" class="centerAlign">
              {{ i + 1 }}
            </td>
          </ng-container>

          <!-- Challan number Column -->
          <ng-container matColumnDef="challanNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Challan No.</th>
            <td mat-cell *matCellDef="let element">
              {{element.challanNo}}
            </td>
          </ng-container>

          <!-- Challan Date Column -->
          <ng-container matColumnDef="challanDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Challan Date</th>
            <td mat-cell *matCellDef="let element">
              {{element.challanDate}}
            </td>
          </ng-container>

          <!-- District Column -->
          <ng-container matColumnDef="district">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">District</th>
            <td mat-cell *matCellDef="let element">
              {{element.district}}
            </td>
          </ng-container>

          <!-- DDO Name Column -->
          <ng-container matColumnDef="ddoName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">DDO Name</th>
            <td mat-cell *matCellDef="let element">
              {{element.ddoName}}
            </td>
          </ng-container>

          <!-- Treasury Office Column -->
          <ng-container matColumnDef="treasuryOffice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Treasury Office</th>
            <td mat-cell *matCellDef="let element">
              {{element.treasuryOffice}}
            </td>
          </ng-container>

          <!-- Employee Number Column -->
          <ng-container matColumnDef="employeeNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Employee Number</th>
            <td mat-cell *matCellDef="let element">
              {{element.employeeNumber}}
            </td>
          </ng-container>

          <!-- Employee Name Column -->
          <ng-container matColumnDef="employeeName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Employee Name</th>
            <td mat-cell *matCellDef="let element">
              {{element.employeeName}}
            </td>
          </ng-container>

          <!-- Head Chargaeble Column -->
          <ng-container matColumnDef="headChargable">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Head Structure</th>
            <td mat-cell *matCellDef="let element">
              {{element.headChargable}}
            </td>
          </ng-container>

          <!-- Year Column -->
          <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Year</th>
            <td mat-cell *matCellDef="let element">
              {{element.year}}
            </td>
          </ng-container>

          <!-- Month Column -->
          <ng-container matColumnDef="month">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Month</th>
            <td mat-cell *matCellDef="let element">
              {{element.month}}
            </td>
          </ng-container>

          <!-- Insurance Fund Column -->
          <ng-container matColumnDef="insuranceFund">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Insurance Fund</th>
            <td mat-cell *matCellDef="let element" class="rightAlign">
              {{element.insuranceFund}}
            </td>
          </ng-container>

          <!-- Saving Fund Column -->
          <ng-container matColumnDef="savingFund">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Saving Fund</th>
            <td mat-cell *matCellDef="let element" class="rightAlign">
              {{element.savingFund}}
            </td>
          </ng-container>

          <!-- Total Column -->
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Total</th>
            <td mat-cell *matCellDef="let element" class="rightAlign">
              {{calculateTotalAmount(element)  | number: '1.2-2'}}
            </td>
          </ng-container>

          <!-- Header Section Of table -->
          <tr mat-header-row *matHeaderRowDef="employeeMasterDataSourceColumn"></tr>
          <!-- Data Fetch From .TS File to table -->
          <tr mat-row *matRowDef="let row; columns: employeeMasterDataSourceColumn;"></tr>
        </table>
        <!-- table ends -->

        <!-- paginator -->
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

    </div>
  </div>
</div>