/* Sticky header css */
::ng-deep table.mat-table .pensionar-seen-details .mat-form-field-wrapper {
width:70px;
}

::ng-deep .vertical-scroll-pagination{
    max-height: 229px;
    overflow-y: auto;
    /* overflow-x: hidden; */
}
::ng-deep .vertical-scroll-pagination .mat-table th.mat-header-cell.mat-table-sticky{
border-left:none;
border-right:none;
position: relative;
min-height: 40px;
}
.vertical-scroll-pagination .mat-table th.mat-header-cell.mat-table-sticky::before {
    content: " ";
    position: absolute;
    left: 0px;
    height: 100%;
    width: 1px;
    background-color: rgb(80, 117, 146);
    z-index: 9999;
    top: 0;
}
.vertical-scroll-pagination .mat-table th.mat-header-cell.mat-table-sticky::after {
    content: " ";
    position: absolute;
    left: 0px;
    height: 4px;
    width: 100%;
    background-color:rgb(87 131 166);
    z-index: 9999;
    top: -2px;
    border-right: 1px solid  rgb(80, 117, 146);
}
.vertical-scroll-pagination .mat-table tr th.mat-header-cell.mat-table-sticky:first-of-type::before{
    border-left: none;
    left: -1px;
}
.vertical-scroll-pagination .mat-table tr th.mat-header-cell.mat-table-sticky:first-of-type::before{
    border-left: none;
    left: -1px;
}
.vertical-scroll-pagination th.mat-header-cell{
      padding-left: 1px;
}

/* End Sticky header css */