<div class="container">
  <div class="form-wrapper">
    <div class="heading-section ng-star-inserted">
      <div>Counter Editing</div>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">PAO</a></li>
        <li class="breadcrumb-item active" aria-current="page">Counter Editing</li>
      </ol>
    </nav>
    <div class="panel-group">
      <!-- Counter Editing -->
      <form [formGroup]="counterEditingForm">
        <div class="box box-primary">
          <div class="box-header">Counter Editing</div>
          <div class="box-body">
            <div class="row">

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" maxlength="6" numbersOnly placeholder="Token No."
                    formControlName="tokenNumber" #singleSelect required [disabled]="true">
                </mat-form-field>
                <div class="error-wrapper"
                  *ngIf="counterEditingForm.controls.tokenNumber.touched || (counterEditingForm.controls.tokenNumber.errors && isSubmitted)">
                  <mat-error *ngIf="counterEditingForm.controls.tokenNumber.errors?.required">
                    {{errorMessages.TOKEN_NO}}
                  </mat-error>
                </div>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Bill Date" formControlName="billDate" readonly
                    required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                  <mat-select name="location" formControlName="location" placeholder="Location">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="locationCtrl" [placeholderLabel]="'Select Location ...'"
                        [noEntriesFoundLabel]="'no matching location found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option>-- None --</mat-option>
                    <mat-option
                      *ngFor="let head of location_list | filterSelectInput : locationCtrl.value : 'viewValue'"
                      [value]="head.value" [matTooltip]="head.viewValue">
                      {{head.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                  <mat-select name="billType" formControlName="billType" placeholder="Bill Type">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="billTypeCtrl" [placeholderLabel]="'Select bill type ...'"
                        [noEntriesFoundLabel]="'no matching bill type found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option>-- None --</mat-option>
                    <mat-option
                      *ngFor="let type of billType_list | filterSelectInput : billTypeCtrl.value : 'viewValue'"
                      [value]="type.value" [matTooltip]="type.viewValue">
                      {{type.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- Common Button -->
              <div class="col-sm-12">
                <div class="form-action-button">
                  <button type="submit" mat-raised-button color="primary" (click)="onClick($event)">
                    <i class="material-icons" aria-hidden="true">search</i>
                    Search
                  </button>
                  <button type="reset" mat-raised-button color="accent">
                    <i class="material-icons" aria-hidden="true">
                      restore
                    </i>
                    Reset
                  </button>
                </div>
              </div>
              <!-- Common Button -->
            </div>
          </div>
        </div>
      </form>
      <!-- End Counter Editing -->
    </div>
  </div>
</div>