/* 
.newWidth th {
    width: 5.555% !important;
}

.newWidth td {
    width: 5.555% !important;
} */

.newWidth th {
    width: 5.8823% !important;
}

.newWidth td {
    width: 5.8823% !important;
}
/* .example-chip-list {
    width: 100%;
} */
/* 
.successObject {
    background-color: beige;
} */

/* .example-chip-list {
    width: 100%;
} */

/* ::ng-deep .mat-option {
    font-size: 13px !important;
} */


/* Container Header Start */


/* .heading-section {
width: 100%;
background: #f9f9f9;
padding: 0.5em;
font-size: 1.1rem;
color: #356a94;
font-weight: bold;
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 0.5em;
} */

/* .font-heading {
    color: black;
    font-size: 14px;
    font-weight: normal;
} */

.font-heading b {
    font-weight: 500;
}


/* Container Header End */
/* 
.mat-table .darken {
    background: rgba(221, 236, 255, 0.4) !important;
    font-weight: 500;
} */

/* ::ng-deep .mat-form-field {
    width: 100%;

} */

/* .mat-table td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    padding: 0 5px;
    max-width: 100px;
    width: auto;
} */

.mat-table .mat-header-cell:last-child {
    border-right: unset;
}
/* 
.save {
    position: fixed;
    right: 10px;
    bottom: 10px;
} */

::ng-deep .mat-table .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.2em 0 !important;
    border-top: .5em solid transparent;
    font-size: 13px !important;
}

.success {
    color: aliceblue;
    background-color: #228c22;
}

/* .material-icons {
    font-size: 18px;
    line-height: 1.5;
} */

/* ::ng-deep .mat-table .mat-mini-fab .mat-button-wrapper {
    padding: 8px 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1 !important;
} */

/* .mat-table td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
    padding-left: 10px;
} */

/* .mat-table td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
    font-weight: 600;
} */

/* .mat-table td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
    padding-right: 10px;
} */

/* .unsetHeight {
    height: unset !important;
} */

/* .mat-footer-row,
mat-header-row,
mat-row {
    align-items: unset;
    border-bottom-width: 0px;
} */

/* ::ng-deep .mat-table .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: .5em;
y
} */

/* ::ng-deep .mat-table .mat-tab-header,
.mat-tab-nav-bar {
    border: unset;
    margin-bottom: 5px;
} */


/* ::ng-deep .cdk-column-val3{
font-weight: 600;
} */

/* .form-datatable-list {
    font-size: 13px;
} */

/* .mat-cell,
.mat-footer-cell {
    padding: 0 5px;
} */

/* .mat-standard-chip .mat-chip-remove.mat-icon {
    line-height: 18px;
} */

/* ::ng-deep .mat-chip-list-wrapper .mat-chip-with-trailing-icon {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
} */

/* .error-wrapper {
    position: absolute;
    top: 27px;
    font-size: 11px;
} */

::ng-deep .example-chip-list .mat-form-field-wrapper {
    font-size: 13px;
}

/* table.mat-table thead {
    background: #f2f2f2;
    color: black;
    font-size: 14px;
} */

/* .coldisable {
    background: #f1f1f1;
    color: #9199a1;
    justify-content: flex-end;
} */


/* .gray-color{
width: 100%;
background:#efefef !important;
} */

/* ::ng-deep .mat-tab-header,
.mat-tab-nav-bar {
    border-bottom: none;
} */

/* ::ng-deep .mat-tab-group .mat-tab-header .mat-tab-label {
    flex-grow: 0 !important;
    flex-basis: unset !important;
    height: 32px;
    background: #f9f9f9;
    opacity: 1;
    border-radius: 4px 4px 0 0;
    margin-left: 2px;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
} */

/* ::ng-deep .mat-tab-group .mat-tab-header .mat-tab-label-active {
    background: #5783a6;
    opacity: 1;
    color: #FFF;
    border-radius: 4px 4px 0 0;
    border-top: 1px solid #5783a6;
    border-left: 1px solid #5783a6;
    border-right: 1px solid #5783a6;
} */

/* ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #356a94;
} */

/* .form-action-button {
    display: flex;
    justify-content: center;
    width: 100%;

} */

/* .form-action-button button {
    margin: 10px 10px 3px;
} */

.mat-raised-button {
    border-radius: 4px;
}

/* ::ng-deep .mat-tab-body-wrapper {
    border: 1px solid #e6e6e6;
    padding: 0.5em 1em;
    z-index: 0;
} */

/* .green {
    background: green;
    color: #fff;
} */

mat-cell>span {
    width: 100%;
}

/* .saveFloatButton {
    z-index: 999999;
    position: absolute;
    left: -36px;
    top: -36px;
} */

/* 
.back-button {
    background: #efefef !important;
    color: black
} */

/* #districtTable .mat-header-cell:first-child,
#districtTable .mat-cell:first-child {
    flex: 0 0 10%;
    white-space: nowrap;
} */

/* .standing-tab-contain {
    width: 100%;
    display: flex;
    margin: 2em 0px;
    display: none;
} */

/* .standing-tab-contain ul {
    width: 100%;
    display: flex;
} */

/* .standing-tab-contain ul li {
    width: 25%;
    display: inline-flex;
    background: black;
    height: 2px;
    position: relative;
} */

/* .dot {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: -9px;
    background: red;
    border-radius: 100%;
} */

/* .last-tab {
    width: auto !important;
} */


/* .standing-est-tabing{

} */

/* .next-button {
    justify-content: flex-end;
} */

/* .rsClass {
    display: block;
    font-size: 12px;
    text-align: right;
    font-weight: 600;
} */

/* ::ng-deep .mat-form-field-required-marker {
    color: red;
} */

/* ::ng-deep .mat-table .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: .6em;

} */

/* ::ng-deep .mat-table .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px !important;
    border-bottom: 1px dotted #CCC;
    background-color: unset;
    bottom: 0.60em;
} */

/* ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px !important;
    border-bottom: 1px dotted #CCC;
    background-color: unset;

} */

/* ::ng-deep .mat-form-field-hide-placeholder .mat-select-placeholder {
    color: rgba(0, 0, 0, .42) !important;
    -webkit-text-fill-color: rgba(0, 0, 0, .42) !important;
} */

/* ::ng-deep .mat-autocomplete-panel .mat-option {
    height: 35px;
    line-height: 1.5;
    border-bottom: 1px dotted #e8e8e8;
} */

/* .mat-table mat-row:nth-child(odd) {
    background: #f9f9f9;
} */

/* .iconTable {
    margin: auto;
    display: table;
} */

/* #outSourceTable .mat-header-row .mat-header-cell:last-child {
    width: 14%;
} */

/* .header-detail {
    border: 1px solid #356a94;
    margin: 0px 3px;
    padding: 5px;
} */

/* .labelCSS {
    padding: unset;
    width: 100%;
    font-weight: 600;
    float: left;
} */

/* .paddingUnset {
    padding: 0px 0px 0px 5px;
    float: left;
} */

/* .floatRight {
    float: right;
} */


/* .colPadding {
  padding: 5px;
} */


