<div class="container">
  <div class="form-wrapper">
    <!-- Header Section -->
    <div class="heading-section ng-star-inserted">
      <div>UP Clear Account Wise Posting</div>
      <div class="font-heading"><strong>Reference No:</strong> 19-20/DPPF-NPS/WITC/001</div>
      <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}</div>
    </div>
    <!-- Breadcumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item " aria-current="page"><a href="javascript:void(0)">DPPF - NPS</a></li>
        <li class="breadcrumb-item active" aria-current="page">UP Clear Account Wise Posting</li>
      </ol>
    </nav>

    <div class="panel-group">
      <form [formGroup]="upClearAccountWisePostingForm" (ngSubmit)="upClearAccountWisePostingFormData()">
        <!-- Search Top Schedule Details -->
        <div class="box box-primary">
          <div class="box-header">Top Schedule Details</div>
          <div class="box-body">
            <div class="row">

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="district" placeholder="District">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="districtCTRL" [placeholderLabel]="'Find District...'"
                        [noEntriesFoundLabel]="'no matching District found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let districtName of district_list | filterSelectInput: districtCTRL.value"
                      [value]="districtName.value">
                      {{districtName.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="treasuryPAO" placeholder="Treasury / PAO" required>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="treasutyCTRL" [placeholderLabel]="'Find Treasury/PAO...'"
                        [noEntriesFoundLabel]="'no matching Treasury/PAO found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let treasutyPAOName of treasutyPAO_list | filterSelectInput: treasutyCTRL.value"
                      [value]="treasutyPAOName.value">
                      {{treasutyPAOName.viewValue}}
                    </mat-option>
                  </mat-select>
                  <div class="error-wrapper"
                    *ngIf="upClearAccountWisePostingForm.controls.treasuryPAO.touched && upClearAccountWisePostingForm.controls.treasuryPAO.errors">
                    <mat-error *ngIf="upClearAccountWisePostingForm.controls.treasuryPAO.errors.required">
                      {{errormsg.TYPE_OF_TREASURY_PAO}}</mat-error>
                  </div>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="month" placeholder="Month" required>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="monthCTRL" [placeholderLabel]="'Find Month...'"
                        [noEntriesFoundLabel]="'No matching Month found'" numbersOnly>
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let monthName of monthList | filterSelectInput:monthCTRL.value"
                      [value]="monthName.value">
                      {{monthName.viewValue}}
                    </mat-option>
                  </mat-select>
                  <div class="error-wrapper"
                    *ngIf="upClearAccountWisePostingForm.controls.month.touched && upClearAccountWisePostingForm.controls.month.errors">
                    <mat-error *ngIf="upClearAccountWisePostingForm.controls.month.errors.required">
                      {{errormsg.TYPE_OF_MONTH}}</mat-error>
                  </div>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="year" placeholder="Year" required>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="yearCTRL" [placeholderLabel]="'Find Year...'"
                        [noEntriesFoundLabel]="'No matching Year found'" numbersOnly>
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let yearName of yearList | filterSelectInput:yearCTRL.value"
                      [value]="yearName.value">
                      {{yearName.viewValue}}
                    </mat-option>
                  </mat-select>
                  <div class="error-wrapper"
                    *ngIf="upClearAccountWisePostingForm.controls.year.touched && upClearAccountWisePostingForm.controls.year.errors">
                    <mat-error *ngIf="upClearAccountWisePostingForm.controls.year.errors.required">
                      {{errormsg.TYPE_OF_YEAR}}</mat-error>
                  </div>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="head" placeholder="Head">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="headCTRL" [placeholderLabel]="'Find Head...'"
                        [noEntriesFoundLabel]="'No matching Head found'" numbersOnly>
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let headName of headList | filterSelectInput:headCTRL.value"
                      [value]="headName.value">
                      {{headName.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <mat-select formControlName="voucher" placeholder="Voucher">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="voucherCTRL" [placeholderLabel]="'Find Voucher...'"
                        [noEntriesFoundLabel]="'No matching Voucher found'" numbersOnly>
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let voucherName of voucherList | filterSelectInput:voucherCTRL.value"
                      [value]="voucherName.value">
                      {{voucherName.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </div>
            <div class="form-action-button">
              <button type="submit" mat-raised-button color="primary" title="Get">
                <i class="material-icons" title="Get" aria-hidden="true">
                  vertical_align_bottom
                </i>
                Get
              </button>
            </div>
          </div>
        </div>
        <!-- End Search Top Schedule Details -->
        <!-- UP Details -->
        <div class="box box-primary">
          <div class="box-header">UP Details</div>
          <div class="box-body">
            <div class="mat-elevation-z8 ">
              <div class="row">
                <div class="col-sm-12">
                  <table mat-table [dataSource]="upDetailsDataSource" aria-describedby="recovery" class="mt-3">

                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef scope="row">
                        <mat-checkbox (change)="$event ? directiveObj.masterToggle(upDetailsDataSource) : null"
                          [checked]="directiveObj.selection.hasValue() && directiveObj.isAllSelected(upDetailsDataSource)"
                          [indeterminate]="directiveObj.selection.hasValue() && !directiveObj.isAllSelected(upDetailsDataSource)"
                          [aria-label]="directiveObj.checkboxLabel(upDetailsDataSource)">
                        </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row" class="centerAlign">
                        <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? directiveObj.selection.toggle(row) : null"
                          [checked]="directiveObj.selection.isSelected(row)"
                          [aria-label]="directiveObj.checkboxLabel(upDetailsDataSource,row)">
                        </mat-checkbox>
                      </td>
                      <td mat-footer-cell *matFooterCellDef>Total</td>
                    </ng-container>

                    <ng-container matColumnDef="year">
                      <th mat-header-cell *matHeaderCellDef scope="row">Year</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        {{element.year}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="month">
                      <th mat-header-cell *matHeaderCellDef scope="row">Month</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        {{element.month}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="creditDebit">
                      <th mat-header-cell *matHeaderCellDef scope="row">Credit/Debit</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        {{element.creditDebit}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="head">
                      <th mat-header-cell *matHeaderCellDef scope="row">Head</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        {{element.head}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="voucherNo">
                      <th mat-header-cell *matHeaderCellDef scope="row">Voucher No</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        {{element.voucherNo}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="upNo">
                      <th mat-header-cell *matHeaderCellDef scope="row">UP No</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        {{element.upNo}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="ppaNo">
                      <th mat-header-cell *matHeaderCellDef scope="row">PPA No.</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        {{element.ppaNo}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="dp">
                      <th mat-header-cell *matHeaderCellDef scope="row">DP</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        {{element.dp}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="da">
                      <th mat-header-cell *matHeaderCellDef scope="row">DA</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        {{element.da}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                      <th mat-header-cell *matHeaderCellDef scope="row">Amount</th>
                      <td mat-cell *matCellDef="let element;let i=index" class="rightAlign">
                        {{element.amount}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef class="rightAlign">
                        {{directiveObj.columnTotal(upDetailsDataSource,'amount') | number:'1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="clearedAmount">
                      <th mat-header-cell *matHeaderCellDef scope="row">Cleared Amount</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        {{element.clearedAmount}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="remarks">
                      <th mat-header-cell *matHeaderCellDef scope="row">Remarks</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        {{element.remarks}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="upDetailsColumn"></tr>
                    <tr mat-row *matRowDef="let row; let i = index;columns:upDetailsColumn"></tr>
                    <tr mat-footer-row *matFooterRowDef="upDetailsColumn"></tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End UP Details -->
        <!-- UP Details -->
        <div class="box box-primary">
          <div class="box-header">UP Details</div>
          <div class="box-body">
            <div class="mat-elevation-z8 ">
              <div class="row">
                <div class="col-sm-12">
                  <button type="submit" mat-raised-button color="primary" (click)="addDetails()">
                    <i class="material-icons " aria-hidden="true">add</i>Add Row</button>
                </div>
                <div class="col-sm-12">
                  <table mat-table [dataSource]="detailsDataSource" aria-describedby="recovery" class="mt-3">

                    <ng-container matColumnDef="parent1">
                      <th mat-header-cell *matHeaderCellDef colspan="11" scope="row" class="centerAlign">
                        Voucher Details
                      </th>
                    </ng-container>

                    <ng-container matColumnDef="upNo">
                      <th mat-header-cell *matHeaderCellDef scope="row">UP No.</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        <mat-form-field class="full-width">
                          <mat-select formControlName="upNo">
                            <mat-option>
                              <ngx-mat-select-search [formControl]="upCTRL" [placeholderLabel]="'Find UP No. ...'"
                                [noEntriesFoundLabel]="'no matching UP No. found'">
                              </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let upName of up_list | filterSelectInput: upCTRL.value"
                              [value]="upName.value">
                              {{upName.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td mat-footer-cell *matFooterCellDef> Total</td>
                    </ng-container>

                    <ng-container matColumnDef="ppaNo">
                      <th mat-header-cell *matHeaderCellDef scope="row">PPA No.</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        <mat-form-field class="example-full-width">
                          <input matInput [(ngModel)]="element.ppaNo" value="{{element.ppaNo}}"
                            [ngModelOptions]="{standalone: true}" decimalLimitTwoOnly>
                          <mat-icon matSuffix class="searchIcon" (click)="openDialogPPANumber()">search</mat-icon>
                        </mat-form-field>
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef scope="row">Name</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        <mat-form-field class="example-full-width">
                          <input matInput [(ngModel)]="element.name" value="{{element.name}}"
                            [ngModelOptions]="{standalone: true}" required>
                        </mat-form-field>
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="basic">
                      <th mat-header-cell *matHeaderCellDef scope="row">Basic</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        <mat-form-field class="example-full-width">
                          <input matInput [(ngModel)]="element.basic" value="{{element.basic}}"
                            [ngModelOptions]="{standalone: true}" required>
                        </mat-form-field>
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="dp">
                      <th mat-header-cell *matHeaderCellDef scope="row">DP</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        <mat-form-field class="example-full-width">
                          <input matInput [(ngModel)]="element.dp" value="{{element.dp}}"
                            [ngModelOptions]="{standalone: true}" required>
                        </mat-form-field>
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="da">
                      <th mat-header-cell *matHeaderCellDef scope="row">DA</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        <mat-form-field class="example-full-width">
                          <input matInput [(ngModel)]="element.da" value="{{element.da}}"
                            [ngModelOptions]="{standalone: true}" required>
                        </mat-form-field>
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                      <th mat-header-cell *matHeaderCellDef scope="row">Amount</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        <mat-form-field class="example-full-width" class="rightAlign">
                          <input matInput value="{{element.amount}}" [(ngModel)]="element.amount"
                            [ngModelOptions]="{standalone: true}" decimalLimitTwoOnly decimalPoint2>
                        </mat-form-field>
                      </td>
                      <td mat-footer-cell *matFooterCellDef class="rightAlign">
                        {{directiveObj.columnTotal(detailsDataSource,'amount') | number:'1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="forMonth">
                      <th mat-header-cell *matHeaderCellDef scope="row">For Month</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        <mat-form-field class="full-width">
                          <mat-select formControlName="forMonth" required>
                            <mat-option>
                              <ngx-mat-select-search [formControl]="forMonthCTRL" [placeholderLabel]="'Find Month...'"
                                [noEntriesFoundLabel]="'No matching Month found'" numbersOnly>
                              </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let monthName of monthList | filterSelectInput:forMonthCTRL.value"
                              [value]="monthName.value">
                              {{monthName.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="forYear">
                      <th mat-header-cell *matHeaderCellDef scope="row">For Year</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        <mat-form-field class="full-width">
                          <mat-select formControlName="forYear" required>
                            <mat-option>
                              <ngx-mat-select-search [formControl]="forYearCTRL" [placeholderLabel]="'Find Year...'"
                                [noEntriesFoundLabel]="'No matching Year found'" numbersOnly>
                              </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let yearName of yearList | filterSelectInput:forYearCTRL.value"
                              [value]="yearName.value">
                              {{yearName.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="remarks">
                      <th mat-header-cell *matHeaderCellDef scope="row">Remarks</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        <mat-form-field class="example-full-width">
                          <textarea matInput [(ngModel)]="element.remarks" value="{{element.remarks}}"
                            [ngModelOptions]="{standalone: true}" required></textarea>
                        </mat-form-field>
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef scope="row" style="width: 4%;">
                        Action</th>
                      <td mat-cell *matCellDef="let element;let i=index">
                        <table class="iconTable" aria-describedby="actionBtn">
                          <tbody>
                            <tr>
                              <td width="30">
                                <i class="material-icons plus add" aria-hidden="true" (click)="addDetails(i)">
                                  add
                                </i>
                              </td>
                              <td width="30" id={{i}} *ngIf="detailsDataSource.data.length >=1"
                                (click)="directiveObj.deleteRow(detailsDataSource,i)">
                                <i class="material-icons plus delete" aria-hidden="true">
                                  delete
                                </i>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['parent1']" class="example-second-header-row"></tr>
                    <tr mat-header-row *matHeaderRowDef="detailsColumn"></tr>
                    <tr mat-row *matRowDef="let row; let i = index;columns:detailsColumn"></tr>
                    <tr mat-footer-row *matFooterRowDef="detailsColumn"></tr>

                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End UP Details -->
        <!-- Common Button -->
        <div class="form-action-button">
          <button type="submit" mat-raised-button color="primary" title="Save as Draft">
            <i class="material-icons" title="Save as Draft" aria-hidden="true">
              save
            </i>
            Save as Draft
          </button>
          <button mat-raised-button type="submit" class="green" (click)="workflowDetails()" title="Submit">
            <i class="material-icons" title="Submit" aria-hidden="true">done</i> Submit
          </button>
          <button type="reset" mat-raised-button color="accent" title="Reset" (click)="resetForm()">
            <i class="material-icons" title="Reset" aria-hidden="true">
              restore
            </i>
            Reset
          </button>
          <button type="button" mat-raised-button color="warn" title="Listing" (click)="goToListing()">
            <i class="material-icons" title="Listing" aria-hidden="true">
              list
            </i>
            Listing
          </button>
          <button type="button" mat-raised-button class="btnClose" title="Close">
            <i class="material-icons" title="Close" aria-hidden="true">
              close
            </i>
            Close
          </button>
        </div>
        <!-- End Common Button -->
      </form>
    </div>

  </div>
</div>