th, td {
    width: 8% !important;
}
tr.example-detail-row {
  height: 0px !important;
  min-height: 0px;
}

.innnerTable th,tr,td {
  width: 8% !important;
}

.classForBackground {
  background-color:#e2f0fb;

}

.pointerCursor {
  cursor: pointer;
}

.wordBreakForPanel td {
  word-break: break-all;
}
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    ::ng-deep .tableSelectFix table.mat-table .mat-form-field-infix {
        width: 90px !important;
    }
}
