<div class="container">
  <div class="form-wrapper">
    <div class="heading-section ng-star-inserted">
      <div>Online Challan Details</div>
    </div>

    <!-- Online Challan Details starts -->
    <div class="panel-group">
      <div class="box box-primary">
        <div class="box-header">Online Challan Details</div>
        <div class="box-body">
          <form [formGroup]="postChallanDetailsForm">
            <div class="row">

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="Party Name" formControlName="partyName" readonly>
                </mat-form-field>
              </div>


              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="Received By Bank Date" formControlName="bankDate" readonly>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="CIN No" formControlName="cinNo" readonly>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="Registration No" formControlName="regiNo" readonly>
                </mat-form-field>
              </div>


              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="Challan value" formControlName="challanValue" readonly>
                </mat-form-field>
              </div>


              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="A/C No." numbersOnly maxLength="16" formControlName="acNo">
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="Bank" formControlName="bank" readonly>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="Branch" formControlName="branch" readonly>
                </mat-form-field>
              </div>


              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="From Period" formControlName="from" readonly>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="To Period" formControlName="to" readonly>
                </mat-form-field>
              </div>


            </div>

          </form>
        </div>
      </div>

    </div>
    <!-- Online Challan Details ends -->
    <!-- Head Details starts -->
    <div class="panel-group">
      <div class="box box-primary">
        <div class="box-header">Head Details</div>
        <div class="box-body">

          <table mat-table [dataSource]="dataSource" width="100%" matSort aria-describedby="postedChallanDetails">

            <ng-container matColumnDef="desc">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Description Of Purpose </th>
              <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
              <td mat-footer-cell *matFooterCellDef> Total Amount</td>
            </ng-container>

            <ng-container matColumnDef="majorHead">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Major Head </th>
              <td mat-cell *matCellDef="let element"> {{element.majorHead}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>


            <ng-container matColumnDef="subMajorHead">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row"> Sub - Major Head</th>
              <td mat-cell *matCellDef="let element"> {{element.subMajorHead}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="minorHead">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Minor Head</th>
              <td mat-cell *matCellDef="let element"> {{element.minorHead}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="subHead">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Sub Head</th>
              <td mat-cell *matCellDef="let element">

                {{element.subHead}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>


            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Amount In Rs.</th>
              <td mat-cell *matCellDef="let element" class="rightAlign"> {{element.amount}} </td>
              <td mat-footer-cell *matFooterCellDef class="rightAlign">
                {{totaAmount() | number:'1.2-2'}}</td>

            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; let i = index;columns: displayedColumns;">
            </tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
          </table>


        </div>
      </div>
    </div>

    <!-- Head Details ends -->
    <!-- Common Action Button Starts -->
    <div class="form-action-button">
      <button type="button" mat-raised-button class="btnClose">
        <i class="material-icons" aria-hidden="true" title="close">
          close
        </i>
        Close
      </button>
    </div>
    <!-- Common Action Button Ends-->
  </div>
</div>
