<div class="container">
  <div class="form-wrapper">
    <div class="heading-section ng-star-inserted">
      <div>Block CPIN - HA</div>
      <div class="font-heading"><b>Reference No:</b> 19-20/E-PAO/BCPINHA/001</div>
      <div class="font-heading"><b>Reference Date:</b> {{ initiatiomdate | date: 'dd-MMM-yyyy HH:mm'}}</div>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">E-PAO</a></li>
        <li class="breadcrumb-item active" aria-current="page">Block CPIN - HA</li>
      </ol>
    </nav>

    <form [formGroup]="blockCpinhaForm">
      <div class="panel-group">
        <div class="box box-primary">
          <div class="box-header">Block CPIN - HA</div>
          <div class="box-body">

            <div class="row">
              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="Transaction Id" formControlName="tId">
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="CPIN" formControlName="cinNo">
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="CIN" formControlName="cin">
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="STATUS" formControlName="status">
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput [max]="fDate" [matDatepicker]="fDate" formControlName="fDate" placeholder="Date"
                    readonly>
                  <mat-datepicker-toggle matSuffix [for]="fDate"></mat-datepicker-toggle>
                  <mat-datepicker #fDate></mat-datepicker>
                </mat-form-field>
              </div>


              <div class="col-sm-3">
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="File No" formControlName="fNo">
                </mat-form-field>
              </div>


            </div>
          </div>
        </div>

        <div class="form-action-button">
          <!-- <button type="button" mat-raised-button color="primary" (click)="onSave();">
            <i class="material-icons" aria-hidden="true" title="Next">
              arrow_forward_ios
            </i> Forward
          </button> -->
          <button mat-raised-button type="button" class="green" (click)="commentEpaoDetails()"><i
              class="material-icons">
              done
            </i> Submit
          </button>
          <button type="reset" mat-raised-button color="accent">
            <i class="material-icons" aria-hidden="true" title="reset">
              restore
            </i>
            Reset
          </button>
          <button type="button" [routerLink]="'../block-cpin-ha-listing'" mat-raised-button color="warn">
            <i class="material-icons" aria-hidden="true" title="Listing">
              list
            </i>
            Listing
          </button>


          <button type="button" mat-raised-button class="btnClose">
            <i class="material-icons" aria-hidden="true" title="close">
              close
            </i>
            Close
          </button>


        </div>

      </div>
    </form>

  </div>
</div>