.unsetHeight{
  height: unset !important;
  background: #FFF;
}
.newWidth th {
  width: 6.667%;
}

.newWidth td {
  width: 6.667%;
}
.newWidth1 th {
  width: 6.667%;
}

.newWidth1 td {
  width: 6.667%;
}


::ng-deep table.mat-table .mat-form-field-appearance-legacy .mat-form-field-infix {
  width: unset !important;
}


@media only screen and (max-width: 768px) { 

  .bspace{

    margin-bottom: 10px;
  }

  .mat-tab-label{

    padding: 0 13px !important;
  }
  .square {
    width: 10px;
    height: 10px;
    top: 1px;
  }



}



@media only screen and (max-width: 576px) { 


.heading-section{
  font-size: 0.9rem;
}

.font-heading{

  font-size: 12px;
  padding-left: 0px;
}
.labelCSS{
  width: auto;
}
}




@media only screen and (max-width: 480px) { 



.mat-footer-row {
background: #ccc;
color: black;
font-weight: bold;
}

.coldisable{
background:#f1f1f1;
color: #9199a1;
justify-content: flex-end;
}

.legend{
background: #f7f2ec;
padding: 4px;
border: 1px solid #f0e7e0;
font-size: 11px;
color: #79726c;
}

}