<div class="container">
  <div class="form-wrapper lc-report">
    <div class="text-center">
      <h3><u>Letter of Credit</u></h3><br>
    </div>
    <div class="text-right">
      {{lcNumber}}<br>
      District Treasury Office,<br>
      Gandhinagar.<br>
      Date: {{todayDate | date : 'dd/MM/yyyy'}}
    </div>
    <div>
      To,<br>
      The Agent/Manager,<br>
      State Bank Of India,<br>
      Main Branch, Gandhinagar<br><br><br>

      Dear Sir,<br><br>

      In accordance with the provision of Finance Department, Government Resolution No. TJR-1193-677-Z dated 19/09/94.<br><br>

      I have the honour to request that you will cash the cheques drawn by the {{divisionCode}}-{{divisionName}} to the extent of Rs. {{lcAmount}} (Rupees {{lcAmountInWords}} only).

      The progressive Amount of LC with this LC is now Rs. (0 + {{lcAmount}}) = {{lcAmount}} ({{lcAmountInWords}} only).<br><br>

      This letter of credit has effect for the quarter from {{lcValidFrom | date : 'dd/MM/yyyy'}} to the {{lcValidTo | date : 'dd/MM/yyyy'}} Code: {{divisionCode}}-{{divisionName}}.
    </div>
    <div class="text-right">
      Yours faithfully,<br><br>
      District Treasury Officer,
      Gandhinagar
    </div>
    <div>
      Copy To:<br>
      1) {{lcNumber}} - {{divisionCode}}<br>
      2) CFRST - PRINCIPAL CHIEF CONSERVATOR OF FOREST GUJ.ST.GNR.<br>
      3)<br>
      4)<br>
    </div>
  </div>
</div>