@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    /*  IE9+ CSS */
    /* for tab text */
    .mat-tab-label .mat-tab-label-content {
        display: inline-block !important;
        line-height: 13px;
        white-space: normal !important;
    }
    /* For claneder colo background */
    .mat-calendar .mat-calendar-content:focus,
    .mat-calendar .mat-calendar-content:hover,
    .mat-calendar .mat-calendar-content:visited,
    .mat-calendar .mat-calendar-content:active,
    .mat-calendar .mat-calendar-content {
        background: #fff !important;
    }
    /* For claneder colo background */
    .mat-datepicker-content .mat-calendar:focus,
    .mat-datepicker-content .mat-calendar:hover,
    .mat-datepicker-content .mat-calendar:visited,
    .mat-datepicker-content .mat-calendar:active {
        background: #fff !important;
    }
    .mat-header-cell {
        padding: 15px 0px;
    }
    /* Main heading height */
    .mat-expansion-panel .mat-expansion-panel-header {
        height: 35px !important;
    }
    /* Main heading background color */
    .mat-expansion-panel .mat-expansion-panel-header .heading-section {
        background: transparent
    }
    .mat-form-field-hide-placeholder .mat-select-placeholder {
        color: transparent;
        -webkit-text-fill-color: transparent;
    }
    .cdk-program-focused {
        background: #5783a6 !important;
    }
    /* .mat-form-field-appearance-legacy .mat-form-field-infix,
    .mat-form-field-infix {
        width: inherit;
    } */
    .mat-elevation-z8 {
        box-shadow: none !important;
    }
    .mat-tab-group .mat-tab-header .mat-tab-label {
        flex-basis: auto;
    }
    .cdk-global-overlay-wrapper {
        justify-content: center;
        align-items: center;
    }
    .cdk-overlay-pane {
        width: auto;
    }
    .button .material-icons {
        margin-top: 0px !important;
    }
    table.mat-table .mat-form-field-infix {
        width: 140px!important;
    }
    /* mat-paginator select dropdown overlap fix starts */
    mat-paginator .mat-form-field-infix mat-select {
        width: 60px !important;
    }
    /* mat-paginator select dropdown overlap fix ends */
    table mat-form-field .mat-form-field-infix mat-select {
        width: 100%;
    }
    table td .mat-select-arrow-wrapper {}
    mat-paginator mat-form-field .mat-select {
        width: 100%;
    }
    .open-file-box img {
        height: 395px !important;
        margin-left: 55px !important;
    }
    /* button color */
    .green {
        background-color: green !important;
    }
    .mat-primary .cdk-focused .cdk-mouse-focused {
        background-color: #356a94 !important;
    }
    .btnClose {
        background-color: #a5a5a5 !important;
    }
}


/* Targeted css for egde browser */

@supports (-ms-ime-align: auto) {
    .tblwithoutBg {
        background: #fff !important;
        height: 25px;
    }
    .mat-table .mat-header-row {
        min-height: 25px !important;
    }
    .mat-dialog-container {
        width: 900px !important;
        height: auto !important;
    }
    /* .open-file-box img {
      height:395px;
      margin-left: 55px;
    } */
}
