@import "IE_css.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";

/* md-icon {
  font-family: "Material I cons" !important;
} */


/* Common CSS Starts*/

body {
    background-color: #f9f9f9;
    font-size: 13px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    /* color: #ea6940 !important; */
    color: #356a94 !important;
}

button:focus {
    outline: none;
}

.form-action-button button {
    margin: 10px;
    min-width: 100px;
}

textarea {
    max-height: 30px;
    overflow: auto;
}

.form-wrapper {
    width: 100%;
    margin: 1em auto;
    background: #fff;
    border-radius: 0px;
    box-shadow: 0px 0px 10px #e2e2e2;
    height: auto;
    padding: 1em;
}

.heading-section {
    width: 100%;
    background: #f9f9f9;
    padding: 0.3em 0.5em;
    font-size: 1rem;
    color: #356a94;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.3em;
}

.font-heading {
    color: black;
    font-size: 14px;
    font-weight: normal;
}

.form-datatable-list {
    font-size: 13px;
}

.open-file-box img {
    max-width: 100%;
    height: auto;
}


/* Breadcrumb Start */

.breadcrumb {
    background-color: transparent;
    padding: 0rem 0.5rem 0rem;
    margin-bottom: 0.3rem;
}

.breadcrumb-item a {
    font-weight: 600;
}


/* Breadcrumb End */

.mat-elevation-z8 {
    box-shadow: unset;
}

.mat-table {
    border: solid 1px rgba(0, 0, 0, 0.12);
    width: 100%;
}

.plus {
    padding: 3px;
    padding: 4px;
    border-radius: 2px;
    color: #5783a6;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid #cccccc;
}

.add {
    background: transparent;
}

.delete,
.delete-icon {
    background: transparent;
    color: #d44747;
}

.send-icon {
    cursor: pointer;
    background: transparent;
    color: #61942f;
}

.view-icon {
    background: transparent;
    color: #3a698e;
}

.edit-icon {
    background: transparent;
    color: #ea6940;
}

.copy-icon {
    background: transparent;
    color: #fca103;
}

.rightAlign {
    text-align: right !important;
}

.leftAlign {
    text-align: left;
}

.centerAlign {
    text-align: center !important;
}

.primarycolor {
    background-color: #356a94;
    color: #fff;
}

.error-wrapper {
    position: absolute;
    /* top: 22px; */
    top: calc(100% - 0em);
    font-size: 11px;
}

.error-wrapper {
    position: absolute;
    /* top: 22px; */
    top: calc(100% - 0.4375em);
    font-size: 11px;
}

.form-action-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.square-box {
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
}

.square-outer {
    clear: both;
    margin: 5px 5px;
    display: -webkit-box;
    display: flex;
}

.square {
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
}

.square-text {
    display: inline-block;
    margin-left: 5px;
    font-size: 11px;
    line-height: 1.5;
}

.square.completed {
    background-color: #8fbc8f;
}

.square.incomplete {
    background-color: #f08080;
}

.action-btn-i {
    white-space: nowrap;
}

.green {
    background: green;
    color: #fff;
}

.red {
    background: #d44747;
    color: #fff;
}

.darkgreen {
    background: forestgreen;
    color: #fff;
}

.btnClose {
    background: #a5a5a5;
    color: #fff;
}

.secondary {
    background: #39a2a7;
    color: #fff;
}

.next-button {
    justify-content: flex-end;
}

.save {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.saveFloatButton {
    z-index: 999999;
    position: absolute;
    left: 0px;
    top: 0px;
}

.back-button {
    background: #82786c;
    color: white;
}

.rsClass {
    display: block;
    font-size: 12px;
    text-align: right;
    font-weight: 600;
}

.iconTable {
    margin: auto;
    display: table;
    border: unset;
}

.dot {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: -9px;
    background: red;
    border-radius: 100%;
}

.last-tab {
    width: auto !important;
}

.successObject {
    background-color: beige;
}

.example-chip-list {
    width: 100%;
}

.header-detail {
    border: 1px solid #356a94;
    margin: 0px 0px;
    padding: 5px;
    width: 100%;
}

.floatRight {
    float: right;
}

.labelCSS {
    padding: unset;
    width: 100%;
    font-weight: 600;
    float: left;
}

.displayBlock {
    display: block;
}

.btn-browse {
    background: #e2f0fb;
    border: 1px solid #cde0ef;
    margin: 0.5em;
    padding: 6px 10px;
    border-radius: 2px;
}

.customresponsive {
    overflow-x: auto;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.coldisable {
    background: #f1f1f1;
    color: #9199a1;
    justify-content: flex-end;
}

.legend {
    background: #f7f2ec;
    padding: 4px;
    border: 1px solid #f0e7e0;
    font-size: 11px;
    color: #79726c;
}

.recovertTitle {
    padding: 5px 5px;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    background: rgba(221, 236, 255, 0.4);
}

.unsetHeight {
    height: unset !important;
}

.success {
    color: aliceblue;
    background-color: #228c22;
}

.clear {
    clear: both !important;
}

.floatleft {
    float: left;
}

.bigtd {
    line-height: 15px;
    display: inline-table;
}

.intabdis {
    display: inline-table;
}

.headingtwo {
    color: #356a94;
    font-size: 0.9rem;
    margin: 10px 0px;
    font-weight: bold;
}


/* button {
    outline: none !important;
} */

.browse-file {
    position: relative;
}

.yellow-background {
    background-color: #FFFF00;
}

.vertical-align-center {
    padding: 0;
    vertical-align: middle;
}

.hyper-link {
    color: #6666de !important;
    cursor: pointer;
    font-weight: 600;
}

.hyper-link:hover {
    text-decoration: underline !important;
}

.error {
    color: red !important;
}

.postlisttitle {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    padding-bottom: 5px;
    font-weight: bold;
}

.closesmall {
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}

.valignlable {
    top: 8px;
    position: relative;
}

.full-width {
    width: 100%;
}

.star {
    color: red;
}

.btn-history {
    color: #ff9900;
    vertical-align: inherit;
    cursor: pointer;
    font-size: 18px;
}
.history-icon{
    color: #ff9900;
    cursor: pointer;
}

.select-list {
    height: 300px;
    width: 100%;
    border: 1px solid #ccc;
    overflow-x: hidden;
    border-radius: 4px;
}

.select-list p {
    padding-left: 5px;
    background: #f2f2f2;
}

.selectedModule {
    background: #f1f1f1;
}

.material-icons {
    width: 23px;
    height: 23px;
}

.menu_box {
    width: 15.5%;
}

.srnowidth {
    width: 67px;
}

.actionwidth {
    width: 100px;
}

.actionwidthtwo {
    width: 70px;
}

.smallcolumn {
    width: 110px;
}

.searchIcon {
    cursor: pointer;
}

.forwardbtn {
    background-color: #66cd00;
    color: #fff;
}

.table-responsive {
    display: inline;
    overflow-y: hidden
}

.h15 {
    height: 15px;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #5783a6 !important;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.box-header {
    color: #356a94;
    display: flex;
    padding: 6px;
    position: relative;
    border-bottom: 1px solid rgb(220, 231, 241);
    background: rgba(221, 236, 255, 0.4);
    font-weight: 600;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 15px;
}

.container {
    max-width: 100%;
}

.search-section {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    width: 98%;
    margin: auto;
    background: rgb(249, 249, 249);
    border: dashed 1px #c1c3c5;
}

.fileBrowse {
    visibility: hidden;
}

.accordionSection {
    /* background: #f5f5f5;
  padding: 10px;
  margin-top: 10px; */
    background: #ffffff;
    margin-top: 10px;
    border: 10px solid #f5f5f5;
}

.print-btn,
.btn-print {
    background: rgba(159, 159, 41, 0.8) !important;
    color: #fff;
}

img.supLogo {
    width: 100%;
}

.transcation-by {
    margin-top: 10px;
}

.common-dialog-box {
    background-color: white;
    padding: 15px;
}

.underline {
    text-decoration: underline;
}

.boxed-border {
    border: 1px solid #000000;
    padding: 3px;
    margin: 1px;
}

.report-background {
    background-color: #ffc3ed;
}

.height-100 {
    height: 100px;
}

.height-50 {
    height: 50px;
}

.height-500 {
    height: 500px;
}

.line {
    border: 1px solid #000000;
}

.display-inline {
    display: inline-block;
}

.mat-form-field-disabled,.disabled {
    color: #9e9e9e;
    cursor: no-drop;
}
input:read-only ,.disabled .mat-form-field-autofill-control {
    cursor: no-drop;
}

/*CSS for Margin Starts*/

.action-btn-i a {
    margin-right: 3px;
}

.action-btn-i a:last-child {
    margin-right: 0px;
}

.no-margin {
    margin: 0;
}

.standing-est-tabing {
    margin-top: 10px;
}

.iconTable .material-icons {
    margin: 0px 2px;
}

hr {
    margin-top: 0rem;
    margin-bottom: 1rem;
}


/* .mgl5 {
    margin-left: 5px !important;
} */


/* .mgl10 {
    margin-left: 10px;
} */

.mgt30 {
    margin-top: 30px;
}


/* .mgl15 {
    margin-left: 15px !important;
} */

.ml-12 {
    margin-left: 12px;
}

.mgb10 {
    margin-bottom: 10px;
}

.mgt10 {
    margin-top: 10px;
}

.mgb15 {
    margin-bottom: 15px;
}

.mgt15 {
    margin-top: 15px;
}


/*CSS for Margin Ends*/


/*CSS for Padding Starts*/

.paddingUnset {
    padding: 0px 0px 0px 5px;
    float: left;
}

.colPadding {
    padding: 2px;
}

.pdt15 {
    padding-top: 15px;
}

.no-padding {
    padding: 0px;
}

.currentdetails {
    padding: 0px 15px;
}


/* .pdl15 {
    padding-left: 15px !important;
} */

.pdl5 {
    padding-left: 5px !important;
}

.padding-40 {
    padding: 40px;
}

.rediobtnboxrole {
    padding: 5px 6px 0px 10px;
}


/*CSS for Padding Ends*/

.hideData {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.linkRight {
    justify-content: right;
    display: grid;
}

.reinsist {
    display: flex;
    justify-content: space-between;
}

.empDelete {
    color: red;
    margin-left: auto;
    margin-right: 25px;
}

.disin {
    display: inline;
}

.inactiveicon {
    color: #212529;
    font-weight: 600;
}

.box-note {
    font-size: 13px;
    color: #000;
    padding: 5px 0px 0px 5px;
    margin-bottom: 0px;
}

.Monthname {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}


/* .thspace {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
} */

.centerpage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang-btn {
    background: #356a94;
    color: #FFF;
    font-weight: 600;
}

.devider {
    position: relative;
    top: 13px;
    clear: both;
}

.deviderOne {
    position: relative;
    top: 7px;
    clear: both;
}

.deviderTwo {
    position: relative;
    top: 0px;
    clear: both;
}

.lableTolTipOne {
    position: relative;
    top: 14px;
    clear: both;
}

.lableTolTipTwo {
    position: relative;
    top: 6px;
    clear: both;
}

.remarks {
    position: relative;
    top: 5px;
    clear: both;
}

.yrfaithfully {
    margin-left: auto;
    padding-left: 70px;
    margin-top: 0px;
}

.page {
    font-size: 14px;
    box-shadow: 0 0 4px 0px #dedede;
    border: 1px solid lightgray;
    height: 235mm;
    margin-bottom: 14px;
}

.viewBill {
    z-index: 5;
    right: 3%;
    clear: both;
    position: absolute;
    cursor: pointer;
    text-decoration: underline;
    background: #fff;
}

.box2 {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #5783a6 !important;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}


/*Below mentioned is not used anywhere starts*/

.sepbrdrgt {
    border-right: 1px solid #ccc;
    margin-right: 16px;
}


/* .brdrgttitle {
    border-right: 1px solid #ccc;
    margin-right: 15px !important;
} */

.pertitle {
    margin: 3px 7px 13px 7px;
    float: left;
    text-decoration: underline;
    -webkit-text-underline-position: under;
    -ms-text-underline-position: below;
    text-underline-position: under;
    color: #000000;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    font-weight: 600;
}

.pertitlethree {
    margin: 3px 8.5px 13px 8.5px;
}

.leveldrop {
    width: 33%;
    float: left;
    padding: 0px 15px;
}


/* .topspacer {
    margin-top: 35px;
} */


/* .biger_box_one {
    width: 18% !important;
} */


/* .threeiconsize {
    width: 100px !important;
} */

.remarksOne {
    position: relative;
    top: -5px;
    clear: both;
}

.remarksTwo {
    position: relative;
    top: -20px;
    clear: both;
}

.mat-select.mat-select-value,
.mat-select-value-text,
textarea.mat-input-element {
    /* color: #000000; */
    font-weight: 500;
}


/*Not used anywhere ends*/


/* Common CSS Ends*/

.mat-radio-button {
    position: relative;
    top: 3px;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #356a94;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgba(53, 106, 148, 0.26);
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #356a94;
}

.mat-radio-inner-circle {
    border-radius: 50%;
    box-sizing: border-box;
    height: 15px;
    left: 5px;
    position: absolute;
    top: 2px;
    transition: transform ease 280ms, background-color ease 280ms;
    width: 15px;
    transform: scale(.001);
}


/* for checkbox */

.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: rgba(53, 106, 148, 0.26);
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #356a94;
}

.mat-checkbox label.mat-checkbox-layout {
    margin-bottom: 0px;
}

.mat-checkbox .mat-checkbox-inner-container {
    height: 16px;
    width: 16px;
}

.mat-form-field {
    width: 100%;
    padding: 0px;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #5783a6;
}

.mat-tab-body-wrapper {
    border: 1px solid #e6e6e6;
    padding: 1em 1em;
    z-index: 0;
    overflow: auto !important;
    height: auto !important;
}

.mat-expansion-panel .heading-section {
    background: unset;
    margin: unset;
}


/* .mat-table th.mat-header-cell, table.mat-table th {
    text-align: center;
    background: #5783a6;
    color: #fff;
    font-weight: 600;
    border-right: 1px solid rgb(80, 117, 146);
    border-bottom: 1px solid rgb(80, 117, 146);
} */


/* .mat-table .mat-header-cell {
    background: #5783a6;
    color: #fff;
    text-align: center;
    font-weight: 600;
    border-right: 1px solid rgb(80, 117, 146);
    border-bottom: 1px solid rgb(80, 117, 146);
    justify-content: center;
} */

tr.mat-header-row {
    height: 30px !important;
    border-top: 1px solid rgb(80, 117, 146);
    border-bottom: 1px solid rgb(80, 117, 146);
}

.mat-table td.mat-cell,
td.mat-footer-cell {
    /* padding: 0 5px !important; */
    padding: 0 2px !important;
    max-width: 100px;
    width: auto;
    border-right: 1px solid rgb(234, 234, 234) !important;
}

.mat-table th.mat-header-cell,
table.mat-table th,
.mat-table .mat-header-cell {
    background: #5783a6;
    color: #fff;
    /* border-right: 1px solid rgb(80, 117, 146) !important;
    border-bottom: 1px solid rgb(80, 117, 146); */
    border-right: 1px solid rgb(80, 117, 146);
    border-left: 1px solid rgb(80, 117, 146);
    border-bottom: 1px solid rgb(80, 117, 146);
    text-transform: capitalize;
    justify-content: center;
    font-weight: 600;
    text-align: center;
}

.mat-table tr:nth-child(even) {
    background: #f9f9f9;
}

.mat-table td.mat-cell {
    border: unset;
    font-size: 12px;
    padding: 0 5px;
    text-align: left;
}

.mat-table .mat-row {
    height: 30px;
    text-align: center;
}

.mat-table tr.mat-footer-row,
tr.mat-row {
    height: 30px;
}


/* ::ng-deep .mat-table .mat-header-row .mat-header-cell {
    font-size: 13px !important;
    border-right: 1px solid #e0e0e0;
} */

.mat-table .mat-mini-fab .mat-button-wrapper {
    /* padding: 8px 0 !important; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* line-height: 1 !important; */
}

.mat-table td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
    padding-left: 10px;
}

.mat-table .darken {
    background: rgba(221, 236, 255, 0.4);
    font-weight: 500;
}

.mat-table td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
    font-weight: 600;
}

.mat-table .mat-tab-header,
.mat-tab-nav-bar {
    border: unset;
    margin-bottom: 5px;
}

table.mat-table .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1.15em;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0.8em;
}

table.mat-table .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.2em 0 !important;
    border-top: 0.5em solid transparent;
}


/* table.mat-table .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px !important;
    border-bottom: 1px dotted #ccc;
    background-color: unset;
    bottom: 0.5em;
} */


/* td.mat-footer-cell {
    padding: 0 5px !important;
    max-width: 100px;
    width: auto;
    border-right: 1px solid rgb(234, 234, 234) !important;
} */

.mat-table mat-row:nth-child(odd) {
    background: #f9f9f9;
}

.mat-table .mat-cell,
.mat-footer-cell {
    font-size: 12px;
}

.mat-cell,
.mat-footer-cell {
    padding: 0 5px;
}


/* .mat-sort-header-arrow {
    color: #fff !important;
} */

.mat-row {
    min-height: 30px;
}

.mat-footer-row {
    background: #ccc;
    color: black;
    font-weight: bold;
    min-height: 35px;
}

.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
    background-color: #356a94;
}

.mat-datepicker-toggle {
    font-size: 14px;
    color: #5783a6;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #356a94;
}

.mat-tab-group .mat-tab-header .mat-tab-label {
    flex-grow: 0 !important;
    flex-basis: unset !important;
    height: 30px;
    font-size: 13px;
    background: #f9f9f9;
    opacity: 1;
    border-radius: 4px 4px 0 0;
    margin-left: 2px;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.mat-tab-group .mat-tab-header .mat-tab-label-active {
    background-color: #5783a6;
    opacity: 1;
    color: #fff;
    border-radius: 4px 4px 0 0;
    border-top: 1px solid #5783a6;
    border-left: 1px solid #5783a6;
    border-right: 1px solid #5783a6;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px;
    border-bottom: 1px dotted #ccc;
    background-color: unset;
    bottom: 1.1em;
}


/* .mat-form-field-appearance-legacy .mat-form-field-label {
    font-weight: normal;
} */

.mat-raised-button {
    border-radius: 4px;
}

.mat-option {
    font-size: 13px;
}

.mat-autocomplete-panel .mat-option {
    height: 35px;
    line-height: 1.5;
    border-bottom: 1px dotted #e8e8e8;
}

.mat-chip-list-wrapper .mat-chip-with-trailing-icon {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.mat-standard-chip .mat-chip-remove.mat-icon {
    line-height: 18px;
}

#outSourceTable .mat-header-row .mat-header-cell:last-child {
    width: 14%;
}

.mat-form-field-hide-placeholder .mat-select-placeholder {
    color: transparent;
    -webkit-text-fill-color: transparent;
}

#districtTable .mat-header-cell:first-child,
#districtTable .mat-cell:first-child {
    flex: 0 0 10%;
    white-space: nowrap;
}

.standing-tab-contain {
    width: 100%;
    margin: 2em 0px;
    display: none;
}

.standing-tab-contain ul {
    width: 100%;
    display: flex;
}

.standing-tab-contain ul li {
    width: 25%;
    display: inline-flex;
    background: black;
    height: 2px;
    position: relative;
}

.mat-select .mat-select-value {
    /* color: #000;
    font-weight: 600; */
}

.mat-radio-group mat-label {
    color: #666;
}

.mat-form-field-required-marker {
    color: red;
}

button .material-icons {
    font-size: 18px;
    line-height: 1.5;
    width: 23px;
    height: 23px;
    margin-top: -6px;
}

.font-heading[_ngcontent-c2] b[_ngcontent-c2] {
    font-weight: bold;
}

.mat-tab-body-content,
.mat-tab-body.mat-tab-body-active {
    overflow-y: unset;
}

.mat-expansion-panel .mat-expansion-panel-header {
    height: unset !important;
    background: rgba(221, 236, 255, 0.4);
    padding: 0 24px 0 0;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
    background: rgba(221, 236, 255, 0.4);
}

.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
    background: rgba(221, 236, 255, 0.4) !important;
}

.mat-sort-header-button {
    text-align: left;
}

.mat-sort-header-container {
    justify-content: center;
}

.mat-pseudo-checkbox-checked {
    background: #356a94;
}

.mat-table td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
    padding-right: 10px;
}

::ng-deep .mat-table .mat-mini-fab .mat-button-wrapper {
    /* padding: 8px 0 !important; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* line-height: 1 !important; */
}

table.mat-table thead {
    background: #f2f2f2;
    color: black;
    font-size: 14px;
}

mat-cell>span {
    width: 100%;
}

div.mat-tab-body-content {
    overflow: hidden;
}


/* add by palak */

.mat-selection-list {
    position: relative;
}

.mat-list .mat-list-option,
.mat-nav-list .mat-list-option,
.mat-selection-list .mat-list-option {
    font-size: 14px !important;
}

.mat-list .mat-list-item,
.mat-list .mat-list-option,
.mat-nav-list .mat-list-item,
.mat-nav-list .mat-list-option,
.mat-selection-list .mat-list-item,
.mat-selection-list .mat-list-option {
    height: 25px !important;
}

.mat-list-item {
    font-size: 12px !important;
}

.mat-list-text {
    padding-left: 15px !important;
    padding-bottom: 0px !important;
    padding-top: 5px !important;
}

.user-post-table .mat-table .mat-row {
    height: 40px;
}


/* tooltips */

.info-container {
    position: relative;
    display: inline-flex;
    height: 15px;
}

.info-container .info-tooltip {
    font-size: 15px;
    margin-left: 3px;
    cursor: pointer;
    height: auto;
    width: auto;
}

.info-tooltip-content {
    display: none;
    position: absolute;
    left: calc(100% + 10px);
    padding: 5px;
    top: -10px;
    border: 1px solid #ffffff;
    color: #000;
    background-color: beige;
    z-index: 10000;
    width: 200px;
    max-width: 200px;
    font-weight: 300;
    text-align: left;
}

.info-tooltip-content:after {
    content: " ";
    position: absolute;
    top: 10px;
    left: -14px;
    border: 7px solid;
    border-color: transparent #ffffff transparent transparent;
}

.info-tooltip:hover+.info-tooltip-content {
    display: block;
}

.unsetHeight th.mat-header-cell {
    padding: 0px 0px;
}


/* tooltips end */

input.mat-input-element {
    color: #000000;
    font-weight: 500;
}

.mat-expansion-panel {
    border-top: 3px solid #5783a6;
    border-radius: 3px;
}


/* .space {
margin: 0px 50px !important;
} */


/* .mat-pseudo-checkbox {
    height: 16px !important;
    width: 16px !important;
}

.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
    background: #356a94 !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #212529 !important;
}

.mat-select-panel .mat-optgroup-label,
.mat-select-panel .mat-option {
    height: 27px !important;
    margin-top: 5px !important;
}


/* .mat-table th.mat-header-cell {
    padding: 5px 0px !important;
} */

.mat-table th.mat-header-cell.tblwithoutBg {
    padding: 2px 0px !important;
    color: #5783a6 !important;
    border-right: 1px solid rgb(224, 224, 224) !important;
    border-bottom: 1px solid rgb(224, 224, 224) !important;
    border-left: 1px solid rgb(224, 224, 224) !important;
    background: #ffffff !important;
}

.custom-list {
    width: 100%;
    /* overflow-x: auto; */
    white-space: nowrap;
}

.custom-list .rolemappingbox {
    width: 19%;
    display: inline-flex;
    margin-right: 15px !important;
}

.custom-list .material-icons {
    font-size: 8px;
    padding-right: 7px;
}

.custom-list .mat-list,
.custom-list .mat-list-item {
    padding: 0px !important;
}

.custom-list .mat-list-item-content {
    padding: 0px 8px !important;
}

.custom-list h3 {
    font-size: 14px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    /* color: #356a94;; */
    /* text-decoration: underline; */
}

.custom-list h4 {
    font-size: 14px;
    padding: 0px 0px 5px 10px;
    margin: 0px;
    display: inline-block;
    width: 47%;
    text-align: left;
    text-decoration: underline;
}

.mat-divider {
    display: block;
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
}

.custom-list .mat-list .mat-list-item {
    cursor: pointer;
    height: 23px !important;
}

.custom-list .mat-list .mat-list-item:hover {
    background: #f1f1f1;
}

.custom-list .mat-table .mat-row:first-of-type {
    background: #f1f1f1;
}

.custom-list .mat-checkbox {
    margin: 0px 15px;
}

.menulist .mat-checkbox {
    margin: 0px 0px;
}

.custom-list .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding: 8px;
    z-index: 9;
}

.allpercheckboxlist,
.allworkflowlist {
    margin-bottom: 5px;
}

.custom-list .mat-radio-inner-circle {
    height: 12px;
    left: 9px;
    top: 3px;
    width: 12px;
}

.custom-list .mat-radio-outer-circle {
    height: 14px;
    left: 8px;
    top: 2px;
    width: 14px;
}

.custom-list .allpercheckboxlist .mat-checkbox {
    margin: 3px 15px;
    /* width: 20%; */
    padding-left: 0px;
}

.custom-list .allworkflowlist .mat-checkbox {
    margin: 0px 23px;
    padding-left: 0px !important;
}

.custom-list .mat-table th.mat-header-cell,
.custom-list table.mat-table th,
.custom-list .mat-table .mat-header-cell {
    background: #fff !important;
    color: #000 !important;
    border-right: none !important;
    border-bottom: none !important;
    text-decoration: underline !important;
    -webkit-text-underline-position: under;
    -ms-text-underline-position: below;
    text-underline-position: under;
    text-align: left !important;
    padding: 3px 0px 14px 10px !important;
}

.custom-list .mat-table td.mat-cell {
    text-align: left !important;
    padding-left: 5px !important;
}

.custom-list .mat-table tr:nth-child(even) {
    background: none !important;
}

.custom-list .mat-table .mat-row {
    height: 22px !important;
}

.custom-list .mat-table td.mat-cell:first-of-type,
.custom-list td.mat-footer-cell:first-of-type {
    font-weight: normal;
}

.sepratelist .mat-table {
    border: none;
}

.custom-list .mat-table td.mat-cell:first-of-type,
.custom-list td.mat-footer-cell:first-of-type {
    font-weight: normal;
}

.sepratelist .mat-table {
    border: none;
}

.custom-list .mat-form-field-infix {
    border-top: none;
}

.mat-expansion-panel .mat-content {
    padding: 0px 10px;
    font-weight: normal;
}

.mat-expansion-panel .mat-content .heading-section {
    font-weight: 600;
    font-size: 13px;
}


/* .custom-list .cdk-virtual-scroll-content-wrapper {
    height: 100% !important;
} */

.mat-pseudo-checkbox-checked::after {
    width: 13px !important;
    height: 6px !important;
}

.mat-vacant-list mat-list-item {
    margin-bottom: 5px;
    color: #000;
}

.mat-vacant-list .mat-list-item :nth-child(Odd) {
    background: #f9f9f9;
    color: #000;
    position: relative !important;
    z-index: 9;
    padding: 5px !important;
}

.vertitable .mat-table {
    border: none;
}

.vertitable thead {
    background: transparent !important;
}

.vertitable table.mat-table {
    display: flex;
    width: 350px;
}

.vertitable table.mat-table th {
    width: 100%;
    float: left;
    text-align: left;
    padding: 0px 10px;
}

.vertitable .mat-table tbody {
    display: inline-flex;
}

.vertitable .mat-table td.mat-cell {
    width: 100%;
    display: block;
    border: none !important;
    padding: 2px 5px 2px 0px !important;
}

.vertitable .mat-table th.mat-header-cell,
.vertitable .mat-table th.mat-header-cell:first-of-type {
    background: none;
    color: #000000;
    border: none;
    padding: 3px 10px;
}

.vertitable tr.mat-header-row {
    border: none;
}

.vertitable .mat-form-field-infix {
    padding: 0.01em 0 !important;
}

.vertitable .mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none;
}

.checkllist .mat-checkbox-layout {
    white-space: normal !important;
    position: relative;
}

.checkllist .mat-checkbox-inner-container {
    position: absolute;
    top: 5px;
}

.checkllist .mat-checkbox-label {
    margin-left: 25px;
}


/* select b0x h-scrollbar */


/* .mat-option-text{ text-overflow: initial !important;}
.mat-select-panel{overflow-x: scroll !important; display: inherit !important;}
.mat-select-content{   width: 100% ;  display: inline-table ;} */


/* select b0x h-scrollbar end */

.confirm-title {
    background: #356a94;
    color: #fff;
    padding: 0px 12px;
    margin: 10px 0px !important;
}

.jcleft .mat-sort-header-container {
    justify-content: left !important;
}

.stcker-bg {
    background: rgb(251, 242, 218);
    border: 1px dashed #000;
    margin: 15px 0px 0px 0px;
}

.stcker-bg .name {
    font-size: 18px;
}

.stcker-bg h3 {
    color: #70b0e4;
    font-size: 25px;
}

.stcker-bg p {
    font-size: 15px;
}


/* add by palak end */

.mat-footer-row,
mat-header-row,
mat-row {
    align-items: unset;
    border-bottom-width: 0px;
}

.mat-table td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
    font-weight: 600;
}

.mat-table .darken {
    background: rgba(221, 236, 255, 0.4) !important;
    font-weight: 500;
}

.mat-table .mat-tab-header,
.mat-tab-nav-bar {
    border: unset;
    margin-bottom: 5px;
}

table.mat-table .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1.15em;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0.8em;
}

.mat-form-field {
    padding: 0px !important;
    /* width: 100% !important; */
}

.tblwithoutBg {
    background: unset !important;
    color: #5783a6 !important;
    border-right: 1px solid rgb(224, 224, 224) !important;
    border-bottom: 1px solid rgb(224, 224, 224) !important;
}

.mat-sort-header-arrow {
    color: #fff !important;
}

.mat-expansion-panel-content .mat-expansion-panel-body {
    padding: 10px 0px 16px;
    font-size: 13px;
}

table.mat-table tr.unsetHeight {
    height: unset !important;
    background: #fff;
}

.user-post-table {
    margin: 15px 0px;
}


/* Responsive Meadia Query start */

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .mat-tab-body-wrapper {
        overflow-y: hidden !important;
    }
    .mat-expansion-panel-content .mat-expansion-panel-body {
        padding: 10px 0px;
    }
    .heading-section {
        display: inline-block;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.9375rem;
    }
    .font-heading {
        display: inline-block;
        width: 50%;
    }
    .font-heading b {
        display: block;
    }
    .mat-form-field {
        padding: 0px !important;
    }
    .coldisable {
        width: 150px !important;
        display: inline-block;
    }
    .district_table {
        display: inline-table !important;
    }
    .form-action-button {
        display: inline-block;
        text-align: center;
    }
    /* .mat-button-wrapper {
        font-size: 12px;
    } */
    /* .mat-button-wrapper i {
        font-size: 14px;
        position: relative;
        top: 4px;
        margin-right: 10px;
    } */
    .square-box {
        display: inline-block;
        float: none;
    }
    .square-outer {
        display: inline-block;
    }
    .custom-list .rolemappingbox,
    .menu_box,
    .biger_box_one {
        width: 23% !important;
    }
}

@media (min-width: 992px) {
    .mat-tab-body-wrapper {
        overflow: hidden !important;
    }
    .heading-section .title {
        width: 70%;
        flex: 70%;
        max-width: 70%;
        padding: 5px 0px;
        float: left;
    }
    .colPadding {
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 768px) {
    .bspace {
        margin-bottom: 10px;
    }
    .mat-tab-label {
        padding: 0 13px !important;
    }
    .square {
        width: 10px;
        height: 10px;
        top: 1px;
    }
}

@media (min-width: 576px) {
    .mat-tab-body-wrapper {
        overflow: auto !important;
    }
    .heading-section {
        font-size: 0.9rem;
    }
    .font-heading {
        font-size: 12px;
        padding-left: 0px;
    }
    .labelCSS {
        width: auto;
    }
}


/*End Responsive Meadia Query start */


/* For Panel in Employee Master Created By: Pankaj Gupta Dated: 21-10-2019  */

.mat-table td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
.mat-table th.mat-header-cell:first-of-type {
    padding-left: 0px;
}

.rotate-180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate-90 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.writeup {
    color: #ea6940;
    cursor: pointer;
}

.expanded-tbl {
    line-height: 28px;
}

.expanded-tbl td {
    padding: 0 5px;
}

.expanded-tbl tr:nth-child(even) {
    background: #e2f0fb;
}

.mat-tab-body-content {
    height: 100%;
    overflow: hidden;
}

.mat-dialog-title {
    margin-bottom: 0px !important;
    font-size: 15px;
    font-weight: 600;
}

.mat-tab-body.mat-tab-body-active .mat-tab-body-content.ng-trigger.ng-trigger-translateTab {
    height: 100%;
    overflow: hidden;
}

.mat-dialog-actions[align="end"] {
    justify-content: flex-end;
    padding-top: 15px 0px !important;
}

.search-section .box-header {
    justify-content: center;
    background: none !important;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.search-section .add-button {
    background-color: #929292 !important;
}

.sub-heading-txt {
    display: flex;
    padding: 6px;
    position: relative;
    border-top: 3px solid #356a94;
    border-bottom: 1px solid rgb(220, 231, 241);
    background: rgba(221, 236, 255, 0.4) !important;
    font-weight: 600;
    border-radius: 3px 3px 0px 0px;
    margin-top: 15px;
}

::ng-deep[tabindex="-1"]:focus {
    background: white !important;
}

.mat-content {
    padding: 0 10px;
    font-size: 13px;
    font-weight: 600;
    margin: 5px 0;
    justify-content: space-between;
}

.mat-content .delete {
    height: 22px;
    margin-left: auto;
}


/*history popup model*/

.forward-module-container {
    display: flex;
    flex-direction: row;
}

.forward-dialog-left {
    display: flex;
    width: 50%;
    border-right: 1px solid black;
}


/*history popup model end css*/


/* Common Workflow Design css */

.common-workflow-section {
    background-color: white;
    height: 100%;
    max-height: 640px;
}

.common-workflow-section .heading-section {
    padding: 10px;
}

.common-workflow-section .labelCSS {
    display: flex;
    width: inherit;
    justify-content: space-between;
}

.common-workflow-section .forward-module-container {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.common-workflow-section .forward-dialog-left {
    display: flex;
    width: 50%;
    border-right: 1px solid black;
}

.common-workflow-section .column-box {
    width: 100%;
    border-bottom: 1px solid #333333;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.common-workflow-section .history-common-section {
    /* display: flex; */
    flex-direction: column;
    width: 100%;
}

.common-workflow-section .htry-hding-name {
    margin: 10px 0px;
    margin-right: auto;
}

.common-workflow-section .category-deprt {
    background: #ececec;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.common-workflow-section .histy-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.common-workflow-section .attachmentType {
    display: inline-flex;
    align-items: center;
}

.common-workflow-section .attachmentType i {
    height: 20px;
}

.common-workflow-section .txt-heading {
    /* width: auto; */
    display: flex;
    color: black;
    font-weight: bold;
}

.common-workflow-section .back-to-action {
    margin: 10px 0px;
}

.common-workflow-section .back-to-action a {
    cursor: pointer;
}

.common-workflow-section .comment-text {
    text-overflow: ellipsis;
    height: auto;
    overflow: hidden;
    margin-top: 10px;
}

.common-workflow-section .comment-text p {
    margin-bottom: 0px;
}

.common-workflow-section .material-icons.iconset {
    font-size: 18px !important;
    line-height: 18px !important;
}

.common-workflow-section .action-common-section {
    display: flex;
    flex-direction: column;
    width: 50%;
}


/* .common-workflow-section .cdk-overlay-pane{
    max-width:95% !important;
  } */

.common-workflow-section .mat-dialog-container {
    height: auto;
}

.mat-dialog-container {
    /* padding: 0px; */
    background: white !important;
    height: auto !important;
}

.common-workflow-section .mat-list .mat-list-item .mat-list-item-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px;
}

.common-workflow-section .mat-list .mat-list-item {
    height: auto !important;
    padding: 0 0px;
}

.common-workflow-section .lang-btn {
    margin-left: auto;
}

.common-workflow-section .history-list-container {
    max-height: 350px;
    overflow: auto;
    overflow-x: hidden;
}

.letter {
    font-size: 14px;
    box-shadow: 0 0 4px 0px #dedede;
    padding: 1%;
    width: 65%;
    margin: 3% auto auto auto;
    background-color: white;
    border: 1px solid lightgray;
    /* height: 100vh; */
    height: 200mm;
}

.letter .letterDescription {
    line-height: 2.1;
}

.letter .letterLable {
    margin: 3% 3%;
}

.letter .resolution {
    line-height: 8;
}


/*ddo-table css used in DDO, dppf, dppf-nps, dppf-hba, pao, pdpla and expenditure-accounting starts*/

.ddo-table ol li {
    font-size: 18px;
    line-height: 20px;
}

.ddo-table {
    padding: 45px;
}

.ddo-table.form-wrapper {
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
}

.ddo-table p {
    font-size: 18px;
    line-height: 30px;
}

.ddo-table .height-700 {
    height: 700px;
}

.ddo-table .height-400 {
    height: 400px;
}

.ddo-table .height-300 {
    height: 300px;
}

.ddo-table .height-300 {
    height: 300px;
}

.ddo-table .height-400 {
    height: 400px;
}

.ddo-table .height-100 {
    height: 100px;
}

.ddo-table .height-150 {
    height: 150px;
}

.ddo-table .height-80 {
    height: 80px;
}

.ddo-table .height-40 {
    height: 40px;
}

.ddo-table .height-20 {
    height: 20px;
}

.ddo-table .height-50 {
    height: 50px;
}

.ddo-table .height-200 {
    height: 200px;
}

.ddo-table .height-50 {
    height: 50px;
}

.ddo-table .font-10 {
    font-size: 10px;
}

.ddo-table .font-12 {
    font-size: 12px;
}

.ddo-table .font-16 {
    font-size: 16px;
}

.ddo-table .font-15 {
    font-size: 15px;
}

.ddo-table .font-18 {
    font-size: 18px;
}

.ddo-table .font-20 {
    font-size: 20px;
}

.ddo-table .font-30 {
    font-size: 30px;
}

.ddo-table .font-25 {
    font-size: 25px;
}

.ddo-table .top-border {
    border-top: 2px solid #000000;
}

.ddo-table .top-border-1px {
    border-top: 1px solid #000000;
}

.ddo-table .left-border {
    border-left: 2px solid #000000;
}

.ddo-table .right-border {
    border-right: 2px solid #000000;
}

.ddo-table .ml-20 {
    margin-left: 20px;
}

.ddo-table .ml-7 {
    margin-left: 7px;
}

.ddo-table .ml-22 {
    margin-left: 22px;
}

.ddo-table .mt-12 {
    margin-left: 12px;
}

.ddo-table .ml-13 {
    margin-left: 13px;
}

.ddo-table .ml-35 {
    margin-left: 35px;
}

.ddo-table .ml-90 {
    margin-left: 90px;
}

.ddo-table .pr-20 {
    padding-right: 20px;
}

.ddo-table .p-10 {
    padding: 10px 0px;
}

.ddo-table .pt-125 {
    padding-top: 125px;
}

.ddo-table .w-4p {
    width: 4%;
}

.ddo-table .mb-0 {
    margin-bottom: 0;
}

.ddo-table .mt-10 {
    margin-top: 10px;
}

.ddo-table .mt-20 {
    margin-top: 20px;
}

.ddo-table .mt-100 {
    margin-top: 100px;
}

.ddo-table .mr-300 {
    margin-left: 300px;
}

.ddo-table .pl-200 {
    padding-left: 200px;
}

.ddo-table .ml-500 {
    margin-left: 500px;
}

.ddo-table .h-150 {
    height: 150px;
}

.ddo-table .va-top {
    vertical-align: top;
}

.ddo-table .va-bottom {
    vertical-align: bottom;
}

.ddo-table .pl-35 {
    padding-left: 35px;
}

.ddo-table .pl-50 {
    padding-left: 50px;
}

.ddo-table .pl-10 {
    padding: 20px;
}


/*ddo-table css used in DDO, dppf, dppf-nps, dppf-hba, pao, pdpla and expenditure-accounting Ends*/

table.amount-right-aligned tr td:nth-child(2),
table.final-table tr td:nth-child(3) {
    text-align: left;
    padding: 0px 0px 0px 5px;
}

.ddo-table table.table-bordered tr td:nth-child(4),
table.final-table tr td:nth-child(4) {
    text-align: right;
    padding: 0px 5px 0px 0px;
}

.ddo-table .data-left-side-table tr td {
    padding: 5px 0px;
}

.ddo-table .sanction-table {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    text-align: center;
}

.ddo-table .sanction-table tr th,
.ddo-table .sanction-table tr td {
    border: 1px solid #000000;
}

.ddo-table.dppf-table tr td {
    line-height: 2;
}

.ddo-table .no-side-borders {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.ddo-table .no-side-borders tr td,
.ddo-table .no-side-borders tr th {
    border: 1px solid #000;
    padding: 10px;
}

table .sanction-table tr td {
    padding: 10px 0px;
}

.ddo-table .list-text-justify {
    text-align: justify;
}

table.sanction-table tr td:nth-child(4) {
    text-align: left;
    padding-left: 5px;
}

table.sanction-table tr td:nth-child(6) {
    text-align: right;
    padding-right: 5px;
}

.ddo-table .list-text-justify {
    text-align: justify;
}

.ddo-table .width-50p {
    width: 50%;
}

.ddo-table table {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
}

.ddo-table table tr {
    line-height: 20px;
}

.ddo-table table .sub-table,
.ddo-table table .sub-table tr {
    width: 100%;
}

.ddo-table table .sub-table tr td {
    width: 25%;
}

.ddo-table hr {
    border: 1px solid #000000;
    margin: 10px 0px;
}

.ddo-table .table-bordered,
.ddo-table .table-bordered tr th,
.ddo-table .table-bordered tr td {
    border: 2px solid #000000;
    text-align: center;
}

.ddo-table .right-border {
    border-right: 2px solid #000000;
}

.ddo-table .list-type-none {
    list-style-type: none;
}

.light-green-background {
    background-color: #f2ffe6;
}

.ddo-table .vertical-align-bottom {
    vertical-align: bottom;
}

.ddo-table .vertical-align-top {
    vertical-align: top;
}

.ddo-table .vertical-align-center {
    vertical-align: middle;
}

.ddo-table .bottom-border {
    border-bottom: 2px solid #000000;
}

.ddo-table .list-type {
    list-style-type: decimal;
}

.ddo-table .filled-table {
    border: 2px solid #000000;
    padding: 10px;
    margin: 20px 0px;
}

.ddo-table .filled-table tr td {
    border: 2px solid #000000;
    padding: 5px 0px 5px 10px;
}

.ddo-table .data-table {
    width: 100%;
    /* margin: 20px 0px; */
}

.ddo-table .data-table tr th,
.ddo-table .data-table tr td {
    border: 2px solid #000000;
    /* padding: 20px; */
    text-align: center;
}

.dppf-table table {
    width: 100%;
    padding: 0;
    margin: 0;
}

.dppf-table .width-50p {
    width: 50%;
}

@media print {
    @page {
        margin: 10px 10px 10px 50px;
    }
    body {
        font-size: 15px;
        padding: 40px 20px;
    }
    .ddo-table .table-bordered,
    .ddo-table .table-bordered tr th,
    .ddo-table .table-bordered tr td {
        border: 2px solid #000000;
        text-align: center;
    }
    .ddo-table .font-15 {
        font-size: 10px;
    }
    #printPageButton,
    app-header,
    app-footer {
        display: none;
    }
    #closePageButton,
    app-header,
    app-footer {
        display: none;
    }
    .form-wrapper {
        font-size: 15px !important;
        text-align: justify;
    }
    .pagebreak {
        padding: 30px 20px;
        page-break-before: always;
    }
}

.detailCheckTable {
    width: 50%;
    margin-top: 3%;
}

.detailCheckTable td {
    padding: 0px;
}

.table-bordered tr {
    border: 1px solid #000;
}

.detailCheckTable .BUnderLine {
    border-bottom: 1px dotted #000;
    position: relative;
    top: 3px;
}

.checkllist .printLink {
    border-bottom: 2px solid #5783a6 !important;
    color: #5783a6;
    display: inline-block;
}

.checkllist p {
    margin-bottom: 3px;
}

.detailCheckTable td label {
    font-weight: 700;
}

.form-link {
    cursor: pointer;
    padding: 5.6875px 0px;
    display: flex;
    width: fit-content;
}

.form-link-border {
    width: fit-content;
    border-bottom: 1px solid rgb(80, 117, 146);
}

.bold-table {
    font-weight: 600;
}

.bold-table span {
    cursor: pointer;
}

mat-radio-button .mat-radio-outer-circle {
    width: 15px !important;
    height: 15px !important;
    left: 5px !important;
    top: 2px !important;
}


/*CSS for Variation-detials component*/

.variation-report,
.lc-report,
.print-report,
.statement,
.gi-statement .annexure-two {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

.variation-report table {
    width: 100%;
    font-size: 13px;
}

.variation-report table tr th,
.variation-report table tr td {
    font-weight: 100;
    padding: 10px;
    text-align: right;
}

.top-border-line {
    border-top: 1px dashed;
    margin: 10px 0px;
}

.variation-report .ml-50 {
    margin-left: 50px;
}

.variation-report .font-13 {
    font-size: 13px;
}

.overflow-x-scroll {
    overflow-x: scroll;
}


/* used in dppfgpf */

.overflow-x-auto {
    overflow-x: auto;
}

.objection {
    margin: 20px 0px;
}

.lc-report table,
.lc-report table tr th,
.lc-report table tr td {
    border: 1px solid #000000;
}

.lc-report table tr th,
.lc-report table tr td {
    padding: 10px;
}

.lc-report table {
    width: 50%;
    font-size: 15px;
}

.lc-report table tr th,
.lc-report table tr:nth-child(2) {
    text-align: center;
}

.lc-report .height-100 {
    height: 100px;
}

.lc-report .height-40 {
    height: 40px;
}

.lc-report .float-right {
    float: right;
}

.statement table {
    margin: 30px 0px;
}

.statement .table-bordered tr td:nth-child(1),
.statement .table-bordered tr td:nth-child(5) {
    text-align: center;
}

.statement .deduction-table tr th:nth-child(1),
.statement .deduction-table tr td:nth-child(1),
.statement .deduction-table tr th {
    text-align: center;
}

.statement .deduction-table tr td:nth-child(3) {
    text-align: right;
}

.grey-background {
    background-color: #f2f2f2;
}

.mat-tab-group[mat-stretch-tabs]>.mat-tab-header .mat-tab-label {
    flex-basis: auto !important;
}

.print-report .report-header {
    margin: 20px 0px;
}

.print-report table tr td,
.annexure-two table tr td,
.annexure-two table tr th {
    border: 1px solid #000000;
}

.print-report .table-bordered,
.annexure-two .table-bordered {
    margin: 20px auto;
}

.print-report .table-borderless,
.annexure-two .table-borderless {
    width: 100%;
    margin: 0px auto;
}

.print-report .table-borderless tr td,
.annexure-two .table-borderless tr td {
    border: 0px;
    width: 50%;
}

.print-report .table-bordered tr:nth-child(1) td {
    padding: 20px;
}

.print-report .table-bordered tr td:not(:first-child) {
    text-align: left;
    padding: 10px 10px;
}

.annexure-two .table-bordered tr th {
    padding: 20px;
}

.annexure-two .table-bordered tr th,
.annexure-two .table-bordered tr td {
    text-align: center;
}

td a {
    padding: 2px;
}


/* html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; } */

.browse-file input[type="file"] {
    position: absolute;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #356a94;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #356a94;
}

#block1 {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-direction: row;
    flex-direction: row;
    resize: both;
    overflow: auto;
    cursor: nw-resize;
}

#block2 {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    max-width: 100% !important;
    background: #f9f9f9;
    margin-left: 5px;
    max-width: 40%;
    box-sizing: border-box;
}

.box-opener {
    margin-top: 30px;
}

.box-opener img {
    max-width: 640px;
}

.at-panel {
    display: -webkit-flex;
    display: flex;
    min-height: 20px;
    width: unset;
}

.signaure {
    position: relative;
}

.signature-box {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
}

.signaure:hover .signature-box {
    display: block;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 999;
}

.linkcursor {
    cursor: pointer;
}

.expense-summery-header {
    color: #356a94;
    position: relative;
    padding: 6px;
    border-bottom: 1px solid rgb(220, 231, 241);
    background: rgba(221, 236, 255, 0.4) !important;
    font-weight: 600;
}

.table-data {
    overflow: auto;
    width: 100%;
}

.doi-report ol li {
    font-size: 15px;
    line-height: 20px;
}
/* add scroll css For Dialog BOx Table  */
@media(max-width:1200px){
    .mat-dialog-container .table-responsive{
        display: block;
        width: 100%;
    }
}