<div class="container">
  <div class="form-wrapper">
    <div class="heading-section ng-star-inserted">
      <div> BTR-5 </div>
      <div class="font-heading"><strong>Reference Number:</strong> 19-20/DOI/AA/B5/001</div>
      <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}
      </div>
    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item " aria-current="page">Account Admin </li>
        <li class="breadcrumb-item active" aria-current="page">BTR-5 </li>
      </ol>
    </nav>



    <div class="panel-group">
      <form [formGroup]="challanRegiserForm">
        <!-- Applicant Details -->
        <div class="box box-primary">
          <div class="box-header">BTR-5</div>
          <div class="box-body">
            <div class="row">
              <!-- serial  Number -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput type="text" placeholder="Receipt  Number" numbersOnly formControlName="receiptNo"
                    maxlength="6" required>
                  <div class="error-wrapper"
                    *ngIf="challanRegiserForm.controls.receiptNo.touched && challanRegiserForm.controls.receiptNo.errors">
                    <mat-error *ngIf="challanRegiserForm.controls.receiptNo.errors.required">
                      {{ errorMessage.RNO }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <!-- Date of DD/cheque -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="fdate" formControlName="fdate" required
                    placeholder=" Financial Year  ">
                  <mat-datepicker-toggle matSuffix [for]="fdate"></mat-datepicker-toggle>
                  <mat-datepicker #fdate></mat-datepicker>
                  <div class="error-wrapper"
                    *ngIf="challanRegiserForm.controls.fdate.touched && challanRegiserForm.controls.fdate.errors">
                    <mat-error *ngIf="challanRegiserForm.controls.fdate.errors.required">
                      {{ errorMessage.FDATE }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <!-- Date of DD/cheque -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="date" formControlName="date" required placeholder=" Date  ">
                  <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                  <mat-datepicker #date></mat-datepicker>
                  <div class="error-wrapper"
                    *ngIf="challanRegiserForm.controls.date.touched && challanRegiserForm.controls.date.errors">
                    <mat-error *ngIf="challanRegiserForm.controls.date.errors.required">
                      {{ errorMessage.DATE }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>


              <!--  Received from-->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput type="text" placeholder="Received from" required formControlName="receivedFrom">
                  <div class="error-wrapper"
                    *ngIf="challanRegiserForm.controls.receivedFrom.touched && challanRegiserForm.controls.receivedFrom.errors">
                    <mat-error *ngIf="challanRegiserForm.controls.receivedFrom.errors.required">
                      {{ errorMessage.RECEIVEFORME }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <!--  Description-->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput type="text" placeholder="Description" formControlName="desc" required>
                  <div class="error-wrapper"
                    *ngIf="challanRegiserForm.controls.desc.touched && challanRegiserForm.controls.desc.errors">
                    <mat-error *ngIf="challanRegiserForm.controls.desc.errors.required">
                      {{ errorMessage.DESC }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <!--  Letter Number/Proposal Number-->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput type="text" placeholder="Letter Number/Proposal Number"
                    formControlName="letterProposal" required>
                  <div class="error-wrapper"
                    *ngIf="challanRegiserForm.controls.letterProposal.touched && challanRegiserForm.controls.letterProposal.errors">
                    <mat-error *ngIf="challanRegiserForm.controls.letterProposal.errors.required">
                      {{ errorMessage.LETTER }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <!--  amount -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput type="text" placeholder="Amount" numbersOnly formControlName="amount" required>

                  <div class="error-wrapper"
                    *ngIf="challanRegiserForm.controls.amount.touched && challanRegiserForm.controls.amount.errors">
                    <mat-error *ngIf="challanRegiserForm.controls.amount.errors.required">
                      {{ errorMessage.AMMOUNT }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <!--  amount in Words-->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput type="text" placeholder="Amount(In Words)" numbersOnly formControlName="amountWords"
                    required>

                  <div class="error-wrapper"
                    *ngIf="challanRegiserForm.controls.amountWords.touched && challanRegiserForm.controls.amountWords.errors">
                    <mat-error *ngIf="challanRegiserForm.controls.amountWords.errors.required">
                      {{ errorMessage.AMMOUNTWORDS }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-select name="Cash/Cheque/DD" formControlName="cheque" required placeholder="Cash/Cheque/DD">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="chequeCtrl" [placeholderLabel]="'Select Cash/Cheque/DD ...'"
                        [noEntriesFoundLabel]="'no matching Tange type found'">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let cheque of cheque_list | filterSelectInput : chequeCtrl.value : 'viewValue'"
                      [value]="cheque.value" [matTooltip]="cheque.viewValue">
                      {{cheque.viewValue}}
                    </mat-option>
                  </mat-select>
                  <div class="error-wrapper"
                    *ngIf="challanRegiserForm.controls.cheque.touched && challanRegiserForm.controls.cheque.errors">
                    <mat-error *ngIf="challanRegiserForm.controls.cheque.errors.required">
                      {{ errorMessage.CASHCHEQUE }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <!-- Cheque/DD Number -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput type="text" placeholder="Cheque/DD Number" numbersOnly formControlName="chequeDDno"
                    maxlength="6" required>
                  <div class="error-wrapper"
                    *ngIf="challanRegiserForm.controls.chequeDDno.touched && challanRegiserForm.controls.chequeDDno.errors">
                    <mat-error *ngIf="challanRegiserForm.controls.chequeDDno.errors.required">
                      {{ errorMessage.CHEQUENO }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>
              <!-- Date of DD/cheque -->
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="dateCheque" required formControlName="dateCheque"
                    placeholder="Cheque/DD Date  ">
                  <mat-datepicker-toggle matSuffix [for]="dateCheque"></mat-datepicker-toggle>
                  <mat-datepicker #dateCheque></mat-datepicker>
                  <div class="error-wrapper"
                    *ngIf="challanRegiserForm.controls.dateCheque.touched && challanRegiserForm.controls.dateCheque.errors">
                    <mat-error *ngIf="challanRegiserForm.controls.dateCheque.errors.required">
                      {{ errorMessage.CHEQUEDATE }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </div>


            </div>
            <!-- Common Button -->
            <div class="form-action-button">
              <button type="submit" mat-raised-button color="primary">
                <i class="material-icons" aria-hidden="true" title="Save">
                  save
                </i>
                Save
              </button>
              <button mat-raised-button type="submit" class="green"><i class="material-icons">
                  done
                </i> Submit
              </button>
              <button type="reset" mat-raised-button color="accent">
                <i class="material-icons" aria-hidden="true">
                  restore
                </i>
                Reset
              </button>
              <button type="button" mat-raised-button class="btnClose">
                <i class="material-icons" aria-hidden="true" title="Budget dashboard">
                  close
                </i>
                Close
              </button>
              <button type="submit" mat-raised-button color="primary" class="btn-print">
                <i class="material-icons" aria-hidden="true">print </i> Print </button>

            </div>
            <!-- ENd Common Button -->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>