.table td,
.table th {
    border: none;
    padding: 2px 0;
}

.ddo-table .table-bordered,
.ddo-table .table-bordered tr th,
.ddo-table .table-bordered tr td {
    border: 2px solid #dee2e6 !important;
    text-align: center;
}