.table-outer {
    clear: both;
    margin-top: 10px;
}

.mat-form-field {
    width: 100% !important;
}

/* .action-btn-i .edit-icon {
    color: orange;
} */

.action-btn-i .send-icon {
    color: orangered
}

::ng-deep .mat-table thead {
    background: #f2f2f2;
    color: black;
    font-size: 14px;
}

.heading-wrap {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0px;
}

::ng-deep.example-full-width {
    width: 100%;
}

.action-btn-i .delete-icon {
    color: #bb1e1e !important;
    cursor: pointer;
}

.table-outer {
    clear: both;
    margin-top: 10px;
}

.mat-form-field {
    width: 100% !important;
}

::ng-deep .mat-table thead {
    background: #f2f2f2;
    color: black;
    font-size: 14px;
}

.heading-wrap {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0px;
}

::ng-deep.example-full-width {
    width: 100%;
}

.action-btn-i .delete-icon {
    color: #bb1e1e !important;
    cursor: pointer;
}


/* View Comments */

.histy-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.txt-heading {
    display: flex;
    color: black;
    font-weight: bold;
}

.comment-text {
    text-overflow: ellipsis;
    height: auto !important;
    margin-top: 5px;
}

.comment-text p {
    margin-bottom: 0px;
}

.history-common-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.action-common-section {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.category-deprt {
    background: #ececec;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.cover-box {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: 1px solid #ececec;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.attachmentType {
    min-width: 92px !important;
    padding: 5px;
    cursor: pointer;
    align-items: center;
    display: flex;
    align-items: center;
}

.flexicon {
    display: flex;
    margin-bottom: 0px;
}

.check-box-contain-list {
    width: 100%;
}

.forward-module-container {
    display: flex;
    flex-direction: row;
}

.forward-dialog-left {
    display: flex;
    width: 50%;
    border-right: 1px solid black;
}