<div class="container">
    <div class="form-wrapper">
        <div class="heading-section ng-star-inserted">
            <div>Regular Indent Prepration</div>
            <div class="font-heading"><strong>Reference Number:</strong> 19-20/CI/RIP/001</div>
            <div class="font-heading"><strong>Reference Date:</strong> {{ todayDate | date: 'dd-MMM-yyyy HH:mm'}}</div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Cheque Inventory</a></li>
                <li class="breadcrumb-item active" aria-current="page">Regular Indent Prepration</li>
            </ol>
        </nav>


        <form [formGroup]="regularIndentPreprationForm">
            <!-- Search Panel -->
            <div class="panel-group">
                <mat-accordion class="colapsedata">
                    <mat-expansion-panel [expanded]="false" class="nopadding">
                        <mat-expansion-panel-header>
                            <div class="heading-section">Search</div>
                        </mat-expansion-panel-header>
                        <div class="box-body">

                            <div class="row">

                                <!-- From Date -->
                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <input matInput formControlName="fromDate" [matDatepicker]="fromDate"
                                            [max]='maxDate' placeholder="From Date" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="fromDate">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #fromDate></mat-datepicker>
                                    </mat-form-field>
                                </div>


                                <!-- From Date -->
                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <input matInput formControlName="toDate" [matDatepicker]="toDate"
                                            [max]='maxDate' placeholder="From Date" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="toDate">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #toDate></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <!-- Form action -->
                                <div class="form-action-button">
                                    <button type="submit" mat-raised-button color="primary" (click)="onSearch();">
                                        <i class="material-icons" title="search" aria-hidden="true">
                                            search
                                        </i>Search</button>
                                    <button type="reset" mat-raised-button color="accent" (click)="clearForm();">
                                        <i class="material-icons" aria-hidden="true">
                                            restore
                                        </i>
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <br>
            <div class="panel-group" *ngIf="showTable">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- indent list  -->
                        <table mat-table [dataSource]="dataSource" width="100%" matSort aria-describedby="indentList">

                            <!-- Sr. No. -->
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Sr. No.</th>
                                <td mat-cell *matCellDef="let element; let i = index;" class="centerAlign">
                                    {{ i + 1 }} </td>
                            </ng-container>

                            <!-- Yearly Indent Number -->
                            <ng-container matColumnDef="yearlIndentNo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Yearly Indent Number
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <a [routerLink]="'/ci/indent-request'">{{element.yearlIndentNo}}</a>
                                </td>
                            </ng-container>

                            <!-- Indent Date -->
                            <ng-container matColumnDef="indentDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="row">Indent Date</th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="element.indentDate" [max]='maxDate'
                                            [disabled]='true' [matDatepicker]="indentDate"
                                            [ngModelOptions]="{standalone: true}">
                                        <mat-datepicker-toggle matSuffix [for]="indentDate">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #indentDate></mat-datepicker>
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <!-- Header column of Table -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                            <!-- Data fetch from .TS File  -->
                            <tr mat-row *matRowDef="let row; let i = index;columns: displayedColumns;"></tr>
                        </table>
                        <!-- table ends -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>