.table td,
.table th {
    border: none;
    padding: 2px 0;
}

.ddo-table .table-bordered,
.ddo-table .table-bordered tr th,
.ddo-table .table-bordered tr td {
    border: 2px solid #dee2e6 !important;
    text-align: center;
}

.hide {
    color: white;
   
}


  @media  print {
         
       
        .innertable{
            width: 600px!important;
            max-width: 600px!important;
        }
       
             
        .ddo-table .innertable th{            
            font-size: 13px;       
        }
      
        .ddo-table .innertable td{
            font-size: 12px;
        }
      }