<div class="container">
  <div class="form-wrapper">
    <!-- Header Section -->
    <div class="heading-section ng-star-inserted">
      <div>Audit Bill - Approved/Reject</div>
    </div>
    <!-- breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item " aria-current="page">Audit</li>
        <li class="breadcrumb-item active" aria-current="page">Audit Bill - Approved/Reject</li>
      </ol>
    </nav>
    <div class="panel-group">
      <form [formGroup]="auditApproveRejectForm" (ngSubmit)="auditApproveRejectFormData()">
        <mat-accordion class="colapsedata">
          <!-- search Section -->
          <mat-expansion-panel [expanded]="true" class="nopadding">
            <mat-expansion-panel-header>
              <div class="heading-section">
                Search
              </div>
            </mat-expansion-panel-header>
            <!-- Audit Bill - Approved/Reject -->
            <div class="box-body">
              <div class="row">
                <!-- Reference Number -->
                <div class="col-sm-3">
                  <mat-form-field>
                    <input matInput name="BillRefNo" placeholder="Reference Number" formControlName="BillRefNo">
                  </mat-form-field>
                </div>
                <!-- DDO No -->
                <div class="col-sm-3">
                  <mat-form-field>
                    <input matInput name="DDO No." maxlength="4" numbersOnly placeholder="DDO No."
                      formControlName="ddoName">
                  </mat-form-field>
                </div>
                <!-- Cardex No -->
                <div class="col-sm-3">
                  <mat-form-field>
                    <input matInput name="cardexNo" maxlength="4" numbersOnly placeholder="Cardex No."
                      formControlName="cardexNo">
                  </mat-form-field>
                </div>
                <!-- Office Name -->
                <div class="col-sm-3">
                  <mat-form-field>
                    <mat-select name="ddoName" formControlName="ddoName" placeholder=" Office Name">
                      <mat-option>
                        <ngx-mat-select-search [formControl]="ddoNameCtrl"
                          [placeholderLabel]="'Select  Office Name ...'"
                          [noEntriesFoundLabel]="'no matching Tange type found'">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option>-- None --</mat-option>
                      <mat-option
                        *ngFor="let ddonames of ddoName_list | filterSelectInput : ddoNameCtrl.value : 'viewValue'"
                        [value]="ddonames.value" [matTooltip]="ddonames.viewValue">
                        {{ddonames.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- Token No -->
                <div class="col-sm-3">
                  <mat-form-field>
                    <input matInput name="Tokenno" maxlength="6" numbersOnly placeholder="Token No."
                      formControlName="Tokenno" [datoAutoFocus]="true">
                  </mat-form-field>
                </div>
                <!-- Bill From date -->
                <div class="col-sm-3">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" (dateChange)="FromDate( $event)"
                      formControlName="BillFromDate" placeholder="Bill From date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <!-- Bill To date -->
                <div class="col-sm-3" *ngIf="!valueRequired">
                  <mat-form-field>

                    <input matInput [matDatepicker]="picker2" placeholder="Bill To date">

                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-sm-3" *ngIf="valueRequired">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker2" placeholder="Bill To date" required>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
                <!-- Bill Inward date -->
                <div class="col-sm-3">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker3" placeholder="Bill Inward date">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
                <!-- Bill Type -->
                <div class="col-sm-3">
                  <mat-form-field>
                    <mat-select name="billType" formControlName="billType" placeholder="Bill Type" multiple>
                      <mat-option>
                        <ngx-mat-select-search [formControl]="billTypeCtrl" [placeholderLabel]="'Select Bill Type ...'"
                          [noEntriesFoundLabel]="'no matching Tange type found'">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option>-- None --</mat-option>
                      <mat-option
                        *ngFor="let billt of billType_list | filterSelectInput : billTypeCtrl.value : 'viewValue'"
                        [value]="billt.value" [matTooltip]="billt.viewValue">
                        {{billt.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- Major Head -->
                <div class="col-sm-3">
                  <mat-form-field>
                    <mat-select name="majorhead" formControlName="majorhead" placeholder="Major Head" multiple>
                      <mat-option>
                        <ngx-mat-select-search [formControl]="majorheadCtrl" [placeholderLabel]="'Select Major Head...'"
                          [noEntriesFoundLabel]="'no matching Tange type found'">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option>-- None --</mat-option>
                      <mat-option
                        *ngFor="let major of major_list | filterSelectInput : majorheadCtrl.value : 'viewValue'"
                        [value]="major.value" [matTooltip]="major.viewValue">
                        {{major.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>


                <!-- <div class="col-sm-3">
                  <mat-form-field>
                    <input matInput name="district" placeholder="District" formControlName="district">
                  </mat-form-field>
                </div> -->
                <!-- Bill Gross Amount -->
                <div class="col-sm-3">
                  <mat-form-field>
                    <input matInput name="Grossamount" maxlength="" decimalPoint2 decimalLimitTwoOnly
                      placeholder="Bill Gross Amount" formControlName="Grossamount">
                  </mat-form-field>
                </div>
                <!-- Bill Net Amount -->
                <div class="col-sm-3">
                  <mat-form-field>
                    <input matInput name="netamount" maxlength="" decimalPoint2 decimalLimitTwoOnly
                      placeholder="Bill Net Amount" formControlName="netamount">
                  </mat-form-field>
                </div>
                <!-- Bill Category -->
                <div class="col-sm-3">
                  <mat-form-field>
                    <mat-select name="billCategory" formControlName="billCategory" placeholder="Bill Category">
                      <mat-option>-- None --</mat-option>
                      <mat-option *ngFor="let bill of billCategory_list" [matTooltip]="bill.viewValue"
                        [value]="bill.value"> {{bill.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- Bill Reg No -->
                <div class="col-sm-3">
                  <mat-form-field>
                    <input matInput name="regNo" maxlength="" numbersOnly placeholder="Bill Reg No."
                      formControlName="regNo">
                  </mat-form-field>
                </div>
                <!-- Common Button -->
                <div class="col-sm-12">
                  <div class="form-action-button">
                    <button type="submit" mat-raised-button color="primary">
                      <i class="material-icons" aria-hidden="true">search</i>
                      Search
                    </button>
                    <button type="reset" mat-raised-button color="accent">
                      <i class="material-icons" aria-hidden="true">
                        restore
                      </i>
                      Reset
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Audit Bill - Approved/Reject -->
          </mat-expansion-panel>
        </mat-accordion>
        <br>



        <div class="mat-elevation-z8  mt-2" style="height: 325px;overflow-y: auto;">
          <!-- Tabel Audit Bill - Approved/Reject  -->
          <table mat-table [dataSource]="newdataSource" class="mat-elevation-z8 " aria-describedby="auditBillsApproved">
            <!-- Check BOx -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef scope="row">
                <mat-checkbox (change)="$event ? directiveObject.masterToggle(ELEMENT_DATA) : null"
                  [checked]="directiveObject.selection.hasValue() && directiveObject.isAllSelected(ELEMENT_DATA)"
                  [indeterminate]="directiveObject.selection.hasValue() && !directiveObject.isAllSelected(ELEMENT_DATA)"
                  [aria-label]="directiveObject.checkboxLabel(ELEMENT_DATA)">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row" class="text-center">
                <mat-checkbox (click)="$event.stopPropagation()"
                  (change)="$event ? directiveObject.selection.toggle(row) : null"
                  [checked]="directiveObject.selection.isSelected(row) "
                  [aria-label]="directiveObject.checkboxLabel(ELEMENT_DATA, row)">
                </mat-checkbox>
              </td>
            </ng-container>
            <!-- Reference Number -->
            <ng-container matColumnDef="billRefNo">
              <th mat-header-cell *matHeaderCellDef scope="row"> Reference Number</th>
              <td mat-cell *matCellDef="let element">
                {{element.billRefNo}}
              </td>
            </ng-container>
            <!-- Token No -->
            <ng-container matColumnDef="tokenNo">
              <th mat-header-cell *matHeaderCellDef scope="row"> Token No.</th>
              <td mat-cell *matCellDef="let element">
                {{element.tokenNo}}
              </td>
            </ng-container>
            <!-- Party Name -->
            <ng-container matColumnDef="partyName">
              <th mat-header-cell *matHeaderCellDef scope="row">Party Name</th>
              <td mat-cell *matCellDef="let element">
                <a (click)="directiveObject.workflowDetails()"> {{element.partyName}}</a>
              </td>
            </ng-container>
            <!-- DDO Approver Name -->
            <ng-container matColumnDef="approverName">
              <th mat-header-cell *matHeaderCellDef scope="row"> DDO Approver Name</th>
              <td mat-cell *matCellDef="let element">
                {{element.approverName}}
              </td>
            </ng-container>
            <!-- Major Head -->
            <ng-container matColumnDef="mhead">
              <th mat-header-cell *matHeaderCellDef scope="row"> Major Head</th>
              <td mat-cell *matCellDef="let element" [matTooltip]="element.mhead">
                {{element.mhead}}
              </td>
            </ng-container>
            <!-- Cardex No -->
            <ng-container matColumnDef="cardexNo">
              <th mat-header-cell *matHeaderCellDef scope="row"> Cardex No.</th>
              <td mat-cell *matCellDef="let element">
                {{element.cardexNo}}
              </td>
            </ng-container>
            <!-- Bill Reg No -->
            <ng-container matColumnDef="billRegNo">
              <th mat-header-cell *matHeaderCellDef scope="row"> Bill Reg No.</th>
              <td mat-cell *matCellDef="let element">
                {{element.billRegNo}}
              </td>
            </ng-container>
            <!-- Bill Gross Amount -->
            <ng-container matColumnDef="billGrossAmount">
              <th mat-header-cell *matHeaderCellDef scope="row"> Bill Gross Amount</th>
              <td mat-cell *matCellDef="let element" class="rightAlign">
                {{element.billGrossAmount}}
              </td>
            </ng-container>
            <!-- Bill Net Amount -->
            <ng-container matColumnDef="billAmount">
              <th mat-header-cell *matHeaderCellDef scope="row"> Bill Net Amount</th>
              <td mat-cell *matCellDef="let element" class="rightAlign">
                {{element.billAmount}}
              </td>
            </ng-container>
            <!-- Bill Type -->
            <ng-container matColumnDef="billType">
              <th mat-header-cell *matHeaderCellDef scope="row"> Bill Type</th>
              <td mat-cell *matCellDef="let element">
                {{element.billType}}
              </td>
            </ng-container>
            <!-- Bill Date -->
            <ng-container matColumnDef="billDate">
              <th mat-header-cell *matHeaderCellDef scope="row"> Bill Date</th>
              <td mat-cell *matCellDef="let element">
                {{element.billDate}}
              </td>
            </ng-container>
            <!-- Office Name -->
            <ng-container matColumnDef="ddoName">
              <th mat-head1er-cell *matHeaderCellDef scope="row"> Office Name</th>
              <td mat-cell *matCellDef="let element">
                {{element.ddoName}}
              </td>
            </ng-container>
            <!-- Bill Category -->
            <ng-container matColumnDef="billCat">
              <th mat-header-cell *matHeaderCellDef scope="row">Bill Category</th>
              <td mat-cell *matCellDef="let element">
                {{element.billCat}}
              </td>
            </ng-container>
            <ng-container matColumnDef="district">
              <th mat-header-cell *matHeaderCellDef scope="row"> District</th>
              <td mat-cell *matCellDef="let element">
                {{element.district}}
              </td>
            </ng-container>
            <!-- Vitocode -->
            <ng-container matColumnDef="vitocode">
              <th mat-header-cell *matHeaderCellDef scope="row"> Vitocode</th>
              <td mat-cell *matCellDef="let element">
                {{element.vitocode}}
              </td>
            </ng-container>
            <!-- DDO No. -->
            <ng-container matColumnDef="ddoNo">
              <th mat-header-cell *matHeaderCellDef scope="row"> DDO No.</th>
              <td mat-cell *matCellDef="let element">
                {{element.ddoNo}}
              </td>
            </ng-container>
            <!-- Bill Inward Date -->
            <ng-container matColumnDef="inwardDate">
              <th mat-header-cell *matHeaderCellDef scope="row"> Bill Inward Date</th>
              <td mat-cell *matCellDef="let element">
                {{element.inwardDate}}
              </td>
            </ng-container>
            <!-- Auditor Name -->
            <ng-container matColumnDef="authiorName">
              <th mat-header-cell *matHeaderCellDef scope="row"> Auditor Name</th>
              <td mat-cell *matCellDef="let element">
                {{element.authiorName}}
              </td>
            </ng-container>
            <!-- Bill Status -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef scope="row">Bill Status</th>
              <td mat-cell *matCellDef="let element">
                {{element.status}}
              </td>
            </ng-container>
            <!-- Action -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef scope="row"> Action</th>
              <td mat-cell *matCellDef="let element" class="action-btn-i centerAlign">
                <a (click)="gotopage()"><i class="material-icons plus edit-icon" aria-hidden="true" title="Edit">
                    edit</i></a>
                <a (click)="gotopage()">
                  <i aria-hidden="true" class="material-icons plus view-icon" title="View">remove_red_eye
                  </i>
                </a>

              </td>
            </ng-container>
            <!-- Header Section Of table -->
            <tr mat-header-row *matHeaderRowDef="newdisplayedColumns;sticky:true"></tr>
            <!-- Data Fetch From .TS File to table -->
            <tr mat-row *matRowDef="let row; columns: newdisplayedColumns;"></tr>
          </table>
          <!-- End Tabel Audit Bill - Approved/Reject  -->
        </div>
        <mat-paginator [length]="175" [pageSize]="25" [pageSizeOptions]="[25, 50, 75,100]" showFirstLastButtons>
        </mat-paginator>
        <!-- Common Button -->
        <div class="form-action-button">
          <button mat-raised-button type="submit" class="green" (click)="directiveObject.workflowDetails()"><i
              aria-hidden="true" class="material-icons">
              done
            </i> Submit</button>

          <button type="button" mat-raised-button class="btnClose">
            <i class="material-icons" aria-hidden="true" title="Budget dashboard">
              close
            </i>
            Close
          </button>
        </div>
        <!-- End Common Button -->
      </form>
    </div>
  </div>
</div>