<table id="customers">
  <tr>
    <th width="20%">Module Name</th>
    <th width="40%">Sub Module Name</th>
    <th width="40%">Menu Name</th>
  </tr>
  <tr *ngFor="let dataList of list">
    <td width="20%">{{dataList.taskName}}</td>
    <td width="80%" colspan="2" *ngIf="dataList.subtasks && dataList.subtasks.length > 0">
      <table width="100%">
        <tr *ngFor="let dataListSub of dataList.subtasks">
          <td  width="50%">{{dataListSub.taskName}}</td>
          <td  width="50%" *ngIf="dataListSub.subtasks && dataListSub.subtasks.length > 0">
            <table width="100%">
              <tr *ngFor="let dataListSubMenu of dataListSub.subtasks">
                <td>{{dataListSubMenu.taskName}}</td>
              </tr>
            </table>
          </td>
          <td  width="50%" *ngIf="!dataListSub.subtasks || (dataListSub.subtasks && dataListSub.subtasks.length === 0)"></td>
        </tr>
      </table>
    </td>
    <td  width="40%" *ngIf="!dataList.subtasks || (dataList.subtasks && dataList.subtasks.length === 0)">-</td>
    <td  width="40%" *ngIf="!dataList.subtasks || (dataList.subtasks && dataList.subtasks.length === 0)">-</td>
  </tr>
</table>
