#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: top;
    
  }

  td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
  }

  #customers  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  /* #customers tr:hover {background-color: #ddd;} */
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }